interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"name": "Sample Group: Scan production environment
      telemetry", "is_enabled": true, "filter": {"query": "env:prod"}, "product_list":
      ["rum", "logs", "events", "apm"], "samplings": []}, "type": "sensitive_data_scanner_group"},
      "meta": {}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/sensitive-data-scanner/config/groups
  response:
    body:
      string: '{"data": {"id": "d4268a4b-6caf-4934-8be7-eee771ff39f5", "attributes":
        {"name": "Sample Group: Scan production environment telemetry", "is_enabled":
        true, "filter": {"query": "env:prod"}, "product_list": ["rum", "logs", "events",
        "apm"], "samplings": []}, "type": "sensitive_data_scanner_group", "relationships":
        {"configuration": {"data": {"id": "3e616b7867fd6e5eb7d4324b4a5347a58858fd4843384eafe84923cf1346a8b2",
        "type": "sensitive_data_scanner_configuration"}}, "rules": {"data": []}}},
        "meta": {"version": 246}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"name": "FOO", "is_enabled": false, "filter":
      {"query": "service:foo "}, "product_list": ["logs"], "description": "Random",
      "samplings": []}, "type": "sensitive_data_scanner_group"}, "meta": {}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/sensitive-data-scanner/config/groups
  response:
    body:
      string: '{"data": {"id": "c92ab6bb-c3b2-4e4f-b541-6a0f3788c76f", "attributes":
        {"name": "FOO", "is_enabled": false, "filter": {"query": "service:foo "},
        "product_list": ["logs"], "description": "Random", "samplings": []}, "type":
        "sensitive_data_scanner_group", "relationships": {"configuration": {"data":
        {"id": "3e616b7867fd6e5eb7d4324b4a5347a58858fd4843384eafe84923cf1346a8b2",
        "type": "sensitive_data_scanner_configuration"}}, "rules": {"data": []}}},
        "meta": {"version": 247}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
