interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles?page%5Bsize%5D=100&page%5Bnumber%5D=0
  response:
    body:
      string: '{"meta":{"page":{"total_filtered_count":3,"total_count":3}},"data":[{"type":"roles","id":"fa017a35-bfcb-11eb-a4d7-da7ad0900002","attributes":{"name":"Datadog
        Admin Role","created_at":"2021-05-28T15:47:15.884751+00:00","modified_at":"2021-05-28T15:47:15.884751+00:00","user_count":3},"relationships":{"permissions":{"data":[{"type":"permissions","id":"984a2bd4-d3b4-11e8-a1ff-a7f660d43029"},{"type":"permissions","id":"62cc036c-dd12-11e8-9e54-db9995643092"},{"type":"permissions","id":"6f66600e-dd12-11e8-9e55-7f30fbb45e73"},{"type":"permissions","id":"811ac4ca-dd12-11e8-9e57-676a7f0beef9"},{"type":"permissions","id":"87b00304-dd12-11e8-9e59-cbeb5f71f72f"},{"type":"permissions","id":"1a92ede2-6cb2-11e9-99c6-2b3a4a0cdf0a"},{"type":"permissions","id":"979df720-aed7-11e9-99c6-a7eb8373165a"},{"type":"permissions",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?filter%5Bstatus%5D=active&page%5Bsize%5D=100&page%5Bnumber%5D=0
  response:
    body:
      string: '{"included":[{"type":"permissions","id":"61765026-2dce-11eb-84c0-833e230d1b8f","attributes":{"name":"apm_primary_operation_write","display_name":"Primary
        Operation","description":"The ability to edit the operation name value selection.
        A user with this permission can modify the operation name list in the APM
        settings page and can modify the operation name controller on the service
        page.","created":"2020-11-23T20:56:38.658649+00:00","group_name":"APM","display_type":"write","restricted":false}},{"type":"permissions","id":"642eebe6-f923-11ea-adbc-eb617674ea04","attributes":{"name":"synthetics_default_settings_write","display_name":"Default
        Settings","description":"The ability to edit default settings for Synthetics
        Monitoring.","created":"2020-09-17T20:21:38.818771+00:00","group_name":"Synthetic
        Monitoring","display_type":"write","restricted":false}},{"type":"permissions","id":"d90f6832-d3d8-11e9-a77a-bf8a2607f864","attributes":{"name":"dashboards_public_[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"dashboards":[{"created_at":"2021-06-01T20:18:57.486260+00:00","author_handle":"sherzod.karimov@datadoghq.com","is_read_only":false,"description":"","title":"Timeboard
        Tue, Jun 1, 4:18:57 pm","url":"/dashboard/euw-cp8-hy6/timeboard-tue-jun-1-41857-pm","layout_type":"ordered","modified_at":"2021-06-21T17:24:39.527924+00:00","id":"euw-cp8-hy6"},{"created_at":"2021-06-08T18:26:23.515662+00:00","author_handle":"sherzod.karimov@datadoghq.com","is_read_only":false,"description":"Created
        using the Datadog provider in Terraform","title":"Test screenboard","url":"/dashboard/dns-jst-h98/test-screenboard","layout_type":"free","modified_at":"2021-06-22T19:35:38.981348+00:00","id":"dns-jst-h98"},{"created_at":"2021-06-08T18:26:23.830557+00:00","author_handle":"sherzod.karimov@datadoghq.com","is_read_only":true,"description":"Created
        using the Datadog provider in Terraform and updated by Noueman","title":"Tes
        timeboard","url":"/dashboard/f5i-gz8-yb4/tes-timeboard","layout_type":"ordered","modified_at":"2021-06-28T10:05:41.764151+00:00","id":"f5i-gz8-yb4"},{"created_at":"2021-06-30T11:45:57.574935+00:00","author_handle":"noueman.khalikine@datadoghq.com","is_read_only":false,"description":"","title":"datadog-sync-cli
        Test Dashboard","url":"/dashboard/tuw-te2-pdj/datadog-sync-cli-test-dashboard","layout_type":"ordered","modified_at":"2021-06-30T11:46:46.923260+00:00","id":"tuw-te2-pdj"}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - B1nwy/pPNqX+q4pQT22cdp1QCexE35IF8qwSHy0Nf7IW0Y881qtn4tXN1lpmzaKc
      x-ratelimit-limit:
      - '60'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '59'
      x-ratelimit-reset:
      - '9'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/euw-cp8-hy6
  response:
    body:
      string: '{"notify_list":[],"description":"","author_name":"Sherzod Karimov","template_variables":[],"is_read_only":false,"id":"euw-cp8-hy6","title":"Timeboard
        Tue, Jun 1, 4:18:57 pm","url":"/dashboard/euw-cp8-hy6/timeboard-tue-jun-1-41857-pm","created_at":"2021-06-01T20:18:57.486260+00:00","modified_at":"2021-06-21T17:24:39.527924+00:00","reflow_type":"auto","author_handle":"sherzod.karimov@datadoghq.com","widgets":[{"definition":{"widgets":[{"definition":{"title_size":"16","viz_type":"timeseries","title":"","title_align":"left","alert_id":"36239262","type":"alert_graph"},"id":5316294948508728},{"definition":{"title_size":"16","title":"","title_align":"left","text_align":"left","precision":2,"alert_id":"36230659","type":"alert_value","unit":"auto"},"id":2269177794822700}],"layout_type":"ordered","type":"group","title":"New
        group"},"id":2497183012091650},{"definition":{"title_size":"16","viz_type":"timeseries","title":"","title_align":"left","alert_id":"36239262","type":"alert_graph"},"id":4551400937275112},{"definition":{"autoscale":true,"title":"","title_align":"left","precision":2,"title_size":"16","requests":[{"q":"avg:synthetics.http.dns.time{*}","aggregator":"avg"}],"type":"query_value"},"id":7228117705299642},{"definition":{"title_size":"16","title":"","title_align":"left","text_align":"left","precision":2,"alert_id":"36230659","type":"alert_value","unit":"auto"},"id":2397823643167820},{"definition":{"time_windows":["7d"],"title_size":"16","show_error_budget":true,"view_type":"detail","title_align":"left","slo_id":"ae04001ea55f52f6ae4b85d9b1023909","view_mode":"overall","title":"","global_time_target":"0","type":"slo"},"id":1076364961367720},{"definition":{"time_windows":["7d"],"title_size":"16","show_error_budget":true,"view_type":"detail","title_align":"left","slo_id":"b6eedbdc42a15b658b5d55ffc4f91082","view_mode":"overall","title":"","global_time_target":"0","type":"slo"},"id":4123257207386936}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual
  response:
    body:
      string: '{"dashboard_lists":[{"is_favorite":false,"name":"Test list","dashboard_count":3,"author":{"handle":"sherzod.karimov@datadoghq.com","name":"Sherzod
        Karimov"},"created":"2021-06-14T20:10:23.247584+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-06-24T20:13:00.657023+00:00","id":213585}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - EFjE6I+AUQmTiNqZcuE1nqoFeAjWD0Xtzy3edDrinkwlU/Wzr/2Dbl5kWk3qLVaQ
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/dashboard/lists/manual/213585/dashboards
  response:
    body:
      string: '{"total":3,"dashboards":[{"popularity":5,"title":"Timeboard Tue, Jun
        1, 4:18:57 pm","is_favorite":false,"id":"euw-cp8-hy6","icon":null,"integration_id":null,"is_shared":false,"author":{"handle":"sherzod.karimov@datadoghq.com","name":"Sherzod
        Karimov"},"url":"/dashboard/euw-cp8-hy6/timeboard-tue-jun-1-41857-pm","created":"2021-06-01T20:18:57.486260+00:00","modified":"2021-06-21T17:24:39.527924+00:00","is_read_only":false,"type":"custom_timeboard"},{"popularity":4,"title":"Test
        screenboard","is_favorite":false,"id":"dns-jst-h98","icon":null,"integration_id":null,"is_shared":false,"author":{"handle":"sherzod.karimov@datadoghq.com","name":"Sherzod
        Karimov"},"url":"/dashboard/dns-jst-h98/test-screenboard","created":"2021-06-08T18:26:23.515662+00:00","modified":"2021-06-22T19:35:38.981348+00:00","is_read_only":false,"type":"custom_screenboard"},{"popularity":2,"title":"Tes
        timeboard","is_favorite":false,"id":"f5i-gz8-yb4","icon":null,"integration_id":null,"is_shared":false,"author":{"handle":"sherzod.karimov@datadoghq.com","name":"Sherzod
        Karimov"},"url":"/dashboard/f5i-gz8-yb4/tes-timeboard","created":"2021-06-08T18:26:23.830557+00:00","modified":"2021-06-28T10:05:41.764151+00:00","is_read_only":true,"type":"custom_timeboard"}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - LcgNasIYBRkNppmD6mCKE9J6iv0eEjosuuHR5V5zw2fWbR54i39C8dhdK8zDq/40
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/monitor
  response:
    body:
      string: '[{"restricted_roles":null,"tags":[],"deleted":null,"query":"avg(last_5m):avg:datadog.estimated_usage.hosts{*}
        > 50","message":"Test monitor ----------------","matching_downtimes":[],"id":36230659,"multi":false,"name":"Composite
        monitor - Child 2","created":"2021-05-30T08:43:37.940520+00:00","created_at":1622364217000,"creator":{"id":2781275,"handle":"sherzod.karimov@datadoghq.com","name":"Sherzod
        Karimov","email":"sherzod.karimov@datadoghq.com"},"org_id":569509,"modified":"2021-06-08T18:14:12.441535+00:00","priority":null,"overall_state_modified":"2021-05-30T08:45:28+00:00","overall_state":"OK","type":"metric
        alert","options":{"notify_audit":false,"locked":false,"timeout_h":0,"silenced":{},"include_tags":true,"no_data_timeframe":null,"require_full_window":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":0,"escalation_message":"","thresholds":{"critical":50.0}}},{"restricted_roles":null,"tags":[],"deleted":null,"query":"avg(last_5m):avg:dd.dialtone.historical.metrics{*}
        > 20","message":"Composite monitor - child 1","matching_downtimes":[],"id":36239262,"multi":false,"name":"Composite
        monitor - child 1","created":"2021-05-30T19:49:11.945913+00:00","created_at":1622404151000,"creator":{"id":2781275,"handle":"sherzod.karimov@datadoghq.com","name":"Sherzod
        Karimov","email":"sherzod.karimov@datadoghq.com"},"org_id":569509,"modified":"2021-06-08T18:13:33.317204+00:00","priority":null,"overall_state_modified":"2021-05-30T19:52:07+00:00","overall_state":"OK","type":"metric
        alert","options":{"notify_audit":false,"locked":false,"timeout_h":0,"silenced":{},"include_tags":true,"no_data_timeframe":null,"require_full_window":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":0,"escalation_message":"","thresholds":{"critical":20.0,"warning":10.0}}},{"restricted_roles":null,"tags":["probe_dc:aws:ca-central-1","check_type:api","check_status:paused"],"deleted":null,"query":"no_query","message":"Test
        synthetics","matching_downtimes":[],"id":36553487,"multi":false,"name":"[Synthetics]
        HTTP Test","created":"2021-06-03T13:00:40.386620+00:00","created_at":1622725240000,"creator":{"id":2781275,"handle":"sherzod.karimov@datadoghq.com","name":"Sherzod
        Karimov","email":"sherzod.karimov@datadoghq.com"},"org_id":569509,"m[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '[{"recurrence":null,"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":36593201,"created":1623448636,"org_id":569509,"modified":1623692629,"disabled":false,"start":1654984560,"creator_id":2781275,"parent_id":null,"timezone":"America/New_York","active":false,"scope":["env:test"],"message":null,"downtime_type":2,"id":1303977668,"updater_id":2781275},{"recurrence":{"until_date":null,"until_occurrences":null,"week_days":[],"type":"days","period":1},"end":null,"monitor_tags":["*"],"child_id":null,"canceled":null,"monitor_id":null,"created":1622234964,"org_id":569509,"modified":1622748066,"disabled":false,"start":2622234295,"creator_id":2781302,"parent_id":null,"timezone":"UTC","active":false,"scope":["*"],"message":"","downtime_type":0,"id":1283896719,"updater_id":2781275}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"metadata":{"page":{"total_filtered_count":4,"total_count":4}},"data":[{"description":"Updated
        Description Test","monitor_tags":[],"creator":{"handle":"sherzod.karimov@datadoghq.com","name":"Sherzod
        Karimov","email":"sherzod.karimov@datadoghq.com"},"thresholds":[{"target":99.0,"target_display":"99.","timeframe":"7d"}],"type_id":0,"id":"ae04001ea55f52f6ae4b85d9b1023909","monitor_ids":[36230659,37284891],"name":"Composite
        monitor - Child 2","created_at":1623260678,"tags":[],"modified_at":1625053391,"type":"monitor"},{"description":"noueman","monitor_tags":[],"creator":{"handle":"noueman.khalikine@datadoghq.com","name":"Noueman
        Khalikine","email":"noueman.khalikine@datadoghq.com"},"thresholds":[{"target":99.0,"target_display":"99.","timeframe":"7d"}],"type_id":0,"id":"b6eedbdc42a15b658b5d55ffc4f91082","monitor_ids":[36553487],"name":"[Synthetics]
        Test on google.com -tesst","created_at":1623421683,"tags":[],"modified_at":1623421683,"type":"monitor"},{"description":"teeeeeeeeeeeeeeeeeest
        updated desc","monitor_tags":[],"creator":{"handle":"noueman.khalikine@datadoghq.com","name":"Noueman
        Khalikine","email":"noueman.khalikine@datadoghq.com"},"thresholds":[{"target":99.0,"target_display":"99.","timeframe":"7d"}],"type_id":0,"id":"c4fa01c78d45542cb830598be4f68ad2","monitor_ids":[36553487,36230659,36239262,37286153,37286152],"name":"[Synthetics]
        Multple Monitors based SLO","created_at":1623427531,"tags":["noueman"],"modified_at":1623429352,"type":"monitor"},{"description":"Test
        update creation","monitor_tags":[],"creator":{"handle":"noueman.khalikine@datadoghq.com","name":"Noueman
        Khalikine","email":"noueman.khalikine@datadoghq.com"},"thresholds":[{"target":99.0,"target_display":"99.","timeframe":"7d"}],"type_id":1,"query":{"denominator":"sum:api.requests{*}.as_count()","numerator":"sum:api.requests.status_ok{*}.as_count()"},"id":"ba72d10835d75e0c8910597144f3733a","name":"SLO
        tessssssst","created_at":1623658372,"tags":[],"modified_at":1623658372,"type":"metric"}],"error":null}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '999'
      x-ratelimit-reset:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests
  response:
    body:
      string: '{"tests":[{"status":"paused","public_id":"w7p-ux5-hhc","tags":[],"locations":["aws:ca-central-1"],"message":"Test
        synthetics ","name":"HTTP Test","monitor_id":36553487,"type":"api","created_at":"2021-06-03T13:00:40.415788+00:00","modified_at":"2021-06-17T12:44:13.132034+00:00","subtype":"http","config":{"request":{"url":"https://google.com","method":"GET"},"assertions":[{"operator":"lessThan","type":"responseTime","target":1000},{"operator":"is","type":"statusCode","target":301},{"operator":"is","property":"content-type","type":"header","target":"text/html;
        charset=UTF-8"}]},"options":{"retry":{"count":1,"interval":300},"min_location_failed":1,"monitor_options":{"renotify_interval":120},"tick_every":604800,"monitor_priority":3,"min_failure_duration":120}},{"status":"live","public_id":"32u-qxh-q25","tags":["foo:bar","foo","env:test"],"locations":["aws:eu-central-1"],"message":"Notify
        @pagerduty","name":"DNS Test","monitor_id":37286153,"type":"api","created_at":"2021-06-08T18:26:23.566301+00:00","modified_at":"2021-06-17T12:43:57.911371+00:00","subtype":"dns","config":{"request":{"host":"example.org"},"assertions":[{"operator":"is","property":"A","type":"recordSome","target":"0.0.0.0"}]},"options":{"monitor_options":{"renotify_interval":0},"tick_every":900,"min_location_failed":1}},{"status":"live","public_id":"huy-hyp-3un","tags":["foo:bar","foo","env:test"],"locations":["aws:eu-central-1"],"message":"Notify
        @pagerduty","name":"SSL Test","monitor_id":37286154,"type":"api","created_at":"2021-06-08T18:26:23.589710+00:00","modified_at":"2021-06-17T12:44:41.488230+00:00","subtype":"ssl","config":{"request":{"host":"example.org","port":443},"assertions":[{"operator":"isInMoreThan","type":"certificate","target":30}]},"options":{"monitor_options":{"renotify_interval":0},"min_location_failed":1,"accept_self_signed":true,"tick_every":900}},{"status":"live","public_id":"qvh-qtk-xuv","tags":["foo:bar","foo","env:test"],"locations":["aws:eu-central-1"],"message":"Notify
        @pagerduty","name":"HTTP Test","monitor_id":37286152,"type":"api","created_at":"2021-06-08T18:26:23.610381+00:00","modified_at":"2021-06-17T12:43:27.027683+00:00","subtype":"http","config":{"request":{"url":"https://www.example.org","headers":{"Authentication":"Token:
        1234566789","Content-Type":"application/json"},"method":"GET"},"assertions":[{"operator":"is","type":"statusCode","target":200}]},"options":{"monitor_options":{"renotify_interval":100},"retry":{"count":2,"interval":300},"tick_every":900,"min_location_failed":1}},{"status":"live","public_id":"5ps-pjw-wzm","tags":["foo:bar","foo","env:test"],"locations":["aws:eu-central-1"],"message":"Notify
        @pagerduty","name":"TCP Test","monitor_id":37286155,"type":"api","created_at":"2021-06-08T18:26:23.666527+00:00","modified_at":"2021-06-17T12:43:36.851871+00:00","subtype":"tcp","config":{"request":{"host":"example.org","port":443},"assertions":[{"operator":"lessThan","type":"responseTime","target":2000}]},"options":{"monitor_options":{"renotify_interval":0},"tick_every":900,"min_location_failed":1}},{"status":"paused","public_id":"77e-s82-v5e","tags":[],"locations":["aws:us-west-1"],"message":"","name":"Browser
        Test","monitor_id":37452297,"type":"browser","created_at":"2021-06-09T20:08:55.284701+00:00","modified_at":"2021-06-17T12:44:27.339886+00:00","config":{"variables":[],"setCookie":"","request":{"url":"https://docs.datadoghq.com","headers":{},"method":"GET"},"assertions":[],"configVariables":[]},"options":{"retry":{"count":0,"interval":300},"min_location_failed":1,"min_failure_duration":0,"noScreenshot":false,"tick_every":604800,"forwardProxy":false,"disableCors":false,"device_ids":["chrome.laptop_large","firefox.laptop_large","chrome.tablet","chrome.mobile_small","firefox.mobile_small","firefox.tablet"],"monitor_options":{"renotify_interval":0},"ignoreServerCertificateError":false}},{"status":"live","public_id":"zsv-2sg-2nc","tags":["check_type:api","env:test","test:update"],"locations":["aws:sa-east-1"],"message":"","name":"Multistep
        API Test","monitor_id":38221242,"type":"api","created_at":"2021-06-14T15:13:59.438951+00:00","modified_at":"2021-06-30T11:49:05.165007+00:00","subtype":"multi","config":{"steps":[{"retry":{"count":0,"interval":300},"name":"Test
        on datadoghq.com","request":{"url":"https://datadoghq.com","headers":{"content-type":"text/html"},"method":"GET"},"subtype":"http","allowFailure":false,"extractedValues":[],"isCritical":true,"id":"vek-567-n38","assertions":[{"operator":"lessThan","type":"responseTime","target":1000},{"operator":"is","type":"statusCode","target":301}]}],"configVariables":[]},"options":{"monitor_options":{"renotify_interval":0},"retry":{"count":0,"interval":300},"min_location_failed":1,"min_failure_duration":0,"tick_every":604800}}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - 25u1gDlL724DHllbjFT4BhOLorBTilh+aah2uWAUEjFC/+rjczJdiyWrV/HwLwe/
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/locations
  response:
    body:
      string: '{"locations":[{"id":"aws:ap-northeast-1","name":"Tokyo (AWS)"},{"id":"aws:ap-northeast-2","name":"Seoul
        (AWS)"},{"id":"aws:ap-south-1","name":"Mumbai (AWS)"},{"id":"aws:ap-southeast-1","name":"Singapore
        (AWS)"},{"id":"aws:ap-southeast-2","name":"Sydney (AWS)"},{"id":"aws:ca-central-1","name":"Canada
        Central (AWS)"},{"id":"aws:eu-central-1","name":"Frankfurt (AWS)"},{"id":"aws:eu-north-1","name":"Stockholm
        (AWS)"},{"id":"aws:eu-west-1","name":"Ireland (AWS)"},{"id":"aws:eu-west-2","name":"London
        (AWS)"},{"id":"aws:eu-west-3","name":"Paris (AWS)"},{"id":"aws:sa-east-1","name":"S\u00e3o
        Paulo (AWS)"},{"id":"aws:us-east-2","name":"Ohio (AWS)"},{"id":"aws:us-west-1","name":"N.
        California (AWS)"},{"id":"aws:us-west-2","name":"Oregon (AWS)"},{"id":"pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451","name":"Test
        Private Variable"}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - EFjE6I+AUQmTiNqZcuE1nqoFeAjWD0Xtzy3edDrinkwlU/Wzr/2Dbl5kWk3qLVaQ
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/private-locations/pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451
  response:
    body:
      string: '{"name":"Test Private Variable","tags":["key:value"],"description":"datadog-sync-cli
        test","modifiedAt":"2021-06-30T12:27:21.433291+00:00","id":"pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451","createdAt":"2021-06-30T12:27:21.433291+00:00","metadata":null}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - SY1h8ScsWq+kYmtbh63ltMLFAZsQjqfrgvdfAoRX+9TzT1sgMBRYaFRwfWWRRe9a
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables":[{"parse_test_options":null,"parse_test_extracted_at":null,"description":"test","tags":["check_type:api"],"created_at":"2021-06-03T18:18:16.703730+00:00","is_totp":null,"modified_at":"2021-06-03T18:36:04.287393+00:00","value":{"secure":false,"value":"TESTVALUELETSSEEdadsddsadsadadsadsad"},"parse_test_public_id":null,"parse_test_name":null,"created_by":"Sherzod
        Karimov","type":"variable","id":"7478e601-cbe3-4a7d-babf-d48702b6b833","name":"TEST_VARIABLE"},{"parse_test_options":null,"parse_test_extracted_at":null,"description":"Description
        of the variable","tags":["foo:bar","env:test"],"created_at":"2021-06-08T18:26:23.679434+00:00","is_totp":null,"modified_at":"2021-06-08T18:26:23.679434+00:00","value":{"secure":false,"value":"variable-value"},"parse_test_public_id":null,"parse_test_name":null,"created_by":"Sherzod
        Karimov","type":"variable","id":"7dfd62d2-e1bf-466d-b47b-f337d4a82877","name":"EXAMPLE_VARIABLE"},{"parse_test_options":null,"parse_test_extracted_at":null,"description":"test","tags":[],"created_at":"2021-06-03T18:38:06.646796+00:00","is_totp":null,"modified_at":"2021-06-03T18:38:06.646796+00:00","value":{"secure":false,"value":"test"},"parse_test_public_id":null,"parse_test_name":null,"created_by":"Sherzod
        Karimov","type":"variable","id":"971dc27b-9b1e-4d21-80f5-cbc6cb485e4f","name":"TEST"}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - JpIJLwIH2nFlZOC+u71rq7aAOL43MLZN3MUsL+gpYHdZz5QLUOG8Jysf8kVK6tPU
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/logs/config/pipelines
  response:
    body:
      string: '[{"id":"2r_tyuRBSjy83c1-WHOL3w","type":"pipeline","name":"Test pipeline
        1","is_enabled":true,"is_read_only":false,"filter":{"query":"source:foo"},"processors":[{"name":"sample
        arithmetic processor","is_enabled":true,"expression":"(time1 - time2)*1000","target":"my_arithmetic","is_replace_missing":true,"type":"arithmetic-processor"},{"name":"sample
        attribute processor","is_enabled":true,"sources":["db.instance"],"source_type":"tag","target":"db","target_type":"attribute","target_format":"string","preserve_source":true,"override_on_conflict":false,"type":"attribute-remapper"},{"name":"sample
        category processor","is_enabled":true,"categories":[{"filter":{"query":"@severity:
        \".\""},"name":"debug"},{"filter":{"query":"@severity: \"-\""},"name":"verbose"}],"target":"foo.severity","type":"category-processor"},{"name":"sample
        date remapper","is_enabled":true,"sources":["_timestamp","published_date"],"type":"date-remapper"},{"name":"sample
        geo ip parser","is_enabled":true,"sources":["network.client.ip"],"target":"network.client.geoip","ip_processing_behavior":"do-nothing","type":"geo-ip-parser"},{"name":"sample
        grok parser","is_enabled":true,"source":"message","samples":["sample log 1"],"grok":{"support_rules":"","match_rules":"Rule
        %{word:my_word2} %{number:my_float2}"},"type":"grok-parser"},{"name":"sample
        lookup processor","is_enabled":true,"source":"service_id","target":"service_name","lookup_table":["1,my
        service"],"default_lookup":"unknown service","type":"lookup-processor"},{"name":"sample
        message remapper","is_enabled":true,"sources":["msg"],"type":"message-remapper"},{"type":"pipeline","name":"nested
        pipeline","is_enabled":true,"filter":{"query":"source:foo"},"processors":[{"name":"sample
        url parser","is_enabled":false,"sources":["url","extra"],"target":"http_url","normalize_ending_slashes":true,"type":"url-parser"}]},{"name":"sample
        service remapper","is_enabled":true,"sources":["service"],"type":"service-remapper"},{"name":"sample
        status remapper","is_enabled":true,"sources":["info","trace"],"type":"status-remapper"},{"name":"sample
        string builder processor","is_enabled":true,"template":"%{user.name} logged
        in at %{timestamp}","target":"user_activity","is_replace_missing":false,"type":"string-builder-processor"},{"name":"sample
        trace id remapper","is_enabled":true,"sources":["dd.trace_id"],"type":"trace-id-remapper"},{"name":"sample
        user agent parser","is_enabled":true,"sources":["user","agent"],"target":"http_agent","is_encoded":false,"type":"user-agent-parser"}]},{"id":"Rvk36Rj0SJizOBX_N24BSQ","type":"pipeline","name":"Test
        pipeline 2","is_enabled":true,"is_read_only":false,"filter":{"query":"test:query"},"processors":[{"name":"Grok
        Parser","is_enabled":true,"source":"message","samples":[],"grok":{"support_rules":"","match_rules":"rule
        %{word:word}"},"type":"grok-parser"},{"name":"","is_enabled":true,"sources":["test"],"type":"date-remapper"}]},{"id":"r8HoEOozRHO0zlyT90brLw","type":"pipeline","n[...]
