interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"dashboards":[{"created_at":"2021-06-01T20:18:57.486260+00:00","author_handle":"sherzod.karimov@datadoghq.com","is_read_only":false,"description":"","title":"Timeboard
        Tue, Jun 1, 4:18:57 pm","url":"/dashboard/euw-cp8-hy6/timeboard-tue-jun-1-41857-pm","layout_type":"ordered","modified_at":"2021-06-21T17:24:39.527924+00:00","id":"euw-cp8-hy6"},{"created_at":"2021-06-08T18:26:23.515662+00:00","author_handle":"sherzod.karimov@datadoghq.com","is_read_only":false,"description":"Created
        using the Datadog provider in Terraform","title":"Test screenboard","url":"/dashboard/dns-jst-h98/test-screenboard","layout_type":"free","modified_at":"2021-06-22T19:35:38.981348+00:00","id":"dns-jst-h98"},{"created_at":"2021-06-08T18:26:23.830557+00:00","author_handle":"sherzod.karimov@datadoghq.com","is_read_only":true,"description":"Created
        using the Datadog provider in Terraform and updated by Noueman","title":"Tes
        timeboard","url":"/dashboard/f5i-gz8-yb4/tes-timeboard","layout_type":"ordered","modified_at":"2021-06-28T10:05:41.764151+00:00","id":"f5i-gz8-yb4"},{"created_at":"2021-06-30T11:45:57.574935+00:00","author_handle":"noueman.khalikine@datadoghq.com","is_read_only":false,"description":"","title":"datadog-sync-cli
        Test Dashboard","url":"/dashboard/tuw-te2-pdj/datadog-sync-cli-test-dashboard","layout_type":"ordered","modified_at":"2021-06-30T11:46:46.923260+00:00","id":"tuw-te2-pdj"}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - vdJ3/nHEY1ioXQ6pQrBVvsQK1s4yyc+wufBMPSoXql71qZVuP/xMdtNo6DafhOAk
      x-ratelimit-limit:
      - '60'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '59'
      x-ratelimit-reset:
      - '5'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/euw-cp8-hy6
  response:
    body:
      string: '{"notify_list":[],"description":"","author_name":"Sherzod Karimov","template_variables":[],"is_read_only":false,"id":"euw-cp8-hy6","title":"Timeboard
        Tue, Jun 1, 4:18:57 pm","url":"/dashboard/euw-cp8-hy6/timeboard-tue-jun-1-41857-pm","created_at":"2021-06-01T20:18:57.486260+00:00","modified_at":"2021-06-21T17:24:39.527924+00:00","reflow_type":"auto","author_handle":"sherzod.karimov@datadoghq.com","widgets":[{"definition":{"widgets":[{"definition":{"title_size":"16","viz_type":"timeseries","title":"","title_align":"left","alert_id":"36239262","type":"alert_graph"},"id":5316294948508728},{"definition":{"title_size":"16","title":"","title_align":"left","text_align":"left","precision":2,"alert_id":"36230659","type":"alert_value","unit":"auto"},"id":2269177794822700}],"layout_type":"ordered","type":"group","title":"New
        group"},"id":2497183012091650},{"definition":{"title_size":"16","viz_type":"timeseries","title":"","title_align":"left","alert_id":"36239262","type":"alert_graph"},"id":4551400937275112},{"definition":{"autoscale":true,"title":"","title_align":"left","precision":2,"title_size":"16","requests":[{"q":"avg:synthetics.http.dns.time{*}","aggregator":"avg"}],"type":"query_value"},"id":7228117705299642},{"definition":{"title_size":"16","title":"","title_align":"left","text_align":"left","precision":2,"alert_id":"36230659","type":"alert_value","unit":"auto"},"id":2397823643167820},{"definition":{"time_windows":["7d"],"title_size":"16","show_error_budget":true,"view_type":"detail","title_align":"left","slo_id":"ae04001ea55f52f6ae4b85d9b1023909","view_mode":"overall","title":"","global_time_target":"0","type":"slo"},"id":1076364961367720},{"definition":{"time_windows":["7d"],"title_size":"16","show_error_budget":true,"view_type":"detail","title_align":"left","slo_id":"b6eedbdc42a15b658b5d55ffc4f91082","view_mode":"overall","title":"","global_time_target":"0","type":"slo"},"id":4123257207386936}],"layout_type":"ordered"}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - dPySkcOzIZtKyMKDAAzuysY3gNGGj6RtYogGuSb76E8mPvoqzREyRp6lPYm91hQU
    status:
      code: 200
      message: OK
version: 1
