interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730472167, "value":
      1}], "tags": ["reason:connection_error", "id:jh3-vsk-99c", "action_type:sync",
      "status:skipped", "resource_type:dashboards", "client_type:destination"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730472167, "value":
      1}], "tags": ["reason:connection_error", "id:jh3-vsk-99c", "action_type:sync",
      "status:skipped", "resource_type:dashboards", "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"title": "sync-cli customer dashboard", "description": "[[suggested_dashboards]]",
      "layout_type": "ordered", "is_read_only": false, "template_variables": [{"name":
      "resource_type", "prefix": "resource_type", "available_values": ["monitors",
      "dashboards"], "default": "*"}, {"name": "client_type", "prefix": "client_type",
      "available_values": ["source", "destination"], "default": "*"}], "widgets":
      [{"id": 1046236066464840, "definition": {"title": "Summary", "background_color":
      "vivid_green", "show_title": true, "type": "group", "layout_type": "ordered",
      "widgets": [{"id": 8276316129338092, "definition": {"title": "Resources exported
      from R1", "title_size": "16", "title_align": "left", "type": "toplist", "requests":
      [{"queries": [{"data_source": "metrics", "name": "query1", "query": "sum:datadog.org_sync.action{action_type:import}
      by {resource_type,status}", "aggregator": "sum"}], "response_format": "scalar",
      "formulas": [{"formula": "query1"}], "sort": {"order_by": [{"type": "group",
      "name": "resource_type", "order": "asc"}], "count": 10}}], "style": {"display":
      {"type": "stacked", "legend": "automatic"}, "palette": "semantic"}}, "layout":
      {"x": 0, "y": 0, "width": 4, "height": 6}}, {"id": 656499302483792, "definition":
      {"title": "Resources synchronized to R2", "title_size": "16", "title_align":
      "left", "type": "toplist", "requests": [{"queries": [{"data_source": "metrics",
      "name": "query1", "query": "sum:datadog.org_sync.action{action_type:sync} by
      {resource_type,status}", "aggregator": "sum"}], "response_format": "scalar",
      "formulas": [{"formula": "query1"}], "sort": {"order_by": [{"type": "group",
      "name": "resource_type", "order"[...]
[...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730472167, "value":
      1}], "tags": ["action_sub_type:create", "id:2n3-8ye-5ui", "action_type:sync",
      "status:success", "resource_type:dashboards", "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
version: 1
