interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 2, "IsPrimary": true, "ModifiedAt": "2025-10-20
        13:14:14.048828", "ModifiedBy": "michael.richey@datadoghq.com", "OrgDatacenter":
        "eu1.prod.dog", "TargetOrgDatacenter": "us5.prod.dog", "TargetOrgName": "DDR
        Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard
  response:
    body:
      string: '{"dashboards": [{"id": "3mx-adq-cy4", "title": "Local Devices Dashboard",
        "description": "[[suggested_dashboards]]", "layout_type": "ordered", "url":
        "/dashboard/3mx-adq-cy4/local-devices-dashboard", "is_read_only": false, "created_at":
        "2025-11-05T19:31:51.092338+00:00", "modified_at": "2026-02-21T03:04:01.630920+00:00",
        "author_handle": "michael.richey@datadoghq.com", "deleted_at": null}, {"id":
        "2wg-nu4-dqp", "title": "Michael''s Dashboard Mon, Jul 14, 4:22:25 pm", "description":
        null, "layout_type": "ordered", "url": "/dashboard/2wg-nu4-dqp/michaels-dashboard-mon-jul-14-42225-pm",
        "is_read_only": false, "created_at": "2025-07-14T20:22:25.530702+00:00", "modified_at":
        "2025-08-21T14:12:40.043618+00:00", "author_handle": "michael.richey@datadoghq.com",
        "deleted_at": null}, {"id": "t82-cj3-j7p", "title": "Is It Working?", "descriptio[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard/3mx-adq-cy4
  response:
    body:
      string: '{"id": "3mx-adq-cy4", "title": "Local Devices Dashboard", "description":
        "[[suggested_dashboards]]", "author_handle": "michael.richey@datadoghq.com",
        "author_name": "Michael Richey", "layout_type": "ordered", "url": "/dashboard/3mx-adq-cy4/local-devices-dashboard",
        "template_variables": [{"name": "host", "prefix": "host", "available_values":
        [], "default": "*"}], "widgets": [{"id": 2940693452504619, "definition": {"title":
        "CPU usage (%)", "show_legend": true, "legend_layout": "auto", "legend_columns":
        ["avg", "min", "max", "value", "sum"], "type": "timeseries", "requests": [{"response_format":
        "timeseries", "queries": [{"data_source": "metrics", "name": "query1", "query":
        "system.cpu.idle{$host} by {host}"}, {"data_source": "metrics", "name": "query2",
        "query": "system.cpu.system{$host} by {host}"}, {"data_source": "metrics",
        "name": "query3", "query": "system.cpu.iowait{$host} by {host}"}, {"data_source":
        "metrics", "name": "query4", "query": "system.cpu.user{$host} by {host}"},
        {"data_source": "metrics", "name": "query5", "query": "system.cpu.stolen{$host}
        by {host}"}], "formulas": [{"style": {"palette": "green"}, "alias": "idle",
        "formula": "default_zero(query1)"}, {"style": {"palette": "warm"}, "alias":
        "system", "formula": "default_zero(query2)"}, {"style": {"palette": "warm"},
        "alias": "iowait", "formula": "default_zero(query3)"}, {"style": {"palette":
        "warm"}, "alias": "user", "formula": "default_zero(query4)"}, {"style": {"palette":
        "warm"}, "alias": "stolen", "formula": "default_zero(query5)"}], "style":
        {"palette": "dog_classic", "line_type": "solid", "line_width": "normal"},
        "display_type": "area"}]}, "layout": {"x": 0, "y": 0, "width": 4, "height":
        3}}, {"id": 5502664807068567, "definition": {"title": "Disk used", "title_size":
        "16", "title_align": "left", "show_legend": true, "legend_layout": "auto",
        "legend_columns": ["avg", "min", "max", "value", "sum"], "type": "timeseries",
        "requests": [{"response_format": "timeseries", "queries": [{"data_source":
        "metrics", "name": "query1", "query": "sum:system.disk.used{$host} by {host}"},
        {"data_source": "metrics", "name": "query2", "query": "sum:system.disk.total{$host}
        by {host}"}], "formulas": [{"style": {"palette": "red"}, "alias": "used",
        "formula": "default_zero(query1)"}, {"style": {"palette": "green"}, "alias":
        "total", "formula": "default_zero(query2)"}], "style": {"palette": "dog_classic",
        "order_by": "values", "line_type": "solid", "line_width": "normal"}, "display_type":
        "area"}]}, "layout": {"x": 4, "y": 0, "width": 4, "height": 3}}, {"id": 1629367801508031,
        "definition": {"title": "Memory used and total", "title_size": "16", "title_align":
        "left", "show_legend": true, "legend_layout": "auto", "legend_columns": ["avg",
        "min", "max", "value", "sum"], "type": "timeseries", "requests": [{"response_format":
        "timeseries", "queries": [{"data_source": "met[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard/5t9-ue7-wzx
  response:
    body:
      string: '{"id": "5t9-ue7-wzx", "title": "This dashboard has only been created
        in EU1", "description": "", "author_handle": "michael.richey@datadoghq.com",
        "author_name": "Michael Richey", "layout_type": "ordered", "url": "/dashboard/5t9-ue7-wzx/this-dashboard-has-only-been-created-in-eu1",
        "template_variables": [], "widgets": [{"id": 7231692516809994, "definition":
        {"title": "sum:system.disk.free{host:raspberrypi}", "title_size": "16", "title_align":
        "left", "show_legend": false, "time": {"type": "fixed", "from": 1761336450870,
        "to": 1761941250870}, "type": "timeseries", "requests": [{"response_format":
        "timeseries", "queries": [{"name": "query2", "data_source": "metrics", "query":
        "sum:system.disk.free{host:raspberrypi}"}], "formulas": [{"formula": "query2"}],
        "style": {"palette": "dog_classic", "line_type": "solid", "line_width": "normal"},
        "display_type": "bars"}]}, "layout": {"x": 0, "y": 0, "width": 4, "height":
        2}}], "notify_list": [], "created_at": "2025-10-31T20:07:45.838380+00:00",
        "modified_at": "2025-10-31T20:08:07.276954+00:00", "reflow_type": "fixed",
        "restricted_roles": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard/2wg-nu4-dqp
  response:
    body:
      string: '{"id": "2wg-nu4-dqp", "title": "Michael''s Dashboard Mon, Jul 14, 4:22:25
        pm", "description": null, "author_handle": "michael.richey@datadoghq.com",
        "author_name": "Michael Richey", "layout_type": "ordered", "url": "/dashboard/2wg-nu4-dqp/michaels-dashboard-mon-jul-14-42225-pm",
        "template_variables": [], "widgets": [{"id": 4844048744340943, "definition":
        {"title": "", "title_size": "16", "title_align": "left", "time": {}, "type":
        "query_table", "requests": [{"queries": [{"data_source": "metrics", "name":
        "query1", "query": "avg:system.cpu.user{*} by {service}", "aggregator": "avg"}],
        "response_format": "scalar", "sort": {"count": 500, "order_by": [{"type":
        "formula", "index": 0, "order": "desc"}]}, "formulas": [{"formula": "query1",
        "cell_display_mode": "bar"}]}], "has_search_bar": "auto"}, "layout": {"x":
        0, "y": 0, "width": 4, "height": 4}}], "notify_list": [], "created_at": "2025-07-14T20:22:25.530702+00:00",
        "modified_at": "2025-08-21T14:12:40.043618+00:00", "reflow_type": "fixed",
        "restricted_roles": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard/2n3-8ye-5ui
  response:
    body:
      string: '{"id": "2n3-8ye-5ui", "title": "sync-cli customer dashboard", "description":
        "[[suggested_dashboards]]", "author_handle": "michael.richey@datadoghq.com",
        "author_name": "Michael Richey", "layout_type": "ordered", "url": "/dashboard/2n3-8ye-5ui/sync-cli-customer-dashboard",
        "template_variables": [{"name": "resource_type", "prefix": "resource_type",
        "available_values": ["monitors", "dashboards"], "default": "*"}, {"name":
        "client_type", "prefix": "client_type", "available_values": ["source", "destination"],
        "default": "*"}], "widgets": [{"id": 1046236066464840, "definition": {"title":
        "Summary", "background_color": "vivid_green", "show_title": true, "type":
        "group", "layout_type": "ordered", "widgets": [{"id": 8276316129338092, "definition":
        {"title": "Resources exported from R1", "title_size": "16", "title_align":
        "left", "type": "toplist", "requests": [{"queries": [{"data_source": "metrics",
        "name": "query1", "query": "sum:datadog.org_sync.action{action_type:import}
        by {resource_type,status}", "aggregator": "sum"}], "response_format": "scalar",
        "formulas": [{"formula": "query1"}], "sort": {"order_by": [{"type": "group",
        "name": "resource_type", "order": "asc"}], "count": 10}}], "style": {"display":
        {"type": "stacked", "legend": "automatic"}, "palette": "semantic"}}, "layout":
        {"x": 0, "y": 0, "width": 4, "height": 6}}, {"id": 656499302483792, "definition":
        {"title": "Resources synchronized to R2", "title_size": "16", "title_align":
        "left", "type": "toplist", "requests": [{"queries": [{"data_source": "metrics",
        "name": "query1", "query": "sum:datadog.org_sync.action{action_type:sync}
        by {resource_type,status}", "aggregator": "sum"}], "response_format": "scalar",
        "formulas[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard/jh3-vsk-99c
  response:
    body:
      string: '{"id": "jh3-vsk-99c", "title": "Michael''s Dashboard Mon, Oct 28, 2:45:47
        pm", "description": null, "author_handle": "michael.richey@datadoghq.com",
        "author_name": "Michael Richey", "layout_type": "ordered", "url": "/dashboard/jh3-vsk-99c/michaels-dashboard-mon-oct-28-24547-pm",
        "template_variables": [], "widgets": [{"id": 5949103957093766, "definition":
        {"title": "New group", "show_title": true, "powerpack_id": "e685afa6-955c-11ef-9254-da7ad0900005",
        "template_variables": {"controlled_externally": [], "controlled_by_powerpack":
        []}, "type": "powerpack"}, "layout": {"x": 0, "y": 0, "width": 12, "height":
        3}}], "notify_list": [], "created_at": "2024-10-28T18:45:47.629189+00:00",
        "modified_at": "2024-10-31T20:20:27.062979+00:00", "reflow_type": "fixed",
        "restricted_roles": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard/3wx-m6h-ipy
  response:
    body:
      string: '{"id": "3wx-m6h-ipy", "title": "Zubin Colah - Shopist Logs Demo", "description":
        "datadog_demo_keep:true (cloned) (cloned)", "author_handle": "michael.richey@datadoghq.com",
        "author_name": "Michael Richey", "layout_type": "free", "url": "/dashboard/3wx-m6h-ipy/zubin-colah---shopist-logs-demo",
        "template_variables": [], "widgets": [{"id": 3793011224382482, "layout": {"x":
        0.9090954344949606, "y": 16, "width": 106, "height": 60}, "definition": {"type":
        "image", "url": "https://imgix.datadoghq.com/img/blog/announcing-security-monitoring/datadog-security-monitoring-lwl-rev.png",
        "sizing": "contain", "has_background": true, "has_border": true, "vertical_align":
        "center", "horizontal_align": "center"}}, {"id": 4864802557613604, "layout":
        {"x": 65, "y": 92, "width": 63, "height": 79}, "definition": {"title": "Log
        Stream", "title_size": "16", "title_align": "left", "requests": [{"response_format":
        "event_list", "query": {"data_source": "logs_stream", "query_string": "env:prod
        datadog_app:shopist", "indexes": [], "storage": "hot", "sort": {"order": "desc",
        "column": "timestamp"}}, "columns": [{"field": "status_line", "width": "auto"},
        {"field": "timestamp", "width": "auto"}, {"field": "host", "width": "auto"},
        {"field": "service", "width": "auto"}, {"field": "content", "width": "compact"}]}],
        "type": "list_stream"}}, {"id": 8607400987758440, "layout": {"x": 3, "y":
        116, "width": 60, "height": 23}, "definition": {"title": "Errors by Service",
        "title_size": "16", "title_align": "left", "show_legend": false, "legend_layout":
        "auto", "legend_columns": ["avg", "min", "max", "value", "sum"], "type": "timeseries",
        "requests": [{"formulas": [{"formula": "query1"}], "response_format": "timeseries",
        "on_right_yaxis": false, "queries": [{"search": {"query": "status:error datadog_app:shopist"},
        "data_source": "logs", "compute": {"aggregation": "count"}, "name": "query1",
        "indexes": ["*"], "group_by": [{"facet": "service", "sort": {"aggregation":
        "count", "order": "desc"}, "limit": 100}]}], "style": {"palette": "warm",
        "line_type": "solid", "line_width": "normal"}, "display_type": "bars"}], "yaxis":
        {"include_zero": true, "scale": "linear", "label": "", "min": "auto", "max":
        "auto"}, "markers": []}}, {"id": 3823681685090318, "layout": {"x": 0, "y":
        91, "width": 63, "height": 24}, "definition": {"title": "Log Web Traffic by
        IP Address", "title_size": "16", "title_align": "left", "show_legend": false,
        "legend_layout": "auto", "legend_columns": ["avg", "min", "max", "value",
        "sum"], "type": "timeseries", "requests": [{"formulas": [{"formula": "query1"}],
        "response_format": "timeseries", "on_right_yaxis": false, "queries": [{"search":
        {"query": ""}, "data_source": "logs", "compute": {"interval": 30000, "aggregation":
        "count"}, "name": "query1", "indexes": ["*"], "group_by": [{"facet": "@network.client.ip",
        "sort": {"aggregation": "count", "order": "desc"}, "limit": 100}]}], "style":
        {"palette": "dog_classic", "line_type": "solid", "line_width": "normal"},
        "display_type": "bars"}], "yaxis": {"include_zero": false, "scale": "log"},
        "markers": []}}, {"id": 8368474761314392, "layout": {"x": 4, "y": 85, "width":
        120, "height": 5}, "definition": {"type": "note", "content": "Logs", "background_color":
        "green", "font_size": "18", "text_align": "center", "show_tick": true, "tick_pos":
        "50%", "tick_edge": "bottom"}}, {"id": 5524552780922781, "layout": {"x": 3,
        "y": 140, "width": 61, "height": 28}, "definition": {"title": "", "title_size":
        "16", "title_align": "left", "show_legend": false, "type": "timeseries", "requests":
        [{"formulas": [{"formula": "a"}, {"formula": "calendar_shift(b, ''-1w'', ''UTC'')"},
        {"formula": "calendar_shift(b, ''-1w'', ''UTC'') - a"}], "response_format":
        "timeseries", "queries": [{"search": {"query": "source:ruby status:error paym[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard/4ht-3zp-3vj
  response:
    body:
      string: '{"id": "4ht-3zp-3vj", "title": "sync-cli customer dashboard (clone)",
        "description": "[[suggested_dashboards]]", "author_handle": "michael.richey@datadoghq.com",
        "author_name": "Michael Richey", "layout_type": "ordered", "url": "/dashboard/4ht-3zp-3vj/sync-cli-customer-dashboard-clon[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard/vht-439-g8y
  response:
    body:
      string: '{"id": "vht-439-g8y", "title": "raspberrypi (cloned)", "description":
        "Top host-level metrics for raspberrypi.             Clone this dashboard
        to add your own metrics.\n\n[Link to infrastructure list](/infrastructure?filter=raspberrypi&hostname=raspberrypi)
        (cloned)", "autho[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard/t82-cj3-j7p
  response:
    body:
      string: '{"id": "t82-cj3-j7p", "title": "Is It Working?", "description": null,
        "author_handle": "ron.hay@datadoghq.com", "author_name": "Ron Hay", "layout_type":
        "ordered", "url": "/dashboard/t82-cj3-j7p/is-it-working", "template_variables":
        [], "widgets": [{"id": 8014768014333920, "d[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard/b8p-ibt-8h2
  response:
    body:
      string: '{"id": "b8p-ibt-8h2", "title": "tagging test", "description": "[[suggested_dashboards]]",
        "author_handle": "michael.richey@datadoghq.com", "author_name": "Michael Richey",
        "layout_type": "ordered", "url": "/dashboard/b8p-ibt-8h2/tagging-test", "template_variables":
        [], "widge[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 2, "IsPrimary": false, "ModifiedAt": "2025-10-20
        13:14:14.048828", "ModifiedBy": "michael.richey@datadoghq.com", "OrgDatacenter":
        "us5.prod.dog", "TargetOrgDatacenter": "eu1.prod.dog", "TargetOrgName": "DDR
        Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=500
  response:
    body:
      string: '{"data": [{"type": "users", "id": "6b69113d-6f18-11f0-9ad5-1ad15dd71168",
        "attributes": {"uuid": "6b69113d-6f18-11f0-9ad5-1ad15dd71168", "name": "Ida
        Adjivon", "handle": "ida.adjivon@datadoghq.com", "created_at": "2025-08-01T20:45:12.043180+00:00",
        "modified_at": "2025-08-01T21:35:25.635446+00:00", "email": "ida.adjivon@datadoghq.com",
        "icon": "https://secure.gravatar.com/avatar/d3ff11e3ff125d30050f4dfff3fa614c?s=48&d=retro",
        "title": "", "verified": true, "service_account": false, "disabled": false,
        "allowed_login_methods": ["google_oidc", "standard"], "status": "Active",
        "mfa_enabled": false, "last_login_time": "2026-03-23T02:41:00.741000+00:00"},
        "relationships": {"roles": {"data": [{"type": "roles", "id": "3020f50c-8582-11ef-ad61-da7ad0900005"}]},
        "org": {"data": {"type": "orgs", "id": "30187db5-8582-11ef-969b-8248c7cda362"}}}},
        {"type": "users", "id": "81f6f2c7-923f-11ef-879a-6ee0822e247c", "attributes":
        {"uuid": "81f6f2c7-923f-11ef-879a-6ee0822e247c", "name": "Justine Lo", "handle":
        "justine.lo@datadoghq.com", "created_at": "2024-10-24T19:38:13.281489+00:00",
        "modified_at": "2024-10-25T14:18:33.835459+00:00", "email": "justine.lo@datadoghq.com",
        "icon": "https://secure.gravatar.com/avatar/7d75964971289c[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"id": "693fe720-9569-11ef-969d-da7ad0900005", "type": "roles",
        "attributes": {"created_at": "2024-10-28T20:15:44.156681Z", "created_by_handle":
        "michael.richey@datadoghq.com", "modified_at": "2024-10-28T20:15:44.167199Z",
        "modified_by_handle": "michael.richey@datadoghq.com", "name": "Copy of Datadog
        Admin Role", "team_count": 0, "user_count": 2}, "relationships": {"permissions":
        {"data": [{"id": "2147a4f0-d3d9-11e9-a614-83d5d3c791ee", "type": "permissions"},
        {"id": "294580e0-1703-11ec-9b92-da7ad0900005", "type": "permissions"}, {"id":
        "7fbc682c-c59e-11ec-90fb-da7ad0900005", "type": "permissions"}, {"id": "214c10b2-d3d9-11e9-a614-3759c7ad528f",
        "type": "permissions"}, {"id": "4fbb1652-dd15-11e8-9308-77be61fbb2c7", "type":
        "permissions"}, {"id": "4fbd1e66-dd15-11e8-9308-53cb90e4ef1c", "type": "permissions"},
        {"id": "4fbeec9[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/permissions
  response:
    body:
      string: '{"data": [{"id": "f1624684-d87d-11e8-acac-efb4dbffab1c", "type": "permissions",
        "attributes": {"created": "2018-10-25T17:46:46.704903Z", "description": "Deprecated.
        Privileged Access (also known as Admin permission) has been replaced by more
        specific permissions: Access Management, Org Management, Billing Read/Write,
        Usage Read/Write.", "display_name": "Privileged Access", "display_type": "other",
        "group_name": "General", "name": "admin", "name_aliases": [], "restricted":
        false}}, {"id": "f1666372-d87d-11e8-acac-6be484ba794a", "type": "permissions",
        "attributes": {"created": "2018-10-25T17:46:46.73281Z", "description": "Deprecated.
        Standard Access has been replaced by more specific permissions.", "display_name":
        "Standard Access", "display_type": "other", "group_name": "General", "name":
        "standard", "name_aliases": [], "restricted": false}}, {"id": "4fbb1652-dd15-11e8-9308-77be61fbb2c7",
        "type": "permissions", "att[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us5.datadoghq.com/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"id": "19f3d166-3ce0-11f1-b986-da7ad0900005", "type": "roles",
        "attributes": {"created_at": "2026-04-20T17:41:03.093172Z", "created_by_handle":
        "17d29c8a-6285-11f0-be9b-76de006a05ea", "modified_at": "2026-04-20T17:41:03.094289Z",
        "modifie[...]
