interactions:
- request:
    body: '{"notify_list": null, "description": null, "restricted_roles": [], "template_variables":
      null, "is_read_only": false, "title": "{{ unique }} with timeseries widgetupdated",
      "widgets": [{"definition": {"requests": [{"q": "sum:trace.test.errors{env:prod,service:datadog-api-spec}
      by {resource_name}.as_count()", "on_right_yaxis": false, "style": {"line_width":
      "normal", "palette": "warm", "line_type": "solid"}, "display_type": "bars"}],
      "type": "timeseries"}, "id": 4987671296932461}], "layout_type": "ordered"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/dashboard/usv-wsp-ema
  response:
    body:
      string: '{"notify_list": null, "description": null, "restricted_roles": [],
        "author_name": "Frog", "template_variables": null, "is_read_only": false,
        "id": "usv-wsp-ema", "title": "{{ unique }} with timeseries widgetupdated",
        "url": "/dashboard/usv-wsp-ema/-unique--with-timeseries-widgetupdated", "created_at":
        "2021-10-28T14:51:44.915855+00:00", "modified_at": "2021-10-28T14:51:46.559833+00:00",
        "author_handle": "frog@datadoghq.com", "widgets": [{"definition": {"requests":
        [{"q": "sum:trace.test.errors{env:prod,service:datadog-api-spec} by {resource_name}.as_count()",
        "on_right_yaxis": false, "style": {"line_width": "normal", "palette": "warm",
        "line_type": "solid"}, "display_type": "bars"}], "type": "timeseries"}, "id":
        4987671296932461}], "layout_type": "ordered"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"notify_list": [], "description": "", "restricted_roles": [], "template_variables":
      [], "is_read_only": false, "title": "Sherzod''s Dashboard Mon, Oct 25, 3:36:13
      pmupdated", "reflow_type": "fixed", "widgets": [{"definition": {"title_size":
      "16", "legend_columns": ["avg", "min", "max", "value", "sum"], "yaxis": {"include_zero":
      true, "max": "auto", "scale": "linear", "min": "auto", "label": ""}, "title_align":
      "left", "markers": [], "legend_layout": "auto", "show_legend": true, "time":
      {}, "title": "", "requests": [{"style": {"line_width": "normal", "palette":
      "dog_classic", "line_type": "solid"}, "display_type": "line", "response_format":
      "timeseries", "queries": [{"query": "avg:system.cpu.user{*}", "data_source":
      "metrics", "name": "query1"}]}], "type": "timeseries"}, "layout": {"y": 0, "x":
      0, "height": 2, "width": 4}, "id": 7153121417398810}], "layout_type": "ordered"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/dashboard/fc2-jkh-n7h
  response:
    body:
      string: '{"notify_list": [], "description": "", "restricted_roles": [], "author_name":
        "Frog", "template_variables": [], "is_read_only": false, "id": "fc2-jkh-n7h",
        "title": "Sherzod''s Dashboard Mon, Oct 25, 3:36:13 pmupdated", "url": "/dashboard/fc2-jkh-n7h/s[...]
- request:
    body: '{"notify_list": null, "description": null, "restricted_roles": [], "template_variables":
      null, "is_read_only": false, "title": "Sherzod''s Screenboard Thu, Sep 30, 4:21:42
      pmupdated", "widgets": [], "layout_type": "free"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/dashboard/znk-azr-9as
  response:
    body:
      string: '{"notify_list": null, "description": null, "restricted_roles": [],
        "author_name": "Frog", "template_variables": null, "is_read_only": false,
        "id": "znk-azr-9as", "title": "Sherzod''s Screenboard Thu, Sep 30, 4:21:42
        pmupdated", "url": "/dashboard/znk-azr-9as/sherzods-screenboard-thu-sep-30-42142-pmupdated",
        "created_at": "2021-10-28T14:51:45.454621+00:00", "modified_at": "2021-10-28T14:51:47.259750+00:00",
        "author_handle": "frog@datadoghq.com", "widgets": [], "layout_type": "free"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"notify_list": [], "description": "", "restricted_roles": [], "template_variables":
      [], "is_read_only": false, "title": "datadog-sync-cli Test Dashboardupdated",
      "reflow_type": "fixed", "widgets": [{"definition": {"title_size": "16", "title":
      "", "title_align": "left", "precision": 2, "time": {}, "autoscale": true, "requests":
      [{"response_format": "scalar", "queries": [{"query": "avg:system.cpu.user{*}",
      "data_source": "metrics", "name": "query1", "aggregator": "avg"}]}], "type":
      "query_value"}, "layout": {"y": 0, "x": 0, "height": 2, "width": 2}, "id": 6609238960092638}],
      "layout_type": "ordered"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/dashboard/356-t74-dpt
  response:
    body:
      string: '{"notify_list": [], "description": "", "restricted_roles": [], "author_name":
        "Frog", "template_variables": [], "is_read_only": false, "id": "356-t74-dpt",
        "title": "datadog-sync-cli Test Dashboardupdated", "url": "/dashboard/356-t74-dpt/datadog-sync-cli-test-dashboardupdated",
        "created_at": "2021-10-28T14:51:45.751495+00:00", "modified_at": "2021-10-28T14:51:47.599523+00:00",
        "reflow_type": "fixed", "author_handle": "frog@datadoghq.com", "widgets":
        [{"definition": {"autoscale": true, "title": "", "title_align": "left", "precision":
        2, "time": {}, "title_size": "16", "requests": [{"response_format": "scalar",
        "queries": [{"query": "avg:system.cpu.user{*}", "data_source": "metrics",
        "name": "query1", "aggregator": "avg"}]}], "type": "query_value"}, "layout":
        {"y": 0, "x": 0, "width": 2, "height": 2}, "id": 6609238960092638}], "layout_type":
        "ordered"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"notify_list": [], "description": "Created using the Datadog provider
      in Terraform", "restricted_roles": [], "template_variable_presets": [{"template_variables":
      [{"name": "var_1", "value": "host.dc"}, {"name": "var_2", "value": "my_service"}],
      "name": "preset_1"}], "template_variables": [{"default": "aws", "prefix": "host",
      "name": "var_1"}, {"default": "autoscaling", "prefix": "service_name", "name":
      "var_2"}], "is_read_only": false, "title": "Test screenboardupdated", "widgets":
      [{"definition": {"title_size": "16", "title": "Widget Title", "title_align":
      "left", "time": {"live_span": "1h"}, "query": "*", "type": "event_stream", "event_size":
      "l"}, "layout": {"y": 5, "x": 5, "height": 43, "width": 32}, "id": 4066667513687323},
      {"definition": {"title_size": "16", "title": "Widget Title", "title_align":
      "left", "time": {"live_span": "1h"}, "query": "*", "type": "event_timeline"},
      "layout": {"y": 73, "x": 42, "height": 9, "width": 65}, "id": 68713679518613},
      {"definition": {"color": "#d00", "text": "free text content", "type": "free_text",
      "font_size": "88", "text_align": "left"}, "layout": {"y": 5, "x": 42, "height":
      20, "width": 30}, "id": 1117617615518455}, {"definition": {"url": "http://google.com",
      "type": "iframe"}, "layout": {"y": 8, "x": 111, "height": 46, "width": 39},
      "id": 3098118775539428}, {"definition": {"url": "https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&h=350",
      "sizing": "fit", "margin": "small", "type": "image"}, "layout": {"y": 7, "x":
      77, "height": 20, "width": 30}, "id": 651713243056399}, {"definition": {"logset":
      "", "sort": {"column": "time", "order": "desc"}, "show_message_column": true,
      "show_date_column": true, "message_display": "expanded-md", "indexes": ["main"],
      "query": "error", "type": "log_stream", "columns": ["core_host", "core_service",
      "tag_source"]}, "layout": {"y": 51, "x": 5, "height": 36, "width": 32}, "id":
      5458329230004343}, {"definition": {"sort": "status,asc", "count": 50, "title_size":
      "16", "title": "Widget Title", "title_align": "left", "hide_zero_counts": true,
      "start": 0, "summary_type": "monitors", "color_preference": "text", "query":
      "type:metric", "show_last_triggered": false, "type": "manage_status", "display_format":
      "countsAndList"}, "layout": {"y": 55, "x": 112, "height": 40, "width": 30},
      "id": 1112741664700765}, {"definition": {"span_name": "cassandra.query", "title_size":
      "13", "service": "alerting-cassandra", "title": "alerting-cassandra #env:datad0g.com",
      "size_format": "large", "show_hits": true, "show_latency": false, "title_align":
      "center", "show_errors": true, "show_breakdown": true, "env": "datad0g.com",
      "time": {"live_span": "1h"}, "show_distribution": true, "display_format": "three_column",
      "type": "trace_service", "show_resource_list": false}, "layout": {"y": 28, "x":
      40, "height": 38, "width": 67}, "id": 6949442529647217}], "layout_type": "free"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/dashboard/88z-t2b-frj
  response:
    body:
      string: '{"notify_list": [], "description": "Created using the Datadog provider
        in Terraform", "restricted_roles": [], "author_name": "Frog", "template_variable_presets":
        [{"template_variables": [{[...]
