interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"dashboards": [{"created_at": "2021-07-16T12:08:14.666223+00:00",
        "author_handle": "frog@datadoghq.com", "is_read_only": false, "description":
        null, "title": "{{ unique }} with timeseries widget", "url": "/dashboard/ys9-5v2-zxt/-unique--with-timeseries-widget",
        "layout_type": "ordered", "modified_at": "2021-07-16T12:08:14.666223+00:00",
        "id": "ys9-5v2-zxt"}, {"created_at": "2021-10-25T19:36:13.830241+00:00", "author_handle":
        "sherzod.karimov@datadoghq.com", "is_read_only": false, "description": "",
        "title": "Sherzod''s Dashboard Mon, Oct 25, 3:36:13 pm", "url": "/dashboard/eb8-fih-pcd/sherzods-dashboard-mon-oct-25-33613-pm",
        "layout_type": "ordered", "modified_at": "2021-10-25T19:36:25.164474+00:00",
        "id": "eb8-fih-pcd"}, {"created_at": "2021-09-30T20:21:42.640864+00:00", "author_handle":
        "she[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/ys9-5v2-zxt
  response:
    body:
      string: '{"notify_list": null, "description": null, "restricted_roles": [],
        "author_name": "Frog", "template_variables": null, "is_read_only": false,
        "id": "ys9-5v2-zxt", "title": "{{ unique }} with timeseries widget", "url":
        "/dashboard/ys9-5v2-zxt/-unique--with-timeseries-widget", "created_at": "2021-07-16T12:08:14.666223+00:00",
        "modified_at": "2021-07-16T12:08:14.666223+00:00", "author_handle": "frog@datadoghq.com",
        "widgets": [{"definition": {"requests": [{"q": "sum:trace.test.errors{env:prod,service:datadog-api-spec}
        by {resource_name}.as_count()", "on_right_yaxis": false, "style": {"line_width":
        "normal", "palette": "warm", "line_type": "solid"}, "display_type": "bars"}],
        "type": "timeseries"}, "id": 4987671296932461}], "layout_type": "ordered"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/eb8-fih-pcd
  response:
    body:
      string: '{"notify_list": [], "description": "", "restricted_roles": [], "author_name":
        "Sherzod Karimov", "template_variables": [], "is_read_only": false, "id":
        "eb8-fih-pcd", "title": "Sherzod''s Dashboard Mon, Oct 25, 3:36:13 pm", "url":
        "/dashboard/eb8-fih-pcd/sherzods-dashboard-mon-oct-25-33613-pm", "created_at":
        "2021-10-25T19:36:13.830241+00:00", "modified_at": "2021-10-25T19:36:25.164474+00:00",
        "reflow_type": "fixed", "author_handle": "sherzod.karimov@datadoghq.com",
        "widgets": [{"definition": {"title_size": "16", "legend_columns": ["avg",
        "min", "max", "value", "sum"], "yaxis": {"include_zero": true, "max": "auto",
        "scale": "linear", "min": "auto", "label": ""}, "title_align": "left", "markers":
        [], "legend_layout": "auto", "show_legend": true, "time": {}, "title": "",
        "requests": [{"style": {"line_width": "normal", "palette": "dog_classic",
        "line_type": "solid"}, "display_type": "line", "response_format": "timeseries",
        "queries": [{"query": "avg:system.cpu.user{*}", "data_source": "metrics",
        "name": "query1"}]}], "type": "timeseries"}, "layout": {"y": 0, "x": 0, "height":
        2, "width": 4}, "id": 7153121417398810}], "layout_type": "ordered"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/qky-6ud-aik
  response:
    body:
      string: '{"notify_list": null, "description": null, "restricted_roles": [],
        "author_name": "Sherzod Karimov", "template_variables": null, "is_read_only":
        false, "id": "qky-6ud-aik", "title": "Sherzod''s Screenboard Thu, Sep 30,
        4:21:42 pm", "url": "/dashboard/qky-6ud-aik/sherzods-screenboard-thu-sep-30-42142-pm",
        "created_at": "2021-09-30T20:21:42.640864+00:00", "modified_at": "2021-09-30T20:21:42.640864+00:00",
        "author_handle": "sherzod.karimov@datadoghq.com", "widgets": [], "layout_type":
        "free"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/tuw-te2-pdj
  response:
    body:
      string: '{"notify_list": [], "description": "", "restricted_roles": [], "author_name":
        "Noueman Khalikine", "template_variables": [], "is_read_only": false, "id":
        "tuw-te2-pdj", "title": "datadog-sync-cli Test Dashboard", "url": "/dashboard/tuw-te2-pdj/datadog-sync-cli-test-dashboard",
        "created_at": "2021-06-30T11:45:57.574935+00:00", "modified_at": "2021-06-30T11:46:46.923260+00:00",
        "reflow_type": "fixed", "author_handle": "noueman.khalikine@datadoghq.com",
        "widgets": [{"definition": {"title_size": "16", "title": "", "title_align":
        "left", "precision": 2, "time": {}, "autoscale": true, "requests": [{"response_format":
        "scalar", "queries": [{"query": "avg:system.cpu.user{*}", "data_source": "metrics",
        "name": "query1", "aggregator": "avg"}]}], "type": "query_value"}, "layout":
        {"y": 0, "x": 0, "height": 2, "width": 2}, "id": 6609238960092638}], "layout_type":
        "ordered"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/dns-jst-h98
  response:
    body:
      string: '{"notify_list": [], "description": "Created using the Datadog provider
        in Terraform", "restricted_roles": [], "author_name": "Sherzod Karimov", "template_variable_presets":
        [{"template_variables": [{"name": "var_1", "value": "host.dc"}, {"name": "var_2",
        "value": "my_service"}], "name": "preset_1"}], "template_variables": [{"default":
        "aws", "prefix": "host", "name": "var_1"}, {"default": "autoscaling", "prefix":
        "service_name", "name": "var_2"}], "is_read_only": false, "id": "dns-jst-h98",
        "title": "Test screenboard", "url": "/dashboard/dns-jst-h98/test-screenboard",
        "created_at": "2021-06-08T18:26:23.515662+00:00", "modified_at": "2021-06-22T19:35:38.981348+00:00",
        "author_handle": "sherzod.karimov@datadoghq.com", "widgets": [{"definition":
        {"title_size": "16", "title": "Widget Title", "title_align": "left", "time":
        {"live_span": "1h"}, "query": "*", "type": "event_stream", "event_size": "l"},
        "layout": {"y": 5, "x": 5, "height": 43, "width": 32}, "id": 4066667513687323},
        {"definition": {"title_size": "16", "title": "Widget Title", "title_align":
        "left", "time": {"live_span": "1h"}, "query": "*", "type": "event_timeline"},
        "layout": {"y": 73, "x": 42, "height": 9, "width": 65}, "id": 68713679518613},
        {"definition": {"color": "#d00", "text": "free text content", "type": "free_text",
        "font_size": "88", "text_align": "left"}, "layout": {"y": 5, "x": 42, "height":
        20, "width": 30}, "id": 1117617615518455}, {"definition": {"url": "http://google.com",
        "type": "iframe"}, "layout": {"y": 8, "x": 111, "height": 46, "width": 39},
        "id": 3098118775539428}, {"definition": {"url": "https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&h=350",
        "sizing": "fit", "margin": "small", "type": "image"}, "layout": {"y": 7, "x":
        77, "height": 20, "width": 30}, "id": 651713243056399}, {"definition": {"logset":
        "", "sort": {"column": "time", "order": "desc"}, "show_message_column": true,
        "show_date_column": true, "message_display": "expanded-md", "indexes": ["main"],
        "query": "error", "type": "log_stream", "columns": ["core_host", "core_service",
        "tag_source"]}, "layout": {"y": 51, "x": 5, "height": 36, "width": 32}, "id":
        5458329230004343}, {"definition": {"sort": "status,asc", "count": 50, "title_size":
        "16", "title": "Widget Title", "title_align": "left", "hide_zero_counts":
        true, "start": 0, "summary_type": "monitors", "color_preference": "text",
        "query": "type:metric", "show_last_triggered": false, "type": "manage_status",
        "display_format": "countsAndList"}, "layout": {"y": 55, "x": 112, "height":
        40, "width": 30}, "id": 1112741664700765}, {"definition": {"span_name": "cassandra.query",
        "title_size": "13", "service": "alerting-cassandra", "title": "alerting-cassandra
        #env:datad0g.com", "size_format": "large", "show_hits": true, "show_latency":
        false, "title_align": "center", "show_errors": true, "show_breakdown": true,
        "env": "datad0g.com", "time": {"live_span": "1h"}, "show_distribution": true,
        "display_format": "three_column", "type": "trace_service", "show_resource_list":
        false}, "layout": {"y": 28, "x": 40, "height": 38, "width": 67}, "id": 6949442529647217}],
        "layout_type": "free"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/euw-cp8-hy6
  response:
    body:
      string: '{"notify_list": [], "description": "", "restricted_roles": [], "author_name":
        "Sherzod Karimov", "template_variables": [], "is_read_only": false, "id":
        "euw-cp8-hy6", "title": "Timeboard Tue, Jun 1, 4:18:57 pm", "url": "/dashboard/euw-cp8-hy6/timeboard-tue-jun-1-41857-pm",
        "created_at": "2021-06-01T20:18:57.486260+00:00", "modified_at": "2021-06-21T17:24:39.527924+00:00",
        "reflow_type": "auto", "author_handle": "sherzod.karimov@datadoghq.com", "widgets":
        [{"definition": {"widgets": [{"definition": {"title_size": "16", "viz_type":
        "timeseries", "title": "", "title_align": "left", "alert_id": "36239262",
        "type": "alert_graph"}, "id": 5316294948508728}, {"definition": {"title_size":
        "16", "title": "", "title_align": "left", "text_align": "left", "precision":
        2, "alert_id": "36230659", "type": "alert_value", "unit": "auto"}, "id": 2269177794822700}],
        "layout_type": "ordered", "type": "group", "title": "New group"}, "id": 2497183012091650},
        {"definition": {"title_size": "16", "viz_type": "timeseries", "title": "",
        "title_align": "left", "alert_id": "36239262", "type": "alert_graph"}, "id":
        4551400937275112}, {"definition": {"autoscale": true, "title": "", "title_align":
        "left", "precision": 2, "title_size": "16", "requests": [{"q": "avg:synthetics.http.dns.time{*}",
        "aggregator": "avg"}], "type": "query_value"}, "id": 7228117705299642}, {"definition":
        {"title_size": "16", "title": "", "title_align": "left", "text_align": "left",
        "precision": 2, "alert_id": "36230659", "type": "alert_value", "unit": "auto"},
        "id": 2397823643167820}, {"definition": {"time_windows": ["7d"], "title_size":
        "16", "show_error_budget": true, "view_type": "detail", "title_align": "left",
        "slo_id": "ae04001ea55f52f6ae4b85d9b1023909", "view_mode": "overall", "title":
        "", "global_time_target": "0", "type": "slo"}, "id": 1076364961367720}, {"definition":
        {"time_windows": ["7d"], "title_size": "16", "show_error_budget": true, "view_type":
        "detail", "title_align": "left", "slo_id": "b6eedbdc42a15b658b5d55ffc4f91082",
        "view_mode": "overall", "title": "", "global_time_target": "0", "type": "slo"},
        "id": 4123257207386936}], "layout_type": "ordered"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
