interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"dashboards": [{"id": "tuw-te2-pdj", "title": "datadog-sync-cli Test
        Dashboard", "description": "", "layout_type": "ordered", "url": "/dashboard/tuw-te2-pdj/datadog-sync-cli-test-dashboard",
        "is_read_only": false, "created_at": "2021-06-30T11:45:57.574935+00:00", "modified_at":
        "2024-05-07T18:23:20.293524+00:00", "author_handle": "noueman.khalikine@datadoghq.com",
        "deleted_at": null}, {"id": "euw-cp8-hy6", "title": "raw-test", "description":
        "", "layout_type": "ordered", "url": "/dashboard/euw-cp8-hy6/raw-test", "is_read_only":
        false, "created_at": "2021-06-01T20:18:57.486260+00:00", "modified_at": "2024-02-08T18:59:02.610446+00:00",
        "author_handle": "sherzod.karimov@datadoghq.com", "deleted_at": null}, {"id":
        "dns-jst-h98", "title": "Test screenboard", "description": "Created using
        the Datadog provider in Terraform", "layout_type": "free", "url": "/dashboard/dns-jst-h98/test-screenboard",
        "is_read_only": false, "created_at": "2021-06-08T18:26:23.515662+00:00", "modified_at":
        "2021-06-22T19:35:38.981348+00:00", "author_handle": "sherzod.karimov@datadoghq.com",
        "deleted_at": null}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/tuw-te2-pdj
  response:
    body:
      string: '{"id": "tuw-te2-pdj", "title": "datadog-sync-cli Test Dashboard", "description":
        "", "author_handle": "noueman.khalikine@datadoghq.com", "author_name": "Noueman
        Khalikine", "layout_type": "ordered", "url": "/dashboard/tuw-te2-pdj/datadog-sync-cli-test-dashboard",
        "is_read_only": false, "template_variables": [], "widgets": [{"id": 6609238960092638,
        "definition": {"title": "", "title_size": "16", "title_align": "left", "type":
        "query_value", "requests": [{"response_format": "scalar", "queries": [{"query":
        "avg:system.cpu.user{*}", "data_source": "metrics", "name": "query1", "aggregator":
        "avg"}]}], "autoscale": true, "precision": 2}, "layout": {"x": 0, "y": 0,
        "width": 2, "height": 2}}, {"id": 2532045577321836, "definition": {"title":
        "rando", "show_title": true, "powerpack_id": "1b48b2e6-0c9c-11ef-90f8-da7ad0900002",
        "template_variables": {"controlled_externally": [], "controlled_by_powerpack":
        [{"name": "datacenter", "values": ["defaults"]}]}, "type": "powerpack"}, "layout":
        {"x": 2, "y": 0, "width": 4, "height": 10}}], "notify_list": [], "created_at":
        "2021-06-30T11:45:57.574935+00:00", "modified_at": "2024-05-07T18:23:20.293524+00:00",
        "reflow_type": "fixed", "restricted_roles": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/euw-cp8-hy6
  response:
    body:
      string: '{"id": "euw-cp8-hy6", "title": "raw-test", "description": "", "author_handle":
        "sherzod.karimov@datadoghq.com", "author_name": "Sherzod Karimov", "layout_type":
        "ordered", "url": "/dashboard/euw-cp8-hy6/raw-test", "is_read_only": false,
        "template_variables": [], "widgets": [{"id": 2497183012091650, "definition":
        {"title": "New group", "type": "group", "layout_type": "ordered", "widgets":
        [{"id": 5316294948508728, "definition": {"title": "", "title_size": "16",
        "title_align": "left", "type": "alert_graph", "alert_id": "36230659", "viz_type":
        "timeseries"}}, {"id": 2269177794822700, "definition": {"title": "", "title_size":
        "16", "title_align": "left", "type": "alert_value", "alert_id": "37284965",
        "unit": "auto", "text_align": "left", "precision": 2}}]}}, {"id": 7228117705299642,
        "definition": {"title": "", "title_size": "16", "title_align": "left", "type":
        "query_value", "requests": [{"response_format": "scalar", "queries": [{"query":
        "avg:synthetics.http.dns.time{*}", "data_source": "metrics", "name": "query1",
        "aggregator": "avg"}]}], "autoscale": true, "precision": 2}}, {"id": 2397823643167820,
        "definition": {"title": "", "title_size": "16", "title_align": "left", "type":
        "alert_value", "alert_id": "36230659", "unit": "auto", "text_align": "left",
        "precision": 2}}, {"id": 1076364961367720, "definition": {"title": "", "title_size":
        "16", "title_align": "left", "type": "slo", "slo_id": "ae04001ea55f52f6ae4b85d9b1023909",
        "view_type": "detail", "view_mode": "overall", "time_windows": ["7d"], "show_error_budget":
        true, "global_time_target": "0"}}, {"id": 4123257207386936, "definition":
        {"title": "", "title_size": "16", "title_align": "left", "type": "slo", "slo_id":
        "c4fa01c78d45542cb830598be4f68ad2", "view_type": "detail", "view_mode": "overall",
        "time_windows": ["7d"], "show_error_budget": true, "global_time_target": "0"}}],
        "notify_list": [], "created_at": "2021-06-01T20:18:57.486260+00:00", "modified_at":
        "2024-02-08T18:59:02.610446+00:00", "reflow_type": "auto", "tags": ["team:example-empty-team"],
        "restricted_roles": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/dns-jst-h98
  response:
    body:
      string: '{"id": "dns-jst-h98", "title": "Test screenboard", "description": "Created
        using the Datadog provider in Terraform", "author_handle": "sherzod.karimov@datadoghq.com",
        "author_name": "Sherzod Karimov", "layout_type": "free", "url": "/dashboard/dns-jst-h98/test-screenboard",
        "is_read_only": false, "template_variables": [{"default": "aws", "prefix":
        "host", "name": "var_1"}, {"default": "autoscaling", "prefix": "service_name",
        "name": "var_2"}], "widgets": [{"definition": {"title_size": "16", "title":
        "Widget Title", "title_align": "left", "time": {"live_span": "1h"}, "query":
        "*", "type": "event_stream", "event_size": "l"}, "layout": {"y": 5, "x": 5,
        "height": 43, "width": 32}, "id": 4066667513687323}, {"definition": {"title_size":
        "16", "title": "Widget Title", "title_align": "left", "time": {"live_span":
        "1h"}, "query": "*", "type": "event_timeline"}, "layout": {"y": 73, "x": 42,
        "height": 9, "width": 65}, "id": 68713679518613}, {"definition": {"color":
        "#d00", "text": "free text content", "type": "free_text", "font_size": "88",
        "text_align": "left"}, "layout": {"y": 5, "x": 42, "height": 20, "width":
        30}, "id": 1117617615518455}, {"definition": {"url": "http://google.com",
        "type": "iframe"}, "layout": {"y": 8, "x": 111, "height": 46, "width": 39},
        "id": 3098118775539428}, {"definition": {"url": "https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&h=350",
        "sizing": "fit", "margin": "small", "type": "image"}, "layout": {"y": 7, "x":
        77, "height": 20, "width": 30}, "id": 651713243056399}, {"definition": {"logset":
        "", "sort": {"column": "time", "order": "desc"}, "show_message_column": true,
        "show_date_column": true, "message_display": "expanded-md", "indexes": ["main"],
        "query": "error", "type": "log_stream", "columns": ["core_host", "core_service",
        "tag_source"]}, "layout": {"y": 51, "x": 5, "height": 36, "width": 32}, "id":
        5458329230004343}, {"definition": {"sort": "status,asc", "count": 50, "title_size":
        "16", "title": "Widget Title", "title_align": "left", "hide_zero_counts":
        true, "start": 0, "summary_type": "monitors", "query": "type:metric", "color_preference":
        "text", "show_last_triggered": false, "display_format": "countsAndList", "type":
        "manage_status"}, "layout": {"y": 55, "x": 112, "height": 40, "width": 30},
        "id": 1112741664700765}, {"definition": {"span_name": "cassandra.query", "title_size":
        "13", "service": "alerting-cassandra", "title": "alerting-cassandra #env:datad0g.com",
        "size_format": "large", "show_hits": true, "show_latency": false, "title_align":
        "center", "show_errors": true, "show_breakdown": true, "env": "datad0g.com",
        "time": {"live_span": "1h"}, "show_distribution": true, "display_format":
        "three_column", "type": "trace_service", "show_resource_list": false}, "layout":
        {"y": 28, "x": 40, "height": 38, "width": 67}, "id": 6949442529647217}], "notify_list":
        [], "created_at": "2021-06-08T18:26:23.515662+00:00", "modified_at": "2021-06-22T19:35:38.981348+00:00",
        "template_variable_presets": [{"template_variables": [{"name": "var_1", "value":
        "host.dc"}, {"name": "var_2", "value": "my_service"}], "name": "preset_1"}],
        "restricted_roles": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
