interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/powerpacks?page%5Blimit%5D=1000&page%5Boffset%5D=0
  response:
    body:
      string: '{"data": [{"type": "powerpack", "id": "1b48b2e6-0c9c-11ef-90f8-da7ad0900002",
        "attributes": {"name": "", "description": "Created using the Datadog provider
        in terraform", "group_widget": {"definition": {"layout_type": "ordered", "type":
        "group", "widgets": [{"definition": {"event_size": "l", "query": "foo:bar",
        "title": "Widget Title", "title_align": "right", "title_size": "16", "type":
        "event_stream"}, "id": 1117178351269546}]}, "layout": {"height": 10, "width":
        3, "x": 1, "y": 0}, "live_span": "4h"}, "template_variables": [{"defaults":
        ["defaults"], "name": "datacenter"}], "tags": []}, "relationships": {"author":
        {"data": {"type": "users", "id": "d5459c54-9e9d-11ee-a5c9-ce6dc639753f"}}}},
        {"type": "powerpack", "id": "1b47fdb0-0c9c-11ef-8803-da7ad0900002", "attributes":
        {"name": "", "description": "Created using the Datadog provider in terraform",
        "group_widget": {"definition": {"layout_type": "ordered", "type": "group",
        "widgets": [{"definition": {"event_size": "l", "query": "*", "title": "Widget
        Title", "title_align": "right", "title_size": "16", "type": [...]
