interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "powerpack", "attributes": {"name": "updated", "description":
      "Created using the Datadog provider in terraform", "group_widget": {"definition":
      {"layout_type": "ordered", "type": "group", "widgets": [{"definition": {"event_size":
      "l", "query": "*", "title": "Widget Title", "title_align": "right", "title_size":
      "16", "type": "event_stream"}, "id": 6762997975823800}]}, "layout": {"height":
      10, "width": 3, "x": 1, "y": 0}, "live_span": "4h"}, "template_variables": [{"defaults":
      ["defaults"], "name": "datacenter"}], "tags": []}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.eu/api/v2/powerpacks/7f1915de-0ca3-11ef-9399-da7ad0900005
  response:
    body:
      string: '{"data": {"type": "powerpack", "id": "7f1915de-0ca3-11ef-9399-da7ad0900005",
        "attributes": {"name": "updated", "description": "Created using the Datadog
        provider in terraform", "group_widget": {"definition": {"layout_type": "ordered",
        "type": "group", "widgets": [{"definition": {"event_size": "l", "query": "*",
        "title": "Widget Title", "title_align": "right", "title_size": "16", "type":
        "event_stream"}, "id": 6762997975823800}]}, "layout": {"height": 10, "width":
        3, "x": 1, "y": 0}, "live_span": "4h"}, "template_variables": [{"defaults":
        ["defaults"], "name": "datacenter"}], "tags": []}, "relationships": {"author":
        {"data": {"type": "users", "id": "c565c834-9e9a-11ee-aa8a-52121f0cd5ec"}}}},
        "included": [{"type": "users", "id": "c565c834-9e9a-11ee-aa8a-52121f0cd5ec",
        "attributes": {"name": "Frog", "email": "frog@datadoghq.com"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
