# Direct dependencies from setup.cfg install_requires
boto3==1.35.91
click==8.1.7
configobj==5.0.9
deepdiff==8.6.1
aiohttp==3.12.14
tqdm==4.66.3
certifi>=2022.12.7
python-dateutil
google-cloud-storage>=2.14.0
azure-storage-blob>=12.19.0
azure-identity>=1.15.0
