interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/logs/config/pipelines
  response:
    body:
      string: '[{"id": "Rvk36Rj0SJizOBX_N24BSQ", "type": "pipeline", "name": "Test
        pipeline", "is_enabled": true, "is_read_only": false, "filter": {"query":
        "test:query"}, "processors": []}, {"id": "0i9e0i3ET6WPZV1b9ZeoPg", "type":
        "pipeline", "name": "Test Pipeline - Complex", "is_enabled": true, "is_read_only":
        false, "filter": {"query": "source:foo"}, "processors": [{"name": "sample
        arithmetic processor", "is_enabled": true, "expression": "(time1 - time2)*1000",
        "target": "my_arithmetic", "is_replace_missing": true, "type": "arithmetic-processor"},
        {"name": "sample attribute processor", "is_enabled": true, "sources": ["db.instance"],
        "source_type": "tag", "target": "db", "target_type": "attribute", "target_format":
        "string", "preserve_source": true, "override_on_conflict": false, "type":
        "attribute-remapper"}, {"name": "sample category processor", "is_enabled":
        true, "categories": [{"filter": {"query": "@severity: \".\""}, "name": "debug"},
        {"filter": {"query": "@severity: \"-\""}, "name": "verbose"}], "target": "foo.severity",
        "type": "category-processor"}, {"name": "sample date remapper", "is_enabled":
        true, "sources": ["_timestamp", "published_date"], "type": "date-remapper"},
        {"name": "sample geo ip parser", "is_enabled": true, "sources": ["network.client.ip"],
        "target": "network.client.geoip", "ip_processing_behavior": "do-nothing",
        "type": "geo-ip-parser"}, {"name": "sample grok parser", "is_enabled": true,
        "source": "message", "samples": ["sample log 1"], "grok": {"support_rules":
        "", "match_rules": "Rule %{word:my_word2} %{number:my_float2}"}, "type": "grok-parser"},
        {"name": "sample lookup processor", "is_enabled": true, "source": "service_id",
        "target": "service_name", "lookup_table": ["1,my service"], "default_lookup":
        "unknown service", "type": "lookup-processor"}, {"name": "sample message remapper",
        "is_enabled": true, "sources": ["msg"], "type": "message-remapper"}, {"type":
        "pipeline", "name": "nested pipeline", "is_enabled": true, "filter": {"query":
        "source:foo"}, "processors": [{"name": "sample url parser", "is_enabled":
        false, "sources": ["url", "extra"], "target": "http_url", "normalize_ending_slashes":
        true, "type": "url-parser"}]}, {"name": "sample service remapper", "is_enabled":
        true, "sources": ["service"], "type": "service-remapper"}, {"name": "sample
        status remapper", "is_enabled": true, "sources": ["info", "trace"], "type":
        "status-remapper"}, {"name": "sample string builder processor", "is_enabled":
        true, "template": "%{user.name} logged in at %{timestamp}", "target": "user_activity",
        "is_replace_missing": false, "type": "string-builder-processor"}, {"name":
        "sample trace id remapper", "is_enabled": true, "sources": ["dd.trace_id"],
        "type": "trace-id-remapper"}, {"name": "sample user agent parser", "is_enabled":
        true, "sources": ["user", "agent"], "target": "http_agent", "is_encoded":
        false, "type": "user-agent-parser"}]}, {"id": "_kLFOihfR-Sg81CWzLRiww", "type":
        "pipeline", "name": "Nginx", "is_enabled": true, "is_read_only": true, "filter":
        {"query": "source:nginx"}, "processors": [{"name": "Parsing Nginx logs", "is_enabled":
        true, "source": "message", "samples": ["127.0.0.1 - frank [13/Jul/2016:10:55:36
        +0000] \"GET /apache_pb.gif HTTP/1.0\" 200 2326", "172.17.0.1 - - [06/Jan/2017:16:16:37
        +0000] \"GET /datadoghq/company?test=var1%20Pl HTTP/1.1\" 200 612 \"http://www.perdu.com/\"
        \"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/55.0.2883.87
        Safari/537.36\" \"-\"", "2017/09/26 14:36:50 [error] 8409#8409: *317058 \"/usr/share/nginx/html/sql/sql-admin/index.html\"
        is not found (2: No such file or directory), client: 217.92.148.44, server:
        localhost, request: \"HEAD http://174.138.82.103:80/sql/sql-admin/ HTTP/1.1\",
        host: \"174.138.82.103\""], "grok": {"support_rules": "_auth %{notSpace:http.auth:nullIf(\"-\")}\n_bytes_written
        %{integer:network.bytes_written}\n_client_ip %{ipOrHost:network.client.ip}\n_version
        HTTP\\/%{regex(\"\\\\d+\\\\.\\\\d+\"):http.version}\n_url %{notSpace:http.url}\n_ident
        %{notSpace:http.ident:nullIf(\"-\")}\n_user_agent %{regex(\"[^\\\\\\\"]*\"):http.useragent}\n_referer
        %{notSpace:http.referer}\n_status_code %{integer:http.status_code}\n_method
        %{[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/logs/config/pipelines
  response:
    body:
      string: '[{"id": "dK6MAn6nSDaR8uobwmAI_w", "type": "pipeline", "name": "Nginx",
        "is_enabled": true, "is_read_only": true, "filter": {"query": "source:nginx"},
        "processors": [{"name": "Parsing Nginx logs", "is_enabled": true, "source":
        "message", "samples": ["127.0.0.1 - frank [13/Jul/[...]
