interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.import.start", "type": 0, "points": [{"timestamp": 1743014040,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.import.start", "type": 0, "points": [{"timestamp": 1743014040,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/team?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "team", "attributes": {"modified_at": "2024-10-28T20:20:10.746680+00:00",
        "handle": "hamr-test", "is_managed": false, "description": "", "created_at":
        "2024-10-28T20:20:10.746677+00:00", "summary": null, "name": "hamr test",
        "user_count": 2, "link_count": 0}, "relationships": {"user_team_permissions":
        {"links": {"related": "/api/v2/team/f0cc21b6-6f38-49f0-8641-e25fb3b98476/permission-settings"}},
        "team_links": {"links": {"related": "/api/v2/team/f0cc21b6-6f38-49f0-8641-e25fb3b98476/links"}}},
        "id": "f0cc21b6-6f38-49f0-8641-e25fb3b98476"}, {"type": "team", "attributes":
        {"modified_at": "2024-10-21T18:57:43.124312+00:00", "handle": "test", "is_managed":
        false, "description": "", "created_at": "2024-10-21T18:57:43.124309+00:00",
        "summary": null, "name": "test", "user_count": 1, "link_count": 0}, "relationships":
        {"user_team_permissions": {"links": {"related": "/api/v2/team/d19a4fc2-aeda-4b9e-856a-b9e48c0e19fa/permission-settings"}},
        "team_links": {"links": {"related": "/api/v2/team/d19a4fc2-aeda-4b9e-856a-b9e48c0e19fa/links"}}},
        "id": "d19a4fc2-aeda-4b9e-856a-b9e48c0e19fa"}], "meta": {"pagination": {"number":
        0, "first_number": 0, "prev_number": 0, "next_number": 1, "last_number": 0,
        "size": 100, "type": "number_size", "total": 2}}, "links": {"self": "https://api.datadoghq.eu/api/v2/team?page[number]=0&page[size]=100",
        "last": null, "next": "https://api.datadoghq.eu/api/v2/team?page[number]=1&page[size]=100",
        "prev": null, "first": "https://api.datadoghq.eu/api/v2/team?page[number]=0&page[size]=100"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/team/f0cc21b6-6f38-49f0-8641-e25fb3b98476/memberships?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "team_memberships", "id": "TeamMembership-f0cc21b6-6f38-49f0-8641-e25fb3b98476-1002072115",
        "attributes": {"role": null, "provisioned_by": null, "provisioned_by_id":
        "98fe080d-8fda-11ef-aa03-c6ac9d6cb0b0"}, "relationships": {"user": {"data":
        {"type": "users", "id": "98fe080d-8fda-11ef-aa03-c6ac9d6cb0b0"}}}}, {"type":
        "team_memberships", "id": "TeamMembership-f0cc21b6-6f38-49f0-8641-e25fb3b98476-1002032143",
        "attributes": {"role": null, "provisioned_by": null, "provisioned_by_id":
        "98fe080d-8fda-11ef-aa03-c6ac9d6cb0b0"}, "relationships": {"user": {"data":
        {"type": "users", "id": "b32e572e-8582-11ef-98fe-f2a776cd34b8"}}}}], "included":
        [{"type": "users", "id": "98fe080d-8fda-11ef-aa03-c6ac9d6cb0b0", "attributes":
        {"name": "Michael Richey", "handle": "michael.richey@datadoghq.com", "email":
        "michael.richey@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/3ae7b2387f1a71bbb857d6f03993bdf3?s=48&d=retro",
        "disabled": false, "service_account": false}}, {"type": "users", "id": "b32e572e-8582-11ef-98fe-f2a776cd34b8",
        "attributes": {"name": "Ron Hay", "handle": "ron.hay@datadoghq.com", "email":
        "ron.hay@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/1c9c2a5daac55fc5ae86178cd5e7b9c2?s=48&d=retro",
        "disabled": false, "service_account": false}}], "meta": {"pagination": {"number":
        0, "first_number": 0, "prev_number": 0, "next_number": 1, "last_number": 0,
        "size": 100, "type": "number_size", "total": 2}}, "links": {"self": "https://api.datadoghq.eu/api/v2/team/f0cc21b6-6f38-49f0-8641-e25fb3b98476/memberships?page[number]=0&page[size]=100",
        "last": null, "next": "https://api.datadoghq.eu/api/v2/team/f0cc21b6-6f38-49f0-8641-e25fb3b98476/memberships?page[number]=1&page[size]=100",
        "prev": null, "first": "https://api.datadoghq.eu/api/v2/team/f0cc21b6-6f38-49f0-8641-e25fb3b98476/memberships?page[number]=0&page[size]=100"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/team?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "team", "attributes": {"description": "", "link_count":
        0, "handle": "hamr-test", "is_managed": false, "user_count": 0, "modified_at":
        "2025-03-26T18:33:09.676730+00:00", "name": "hamr test", "created_at": "2025-03-26T18:33:09.676726+00:00",
        "summary": null}, "relationships": {"team_links": {"links": {"related": "/api/v2/team/98b24161-1e4f-4aaf-a81c-147566cc9832/links"}},
        "user_team_permissions": {"links": {"related": "/api/v2/team/98b24161-1e4f-4aaf-a81c-147566cc9832/permission-settings"}}},
        "id": "98b24161-1e4f-4aaf-a81c-147566cc9832"}], "meta": {"pagination": {"number":
        0, "first_number": 0, "prev_number": 0, "next_number": 1, "last_number": 0,
        "size": 100, "type": "number_size", "total": 1}}, "links": {"self": "https://us5.datadoghq.com/api/v2/team?page[number]=0&page[size]=100",
        "last": null, "next": "https://us5.datadoghq.com/api/v2/team?page[number]=1&page[size]=100",
        "prev": null, "first": "https://us5.datadoghq.com/api/v2/team?page[number]=0&page[size]=100"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/team/98b24161-1e4f-4aaf-a81c-147566cc9832/memberships?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [], "meta": {"pagination": {"number": 0, "first_number": 0,
        "prev_number": 0, "next_number": 1, "last_number": 0, "size": 100, "type":
        "number_size", "total": 0}}, "links": {"self": "https://us5.datadoghq.com/api/v2/team/98b24161-1e4f-4aaf-a81c-147566cc9832/memberships?page[number]=0&page[size]=100",
        "last": null, "next": "https://us5.datadoghq.com/api/v2/team/98b24161-1e4f-4aaf-a81c-147566cc9832/memberships?page[number]=1&page[size]=100",
        "prev": null, "first": "https://us5.datadoghq.com/api/v2/team/98b24161-1e4f-4aaf-a81c-147566cc9832/memberships?page[number]=0&page[size]=100"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
