interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.sync.start", "type": 0, "points": [{"timestamp": 1743014043,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.sync.start", "type": 0, "points": [{"timestamp": 1743014043,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/team?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "team", "attributes": {"summary": null, "link_count":
        0, "user_count": 0, "name": "hamr test", "created_at": "2025-03-26T18:33:09.676726+00:00",
        "description": "", "is_managed": false, "modified_at": "2025-03-26T18:33:09.676730+00:00",
        "handle": "hamr-test"}, "relationships": {"user_team_permissions": {"links":
        {"related": "/api/v2/team/98b24161-1e4f-4aaf-a81c-147566cc9832/permission-settings"}},
        "team_links": {"links": {"related": "/api/v2/team/98b24161-1e4f-4aaf-a81c-147566cc9832/links"}}},
        "id": "98b24161-1e4f-4aaf-a81c-147566cc9832"}], "meta": {"pagination": {"number":
        0, "first_number": 0, "prev_number": 0, "next_number": 1, "last_number": 0,
        "size": 100, "type": "number_size", "total": 1}}, "links": {"self": "https://us5.datadoghq.com/api/v2/team?page[number]=0&page[size]=100",
        "last": null, "next": "https://us5.datadoghq.com/api/v2/team?page[number]=1&page[size]=100",
        "prev": null, "first": "https://us5.datadoghq.com/api/v2/team?page[number]=0&page[size]=100"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/team/98b24161-1e4f-4aaf-a81c-147566cc9832/memberships?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [], "meta": {"pagination": {"number": 0, "first_number": 0,
        "prev_number": 0, "next_number": 1, "last_number": 0, "size": 100, "type":
        "number_size", "total": 0}}, "links": {"self": "https://us5.datadoghq.com/api/v2/team/98b24161-1e4f-4aaf-a81c-147566cc9832/memberships?page[number]=0&page[size]=100",
        "last": null, "next": "https://us5.datadoghq.com/api/v2/team/98b24161-1e4f-4aaf-a81c-147566cc9832/memberships?page[number]=1&page[size]=100",
        "prev": null, "first": "https://us5.datadoghq.com/api/v2/team/98b24161-1e4f-4aaf-a81c-147566cc9832/memberships?page[number]=0&page[size]=100"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1743014043, "value":
      1}], "tags": ["reason:connection_error", "id:TeamMembership-d19a4fc2-aeda-4b9e-856a-b9e48c0e19fa-1002072115",
      "action_type:sync", "status:skipped", "resource_type:team_memberships", "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
version: 1
