interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/permissions
  response:
    body:
      string: '{"data": [{"id": "984a2bd4-d3b4-11e8-a1ff-a7f660d43029", "type": "permissions",
        "attributes": {"created": "2018-10-19T15:35:23.734317Z", "description": "Deprecated.
        Privileged Access (also known as Admin permission) has been replaced by more
        specific permissions: Access Management, Org Management, Billing Read/Write,
        Usage Read/Write.", "display_name": "Privileged Access", "display_type": "other",
        "group_name": "General", "name": "admin", "restricted": false}}, {"id": "984d2f00-d3b4-11e8-a200-bb47109e9987",
        "type": "permissions", "attributes": {"created": "2018-10-19T15:35:23.756736Z",
        "description": "Deprecated. Standard Access has been replaced by more specific
        permissions.", "display_name": "Standard Access", "display_type": "other",
        "group_name": "General", "name": "standard", "restricted": false}}, {"id":
        "5e605652-dd12-11e8-9e53-375565b8970e", "type": "permissions", "attributes":
        {"created[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/team/65f966e4-4189-4b52-bff1-ba5f7e572b73
  response:
    body:
      string: '{"data": {"type": "team", "id": "65f966e4-4189-4b52-bff1-ba5f7e572b73",
        "attributes": {"name": "Example team", "summary": "This is the description
        of a team", "user_count": 1, "created_at": "2024-02-08T18:49:25.906368+00:00",
        "handle": "example-team", "description": "This is the description of a team",
        "link_count": 0, "modified_at": "2024-02-08T18:49:25.906373+00:00"}, "relationships":
        {"team_links": {"links": {"related": "/api/v2/team/65f966e4-4189-4b52-bff1-ba5f7e572b73/links"}},
        "user_team_permissions": {"links": {"related": "/api/v2/team/65f966e4-4189-4b52-bff1-ba5f7e572b73/permission-settings"}}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles/fa017a37-bfcb-11eb-a4d7-da7ad0900002
  response:
    body:
      string: '{"data": {"id": "fa017a37-bfcb-11eb-a4d7-da7ad0900002", "type": "roles",
        "attributes": {"created_at": "2021-05-28T15:47:16.084615Z", "modified_at":
        "2021-05-28T15:47:16.084615Z", "name": "Datadog Read Only Role", "user_count":
        1}, "relationships": {"permissions": {"data": [{"id": "5e605652-dd12-11e8-9e53-375565b8970e",
        "type": "permissions"}, {"id": "6f66600e-dd12-11e8-9e55-7f30fbb45e73", "type":
        "permissions"}, {"id": "d90f6830-d3d8-11e9-a77a-b3404e5e9ee2", "type": "permissions"},
        {"id": "4441648c-d8b1-11e9-a77a-1b899a04b304", "type": "permissions"}, {"id":
        "1af86ce4-7823-11ea-93dc-d7cad1b1c6cb", "type": "permissions"}, {"id": "b382b982-8535-11ea-93de-2bf1bdf20798",
        "type": "permissions"}, {"id": "7314eb20-aa58-1[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/team?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [], "meta": {"pagination": {"number": 0, "first_number": 0,
        "prev_number": 0, "next_number": 1, "last_number": 0, "size": 100, "type":
        "number_size", "total": 0}}, "links": {"self": "https://api.datadoghq.eu/api/v2/team?page%5Bnumber%5D=0&page%5Bsize%5D=100",
        "last": null, "next": "https://api.datadoghq.eu/api/v2/team?page[number]=1&page[size]=100",
        "prev": null, "first": "https://api.datadoghq.eu/api/v2/team?page[number]=0&page[size]=100"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "roles", "id": "3cdfc26c-9e99-11ee-8e21-da7ad0900005",
        "attributes": {"name": "Datadog Admin Role", "created_at": "2023-12-19T18:05:48.353537+00:00",
        "modified_at": "2024-04-23T17:01:36.800152+00:00", "user_count": 4}, "relationships":
       [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/permissions
  response:
    body:
      string: '{"data": [{"id": "f1624684-d87d-11e8-acac-efb4dbffab1c", "type": "permissions",
        "attributes": {"created": "2018-10-25T17:46:46.704903Z", "description": "Deprecated.
        Privileged Access (also known as Admin permission) has been replaced by more
        specific permissions: Access Management, Org[...]
- request:
    body: '{"data": {"type": "team", "attributes": {"name": "Example team", "handle":
      "example-team", "description": "This is the description of a team"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/team
  response:
    body:
      string: '{"data": {"type": "team", "id": "51fa54f0-d4db-49d4-bc56-523647fd352b",
        "attributes": {"name": "Example team", "handle": "example-team", "summary":
        "This is the description of a team", "description": "This is the description
        of a team", "avatar": null, "banner": 2, "visible_modules": [], "hidden_modules":
        [], "created_at": "2024-06-14T17:40:02.726276+00:00", "modified_at": "2024-06-14T17:40:02.726288+00:00",
        "user_count": 0, "link_count": 0}, "relationships": {"team_links": {"links":
        {"related": "/api/v2/team/51fa54f0-d4db-49d4-bc56-523647fd352b/links"}}, "user_team_permissions":
        {"links": {"related": "/api/v2/team/51fa54f0-d4db-49d4-bc56-523647fd352b/permission-settings"}}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "Datadog Read Only Role"},
      "relationships": {"permissions": {"data": [{"id": "4fbb1652-dd15-11e8-9308-77be61fbb2c7",
      "type": "permissions"}, {"id": "4fbeec96-dd15-11e8-9308-d3aac44f93e5", "type":
      "permissions"}, {"id": "2147a4f0-d3d9-11e9-a614-83d5d3c791ee", "type": "permissions"},
      {"id": "c898551e-d8b2-11e9-a336-e3a79c23bd8d", "type": "permissions"}, {"id":
      "bfafd0ce-7823-11ea-9689-c3e5118805ee[...]
- request:
    body: '{"data": {"type": "authn_mappings", "attributes": {"attribute_key": "Member-of",
      "attribute_value": "TestOrgFoo"}, "relationships": {"team": {"data": {"type":
      "team", "id": "51fa54f0-d4db-49d4-bc56-523647fd352b"}}}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/authn_mappings
  response:
    body:
      string: '{"data": {"type": "authn_mappings", "id": "214e8a66-2a75-11ef-9113-da7ad0900005",
        "attributes": {"saml_assertion_attribute_id": "36907", "attribute_key": "Member-of",
        "attribute_value": "TestOrgFoo", "created_at": "2024-06-14T17:40:03.009631+00:00",
        "modified_at": "2024-06-14T17:40:03.009631+00:00"}, "relationships": {"saml_assertion_attribute":
        {"data": {"type": "saml_assertion_attributes", "id": "36907"}}, "role": {"data":
        null}, "team": {"data": {"type": "team", "id": "51fa54f0-d4db-49d4-bc56-523647fd352b"}}}},
        "included": [{"type": "saml_assertion_attributes", "id": "36907", "attributes":
        {"attribute_key": "Member-of", "attribute_value": "TestOrgFoo"}}, {"type":
        "team", "id": "51fa54f0-d4db-49d4-bc56-523647fd352b", "attributes": {"name":
        "Example team", "handle": "example-team", "summary": "This is the description
        of a team", "avatar": null, "banner": 2, "user_count": 0, "link_count": 0,
        "is_open_membership": true, "handles": ["example-team"]}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
