interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "authn_mappings", "attributes": {"attribute_key": "Member-of",
      "attribute_value": "TestOrgFooBarupdated"}, "relationships": {"role": {"data":
      {"type": "roles", "id": "213a44d4-2a75-11ef-9f66-da7ad0900005"}}}, "id": "2158979a-2a75-11ef-b6cb-da7ad0900005"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.eu/api/v2/authn_mappings/2158979a-2a75-11ef-b6cb-da7ad0900005
  response:
    body:
      string: '{"data": {"type": "authn_mappings", "id": "2158979a-2a75-11ef-b6cb-da7ad0900005",
        "attributes": {"saml_assertion_attribute_id": "36921", "attribute_key": "Member-of",
        "attribute_value": "TestOrgFooBarupdated", "created_at": "2024-06-14T17:40:03.076111+00:00",
        "modified_at": "2024-06-14T17:40:03.299775+00:00"}, "relationships": {"saml_assertion_attribute":
        {"data": {"type": "saml_assertion_attributes", "id": "36921"}}, "role": {"data":
        {"type": "roles", "id": "213a44d4-2a75-11ef-9f66-da7ad0900005"}}, "team":
        {"data": null}}}, "included": [{"type": "saml_assertion_attributes", "id":
        "36921", "attributes": {"attribute_key": "Member-of", "attribute_value": "TestOrgFooBarupdated"}},
        {"type": "roles", "id": "213a44d4-2a75-11ef-9f66-da7ad0900005", "attributes":
        {"name": "Datadog Read Only Role", "created_at": "2024-06-14T17:40:02.876918+00:00",
        "modified_at": "2024-06-14T17:40:02.877733+00:00"}, "relationships": {"permissions":
        {"data": [{"type": "permissions", "id": "4fbb1652-dd15-11e8-9308-77be61fbb2c7"},
        {"type": "permissions", "id": "4fbeec96-dd15-11e8-9308-d3aac44f93e5"}, {"type":
        "permissions", "id": "2147a4f0-d3d9-11e9-a614-83d5d3c791ee"}, {"type": "permissions",
        "id": "c898551e-d8b2-11e9-a336-e3a79c23bd8d"}, {"type": "permissions", "id":
        "bfafd0ce-7823-11ea-9689-c3e5118805ee"}, {"type": "permissions", "id": "5de1e178-8536-11ea-968a-2fd9395bff90"},
        {"type": "permi[...]
[...]
- request:
    body: '{"data": {"type": "authn_mappings", "attributes": {"attribute_key": "Member-of",
      "attribute_value": "TestOrgFooupdated"}, "relationships": {"team": {"data":
      {"type": "team", "id": "51fa54f0-d4db-49d4-bc56-523647fd352b"}}}, "id": "214e8a66-2a75-11ef-9113-da7ad0900005"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.eu/api/v2/authn_mappings/214e8a66-2a75-11ef-9113-da7ad0900005
  response:
    body:
      string: '{"data": {"type": "authn_mappings", "id": "214e8a66-2a75-11ef-9113-da7ad0900005",
        "attributes": {"saml_assertion_attribute_id": "36920", "attribute_key": "Member-of",
        "attribute_value": "TestOrgFooupdated", "created_at": "2024-06-14T17:40:03.009631+00:00",
        "modified_at": "2024-06-14T17:40:03.299764+00:00"}, "relationships": {"saml_assertion_attribute":
        {"data": {"type": "saml_assertion_attributes", "id": "36920"}}, "role": {"data":
        null}, "team": {"data": {"type": "team", "id": "51fa54f0-d4db-49d4-bc56-523647fd352b"}}}},
        "included": [{"type": "saml_assertion_attributes", "id": "36920", "attributes":
        {"attribute_key": "Member-of", "attribute_value": "TestOrgFooupdated"}}, {"type":
        "team", "id": "51fa54f0-d4db-49d4-bc56-523647fd352b", "attributes": {"name":
        "Example team", "handle": "example-team", "summary": "This is the description
        of a team", "avatar": null, "banner": 2, "user_count": 0, "link_count": 0,
        "is_open_membership": true, "handles": ["example-team"]}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
