interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/authn_mappings?page%5Bnumber%5D=0&page%5Bsize%5D=100&resource_type=role
  response:
    body:
      string: '{"data": [{"type": "authn_mappings", "id": "423368a4-956a-11ef-b92a-da7ad0900005",
        "attributes": {"saml_assertion_attribute_id": "44594", "attribute_key": "name",
        "attribute_value": "michael", "created_at": "2024-10-28T20:21:48.149983+00:00",
        "modified_at": "2024-10-28T20:21:48.149983+00:00"}, "relationships": {"saml_assertion_attribute":
        {"data": {"type": "saml_assertion_attributes", "id": "44594"}}, "role": {"data":
        {"type": "roles", "id": "693fe720-9569-11ef-969d-da7ad0900005"}}, "team":
        {"data": null}}}], "included": [{"type": "saml_assertion_attributes", "id":
        "44594", "attributes": {"attribute_key": "name", "attribute_value": "michael"}},
        {"type": "roles", "id": "693fe720-9569-11ef-969d-da7ad0900005", "attributes":
        {"name": "Copy of Datadog Admin Role", "managed": false, "created_at": "2024-10-28T20:15:44.156681+00:00",
        "modified_at": "2024-10-28T20:15:44.167199+00:00"}, "relationships": {"permissions":
        {"data": [{"type": "permissions", "id": "4fbb1652-dd15-11e8-9308-77be61fbb2c7"},
        {"type": "permissions", "id": "4fbd1e66-dd15-11e8-9308-53cb90e4ef1c"}, {"type":
        "permissions", "id": "4fbeec96-dd15-11e8-9308-d3aac44f93e5"}, {"type": "permissions",
        "id": "4fc2807c-dd15-11e8-9308-d3bfffb7f039"}, {"type": "permissions", "id":
        "4fc43656-dd15-11e8-9308-f3e2bb5e31b4"}, {"type": "permissions", "id": "505f4538-dd15-11e8-9308-47a4732f715f"},
        {"type": "permi[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/authn_mappings?page%5Bnumber%5D=0&page%5Bsize%5D=100&resource_type=team
  response:
    body:
      string: '{"data": [], "meta": {"page": {"total_count": 0, "total_filtered_count":
        0}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730472155, "value":
      1}], "tags": ["id:423368a4-956a-11ef-b92a-da7ad0900005", "action_type:import",
      "status:success", "resource_type:authn_mappings", "client_type:destination"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730472155, "value":
      1}], "tags": ["id:423368a4-956a-11ef-b92a-da7ad0900005", "action_type:import",
      "status:success", "resource_type:authn_mappings", "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
