interactions:
- request:
    body: '{"is_enabled": true, "name": "Test pipeline", "filter": {"query": "test:query"},
      "processors": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/logs/config/pipelines
  response:
    body:
      string: '{"is_enabled": true, "name": "Test pipeline", "filter": {"query": "test:query"},
        "is_read_only": false, "type": "pipeline", "id": "DsN318TrS1CgwWrtXrMd-A",
        "processors": []}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"is_enabled": true, "name": "Test Pipeline - Complex", "filter": {"query":
      "source:foo"}, "processors": [{"is_enabled": true, "name": "sample arithmetic
      processor", "expression": "(time1 - time2)*1000", "is_replace_missing": true,
      "type": "arithmetic-processor", "target": "my_arithmetic"}, {"is_enabled": true,
      "override_on_conflict": false, "target": "db", "target_format": "string", "source_type":
      "tag", "target_type": "attribute", "sources": ["db.instance"], "preserve_source":
      true, "type": "attribute-remapper", "name": "sample attribute processor"}, {"is_enabled":
      true, "type": "category-processor", "name": "sample category processor", "categories":
      [{"filter": {"query": "@severity: \".\""}, "name": "debug"}, {"filter": {"query":
      "@severity: \"-\""}, "name": "verbose"}], "target": "foo.severity"}, {"is_enabled":
      true, "sources": ["_timestamp", "published_date"], "type": "date-remapper",
      "name": "sample date remapper"}, {"is_enabled": true, "ip_processing_behavior":
      "do-nothing", "name": "sample geo ip parser", "sources": ["network.client.ip"],
      "type": "geo-ip-parser", "target": "network.client.geoip"}, {"is_enabled": true,
      "grok": {"support_rules": "", "match_rules": "Rule %{word:my_word2} %{number:my_float2}"},
      "name": "sample grok parser", "source": "message", "samples": ["sample log 1"],
      "type": "grok-parser"}, {"is_enabled": true, "name": "sample lookup processor",
      "source": "service_id", "lookup_table": ["1,my service"], "default_lookup":
      "unknown service", "type": "lookup-processor", "target": "service_name"}, {"is_enabled":
      true, "sources": ["msg"], "type": "message-remapper", "name": "sample message
      remapper"}, {"is_enabled": true, "filter": {"query": "source:foo"}, "type":
      "pipeline", "name": "nested pipeline", "processors": [{"is_enabled": false,
      "name": "sample url parser", "sources": ["url", "extra"], "target": "http_url",
      "type": "url-parser", "normalize_ending_slashes": true}]}, {"is_enabled": true,
      "sources": ["service"], "type": "service-remapper", "name": "sample service
      remapper"}, {"is_enabled": true, "sources": ["info", "trace"], "type": "status-remapper",
      "name": "sample status remapper"}, {"is_enabled": true, "name": "sample string
      builder processor", "is_replace_missing": false, "template": "%{user.name} logged
      in at %{timestamp}", "type": "string-builder-processor", "target": "user_activity"},
      {"is_enabled": true, "sources": ["dd.trace_id"], "type": "trace-id-remapper",
      "name": "sample trace id remapper"}, {"is_enabled": true, "name": "sample user
      agent parser", "sources": ["user", "agent"], "is_encoded": false, "type": "user-agent-parser",
      "target": "http_agent"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/logs/config/pipelines
  response:
    body:
      string: '{"is_enabled": true, "name": "Test Pipeline - Complex", "filter": {"query":
        "source:foo"}, "is_read_only": false, "type": "pipeline", "id": "gLUa-gsUR2uXs4e_PVLZlg",
        "processors": [{"is_enabled": true, "name": "sample arithmetic processor"[...]
