interactions:
- request:
    body: '{"name": "Test pipelineUpdated", "is_enabled": true, "filter": {"query":
      "test:query"}, "processors": []}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/logs/config/pipelines/V6Nwyv9rRSGlpulb9WcClw
  response:
    body:
      string: '{"id": "V6Nwyv9rRSGlpulb9WcClw", "type": "pipeline", "name": "Test
        pipelineUpdated", "is_enabled": true, "is_read_only": false, "filter": {"query":
        "test:query"}, "processors": []}'
    headers:
      content-disposition:
      - inline
      content-type:
      - application/json;charset=utf-8
      x-ratelimit-limit:
      - '10'
      x-ratelimit-period:
      - '300'
      x-ratelimit-remaining:
      - '7'
      x-ratelimit-reset:
      - '209'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Test Pipeline - ComplexUpdated", "is_enabled": true, "filter":
      {"query": "source:foo"}, "processors": [{"name": "sample arithmetic processor",
      "is_enabled": true, "expression": "(time1 - time2)*1000", "target": "my_arithmetic",
      "is_replace_missing": true, "type": "arithmetic-processor"}, {"name": "sample
      attribute processor", "is_enabled": true, "sources": ["db.instance"], "source_type":
      "tag", "target": "db", "target_type": "attribute", "target_format": "string",
      "preserve_source": true, "override_on_conflict": false, "type": "attribute-remapper"},
      {"name": "sample category processor", "is_enabled": true, "categories": [{"filter":
      {"query": "@severity: \".\""}, "name": "debug"}, {"filter": {"query": "@severity:
      \"-\""}, "name": "verbose"}], "target": "foo.severity", "type": "category-processor"},
      {"name": "sample date remapper", "is_enabled": true, "sources": ["_timestamp",
      "published_date"], "type": "date-remapper"}, {"name": "sample geo ip parser",
      "is_enabled": true, "sources": ["network.client.ip"], "target": "network.client.geoip",
      "ip_processing_behavior": "do-nothing", "type": "geo-ip-parser"}, {"name": "sample
      grok parser", "is_enabled": true, "source": "message", "samples": ["sample log
      1"], "grok": {"support_rules": "", "match_rules": "Rule %{word:my_word2} %{number:my_float2}"},
      "type": "grok-parser"}, {"name": "sample lookup processor", "is_enabled": true,
      "source": "service_id", "target": "service_name", "lookup_table": ["1,my service"],
      "default_lookup": "unknown service", "type": "lookup-processor"}, {"name": "sample
      message remapper", "is_enabled": true, "sources": ["msg"], "type": "message-remapper"},
      {"type": "pipeline", "name": "nested pipeline", "is_enabled": true, "filter":
      {"query": "source:foo"}, "processors": [{"name": "sample url parser", "is_enabled":
      false, "sources": ["url", "extra"], "target": "http_url", "normalize_ending_slashes":
      true, "type": "url-parser"}]}, {"name": "sample service remapper", "is_enabled":
      true, "sources": ["service"], "type": "service-remapper"}, {"name": "sample
      status remapper", "is_enabled": true, "sources": ["info", "trace"], "type":
      "status-remapper"}, {"name": "sample string builder processor", "is_enabled":
      true, "template": "%{user.name} logged in at %{timestamp}", "target": "user_activity",
      "is_replace_missing": false, "type": "string-builder-processor"}, {"name": "sample
      trace id remapper", "is_enabled": true, "sources": ["dd.trace_id"], "type":
      "trace-id-remapper"}, {"name": "sample user agent parser", "is_enabled": true,
      "sources": ["user", "agent"], "target": "http_agent", "is_encoded": false, "type":
      "user-agent-parser"}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/logs/config/pipelines/I_X82X4wTSKjHF1jjaXBlw
  response:
    body:
      string: '{"id": "I_X82X4wTSKjHF1jjaXBlw", "type": "pipeline", "name": "Test
        Pipeline - ComplexUpdated", "is_enabled": true, "is_read_only": false, "filter":
        {"query": "source:foo"}, "processors": [{"name": "sample arithmetic processor",
        "is_e[...]
