interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/apm/config/metrics
  response:
    body:
      string: '{"data": [{"id": "ExampleSpansMetricTwo", "attributes": {"filter":
        {"query": "@http.status_code:200 service:my-service"}, "group_by": [{"path":
        "resource_name", "tag_name": "resource_name"}], "compute": {"aggregation_type":
        "distribution", "path": "@duration", "include_percentiles": false}}, "type":
        "spans_metrics"}, {"id": "ExampleSpansMetric", "attributes": {"filter": {"query":
        "@http.status_code:200 service:my-service"}, "group_by": [{"path": "resource_name",
        "tag_name": "resource_name"}], "compute": {"aggregation_type": "distribution",
        "path": "@duration", "include_percentiles": false}}, "type": "spans_metrics"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
