interactions:
- request:
    body: '{"data": {"id": "ExampleSpansMetricTwo", "attributes": {"filter": {"query":
      "@http.status_code:200 service:my-serviceupdated"}, "group_by": [{"path": "resource_name",
      "tag_name": "resource_name"}], "compute": {"aggregation_type": "distribution",
      "path": "@duration", "include_percentiles": false}}, "type": "spans_metrics"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.eu/api/v2/apm/config/metrics/ExampleSpansMetricTwo
  response:
    body:
      string: '{"data": {"id": "ExampleSpansMetricTwo", "attributes": {"filter": {"query":
        "@http.status_code:200 service:my-serviceupdated"}, "group_by": [{"path":
        "resource_name", "tag_name": "resource_name"}], "compute": {"aggregation_type":
        "distribution", "path": "@duration", "include_percentiles": false}}, "type":
        "spans_metrics"}}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "ExampleSpansMetric", "attributes": {"filter": {"query":
      "@http.status_code:200 service:my-serviceupdated"}, "group_by": [{"path": "resource_name",
      "tag_name": "resource_name"}], "compute": {"aggregation_type": "distribution",
      "path": "@duration", "include_percentiles": false}}, "type": "spans_metrics"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.eu/api/v2/apm/config/metrics/ExampleSpansMetric
  response:
    body:
      string: '{"data": {"id": "ExampleSpansMetric", "attributes": {"filter": {"query":
        "@http.status_code:200 service:my-serviceupdated"}, "group_by": [{"path":
        "resource_name", "tag_name": "resource_name"}], "compute": {"aggregation_type":
        "distribution", "path": "@duration", "include_percentiles": false}}, "type":
        "spans_metrics"}}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
