interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"id": "ExampleSpansMetricTwo", "attributes": {"filter": {"query":
      "@http.status_code:200 service:my-service"}, "group_by": [{"path": "resource_name",
      "tag_name": "resource_name"}], "compute": {"aggregation_type": "distribution",
      "path": "@duration", "include_percentiles": false}}, "type": "spans_metrics"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/apm/config/metrics
  response:
    body:
      string: '{"data": {"id": "ExampleSpansMetricTwo", "attributes": {"filter": {"query":
        "@http.status_code:200 service:my-service"}, "group_by": [{"path": "resource_name",
        "tag_name": "resource_name"}], "compute": {"aggregation_type": "distribution",
        "path": "@duration", "include_percentiles": false}}, "type": "spans_metrics"}}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"id": "ExampleSpansMetric", "attributes": {"filter": {"query":
      "@http.status_code:200 service:my-service"}, "group_by": [{"path": "resource_name",
      "tag_name": "resource_name"}], "compute": {"aggregation_type": "distribution",
      "path": "@duration", "include_percentiles": false}}, "type": "spans_metrics"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/apm/config/metrics
  response:
    body:
      string: '{"data": {"id": "ExampleSpansMetric", "attributes": {"filter": {"query":
        "@http.status_code:200 service:my-service"}, "group_by": [{"path": "resource_name",
        "tag_name": "resource_name"}], "compute": {"aggregation_type": "distribution",
        "path": "@duration", "include_percentiles": false}}, "type": "spans_metrics"}}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
