interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/monitor
  response:
    body:
      string: '[{"restricted_roles":null,"tags":[],"deleted":null,"query":"avg(last_5m):avg:datadog.estimated_usage.hosts{*}
        > 50","message":"Test monitor ----------------","matching_downtimes":[],"id":36230659,"multi":false,"name":"Composite
        monitor - Child 2","created":"2021-05-30T08:43:37.940520+00:00","created_at":1622364217000,"creator":{"id":2781275,"handle":"sherzod.karimov@datadoghq.com","name":"Sherzod
        Karimov","email":"sherzod.karimov@datadoghq.com"},"org_id":569509,"modified":"2021-06-08T18:14:12.441535+00:00","priority":null,"overall_state_modified":"2021-05-30T08:45:28+00:00","overall_state":"OK","type":"metric
        alert","options":{"notify_audit":false,"locked":false,"timeout_h":0,"silenced":{},"include_tags":true,"no_data_timeframe":null,"require_full_window":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":0,"escalation_message":"","thresholds":{"critical":50.0}}},{"restricted_roles":null,"tags":[],"deleted":null,"query":"avg(last_5m):avg:dd.dialtone.historical.metrics{*}
        > 20","message":"Composite monitor - child 1","matching_downtimes":[],"id":36239262,"multi":false,"name":"Composite
        monitor - child 1","created":"2021-05-30T19:49:11.945913+00:00","created_at":1622404151000,"creator":{"id":2781275,"handle":"sherzod.karimov@datadoghq.com","name":"Sherzod
        Karimov","email":"sherzod.karimov@datadoghq.com"},"org_id":569509,"modified":"2021-06-08T18:13:33.317204+00:00","priority":null,"overall_state_modified":"2021-05-30T19:52:07+00:00","overall_state":"OK","type":"metric
        alert","options":{"notify_audit":false,"locked":false,"timeout_h":0,"silenced":{},"include_tags":true,"no_data_timeframe":null,"require_full_window":true,"new_host_delay":300,"notify_no_data":false,"renotify_interval":0,"escalation_message":"","thresholds":{"critical":20.0,"warning":10.0}}},{"restricted_roles":null,"tags":["probe_dc:aws:ca-central-1","check_type:api","check_status:paused"],"deleted":null,"query":"no_query","message":"Test
        synthetics","matching_downtimes":[],"id":36553487,"multi":false,"name":"[Synthetics]
        HTTP Test","created":"2021-06-03T13:00:40.386620+00:00","created_at":1622725240000,"creator":{"id":2781275,"handle":"sherzod.karimov@datadoghq.com","name":"Sherzod
        Karimov","email":"sherzod.karimov@datadoghq.com"},"org_id":569509,"m[...]
[...]
