interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables":[{"parse_test_options":null,"parse_test_extracted_at":null,"description":"test","tags":["check_type:api"],"created_at":"2021-06-03T18:18:16.703730+00:00","is_totp":null,"modified_at":"2021-06-03T18:36:04.287393+00:00","value":{"secure":false,"value":"TESTVALUELETSSEEdadsddsadsadadsadsad"},"parse_test_public_id":null,"parse_test_name":null,"created_by":"Sherzod
        Karimov","type":"variable","id":"7478e601-cbe3-4a7d-babf-d48702b6b833","name":"TEST_VARIABLE"},{"parse_test_options":null,"parse_test_extracted_at":null,"description":"Description
        of the variable","tags":["foo:bar","env:test"],"created_at":"2021-06-08T18:26:23.679434+00:00","is_totp":null,"modified_at":"2021-06-08T18:26:23.679434+00:00","value":{"secure":false,"value":"variable-value"},"parse_test_public_id":null,"parse_test_name":null,"created_by":"Sherzod
        Karimov","type":"variable","id":"7dfd62d2-e1bf-466d-b47b-f337d4a82877","name":"EXAMPLE_VARIABLE"},{"parse_test_options":null,"parse_test_extracted_at":null,"description":"test","tags":[],"created_at":"2021-06-03T18:38:06.646796+00:00","is_totp":null,"modified_at":"2021-06-03T18:38:06.646796+00:00","value":{"secure":false,"value":"test"},"parse_test_public_id":null,"parse_test_name":null,"created_by":"Sherzod
        Karimov","type":"variable","id":"971dc27b-9b1e-4d21-80f5-cbc6cb485e4f","name":"TEST"}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - l4HFlaRP3QwYSqoGKhzbYfv7zgkK63HIRR7YkyVYZspq0lGjjTBwoK8V/alf+XYt
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '11'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables":[]}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '11'
    status:
      code: 200
      message: OK
[...]
