interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/logs/config/pipelines
  response:
    body:
      string: '[{"id":"2r_tyuRBSjy83c1-WHOL3w","type":"pipeline","name":"Test pipeline
        1","is_enabled":true,"is_read_only":false,"filter":{"query":"source:foo"},"processors":[{"name":"sample
        arithmetic processor","is_enabled":true,"expression":"(time1 - time2)*1000","target":"my_arithmetic","is_replace_missing":true,"type":"arithmetic-processor"},{"name":"sample
        attribute processor","is_enabled":true,"sources":["db.instance"],"source_type":"tag","target":"db","target_type":"attribute","target_format":"string","preserve_source":true,"override_on_conflict":false,"type":"attribute-remapper"},{"name":"sample
        category processor","is_enabled":true,"categories":[{"filter":{"query":"@severity:
        \".\""},"name":"debug"},{"filter":{"query":"@severity: \"-\""},"name":"verbose"}],"target":"foo.severity","type":"category-processor"},{"name":"sample
        date remapper","is_enabled":true,"sources":["_timestamp","published_date"],"type":"date-remapper"},{"name":"sample
        geo ip parser","is_enabled":true,"sources":["network.client.ip"],"target":"network.client.geoip","ip_processing_behavior":"do-nothing","type":"geo-ip-parser"},{"name":"sample
        grok parser","is_enabled":true,"source":"message","samples":["sample log 1"],"grok":{"support_rules":"","match_rules":"Rule
        %{word:my_word2} %{number:my_float2}"},"type":"grok-parser"},{"name":"sample
        lookup processor","is_enabled":true,"source":"service_id","target":"service_name","lookup_table":["1,my
        service"],"default_lookup":"unknown service","type":"lookup-processor"},{"name":"sample
        message remapper","is_enabled":true,"sources":["msg"],"type":"message-remapper"},{"type":"pipeline","name":"nested
        pipeline","is_enabled":true,"filter":{"query":"source:foo"},"processors":[{"name":"sample
        url parser","is_enabled":false,"sources":["url","extra"],"target":"http_url","normalize_ending_slashes":true,"type":"url-parser"}]},{"name":"sample
        service remapper","is_enabled":true,"sources":["service"],"type":"service-remapper"},{"name":"sample
        status remapper","is_enabled":true,"sources":["info","trace"],"type":"status-remapper"},{"name":"sample
        string builder processor","is_enabled":true,"template":"%{user.name} logged
        in at %{timestamp}","target":"user_activity","is_replace_missing":false,"type":"string-builder-processor"},{"name":"sample
        trace id remapper","is_enabled":true,"sources":["dd.trace_id"],"type":"trace-id-remapper"},{"name":"sample
        user agent parser","is_enabled":true,"sources":["user","agent"],"target":"http_agent","is_encoded":false,"type":"user-agent-parser"}]},{"id":"Rvk36Rj0SJizOBX_N24BSQ","type":"pipeline","name":"Test
        pipeline 2","is_enabled":true,"is_read_only":false,"filter":{"query":"test:query"},"processors":[{"name":"Grok
        Parser","is_enabled":true,"source":"message","samples":[],"grok":{"support_rules":"","match_rules":"rule
        %{word:word}"},"type":"grok-parser"},{"name":"","is_enabled":true,"sources":["test"],"type":"date-remapper"}]},{"id":"r8HoEOozRHO0zlyT90brLw","type":"pipeline","n[...]
- request:
    body: '{"name": "Test pipeline 1", "is_enabled": true, "filter": {"query": "source:foo"},
      "processors": [{"name": "sample arithmetic processor", "is_enabled": true, "expression":
      "(time1 - time2)*1000", "target": "my_arithmetic", "is_replace_missing": true,
      "type": "arithmetic-processor"}, {"name": "sample attribute processor", "is_enabled":
      true, "sources": ["db.instance"], "source_type": "tag", "target": "db", "target_type":
      "attribute", "target_for[...]
[...]
- request:
    body: '{"name": "Test pipeline 3", "is_enabled": true, "filter": {"query": "tes1232113"},
      "processors": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/logs/config/pipelines
  response:
    body:
      string: "\n\n\n<!DOCTYPE html>\n<!--\n______  _______ _______ _______ ______
        \  _____   ______\n|     \\ |_____|    |    |_____| |     \\ |     | |  ____\n|_____/
        |     |    |    |     | |_____/ |_____| |_____|\n\n\n73xAbt7vKNoHwucdCiybP+qB5bADQ/WPQX9UjAs2fspI+PfejC1JE3+zqj/Mdj26ziV0cJSedXg6vvyJcTexTqL+jb9yefc4u3NEQ07D+wo2NRnFKE5xWjLhezKA39OHeNznOFAlHIhAw7i7Stbvov8QT0kSy82RajRCeCA4849lM2n0euwReFVkRAYrzmIaT++vAXYPAL9JI9bptCwCHJid6CB2goP+3C0HRePdlWSZoKvfS6ixp0Vjq0lZ3MAHNO/JdrAZAyo8dycyfM9X3UEAwI+5tMLkpWUwGwoENKiaO3+rHtcMjpiNE93Lt+CffqG7LcIEUbST7wQMQxY/5WUSlDgMl+YpM9iaPtO1mMc4lNqvqVszh/+vxlPySjLgZ6xBUeBUFMJJ2K03gBS9VwfIGsde3f5/OjQsLhmMEqwX+DPk7GekiUEFEN1fPg4gkUe38lGUFNgZq5SZjDSc\n\n\n-->\n<html>\n
        \   <head>\n        <meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1\">\n        <style>\n            @viewport {\n                width:
        device-width;\n                initial-scale: 1;\n            }\n            body
        { padding: 1px; }\n\n            body.dark-mode picture.mako_picture img.mako_picture_light
        {\n                display: none;\n            }\n            body:not(.dark-mode)
        picture.mako_picture img.mako_picture_dark {\n                display: none;\n
        \           }\n\n            img.mako_picture_dark {\n                filter:
        brightness(76%);\n            }\n        </style>\n        <title>\n          \n
        \ Error 429 | Datadog\n |\n        Datadog\n        </title>\n        <link
        crossorigin=\"anonymous\" href=\"https://static.datadoghq.eu/static/v/35.4907878/js/react-core.min.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\" />\n        \n        \n
        \       \n        \n    </head>\n    <body class=\"\n\">\n        \n\n\n\n<div
        class=\"error_page clearfix\">\n  <div class=\"error_img\">\n    <picture
        class=\"mako_picture\">\n      <img alt=\"Sad Datadog Logo\" class=\"mako_picture_light\"
        src=\"https://static.datadoghq.eu/static/v/35.4907878/js/sad-bits.svg\" width=\"276\"
        height=\"295\" />\n      <img alt=\"Sad Datadog Logo\" class=\"mako_picture_dark\"
        src=\"https://static.datadoghq.eu/static/v/35.4907878/js/sad-bits_reversed.svg\"
        width=\"276\" height=\"295\" />\n    </picture>\n  </div>\n  <div class=\"error_msg\">\n
        \   <p class=\"text-contrast-80 text-displayface\" style=\"margin: 0 0 0;
        font-size: 96px; font-weight: bold; line-height: 1;\">Arf.</p>\n    <h1 style=\"font-size:
        48px; line-height: 1;\">429 Too Many Requests</h1>\n    <ul>\n      <li class=\"live-status\"
        id=\"error-status\"></li>\n      <li><a href=\"/\">Datadog Homepage &rarr;</a></li>\n
        \     <li><a href=\"https://docs.datadoghq.com/help/\">Datadog Help &rarr;</a></li>\n
        \     <li><a href=\"/account/settings\">Datadog Setup Basics &rarr;</a></li>\n
        \   </ul>\n  </div>\n</div>\n\n<!--page--></div>\n\n\n\n\n\n        <script>\n
        \           window.DD_version=\"35.4907878\";\n        </script>\n\n        \n\n<!--
        DD JS -->\n\n<div style=\"display: none;\"><input id=\"config-init\" name=\"config-init\"
        type=\"hidden\" value=\"{&#34;browser_email.domain&#34;: &#34;synthetics.dtdg.eu&#34;,
        &#34;watchdog.default_shadow_pipeline&#34;: null, &#34;alerting.count_over_count_validation_min_id&#34;:
        241422, &#34;backoff&#34;: {&#34;active&#34;: false}, &#34;visualizations.distribution_series_query_limit&#34;:
        120000, &#34;browser_sdk&#34;: {&#34;logs&#34;: {&#34;bundle_url&#34;: &#34;https://www.datadoghq-browser-agent.com/datadog-[...]
[...]
