interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"meta": {"page": {"total_filtered_count": 3, "total_count": 3}}, "data":
        [{"type": "roles", "id": "fa017a35-bfcb-11eb-a4d7-da7ad0900002", "attributes":
        {"name": "Datadog Admin Role", "created_at": "2021-05-28T15:47:15.884751+00:00",
        "modified_at": "2021-05-28T15:47:15.884751+00:00", "user_count": 3}, "relationships":
        {"permissions": {"data": [{"type": "permissions", "id": "984a2bd4-d3b4-11e8-a1ff-a7f660d43029"},
        {"type": "permissions", "id": "62cc036c-dd12-11e8-9e54-db9995643092"}, {"type":
        "permissions", "id": "6f66600e-dd12-11e8-9e55-7f30fbb45e73"}, {"type": "permissions",
        "id": "811ac4ca-dd12-11e8-9e57-676a7f0beef9"}, {"type": "permissions", "id":
        "87b00304-dd12-11e8-9e59-cbeb5f71f72f"}, {"type": "permissions", "id": "1a92ede2-6cb2-11e9-99c6-2b3a4a0cdf0a"},
        {"type": "permissions",[...]
[...]
