interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual
  response:
    body:
      string: '{"dashboard_lists":[{"is_favorite":false,"name":"Test list","dashboard_count":3,"author":{"handle":"sherzod.karimov@datadoghq.com","name":"Sherzod
        Karimov"},"created":"2021-06-14T20:10:23.247584+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-06-24T20:13:00.657023+00:00","id":213585}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - l8RQo2maZqJf6GFThBbKNE6dvthz6njusVtau3dPXJWL2RLFoN81H+BLPB/1xgs1
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/dashboard/lists/manual/213585/dashboards
  response:
    body:
      string: '{"total":3,"dashboards":[{"popularity":5,"title":"Timeboard Tue, Jun
        1, 4:18:57 pm","is_favorite":false,"id":"euw-cp8-hy6","icon":null,"integration_id":null,"is_shared":false,"author":{"handle":"sherzod.karimov@datadoghq.com","name":"Sherzod
        Karimov"},"url":"/dashboard/euw-cp8-hy6/timeboard-tue-jun-1-41857-pm","created":"2021-06-01T20:18:57.486260+00:00","modified":"2021-06-21T17:24:39.527924+00:00","is_read_only":false,"type":"custom_timeboard"},{"popularity":4,"title":"Test
        screenboard","is_favorite":false,"id":"dns-jst-h98","icon":null,"integration_id":null,"is_shared":false,"author":{"handle":"sherzod.karimov@datadoghq.com","name":"Sherzod
        Karimov"},"url":"/dashboard/dns-jst-h98/test-screenboard","created":"2021-06-08T18:26:23.515662+00:00","modified":"2021-06-22T19:35:38.981348+00:00","is_read_only":false,"type":"custom_screenboard"},{"popularity":2,"title":"Tes
        timeboard","is_favorite":false,"id":"f5i-gz8-yb4","icon":null,"integration_id":null,"is_shared":false,"author":{"handle":"sherzod.karimov@datadoghq.com","name":"Sherzod
        Karimov"},"url":"/dashboard/f5i-gz8-yb4/tes-timeboard","created":"2021-06-08T18:26:23.830557+00:00","modified":"2021-06-28T10:05:41.764151+00:00","is_read_only":true,"type":"custom_timeboard"}]}'
    headers:
      Content-Type:
      - application/json
      x-dd-debug:
      - PhosSd3Ch1B6B0DXI71steKUi7XhPDttnPiIP1NdXTw0VJNWpoUnYyBmODS5ne3q
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Test list"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/dashboard/lists/manual
  response:
    body:
      string: '{"is_favorite":false,"name":"Test list","dashboard_count":0,"author":{"handle":"frog@datadoghq.com","name":null},"created":"2021-07-07T15:59:35.786338+00:00","type":"manual_dashboard_list","dashboards":null,"modified":"2021-07-07T15:59:35.786382+00:00","id":9940}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"dashboards": [{"id": "ety-5y5-rdc", "type": "custom_timeboard"}, {"id":
      "y3d-tfy-apn", "type": "custom_screenboard"}, {"id": "57d-hv2-jrc", "type":
      "custom_timeboard"}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v2/dashboard/lists/manual/9940/dashboards
  response:
    body:
      string: '{"dashboards":[{"type":"custom_timeboard","id":"ety-5y5-rdc"},{"type":"custom_screenboard","id":"y3d-tfy-apn"},{"type":"custom_timeboard","id":"57d-hv2-jrc"}]}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
