interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/metrics?filter%5Bconfigured%5D=false&window%5Bseconds%5D=1209600
  response:
    body:
      string: '{"data": [{"type": "metrics", "id": "datadog.estimated_usage.events.ingested_events"},
        {"type": "metrics", "id": "datadog.estimated_usage.metrics.custom"}, {"type":
        "metrics", "id": "datadog.estimated_usage.metrics.custom.by_metric"}, {"typ[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/datadog.estimated_usage.events.ingested_events
  response:
    body:
      string: '{"description": null, "short_name": null, "type": null, "unit": null,
        "per_unit": null, "statsd_interval": null, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/datadog.event.tracking.indexation.monresult.events
  response:
    body:
      string: '{"description": null, "short_name": null, "type": null, "unit": null,
        "per_unit": null, "statsd_interval": null, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/datadog.estimated_usage.synthetics.api_test_runs
  response:
    body:
      string: '{"description": "Estimated usage for API tests.", "short_name": "API
        tests est. usage", "type": "count", "unit": "run", "per_unit": null, "statsd_interval":
        null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/datadog.estimated_usage.metrics.custom.by_metric
  response:
    body:
      string: '{"description": null, "short_name": null, "type": "gauge", "unit":
        null, "per_unit": null, "statsd_interval": null, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/datadog.event.tracking.indexation.audit.events
  response:
    body:
      string: '{"description": null, "short_name": null, "type": null, "unit": null,
        "per_unit": null, "statsd_interval": null, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/datadog.event.tracking.intake.audit.bytes
  response:
    body:
      string: '{"description": null, "short_name": null, "type": null, "unit": null,
        "per_unit": null, "statsd_interval": null, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/datadog.estimated_usage.metrics.custom
  response:
    body:
      string: '{"description": null, "short_name": null, "type": "gauge", "unit":
        null, "per_unit": null, "statsd_interval": null, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/datadog.event.tracking.indexation.feed.events
  response:
    body:
      string: '{"description": null, "short_name": null, "type": null, "unit": null,
        "per_unit": null, "statsd_interval": null, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/datadog.event.tracking.intake.feed.bytes
  response:
    body:
      string: '{"description": null, "short_name": null, "type": null, "unit": null,
        "per_unit": null, "statsd_interval": null, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/datadog.estimated_usage.synthetics.browser_test_runs
  response:
    body:
      string: '{"description": "Estimated usage for browser tests.", "short_name":
        "Browser tests est. usage", "type": "count", "unit": "run", "per_unit": null,
        "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/datadog.event.tracking.intake.monresult.bytes
  response:
    body:
      string: '{"description": null, "short_name": null, "type": null, "unit": null,
        "per_unit": null, "statsd_interval": null, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/datadog.event.tracking.intake.synthetics.bytes
  response:
    body:
      string: '{"description": null, "short_name": null, "type": null, "unit": null,
        "per_unit": null, "statsd_interval": null, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/datadog.event.tracking.intakev2.audit.bytes
  response:
    body:
      string: '{"description": null, "short_name": null, "type": null, "unit": null,
        "per_unit": null, "statsd_interval": null, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/datadog.event.tracking.intakev2.synthetics.bytes
  response:
    body:
      string: '{"description": null, "short_name": null, "type": null, "unit": null,
        "per_unit": null, "statsd_interval": null, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.api.response
  response:
    body:
      string: '{"description": "The count of API responses we receive.", "short_name":
        "Response count", "type": "count", "unit": "request", "per_unit": null, "statsd_interval":
        null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/rand.test.metric
  response:
    body:
      string: '{"description": "This is a random metric value", "short_name": null,
        "type": "gauge", "unit": "instance", "per_unit": null, "statsd_interval":
        null, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.browser.number_of_buckets
  response:
    body:
      string: '{"description": "The number of buckets in a browser test. Every 25
        steps in a browser test is a single bucket.", "short_name": "Number of buckets",
        "type": "count", "unit": null, "per_unit": null, "statsd_interval": null,
        "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/datadog.event.tracking.intakev2.feed.bytes
  response:
    body:
      string: '{"description": null, "short_name": null, "type": null, "unit": null,
        "per_unit": null, "statsd_interval": null, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.browser.step.cumulative_layout_shift.distrib
  response:
    body:
      string: '{"description": "The Cumulative Layout Shift (core web vital) in a
        browser test step.", "short_name": "Step CLS", "type": "gauge", "unit": null,
        "per_unit": null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.browser.step.cumulative_layout_shift
  response:
    body:
      string: '{"description": "The Cumulative Layout Shift (core web vital) in a
        browser test step.", "short_name": "Step CLS", "type": "gauge", "unit": null,
        "per_unit": null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/datadog.event.tracking.intakev2.monresult.bytes
  response:
    body:
      string: '{"description": null, "short_name": null, "type": null, "unit": null,
        "per_unit": null, "statsd_interval": null, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.browser.step.duration
  response:
    body:
      string: '{"description": "The total time it took to execute a browser test step.",
        "short_name": "Step duration", "type": "gauge", "unit": "millisecond", "per_unit":
        null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.browser.step.duration.distrib
  response:
    body:
      string: '{"description": "The total time it took to execute a browser test step.",
        "short_name": "Step duration", "type": "gauge", "unit": "millisecond", "per_unit":
        null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.browser.time_to_interactive.distrib
  response:
    body:
      string: '{"description": "The time until a page can be interacted with. Calculated
        from the first page in a browser test.", "short_name": "Time to interactive",
        "type": "gauge", "unit": "millisecond", "per_unit": null, "statsd_interval":
        null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.browser.time_to_interactive
  response:
    body:
      string: '{"description": "The time until a page can be interacted with. Calculated
        from the first page in a browser test.", "short_name": "Time to interactive",
        "type": "gauge", "unit": "millisecond", "per_unit": null, "statsd_interval":
        null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.browser.step.largest_contentful_paint
  response:
    body:
      string: '{"description": "The Largest Contentful Paint (core web vital) in a
        browser test step.", "short_name": "Step LCP", "type": "gauge", "unit": "millisecond",
        "per_unit": null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.dns.response.time.distrib
  response:
    body:
      string: '{"description": "The overall time the request took to be processed.",
        "short_name": "Response time", "type": "gauge", "unit": "millisecond", "per_unit":
        null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.dns.response.time
  response:
    body:
      string: '{"description": "The overall time the request took to be processed.",
        "short_name": "Response time", "type": "gauge", "unit": "millisecond", "per_unit":
        null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.http.connect.time
  response:
    body:
      string: '{"description": "The time to establish the TCP connection to the server.",
        "short_name": "Connect time", "type": "gauge", "unit": "millisecond", "per_unit":
        null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.http.connect.time.distrib
  response:
    body:
      string: '{"description": "The time to establish the TCP connection to the server.",
        "short_name": "Connect time", "type": "gauge", "unit": "millisecond", "per_unit":
        null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.browser.step.largest_contentful_paint.distrib
  response:
    body:
      string: '{"description": "The Largest Contentful Paint (core web vital) in a
        browser test step.", "short_name": "Step LCP", "type": "gauge", "unit": "millisecond",
        "per_unit": null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.http.dns.time
  response:
    body:
      string: '{"description": "The time spent resolving the DNS name of the last
        request.", "short_name": "DNS time", "type": "gauge", "unit": "millisecond",
        "per_unit": null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.http.dns.time.distrib
  response:
    body:
      string: '{"description": "The time spent resolving the DNS name of the last
        request.", "short_name": "DNS time", "type": "gauge", "unit": "millisecond",
        "per_unit": null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.http.download.time.distrib
  response:
    body:
      string: '{"description": "The time spent downloading the response.", "short_name":
        "Download time", "type": "gauge", "unit": "millisecond", "per_unit": null,
        "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.http.response.size
  response:
    body:
      string: '{"description": "The size of the response in bytes.", "short_name":
        "Response size", "type": "gauge", "unit": "byte", "per_unit": null, "statsd_interval":
        null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.http.download.time
  response:
    body:
      string: '{"description": "The time spent downloading the response.", "short_name":
        "Download time", "type": "gauge", "unit": "millisecond", "per_unit": null,
        "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.http.firstbyte.time
  response:
    body:
      string: '{"description": "The time spent waiting for the first byte of response
        to be received.", "short_name": "TTFB", "type": "gauge", "unit": "millisecond",
        "per_unit": null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.http.response
  response:
    body:
      string: '{"description": "The count of HTTP responses we receive.", "short_name":
        "Response count", "type": "count", "unit": "request", "per_unit": null, "statsd_interval":
        null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.http.firstbyte.time.distrib
  response:
    body:
      string: '{"description": "The time spent waiting for the first byte of response
        to be received.", "short_name": "TTFB", "type": "gauge", "unit": "millisecond",
        "per_unit": null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.http.response.time.distrib
  response:
    body:
      string: '{"description": "The overall time the request took to be processed.",
        "short_name": "Response time", "type": "gauge", "unit": "millisecond", "per_unit":
        null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.http.response.time
  response:
    body:
      string: '{"description": "The overall time the request took to be processed.",
        "short_name": "Response time", "type": "gauge", "unit": "millisecond", "per_unit":
        null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.http.ssl.time
  response:
    body:
      string: '{"description": "The duration of the TLS handshake. This metric does
        not appear if the last request is not over HTTPS.", "short_name": "SSL time",
        "type": "gauge", "unit": "millisecond", "per_unit": null, "statsd_interval":
        null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.http.ssl.time.distrib
  response:
    body:
      string: '{"description": "The duration of the TLS handshake. This metric does
        not appear if the last request is not over HTTPS.", "short_name": "SSL time",
        "type": "gauge", "unit": "millisecond", "per_unit": null, "statsd_interval":
        null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.multi.response.time
  response:
    body:
      string: '{"description": "The overall time the multistep request took to be
        processed.", "short_name": "Response time", "type": "gauge", "unit": "millisecond",
        "per_unit": null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.ssl.response
  response:
    body:
      string: '{"description": "The count of SSL responses we receive.", "short_name":
        "Response count", "type": "count", "unit": "request", "per_unit": null, "statsd_interval":
        null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.ssl.handshake.time
  response:
    body:
      string: '{"description": "The duration of the TLS handshake.", "short_name":
        "TLS handshake time", "type": "gauge", "unit": "millisecond", "per_unit":
        null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.ssl.dns.time
  response:
    body:
      string: '{"description": "The duration of the DNS lookup.", "short_name": "DNS
        time", "type": "gauge", "unit": "millisecond", "per_unit": null, "statsd_interval":
        null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.ssl.response.time
  response:
    body:
      string: '{"description": "The overall time the request took to be processed.",
        "short_name": "Response time", "type": "gauge", "unit": "millisecond", "per_unit":
        null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.multi.response.time.distrib
  response:
    body:
      string: '{"description": "The overall time the multistep request took to be
        processed.", "short_name": "Response time", "type": "gauge", "unit": "millisecond",
        "per_unit": null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.tcp.dns.time
  response:
    body:
      string: '{"description": "The duration of the DNS lookup.", "short_name": "DNS
        time", "type": "gauge", "unit": "millisecond", "per_unit": null, "statsd_interval":
        null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.ssl.time_to_expiry
  response:
    body:
      string: '{"description": "The remaining time before the SSL certificate expires.",
        "short_name": "Remaining time before SSL certificate expiration", "type":
        "gauge", "unit": "minute", "per_unit": null, "statsd_interval": null, "integration":
        "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.ssl.response.time.distrib
  response:
    body:
      string: '{"description": "The overall time the request took to be processed.",
        "short_name": "Response time", "type": "gauge", "unit": "millisecond", "per_unit":
        null, "statsd_interval": null, "integration": "synthetics"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/metrics/synthetics.tcp.response.time
  response:
    body:
[...]
