interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.import.start", "type": 0, "points": [{"timestamp": 1740001524,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.import.start", "type": 0, "points": [{"timestamp": 1740001524,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/metrics?filter%5Bconfigured%5D=false&window%5Bseconds%5D=1209600
  response:
    body:
      string: '{"data": [{"type": "metrics", "id": "example_metric.histogram.95percentile"},
        {"type": "metrics", "id": "example_metric.histogram.avg"}, {"type": "metrics",
        "id": "example_metric.histogram.count"}, {"type": "metrics", "id": "example_metric.histogram.max"},
        {"type": "metrics", "id": "example_metric.histogram.median"}, {"type": "metrics",
        "id": "msr.distribution"}, {"type": "metrics", "id": "msr.gauge"}, {"type":
        "metrics", "id": "msr.histogram.75percentile"}, {"type": "metrics", "id":
        "msr.histogram.95percentile"}, {"type": "metrics", "id": "msr.histogram.avg"},
        {"type": "metrics", "id": "msr.histogram.count"}, {"type": "metrics", "id":
        "msr.histogram.max"}, {"type": "metrics", "id": "msr.histogram.median"}, {"type":
        "metrics", "id": "msr.increment"}, {"type": "metrics", "id": "msr.other_distribution"},
        {"type": "metrics", "id": "test"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/metrics/example_metric.histogram.95percentile
  response:
    body:
      string: '{"description": null, "short_name": null, "type": "gauge", "unit":
        null, "per_unit": null, "statsd_interval": 10, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/metrics/example_metric.histogram.max
  response:
    body:
      string: '{"description": null, "short_name": null, "type": "gauge", "unit":
        null, "per_unit": null, "statsd_interval": 10, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/metrics/example_metric.histogram.avg
  response:
    body:
      string: '{"description": null, "short_name": null, "type": "gauge", "unit":
        null, "per_unit": null, "statsd_interval": 10, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/metrics/msr.histogram.75percentile
  response:
    body:
      string: '{"description": null, "short_name": null, "type": "gauge", "unit":
        null, "per_unit": null, "statsd_interval": 10, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/metrics/msr.gauge
  response:
    body:
      string: '{"description": "Does this count as a configuration?", "short_name":
        "", "type": "gauge", "unit": null, "per_unit": null, "statsd_interval": 10,
        "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/metrics/example_metric.histogram.count
  response:
    body:
      string: '{"description": null, "short_name": null, "type": "rate", "unit": null,
        "per_unit": null, "statsd_interval": 10, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/metrics/example_metric.histogram.median
  response:
    body:
      string: '{"description": null, "short_name": null, "type": "gauge", "unit":
        null, "per_unit": null, "statsd_interval": 10, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/metrics/msr.histogram.avg
  response:
    body:
      string: '{"description": null, "short_name": null, "type": "gauge", "unit":
        null, "per_unit": null, "statsd_interval": 10, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/metrics/msr.distribution
  response:
    body:
      string: '{"description": null, "short_name": null, "type": null, "unit": null,
        "per_unit": null, "statsd_interval": null, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/metrics/msr.histogram.count
  response:
    body:
      string: '{"description": null, "short_name": null, "type": "rate", "unit": null,
        "per_unit": null, "statsd_interval": 10, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/metrics/msr.histogram.max
  response:
    body:
      string: '{"description": null, "short_name": null, "type": "gauge", "unit":
        null, "per_unit": null, "statsd_interval": 10, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/metrics/msr.histogram.median
  response:
    body:
      string: '{"description": null, "short_name": null, "type": "gauge", "unit":
        null, "per_unit": null, "statsd_interval": 10, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/metrics/msr.increment
  response:
    body:
      string: '{"description": null, "short_name": null, "type": "rate", "unit": null,
        "per_unit": null, "statsd_interval": 10, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/metrics/msr.other_distribution
  response:
    body:
      string: '{"description": null, "short_name": null, "type": null, "unit": null,
        "per_unit": null, "statsd_interval": null, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/metrics/test
  response:
    body:
      string: '{"description": null, "short_name": null, "type": "gauge", "unit":
        null, "per_unit": null, "statsd_interval": 10, "integration": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
