interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/metrics?filter%5Bconfigured%5D=true
  response:
    body:
      string: '{"data": [{"type": "manage_tags", "id": "test.metric.distribution.example",
        "attributes": {"tags": ["datacenter", "app"], "include_percentiles": false,
        "created_at": "2021-10-27T18:25:12.901720+00:00", "modified_at": "2021-10-27T18:33:34.966856+00:00",
        "metric_type": "distribution"}}]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '50'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '49'
      x-ratelimit-reset:
      - '48'
    status:
      code: 200
      message: OK
version: 1
