interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/metrics?filter%5Bconfigured%5D=true
  response:
    body:
      string: '{"data": []}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '50'
      x-ratelimit-name:
      - manage_tags_api
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '46'
      x-ratelimit-reset:
      - '40'
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "manage_tags", "id": "test.metric.latency.nonexistent",
      "attributes": {"tags": ["datacenter", "app"], "metric_type": "gauge", "aggregations":
      [{"space": "avg", "time": "avg"}]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/metrics/test.metric.latency.nonexistent/tags
  response:
    body:
      string: '{"data": {"type": "manage_tags", "id": "test.metric.latency.nonexistent",
        "attributes": {"tags": ["datacenter", "app"], "created_at": "2022-02-16T20:21:00.534196+00:00",
        "modified_at": "2022-02-16T20:46:20.983512+00:00", "metric_type": "gauge",
        "aggregations": [{"space": "avg", "time": "avg"}]}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '50'
      x-ratelimit-name:
      - manage_tags_api
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '45'
      x-ratelimit-reset:
      - '40'
    status:
      code: 201
      message: Created
- request:
    body: '{"data": {"type": "manage_tags", "id": "test.metric.distribution.example",
      "attributes": {"tags": ["check_id", "check"], "include_percentiles": false,
      "metric_type": "distribution"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/metrics/test.metric.distribution.example/tags
  response:
    body:
      string: '{"data": {"type": "manage_tags", "id": "test.metric.distribution.example",
        "attributes": {"tags": ["check_id", "check"], "include_percentiles": false,
        "created_at": "2021-10-27T18:28:53.198032+00:00", "modified_at": "2022-02-16T20:46:21.310502+00:00",
        "metric_type": "distribution"}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '50'
      x-ratelimit-name:
      - manage_tags_api
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '44'
      x-ratelimit-reset:
      - '39'
    status:
      code: 201
      message: Created
version: 1
