interactions:
- request:
    body: '{"data": {"type": "manage_tags", "id": "test.metric.distribution.example",
      "attributes": {"tags": ["datacenter", "app"], "include_percentiles": false,
      "metric_type": "distribution"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/metrics/test.metric.distribution.example/tags
  response:
    body:
      string: '{"data": {"type": "manage_tags", "id": "test.metric.distribution.example",
        "attributes": {"tags": ["datacenter", "app"], "include_percentiles": false,
        "created_at": "2021-10-27T18:28:53.198032+00:00", "modified_at": "2021-10-29T17:19:12.657787+00:00",
        "metric_type": "distribution"}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '50'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '49'
      x-ratelimit-reset:
      - '48'
    status:
      code: 201
      message: Created
version: 1
