interactions:
- request:
    body: '{"data": {"type": "manage_tags", "id": "test.metric.distribution.example",
      "attributes": {"tags": ["datacenter", "app", "updated"], "include_percentiles":
      false}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.eu/api/v2/metrics/test.metric.distribution.example/tags
  response:
    body:
      string: '{"data": {"type": "manage_tags", "id": "test.metric.distribution.example",
        "attributes": {"tags": ["datacenter", "app", "updated"], "include_percentiles":
        false, "created_at": "2021-10-27T18:28:53.198032+00:00", "modified_at": "2021-10-29T17:19:13.036736+00:00",
        "metric_type": "distribution"}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '50'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '48'
      x-ratelimit-reset:
      - '47'
    status:
      code: 200
      message: OK
version: 1
