interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/metrics?filter%5Bconfigured%5D=true
  response:
    body:
      string: '{"data": [{"type": "manage_tags", "id": "test.metric.latency.nonexistent",
        "attributes": {"tags": ["datacenter", "app"], "created_at": "2022-02-16T20:17:00.889433+00:00",
        "modified_at": "2022-02-16T20:17:00.889433+00:00", "metric_type": "gauge",
        "aggregations": [{"space": "avg", "time": "avg"}]}}, {"type": "manage_tags",
        "id": "test.metric.distribution.example", "attributes": {"tags": ["check_id",
        "check"], "include_percentiles": false, "created_at": "2021-10-27T18:25:12.901720+00:00",
        "modified_at": "2021-11-01T17:30:23.846790+00:00", "metric_type": "distribution"}}]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '50'
      x-ratelimit-name:
      - manage_tags_api
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '49'
      x-ratelimit-reset:
      - '40'
    status:
      code: 200
      message: OK
version: 1
