interactions:
- request:
    body: '{"data": {"type": "logs_restriction_queries", "attributes": {"restriction_query":
      "service:non-existentupdated"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v2/logs/config/restriction_queries/e0b95e42-bcce-11ec-ae39-da7ad0900005
  response:
    body:
      string: '{"errors": ["Rate limit of 2 requests in 30 seconds reached. Please
        try again later."]}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '2'
      x-ratelimit-name:
      - logs_public_config_api_restriction_queries_write
      x-ratelimit-period:
      - '30'
      x-ratelimit-remaining:
      - '0'
      x-ratelimit-reset:
      - '4'
    status:
      code: 429
      message: Too Many Requests
- request:
    body: '{"data": {"type": "logs_restriction_queries", "attributes": {"restriction_query":
      "service:non-existentupdated"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v2/logs/config/restriction_queries/e0b95e42-bcce-11ec-ae39-da7ad0900005
  response:
    body:
      string: '{"data": {"type": "logs_restriction_queries", "id": "e0b95e42-bcce-11ec-ae39-da7ad0900005",
        "attributes": {"restriction_query": "service:non-existentupdated", "created_at":
        "2022-04-15T15:15:26.116038+00:00", "modified_at": "2022-04-15T15:15:30.616187+00:00"}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '2'
      x-ratelimit-name:
      - logs_public_config_api_restriction_queries_write
      x-ratelimit-period:
      - '30'
      x-ratelimit-remaining:
      - '1'
      x-ratelimit-reset:
      - '30'
    status:
      code: 200
      message: OK
version: 1
