interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/logs/config/restriction_queries?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "logs_restriction_queries", "id": "6869d64c-8fdf-11ef-9e00-da7ad0900005",
        "attributes": {"restriction_query": "host:COMP-XKH4K2XWRC ", "created_at":
        "2024-10-21T19:05:16.400734+00:00", "modified_at": "2024-10-21T19:05:16.400734+00:00"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/logs/config/restriction_queries/6869d64c-8fdf-11ef-9e00-da7ad0900005
  response:
    body:
      string: '{"data": {"type": "logs_restriction_queries", "id": "6869d64c-8fdf-11ef-9e00-da7ad0900005",
        "attributes": {"restriction_query": "host:COMP-XKH4K2XWRC ", "created_at":
        "2024-10-21T19:05:16.400734+00:00", "modified_at": "2024-10-21T19:05:16.400734+00:00"},
        "relationships": {"roles": {"data": [{"type": "roles", "id": "3020f50c-8582-11ef-ad61-da7ad0900005"},
        {"type": "roles", "id": "302b4f34-8582-11ef-b6a4-da7ad0900005"}, {"type":
        "roles", "id": "3032ffb8-8582-11ef-8bad-da7ad0900005"}]}}}, "included": [{"type":
        "roles", "id": "3020f50c-8582-11ef-ad61-da7ad0900005", "attributes": {"name":
        "Datadog Admin Role"}}, {"type": "roles", "id": "302b4f34-8582-11ef-b6a4-da7ad0900005",
        "attributes": {"name": "Datadog Standard Role"}}, {"type": "roles", "id":
        "3032ffb8-8582-11ef-8bad-da7ad0900005", "attributes": {"name": "Datadog Read
        Only Role"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730389028, "value":
      1}], "tags": ["id:6869d64c-8fdf-11ef-9e00-da7ad0900005", "action_type:import",
      "status:success", "resource_type:logs_restriction_queries", "client_type:destination"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730389028, "value":
      1}], "tags": ["id:6869d64c-8fdf-11ef-9e00-da7ad0900005", "action_type:import",
      "status:success", "resource_type:logs_restriction_queries", "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
