interactions:
- request:
    body: '{"data": {"type": "logs_restriction_queries", "attributes": {"restriction_query":
      "service:non-existent"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/logs/config/restriction_queries
  response:
    body:
      string: '{"data": {"type": "logs_restriction_queries", "id": "e9a1ead0-8c79-11ed-b315-da7ad0900005",
        "attributes": {"restriction_query": "service:non-existent", "created_at":
        "2023-01-04T21:51:15.697399+00:00", "modified_at": "2023-01-04T21:51:15.697399+00:00"}}}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
