interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/logs/config/restriction_queries?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "logs_restriction_queries", "id": "f1edd8e6-bcc4-11ec-971a-da7ad0900002",
        "attributes": {"restriction_query": "service:random", "created_at": "2022-04-15T14:04:20.014801+00:00",
        "modified_at": "2022-04-15T14:04:20.014801+00:00"}}, {"type": "logs_restriction_queries",
        "id": "bbb5bc46-bccc-11ec-971e-da7ad0900002", "attributes": {"restriction_query":
        "service:non-existent", "created_at": "2022-04-15T15:00:05.023258+00:00",
        "modified_at": "2022-04-15T15:00:05.023258+00:00"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/f1edd8e6-bcc4-11ec-971a-da7ad0900002
  response:
    body:
      string: '{"included": [{"type": "roles", "id": "fa017a36-bfcb-11eb-a4d7-da7ad0900002",
        "attributes": {"name": "Datadog Standard Role"}}, {"type": "roles", "id":
        "fa017a37-bfcb-11eb-a4d7-da7ad0900002", "attributes": {"name": "Datadog Read
        Only Role"}}], "data": {"type": "logs_restriction_queries", "id": "f1edd8e6-bcc4-11ec-971a-da7ad0900002",
        "attributes": {"restriction_query": "service:random", "created_at": "2022-04-15T14:04:20.014801+00:00",
        "modified_at": "2022-04-15T14:04:20.014801+00:00"}, "relationships": {"roles":
        {"data": [{"type": "roles", "id": "fa017a37-bfcb-11eb-a4d7-da7ad0900002"},
        {"type": "roles", "id": "fa017a36-bfcb-11eb-a4d7-da7ad0900002"}]}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/logs/config/restriction_queries/bbb5bc46-bccc-11ec-971e-da7ad0900002
  response:
    body:
      string: '{"data": {"type": "logs_restriction_queries", "id": "bbb5bc46-bccc-11ec-971e-da7ad0900002",
        "attributes": {"restriction_query": "service:non-existent", "created_at":
        "2022-04-15T15:00:05.023258+00:00", "modified_at": "2022-04-15T15:00:05.023258+00:00"},
        "relationships": {"roles": {"data": []}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
