interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/logs/config/pipelines
  response:
    body:
      string: '[{"id": "Rvk36Rj0SJizOBX_N24BSQ", "type": "pipeline", "name": "Test
        pipeline", "is_enabled": true, "is_read_only": false, "filter": {"query":
        "test:query"}, "processors": []}, {"id": "0i9e0i3ET6WPZV1b9ZeoPg", "type":
        "pipeline", "name": "Test Pipeline - Complex", "is_enabled": true, "is_read_only":
        false, "filter": {"query": "source:foo"}, "processors": [{"name": "sample
        arithmetic processor", "is_enabled": true, "expression": "(time1 - time2)*1000",
        "target": "my_arithmetic", "is_replace_missing": true, "type": "arithmetic-processor"},
        {"name": "sample attribute processor", "is_enabled": true, "sources": ["db.instance"],
        "source_type": "tag", "target": "db", "target_type": "attribute", "target_format":
        "string", "preserve_source": true, "override_on_conflict": false, "type":
        "attribute-remapper"}, {"name": "sample category processor", "is_enabled":
        true, "categories": [{"filter": {"query": "@severity: \".\""}, "name": "debug"},
        {"filter": {"query": "@severity: \"-\""}, "name": "verbose"}], "target": "foo.severity",
        "type": "category-processor"}, {"name": "sample date remapper", "is_enabled":
        true, "sources": ["_timestamp", "published_date"], "type": "date-remapper"},
        {"name": "sample geo ip parser", "is_enabled": true, "sources": ["network.client.ip"],
        "target": "network.client.geoip", "ip_processing_behavior": "do-nothing",
        "type": "geo-ip-parser"}, {"name": "sample grok parser", "is_enabled": true,
        "source": "message", "samples": ["sample log 1"], "grok": {"support_rules":
        "", "match_rules": "Rule %{word:my_word2} %{number:my_float2}"}, "type": "grok-parser"},
        {"name": "sample lookup processor", "is_enabled": true, "source": "service_id",
        "target": "service_name", "lookup_table": ["1,my service"], "default_lookup":
        "unknown service", "type": "lookup-processor"}, {"name": "sample message remapper",
        "is_enabled": true, "sources": ["msg"], "type": "message-remapper"}, {"type":
        "pipeline", "name": "nested pipeline", "is_enabled": true, "filter": {"query":
        "source:foo"}, "processors": [{"name": "sample url parser", "is_enabled":
        false, "sources": ["url", "extra"], "target": "http_url", "normalize_ending_slashes":
        true, "type": "url-parser"}]}, {"name": "sample service remapper", "is_enabled":
        true, "sources": ["service"], "type": "service-remapper"}, {"name": "sample
        status remapper", "is_enabled": true, "sources": ["info", "trace"], "type":
        "status-remapper"}, {"name": "sample string builder processor", "is_enabled":
        true, "template": "%{user.name} logged in at %{timestamp}", "target": "user_activity",
        "is_replace_missing": false, "type": "string-builder-processor"}, {"name":
        "sample trace id remapper", "is_enabled": true, "sources": ["dd.trace_id"],
        "type": "trace-id-remapper"}, {"name": "sample user agent parser", "is_enabled":
        true, "sources": ["user", "agent"], "target": "http_agent", "is_encoded":
        false, "type": "user-agent-parser"}]}]'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      content-disposition:
      - inline
      x-ratelimit-limit:
      - '84'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '83'
      x-ratelimit-reset:
      - '17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/locations
  response:
    body:
      string: '{"locations": [{"id": "aws:ap-northeast-1", "name": "Tokyo (AWS)"},
        {"id": "aws:ap-northeast-2", "name": "Seoul (AWS)"}, {"id": "aws:ap-south-1",
        "name": "Mumbai (AWS)"}, {"id": "aws:ap-southeast-1", "name": "Singapore (AWS)"},
        {"id": "aws:ap-southeast-2", "name": "Sydney (AWS)"}, {"id": "aws:ca-central-1",
        "name": "Canada Central (AWS)"}, {"id": "aws:eu-central-1", "name": "Frankfurt
        (AWS)"}, {"id": "aws:eu-north-1", "name": "Stockholm (AWS)"}, {"id": "aws:eu-west-1",
        "name": "Ireland (AWS)"}, {"id": "aws:eu-west-2", "name": "London (AWS)"},
        {"id": "aws:eu-west-3", "name": "Paris (AWS)"}, {"id": "aws:sa-east-1", "name":
        "S\u00e3o Paulo (AWS)"}, {"id": "aws:us-east-2", "name": "Ohio (AWS)"}, {"id":
        "aws:us-west-1", "name": "N. California (AWS)"}, {"id": "aws:us-west-2", "name":
        "Oregon (AWS)"}, {"id": "pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451",
        "name": "Test Private Variable"}]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/private-locations/pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451
  response:
    body:
      string: '{"name": "Test Private Variable", "tags": ["key:value"], "description":
        "datadog-sync-cli test", "modifiedAt": "2021-06-30T12:27:21.433291+00:00",
        "id": "pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451", "createdAt":
        "2021-06-30T12:27:21.433291+00:00", "metadata": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests
  response:
    body:
      string: '{"tests": [{"status": "paused", "public_id": "w7p-ux5-hhc", "tags":
        [], "locations": ["aws:ca-central-1"], "message": "Test synthetics ", "name":
        "HTTP Test", "monitor_id": 36553487, "type": "api", "created_at": "2021-06-03T13:00:40.415788+00:00",
        "modified_at": "2021-06-17T12:44:13.132034+00:00", "subtype": "http", "config":
        {"request": {"url": "https://google.com", "method": "GET"}, "assertions":
        [{"operator": "lessThan", "type": "responseTime", "target": 1000}, {"operator":
        "is", "type": "statusCode", "target": 301}, {"operator": "is", "property":
        "content-type", "type": "header", "target": "text/html; charset=UTF-8"}]},
        "options": {"retry": {"count": 1, "interval": 300}, "min_location_failed":
        1, "monitor_options": {"renotify_interval": 120}, "min_failure_duration":
        120, "monitor_priority": 3, "tick_every": 604800}}, {"status": "live", "public_id":
        "32u-qxh-q25", "tags": ["foo:bar", "foo", "env:test"], "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty", "name": "DNS Test", "monitor_id": 37286153,
        "type": "api", "created_at": "2021-06-08T18:26:23.566301+00:00", "modified_at":
        "2021-06-17T12:43:57.911371+00:00", "subtype": "dns", "config": {"request":
        {"host": "example.org"}, "assertions": [{"operator": "is", "property": "A",
        "type": "recordSome", "target": "0.0.0.0"}]}, "options": {"monitor_options":
        {"renotify_interval": 0}, "tick_every": 900, "min_location_failed": 1}}, {"status":
        "live", "public_id": "huy-hyp-3un", "tags": ["foo:bar", "foo", "env:test"],
        "locations": ["aws:eu-central-1"], "message": "Notify @pagerduty", "name":
        "SSL Test", "monitor_id": 37286154, "type": "api", "created_at": "2021-06-08T18:26:23.589710+00:00",
        "modified_at": "2021-06-17T12:44:41.488230+00:00", "subtype": "ssl", "config":
        {"request": {"host": "example.org", "port": 443}, "assertions": [{"operator":
        "isInMoreThan", "type": "certificate", "target": 30}]}, "options": {"monitor_options":
        {"renotify_interval": 0}, "min_location_failed": 1, "accept_self_signed":
        true, "tick_every": 900}}, {"status": "live", "public_id": "qvh-qtk-xuv",
        "tags": ["foo:bar", "foo", "env:test"], "locations": ["pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451",
        "aws:eu-central-1"], "message": "Notify @pagerduty", "name": "HTTP Test -
        example", "monitor_id": 37286152, "type": "api", "created_at": "2021-06-08T18:26:23.610381+00:00",
        "modified_at": "2021-07-13T21:36:49.377880+00:00", "subtype": "http", "config":
        {"request": {"url": "https://www.example.org", "headers": {"Authentication":
        "Token: 1234566789", "Content-Type": "application/json"}, "method": "GET"},
        "assertions": [{"operator": "is", "type": "statusCode", "target": 200}]},
        "options": {"monitor_options": {"renotify_interval": 100}, "retry": {"count":
        2, "interval": 300}, "tick_every": 900, "min_location_failed": 1}}, {"status":
        "live", "public_id": "5ps-pjw-wzm", "tags": ["foo:bar", "foo", "env:test"],
        "locations": ["aws:eu-central-1"], "message": "Notify @pagerduty", "name":
        "TCP Test", "monitor_id": 37286155, "type": "api", "created_at": "2021-06-08T18:26:23.666527+00:00",
        "modified_at": "2021-06-17T12:43:36.851871+00:00", "subtype": "tcp", "config":
        {"request": {"host": "example.org", "port": 443}, "assertions": [{"operator":
        "lessThan", "type": "responseTime", "target": 2000}]}, "options": {"monitor_options":
        {"renotify_interval": 0}, "tick_every": 900, "min_location_failed": 1}}, {"status":
        "paused", "public_id": "77e-s82-v5e", "tags": [], "locations": ["aws:us-west-1"],
        "message": "", "name": "Browser Test", "monitor_id": 37452297, "type": "browser",
        "created_at": "2021-06-09T20:08:55.284701+00:00", "modified_at": "2021-06-17T12:44:27.339886+00:00",
        "config": {"variables": [], "setCookie": "", "request": {"url": "https://docs.datadoghq.com",
        "headers": {}, "method": "GET"}, "assertions": [], "configVariables": []},
        "options": {"retry": {"count": 0, "interval": 300}, "min_location_failed":
        1, "min_failure_duration": 0, "noScreenshot": false, "tick_every": 604800,
        "forwardProxy": false, "disableCors": false, "device_ids": ["chrome.laptop_large",
        "firefox.laptop_large", "chrome.tablet", "chrome.mobile_small", "firefox.mobile_small",
        "firefox.tablet"], "monitor_options": {"renotify_interval": 0}, "ignoreServerCertificateError":
        false}}, {"status": "live", "public_id": "zsv-2sg-2nc", "tags": ["check_type:api",
        "env:test", "test:update"], "locations": ["aws:sa-east-1"], "message": "",
        "name": "Multistep API Test", "monitor_id": 38221242, "type": "api", "created_at":
        "2021-06-14T15:13:59.438951+00:00", "modified_at": "2021-06-30T11:49:05.165007+00:00",
        "subtype": "multi", "config": {"steps": [{"retry": {"count": 0, "interval":
        300}, "name": "Test on datadoghq.com", "request": {"url": "https://datadoghq.com",
        "headers": {"content-type": "text/html"}, "method": "GET"}, "subtype": "http",
        "allowFailure": false, "extractedValues": [], "isCritical": true, "id": "vek-567-n38",
        "assertions": [{"operator": "lessThan", "type": "responseTime", "target":
        1000}, {"operator": "is", "type": "statusCode", "target": 301}]}], "configVariables":
        []}, "options": {"monitor_options": {"renotify_interval": 0}, "retry": {"count":
        0, "interval": 300}, "min_location_failed": 1, "min_failure_duration": 0,
        "tick_every": 604800}}]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"parse_test_options": null, "parse_test_extracted_at":
        null, "description": "test", "tags": ["check_type:api"], "created_at": "2021-06-03T18:18:16.703730+00:00",
        "is_totp": null, "modified_at": "2021-06-03T18:36:04.287393+00:00", "value":
        {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "created_by": "Sherzod Karimov", "type": "variable",
        "id": "7478e601-cbe3-4a7d-babf-d48702b6b833", "name": "TEST_VARIABLE"}, {"parse_test_options":
        null, "parse_test_extracted_at": null, "description": "Description of the
        variable", "tags": ["foo:bar", "env:test"], "created_at": "2021-06-08T18:26:23.679434+00:00",
        "is_totp": null, "modified_at": "2021-06-08T18:26:23.679434+00:00", "value":
        {"secure": false, "value": "variable-value"}, "parse_test_public_id": null,
        "parse_test_name": null, "created_by": "Sherzod Karimov", "type": "variable",
        "id": "7dfd62d2-e1bf-466d-b47b-f337d4a82877", "name": "EXAMPLE_VARIABLE"},
        {"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "test", "tags": [], "created_at": "2021-06-03T18:38:06.646796+00:00", "is_totp":
        null, "modified_at": "2021-06-03T18:38:06.646796+00:00", "value": {"secure":
        false, "value": "test"}, "parse_test_public_id": null, "parse_test_name":
        null, "created_by": "Sherzod Karimov", "type": "variable", "id": "971dc27b-9b1e-4d21-80f5-cbc6cb485e4f",
        "name": "TEST"}, {"parse_test_options": {"field": "alt-svc", "parser": {"type":
        "regex", "value": "h3=\"(.*)\";"}, "type": "http_header"}, "parse_test_extracted_at":
        null, "description": "", "tags": [], "created_at": "2021-07-13T21:43:15.652450+00:00",
        "is_totp": null, "modified_at": "2021-07-13T21:43:15.652450+00:00", "value":
        {"secure": false, "value": ""}, "parse_test_public_id": "w7p-ux5-hhc", "parse_test_name":
        "HTTP Test", "created_by": "Sherzod Karimov", "attributes": {"role_uuids":
        []}, "type": "variable", "id": "cd272ea4-7cc2-4b88-bc1f-e271c96b695f", "name":
        "TEST_FROM_HTTP"}]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '17'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"meta": {"page": {"total_filtered_count": 3, "total_count": 3}}, "data":
        [{"type": "roles", "id": "fa017a35-bfcb-11eb-a4d7-da7ad0900002", "attributes":
        {"name": "Datadog Admin Role", "created_at": "2021-05-28T15:47:15.884751+00:00",
        "modified_at": "2021-05-28T15:47:15.884751+00:00", "user_count": 3}, "relationships":
        {"permissions": {"data": [{"type": "permissions", "id": "984a2bd4-d3b4-11e8-a1ff-a7f660d43029"},
        {"type": "permissions", "id": "62cc036c-dd12-11e8-9e54-db9995643092"}, {"type":
        "permissions", "id": "6f66600e-dd12-11e8-9e55-7f30fbb45e73"}, {"type": "permissions",
        "id": "811ac4ca-dd12-11e8-9e57-676a7f0beef9"}, {"type": "permissions", "id":
        "87b00304-dd12-11e8-9e59-cbeb5f71f72f"}, {"type": "permissions", "id": "1a92ede2-6cb2-11e9-99c6-2b3a4a0cdf0a"},
        {"type": "permissions",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?filter%5Bstatus%5D=Active%2CPending&page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"included": [{"type": "permissions", "id": "61765026-2dce-11eb-84c0-833e230d1b8f",
        "attributes": {"name": "apm_primary_operation_write", "display_name": "Primary
        Operation", "description": "The ability to edit the operation name value selection.
        A user with this permission can modify the operation name list in the APM
        settings page and can modify the operation name controller on the service
        page.", "created": "2020-11-23T20:56:38.658649+00:00", "group_name": "APM",
        "display_type": "write", "restricted": false}}, {"type": "permissions", "id":
        "642eebe6-f923-11ea-adbc-eb617674ea04", "attributes": {"name": "synthetics_default_settings_write",
        "display_name": "Default Settings", "description": "The ability to edit default
        settings for Synthetics Monitoring.", "created": "2020-09-17T20:21:38.818771+00:00",
        "group_name": "Synthetic Monitoring", "display_type": "write", "restricted":
        false}}, {"type": "permissions", "id": "d90f6832-d3d8-11e9-a77a-bf8a2607f864",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/monitor
  response:
    body:
      string: '[{"restricted_roles": null, "tags": [], "deleted": null, "query": "avg(last_5m):avg:datadog.estimated_usage.hosts{*}
        > 50", "message": "Test monitor ----------------", "matching_downtimes": [],
        "id": 36230659, "multi": false, "name": "Composite monitor - Child 2", "created":
        "2021-05-30T08:43:37.940520+00:00", "created_at": 1622364217000, "creator":
        {"id": 2781275, "handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod
        Karimov", "email": "sherzod.karimov@datadoghq.com"}, "org_id": 569509, "modified":
        "2021-06-08T18:14:12.441535+00:00", "priority": null, "overall_state_modified":
        "2021-05-30T08:45:28+00:00", "overall_state": "OK", "type": "metric alert",
        "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "silenced":
        {}, "include_tags": true, "no_data_timeframe": null, "require_full_window":
        true, "new_host_delay": 300, "notify_no_data": false, "renotify_interval":
        0, "escalation_message": "", "thresholds": {"critical": 50.0}}}, {"restricted_roles":
        null, "tags": [], "deleted": null, "query": "avg(last_5m):avg:dd.dialtone.historical.metrics{*}
        > 20", "message": "Composite monitor - child 1", "matching_downtimes": [],
        "id": 36239262, "multi": false, "name": "Composite monitor - child 1", "created":
        "2021-05-30T19:49:11.945913+00:00", "created_at": 1622404151000, "creator":
        {"id": 2781275, "handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod
        Karimov", "email": "sherzod.karimov@datadoghq.com"}, "org_id": 569509, "modified":
        "2021-06-08T18:13:33.317204+00:00", "priority": null, "overall_state_modified":
        "2021-05-30T19:52:07+00:00", "overall_state": "OK", "type": "metric alert",
        "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "silenced":
        {}, "include_tags": true, "no_data_timeframe": null, "require_full_window":
        true, "new_host_delay": 300, "notify_no_data": false, "renotify_interval":
        0, "escalation_message": "", "thresholds": {"critical": 20.0, "warning": 10.0}}},
        {"restricted_roles": null, "tags": ["probe_dc:aws:ca-central-1", "check_type:api",
        "check_status:paused"], "deleted": null, "query": "no_query", "message": "Test
        synthetics", "matching_downtimes": [], "id": 36553487, "multi": false, "name":
        "[Synthetics] HTTP Test", "created": "2021-06-03T13:00:40.386620+00:00", "created_at":
        1622725240000, "creator": {"id": 2781275, "handle": "sherzod.karimov@datadoghq.com",
        "name": "Sherzod Karimov", "e[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"metadata": {"page": {"total_filtered_count": 4, "total_count": 4}},
        "data": [{"description": "Updated Description Test", "monitor_tags": [], "creator":
        {"handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod Karimov", "email":
        "sherzod.karimov@datadoghq.com"}, "thresholds": [{"target": 99.0, "target_display":
        "99.", "timeframe": "7d"}], "type_id": 0, "id": "ae04001ea55f52f6ae4b85d9b1023909",
        "monitor_ids": [36230659, 37284891], "name": "Composite monitor - Child 2",
        "created_at": 1623260678, "tags": [], "modified_at": 1625053391, "type": "monitor"},
        {"description": "noueman", "monitor_tags": [], "creator": {"handle": "noueman.khalikine@datadoghq.com",
        "name": "Noueman Khalikine", "email": "noueman.khalikine@datadoghq.com"},
        "thresholds": [{"target": 99.0, "target_display": "99.", "timeframe": "7d"}],
        "type_id": 0, "id": "b6eedbdc42a15b658b5d55ffc4f91082", "[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"dashboards": [{"created_at": "2021-06-01T20:18:57.486260+00:00",
        "author_handle": "sherzod.karimov@datadoghq.com", "is_read_only": false, "description":
        "", "title": "Timeboard Tue, Jun 1, 4:18:57 pm", "url": "/dashboard/euw-cp8-hy6/timeboard-tue-jun-1-41857-pm",
        "layout_type": "ordered", "modified_at": "2021-06-21T17:24:39.527924+00:00",
        "id": "euw-cp8-hy6"}, {"created_at": "2021-06-08T18:26:23.515662+00:00", "author_handle":
        "sherzod.karimov@datadoghq.com", "is_read_only": false, "description": "Created
        using the Datadog provider in Terraform", "title": "Test screenboard", "url":
        "/dashboard/dns-jst-h98/test-screenboard", "layout_type": "free", "modified_at":
        "2021-06-22T19:35:38.981348+00:00", "id": "dns-jst-h98"}, {"created_[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/euw-cp8-hy6
  response:
    body:
      string: '{"notify_list": [], "description": "", "author_name": "Sherzod Karimov",
        "template_variables": [], "is_read_only": false, "id": "euw-cp8-hy6", "title":
        "Timeboard Tue, Jun 1, 4:18:57 pm", "url": "/dashboard/euw-cp8-hy6/timeboard-tue-jun-1-41857-pm",
        "created_at": "2021-06-01T20:18:57.486260+00:00", "modified_at": "2021-06-21T17:24:39.527924+00:00",
        "reflow_type": "auto", "author_handle": "sherzod.karimov@datadoghq.com", "widgets":
        [{"definition": {"widgets": [{"definition": {"title_size": "16", "viz_type":
        "timeseries", "title": "", "title_align": "left", "alert_id": "36239262",
        "type": "alert_graph"}, "id": 5316294948508728}, {"definition": {"title_size":
        "16", "title": "", "title_align": "left", "text_align": "left", "precision":
        2, "alert_id": "36230659", "type": "alert_value", "unit": "auto"}, "id": 2269177794822700}],
        "layout_type": "ordered", "type": "group", "title": "New group"}, "id": 2497183012091650},
        {"definition": {"title_size": "16", "viz_type": "timeseries", "title": "",
        "title_align": "left", "alert_id": "36239262", "type": "alert_graph"}, "id":
        4551400937275112}, {"definition": {"autoscale": true, "title": "", "title_align":
        "left", "precision": 2, "title_size": "16", "requests": [{"q": "avg:synthetics.http.dns.time{*}",
        "aggregator": "avg"}], "type": "query_value"}, "id": 7228117705299642}, {"definition":
        {"title_size": "16", "title": "", "title_align": "left", "text_align": "left",
        "precision": 2, "alert_id": "36230659", "type": "alert_value", "unit": "auto"},
        "id": 2397823643167820}, {"definition": {"time_windows": ["7d"], "title_size":
        "16", "show_error_budget": true, "view_type": "detail", "title_align": "left",
        "slo_id": "ae04001ea55f52f6ae4b85d9b1023909", "view_mode": "overall", "title":
        "", "global_time_target": "0", "type": "slo"}, "id": 1076364961367720}, {"definition":
        {"time_windows": ["7d"], "title_size": "16", "show_error_budget": true, "view_type":
        "detail", "title_align": "left", "slo_id": "b6eedbdc42a15b658b5d55ffc4f91082",
        "view_mode": "overall", "title": "", "global_time_target": "0", "type": "slo"},
        "id": 4123257207386936}], "layout_type": "ordered"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/dns-jst-h98
  response:
    body:
      string: '{"notify_list": [], "description": "Created using the Datadog provider
        in Terraform", "author_name": "Sherzod Karimov", "template_variable_presets":
        [{"template_variables": [{"name": "var_1", "value": "host.dc"}, {"name": "var_2",
        "value": "my_service"}], "name": "preset_1"}], "template_variables": [{"default":
        "aws", "prefix": "host", "name": "var_1"}, {"default": "autoscaling", "prefix":
        "service_name", "name": "var_2"}], "is_read_only": false, "id": "dns-jst-h98",
        "title": "Test screenboard", "url": "/dashboard/dns-jst-h98/test-screenboard",
        "created_at": "2021-06-08T18:26:23.515662+00:00", "modified_at": "2021-06-22T19:35:38.981348+00:00",
        "author_handle": "sherzod.karimov@datadoghq.com", "widgets": [{"definition":
        {"title_size": "16", "title": "Widget Title", "title_align": "left", "time":
        {"live_span": "1h"}, "query": "*", "type": "event_stream", "event_size": "l"},
        "layout": {"y": 5, "x": 5, "height": 43, "width": 32}, "id": 4066667513687323},
        {"definition": {"title_size": "16", "title": "Widget Title", "title_align":
        "left", "time": {"live_span": "1h"}, "query": "*", "type": "event_timeline"},
        "layout": {"y": 73, "x": 42, "height": 9, "width": 65}, "id": 68713679518613},
        {"definition": {"color": "#d00", "text": "free text content", "type": "free_text",
        "font_size": "88", "text_align": "left"}, "layout": {"y": 5, "x": 42, "height":
        20, "width": 30}, "id": 1117617615518455}, {"definition": {"url": "http://google.com",
        "type": "iframe"}, "layout": {"y": 8, "x": 111, "height": 46, "width": 39},
        "id": 3098118775539428}, {"definition": {"url": "https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&h=350",
        "sizing": "fit", "margin": "small", "type": "image"}, "layout": {"y": 7, "x":
        77, "height": 20, "width": 30}, "id": 651713243056399}, {"definition": {"logset":
        "", "sort": {"column": "time", "order": "desc"}, "show_message_column": true,
        "show_date_column": true, "message_display": "expanded-md", "indexes": ["main"],
        "query": "error", "type": "log_stream", "columns": ["core_host", "core_service",
        "tag_source"]}, "layout": {"y": 51, "x": 5, "height": 36, "width": 32}, "id":
        5458329230004343}, {"definition": {"sort": "status,asc", "count": 50, "title_size":
        "16", "title": "Widget Title", "title_align": "left", "hide_zero_counts":
        true, "start": 0, "summary_type": "monitors", "color_preference": "text",
        "query": "type:metric", "show_last_triggered": false, "type": "manage_status",
        "display_format": "countsAndList"}, "layout": {"y": 55, "x": 112, "height":
        40, "width": 30}, "id": 1112741664700765}, {"definition": {"span_name": "cassandra.query",
        "title_size": "13", "service": "alerting-cassandra", "title": "alerting-cassandra
        #env:datad0g.com", "size_format": "large", "show_hits": true, "show_latency":
        false, "title_align": "center", "show_errors": true, "show_breakdown": true,
        "env": "datad0g.com", "time": {"live_span": "1h"}, "show_distribution": true,
        "display_format": "three_column", "type": "trace_service", "show_resource_list":
        false}, "layout": {"y": 28, "x": 40, "height": 38, "width": 67}, "id": 6949442529647217}],
        "layout_type": "free"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/tuw-te2-pdj
  response:
    body:
      string: '{"notify_list": [], "description": "", "author_name": "Noueman Khalikine",
        "template_variables": [], "is_read_only": false, "id": "tuw-te2-pdj", "title":
        "datadog-sync-cli Test Dashboard", "url": "/dashboard/tuw-te2-pdj/datadog-sync-cli-test-dashboard",
        "created_at": "2021-06-30T11:45:57.574935+00:00", "modified_at": "2021-06-30T11:46:46.923260+00:00",
        "reflow_type": "fixed", "author_handle": "noueman.khalikine@datadoghq.com",
        "widgets": [{"definition": {"title_size": "16", "title": "", "title_align":
        "left", "precision": 2, "time": {}, "autoscale": true, "requests": [{"response_format":
        "scalar", "queries": [{"query": "avg:system.cpu.user{*}", "data_source": "metrics",
        "name": "query1", "aggregator": "avg"}]}], "type": "query_value"}, "layout":
        {"y": 0, "x": 0, "height": 2, "width": 2}, "id": 6609238960092638}], "layout_type":
        "ordered"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/ys9-5v2-zxt
  response:
    body:
[...]
