interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/locations
  response:
    body:
      string: '{"locations": [{"id": "aws:af-south-1", "name": "Cape Town (AWS)"},
        {"id": "aws:ap-east-1", "name": "Hong Kong (AWS)"}, {"id": "aws:ap-northeast-1",
        "name": "Tokyo (AWS)"}, {"id": "aws:ap-northeast-2", "name": "Seoul (AWS)"},
        {"id": "aws:ap-northeast-3", "name": "Osaka (AWS)"}, {"id": "aws:ap-south-1",
        "name": "Mumbai (AWS)"}, {"id": "aws:ap-southeast-1", "name": "Singapore (AWS)"},
        {"id": "aws:ap-southeast-2", "name": "Sydney (AWS)"}, {"id": "aws:ap-southeast-3",
        "name": "Jakarta (AWS)"}, {"id[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/private-locations/pl:custom-location-0bf64e97eec8416e292447a0a902f5c6
  response:
    body:
      string: '{"createdAt": "2024-02-01T21:13:10.694645+00:00", "modifiedAt": "2024-02-01T21:13:10.694645+00:00",
        "description": "Random location for test", "tags": ["test:foo"], "name": "Custom
        Location", "metadata": {"restricted_roles": []}, "id": "pl:custom-location-0bf64e97eec8416e292447a0a902f5c6",
        "createdBy": "sherzod.karimov@datadoghq.com"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/private-locations/pl:custom-location-with-restricted-roles-946ecd8f86d8de1b74926a3c18e3e7fe
  response:
    body:
      string: '{"createdAt": "2024-02-01T21:45:46.664961+00:00", "modifiedAt": "2024-02-01T21:46:11.374936+00:00",
        "description": "", "tags": [], "name": "Custom location with restricted roles",
        "metadata": {"restricted_roles": ["fa017a35-bfcb-11eb-a4d7-da7ad0900002"]},
        "id": "pl:custom-location-with-restricted-roles-946ecd8f86d8de1b74926a3c18e3e7fe",
        "createdBy": "sherzod.karimov@datadoghq.com"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests
  response:
    body:
      string: '{"tests": [{"public_id": "9kt-p3e-he4", "name": "HTTP Test", "status":
        "paused", "type": "api", "tags": [], "created_at": "2022-11-15T21:05:04.474438+00:00",
        "modified_at": "2022-11-15T21:05:04.474438+00:00", "config": {"request": {"url":
        "https://google.com", "method": "GET"}, "assertions": [{"operator": "lessThan",
        "type": "responseTime", "target": 1000}, {"operator": "is", "type": "statusCode",
        "target": 301}, {"operator": "is", "property": "content-type", "type": "header",
        "target": "text/html; charset=UTF-8"}]}, "message": "Test synthetics ", "options":
        {"retry": {"count": 1, "interval": 300}, "tick_every": 604800, "monitor_options":
        {"include_tags": true, "notify_audit": false, "new_host_delay": 300, "on_missing_data":
        "show_no_data", "renotify_interval": 120}, "monitor_priority": 3, "min_location_failed":
        1, "min_failure_duration": 120}, "locations": ["aws:ca-central-1"], "subtype":
        "http", "monitor_id": 103095757, "creator": {"name": "Sherzod Karimov", "handle":
        "sherzod.karimov@datadoghq.com", "email": "sherzod.karimov@datadoghq.com"}},
        {"public_id": "e6x-9uf-7vc", "name": "Test-Trigger_Synthetics_tests_returns_OK_response-1666783270",
        "status": "live", "type": "api", "tags": ["testing:api"], "created_at": "2022-11-15T21:05:04.493127+00:00",
        "modified_at": "2022-11-15T21:05:04.493127+00:00", "config": {"request": {"certificate":
        {"cert": {"updatedAt": "2020-10-16T09:23:24.857Z", "filename": "cert-filename"},
        "key": {"updatedAt": "2020-10-16T09:23:24.857Z", "filename": "key-filename"}},
        "url": "https://datadoghq.com", "headers": {"unique": "testtriggersyntheticstestsreturnsokresponse1666783270"},
        "proxy": {"url": "https://datadoghq.com", "headers": {}}, "timeout": 10, "method":
        "GET"}, "assertions": [{"operator": "is", "property": "{{ PROPERTY }}", "type":
        "header", "target": "text/html"}, {"operator": "lessThan", "type": "responseTime",
        "target": 2000}, {"operator": "validatesJSONPath", "type": "body", "target":
        {"operator": "isNot", "targetValue": "0", "jsonPath": "topKey"}}], "configVariables":
        [{"pattern": "content-type", "type": "text", "example": "content-type", "name":
        "PROPERTY"}]}, "message": "BDD test payload: synthetics_api_http_test_payload.json",
        "options": {"accept_self_signed": false, "retry": {"count": 3, "interval":
        10}, "min_location_failed": 1, "allow_insecure": true, "follow_redirects":
        true, "min_failure_duration": 10, "monitor_priority": 5, "monitor_name": "Test-Trigger_Synthetics_tests_returns_OK_response-1666783270",
        "tick_every": 60}, "locations": ["aws:us-east-2"], "subtype": "http", "monitor_id":
        103095761, "creator": {"name": "Sherzod Karimov", "handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod.karimov@datadoghq.com"}}, {"public_id": "shp-p4u-z5t", "name":
        "TCP Test", "status": "live", "type": "api", "tags": ["foo:bar", "foo", "env:test"],
        "created_at": "2022-11-15T21:05:04.516477+00:00", "modified_at": "2022-11-15T21:05:04.516477+00:00",
        "config": {"request": {"host": "example.org", "port": 443}, "assertions":
        [{"operator": "lessThan", "type": "responseTime", "target": 2000}]}, "message":
        "Notify @pagerduty", "options": {"monitor_options": {"notify_audit": false,
        "include_tags": true, "new_host_delay": 300, "on_missing_data": "show_no_data",
        "renotify_interval": 0}, "tick_every": 900, "min_location_failed": 1}, "locations":
        ["aws:eu-central-1"], "subtype": "tcp", "monitor_id": 103095759, "creator":
        {"name": "Sherzod Karimov", "handle": "sherzod.karimov@datadoghq.com", "email":
        "sherzod.karimov@datadoghq.com"}}, {"public_id": "sac-hdw-2vm", "name": "SSL
        Test", "status": "live", "type": "api", "tags": ["foo:bar", "foo", "env:test"],
        "created_at": "2022-11-15T21:05:04.539022+00:00", "modified_at": "2022-11-15T21:05:04.539022+00:00",
        "config": {"request": {"host": "example.org", "port": 443}, "assertions":
        [{"operator": "isInMoreThan", "type": "certificate", "target": 30}]}, "message":
        "Notify @pagerduty", "options": {"accept_self_signed": true, "monitor_options":
        {"notify_audit": false, "include_tags": true, "new_host_delay": 300, "on_missing_data":
        "show_no_data", "renotify_interval": 0}, "min_location_failed": 1, "tick_every":
        900}, "locations": ["aws:eu-central-1"], "subtype": "ssl", "monitor_id": 103095758,
        "creator": {"name": "Sherzod Karimov", "handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod.karimov@datadoghq.com"}}, {"public_id": "4mg-pxb-ze4", "name":
        "Browser Test (cloned)", "status": "live", "type": "browser", "tags": [],
        "created_at": "2022-11-15T21:05:04.564415+00:00", "modified_at": "2022-11-15T21:05:04.564415+00:00",
        "config": {"variables": [], "setCookie": "", "request": {"url": "https://docs.datadoghq.com",
        "headers": {"test": "{{ TEST_VARIABLE }}", "test_two": "{{ TEST_VAR_LOCAL
        }}"}, "method": "GET"}, "assertions": [], "configVariables": [{"pattern":
        "TEST_VAR_LOCAL", "type": "text", "name": "TEST_VAR_LOCAL", "example": "TEST_VAR_LOCAL"},
        {"type": "global", "id": "7478e601-cbe3-4a7d-babf-d48702b6b833", "name": "TEST_VARIABLE"}]},
        "message": "", "options": {"enableSecurityTesting": false, "retry": {"count":
        0, "interval": 300}, "min_location_failed": 1, "min_failure_duration": 0,
        "noScreenshot": false, "tick_every": 604800, "disableCsp": false, "disableCors":
        false, "enableProfiling": false, "rumSettings": {"isEnabled": false}, "device_ids":
        ["chrome.laptop_large", "firefox.laptop_large", "chrome.tablet", "chrome.mobile_small",
        "firefox.mobile_small", "firefox.tablet"], "monitor_options": {"notify_audit":
        false, "include_tags": true, "new_host_delay": 300, "on_missing_data": "show_no_data",
        "renotify_interval": 0}, "ignoreServerCertificateError": false}, "locations":
        ["aws:us-west-1"], "monitor_id": 103095760, "creator": {"name": "Sherzod Karimov",
        "handle": "sherzod.karimov@datadoghq.com", "email": "sherzod.karimov@datadoghq.com"}},
        {"public_id": "n65-rw3-5ta", "name": "DNS Test", "status": "live", "type":
        "api", "tags": ["foo:bar", "foo", "env:test"], "created_at": "2022-11-15T21:05:04.640424+00:00",
        "modified_at": "2022-11-15T21:05:04.640424+00:00", "config": {"request": {"host":
        "example.org"}, "assertions": [{"operator": "is", "property": "A", "type":
        "recordSome", "target": "0.0.0.0"}]}, "message": "Notify @pagerduty", "options":
        {"monitor_options": {"notify_audit": false, "include_tags": true, "new_host_delay":
        300, "on_missing_data": "show_no_data", "renotify_interval": 0}, "tick_every":
        900, "min_location_failed": 1}, "locations": ["aws:eu-central-1"], "subtype":
        "dns", "monitor_id": 103095763, "creator": {"name": "Sherzod Karimov", "handle":
        "sherzod.karimov@datadoghq.com", "email": "sherzod.karimov@datadoghq.com"}},
        {"public_id": "ct9-df9-7cy", "name": "Multistep API Test", "status": "live",
        "type": "api", "tags": ["check_type:api", "env:test", "test:update"], "created_at":
        "2022-11-15T21:05:04.669579+00:00", "modified_at": "2022-11-15T21:05:04.669579+00:00",
        "config": {"steps": [{"retry": {"count": 0, "interval": 300}, "name": "Test
        on datadoghq.com", "request": {"url": "https://datadoghq.com", "headers":
        {"content-type": "text/html"}, "method": "GET"}, "subtype": "http", "allowFailure":
        false, "extractedValues": [], "isCritical": true, "id": "vek-567-n38", "assertions":
        [{"operator": "lessThan", "type": "responseTime", "target": 1000}, {"operator":
        "is", "type": "statusCode", "target": 301}]}], "configVariables": []}, "message":
        "", "options": {"monitor_options": {"notify_audit": false, "include_tags":
        true, "new_host_delay": 300, "on_missing_data": "show_no_data", "renotify_interval":
        0}, "retry": {"count": 0, "interval": 300}, "min_location_failed": 1, "min_failure_duration":
        0, "tick_every": 604800}, "locations": ["aws:sa-east-1"], "subtype": "multi",
        "monitor_id": 103095762, "creator": {"name": "Sherzod Karimov", "handle":
        "sherzod.karimov@datadoghq.com", "email": "sherzod.karimov@datadoghq.com"}},
        {"public_id": "xv9-vri-fqh", "name": "tf-TestAccDatadogSyntheticsTestMultistepApi_Basic-local-1686121345",
        "status": "paused", "type": "api", "tags": ["multistep"], "created_at": "2023-06-07T07:02:28.009429+00:00",
        "modified_at": "2023-06-07T07:02:28.009429+00:00", "config": {"assertions":
        [], "configVariables": [{"id": "24a74917-d729-4729-a809-0d05cf159e25", "name":
        "VARIABLE_NAME", "type": "global"}], "steps": [{"allowFailure": true, "assertions":
        [{"operator": "is", "target": 200, "type": "statusCode"}], "extractedValues":
        [{"field": "content-length", "name": "VAR_EXTRACT", "parser": {"type": "regex",
        "value": ".*"}, "secure": true, "type": "http_header"}], "isCritical": false,
        "name": "First api step", "request": {"allow_insecure": true, "basicAuth":
        {"accessKey": "sigv4-access-key", "region": "sigv4-region", "secretKey": "sigv4-secret-key",
        "serviceName": "sigv4-service-name", "sessionToken": "sigv4-session-token",
        "type": "sigv4"}, "body": "this is a body", "certificate": {"cert": {"filename":
        "Provided in Terraform config"}, "key": {"filename": "key"}}, "follow_redirects":
        true, "headers": {},
        "method": "GET", "proxy": {"headers": {"Accept": "application/json", "X-Datadog-Trace-ID":
        "123456789"}, "url": "https://proxy.url"}, "query": {"foo": "bar"}, "timeout":
        30, "url": "https://www.datadoghq.com"}, "retry": {"count": 5, "interval":
        1000}, "subtype": "http", "id": "3xr-p38-qba"}, {"allowFailure": false, "assertions":
        [{"operator": "is", "target": 200, "type": "statusCode"}], "extractedValues":
        [], "isCritical": false, "name": "Second api step", "request": {"allow_insecure":
        true, "basicAuth": {"accessTokenUrl": "https://token.datadoghq.com", "audience":
        "audience", "clientId": "client-id", "clientSecret": "client-secret", "scope":
        "scope", "tokenApiAuthentication": "header", "type": "oauth-client"}, "body":
        "", "follow_redirects": true, "method": "GET", "timeout": 30, "url": "https://docs.datadoghq.com"},
        "subtype": "http", "id": "3ij-dfg-6tw"}, {"allowFailure": false, "assertions":
        [{"operator": "is", "target": 200, "type": "statusCode"}], "extractedValues":
        [], "isCritical": false, "name": "Third api step", "request": {"allow_insecure":
        true, "basicAuth": {"accessTokenUrl": "https://token.datadoghq.com", "audience":
        "audience", "clientId": "client-id", "clientSecret": "client-secret", "password":
        "password", "resource": "resource", "scope": "scope", "tokenApiAuthentication":
        "body", "type": "oauth-rop", "username": "username"}, "body": "", "follow_redirects":
        true, "method": "GET", "timeout": 30, "url": "https://docs.datadoghq.com"},
        "subtype": "http", "id": "it3-n6p-xnp"}, {"allowFailure": false, "assertions":
        [{"operator": "is", "target": 200, "type": "statusCode"}], "extractedValues":
        [], "isCritical": false, "name": "Fourth api step", "request": {"allow_insecure":
        true, "basicAuth": {"password": "password", "type": "digest", "username":
        "username"}, "body": "", "follow_redirects": true, "method": "GET", "timeout":
        30, "url": "https://docs.datadoghq.com"}, "subtype": "http", "id": "vid-d39-qgr"}]},
        "message": "Notify @datadog.user", "options": {"min_location_failed": 1, "restricted_roles":
        ["430aea7c-0501-11ee-9f44-da7ad0900002"], "tick_every": 900}, "locations":
        ["aws:eu-central-1"], "subtype": "multi", "monitor_id": 121127083, "creator":
        {"name": "Frog", "handle": "frog@datadoghq.com", "email": "frog@datadoghq.com"}}],
        "total": 8}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/9kt-p3e-he4
  response:
    body:
      string: '{"public_id": "9kt-p3e-he4", "name": "HTTP Test", "status": "paused",
        "type": "api", "tags": [], "created_at": "2022-11-15T21:05:04.474438+00:00",
        "modified_at": "2022-11-15T21:05:04.474438+00:00", "config": [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/e6x-9uf-7vc
  response:
    body:
      string: '{"public_id": "e6x-9uf-7vc", "name": "Test-Trigger_Synthetics_tests_returns_OK_response-1666783270",
        "status": "live", "type": "api", "tags": ["testing:api"], "created_at": "2022-11-15T21:05:04.493127+00:00",
        "modified_at": "2022-11-15T21:05:04.493127+00:00", "config": [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/shp-p4u-z5t
  response:
    body:
      string: '{"public_id": "shp-p4u-z5t", "name": "TCP Test", "status": "live",
        "type": "api", "tags": ["foo:bar", "foo", "env:test"], "created_at": "2022-11-15T21:05:04.516477+00:00",
        "modified_at": "2022-11-15T21:05:04.516477+00:00", "config": [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/sac-hdw-2vm
  response:
    body:
      string: '{"public_id": "sac-hdw-2vm", "name": "SSL Test", "status": "live",
        "type": "api", "tags": ["foo:bar", "foo", "env:test"], "created_at": "2022-11-15T21:05:04.539022+00:00",
        "modified_at": "2022-11-15T21:05:04.539022+00:00", "config": [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/browser/4mg-pxb-ze4
  response:
    body:
      string: '{"public_id": "4mg-pxb-ze4", "name": "Browser Test (cloned)", "status":
        "live", "type": "browser", "tags": [], "created_at": "2022-11-15T21:05:04.564415+00:00",
        "modified_at": "2022-11-15T21:05:04.564415+00:00", "config": {"variables":
        [], "setCookie": "", "re[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/n65-rw3-5ta
  response:
    body:
      string: '{"public_id": "n65-rw3-5ta", "name": "DNS Test", "status": "live",
        "type": "api", "tags": ["foo:bar", "foo", "env:test"], "created_at": "2022-11-15T21:05:04.640424+00:00",
        "modified_at": "2022-11-15T21:05:04.640424+00:00", "config": [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/ct9-df9-7cy
  response:
    body:
      string: '{"public_id": "ct9-df9-7cy", "name": "Multistep API Test", "status":
        "live", "type": "api", "tags": ["check_type:api", "env:test", "test:update"],
        "created_at": "2022-11-15T21:05:04.669579+00:00", "modified_at": "2022-11-15T21:05:04.669579+00:00",
        "config": {"step[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/xv9-vri-fqh
  response:
    body:
      string: '{"public_id": "xv9-vri-fqh", "name": "tf-TestAccDatadogSyntheticsTestMultistepApi_Basic-local-1686121345",
        "status": "paused", "type": "api", "tags": ["multistep"], "created_at": "2023-06-07T07:02:28.009429+00:00",
        "modified_at": "2023-06-07T07:02:28.009429+00:00", "confi[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "roles", "id": "fa017a35-bfcb-11eb-a4d7-da7ad0900002",
        "attributes": {"name": "Datadog Admin Role", "created_at": "2021-05-28T15:47:15.884751+00:00",
        "modified_at": "2023-03-22T20:42:59.038042+00:00", "user_count": 6}, "relationships":
        {"permissions": {"data": [{"type": "permissions", "id": "984d2f00-d3b4-11e8-a200-bb47109e9987"},
        {"type": "permissions", "id": "5e605652-dd12-11e8-9e53-375565b8970e"}, {"type":
        "permissions", "id": "62cc036c-dd12-11e8-9e54-db9995643092"}, {"type": "permissions",
        "id": "6f66600e-dd12-11e8-9e55-7f30fbb45e73"}, {"type": "permissions", "id":
        "7d7c98ac-dd12-11e8-9e56-93700598622d"}, {"type": "permissions", "id": "811ac4ca-dd12-11e8-9e57-676a7f0beef9"},
        {"type": "permissions",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/permissions
  response:
    body:
      string: '{"data": [{"type": "permissions", "id": "984a2bd4-d3b4-11e8-a1ff-a7f660d43029",
        "attributes": {"name": "admin", "display_name": "Privileged Access", "description":
        "Deprecated. Privileged Access (also known as Admin permission) has been replaced
        by more specific permissions: Access Management, Org Management, Billing Read/Write,
        Usage Read/Write.", "created": "2018-10-19T15:35:23.734317+00:00", "group_name":
        "General", "display_type": "other", "restricted": false}}, {"type": "permissions",
        "id": "984d2f00-d3b4-11e8-a200-bb47109e9987", "attributes": {"name": "standard",
        "display_name": "Standard Access", "description": "Deprecated. Standard Access
        has been replaced by more specific permissions.", "created": "2018-10-19T15:35:23.756736+00:00",
        "group_name": "General", "display_type": "other", "restricted": false}}, {"type":
        "permissions", "id": "5e605652-dd12-11e8-9e53-375565b8970e", "attributes":
        {"na[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=500
  response:
    body:
      string: '{"data": [{"type": "users", "id": "0dd23ab8-984f-11ee-a259-160bb50d121a",
        "attributes": {"name": "Aldrick Castro", "handle": "aldrick.castro@datadoghq.com",
        "created_at": "2023-12-11T17:59:39.678404+00:00", "modified_at": "2023-12-11T18:01:09.427132+00:00",
        "email": "aldrick.castro@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/c4b2f071a7e83e98302afbc9889cfc18?s=48&d=retro",
        "title": "", "verified": true, "service_account": false, "disabled": false,
        "allowed_login_methods": [], "status": "Active", "mfa_enabled": false}, "relationships":
        {"roles": {"data": [{"type": "roles", "id": "fa017a35-bfcb-11eb-a4d7-da7ad0900002"}]},
        "org": {"data": {"type": "orgs", "id": "fa017a34-bfcb-11eb-a4d7-da7ad0900002"}}}},
        {"type": "users", "id": "2d0d2076-bfcd-11eb-a4d7-da7ad0900002", "attributes":
        {"name": "Frog", "handle": "frog@datadoghq.com", "created_at": "2021-05-28T15:55:50.995606+00:00",
        "modified_at": "2022-10-28T07:43:41.792011+00:00", "email": "frog@datadoghq.com",
        "icon": "https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro",
        "title": "", "verified": true, "[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"id": "24a74917-d729-4729-a809-0d05cf159e25", "name":
        "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1686121345", "description":
        "a global variable", "type": "variable", "tags": ["foo:bar", "baz"], "created_at":
        "2023-06-07T07:02:27.297319+00:00", "modified_at": "2023-06-07T07:02:27.297319+00:00",
        "parse_test_public_id": null, "parse_test_name": null, "parse_test_options":
        null, "parse_test_extracted_at": null, "is_totp": null, "is_fido": null, "last_error":
        null, "value": {"secure": false, "value": "variable-value"}, "creator": {"email":
        "frog@datadoghq.com", "handle": "frog@datadoghq.com", "name": "Frog"}, "editor":
        {"email": "frog@datadoghq.com", "handle": "frog@datadoghq.com", "name": "Frog"}},
        {"id": "56683f0a-ffb7-4920-99ef-0ab6a23b3105", "name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1670405911",
        "description": "a global variable", "type": "variable", "tags": ["foo:bar",
        "baz"], "created_at": "2022-12-07T09:38:33.277732+00:00", "modified_at": "2022-12-07T09:38:33.277732+00:00",
        "parse_test_public_id": null, "parse_test_name": null, "parse_test_[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/slo/correction
  response:
    body:
      string: '{"data": [{"type": "correction", "id": "999b94e0-bf74-11ed-a4ee-da7ad0902002",
        "attributes": {"slo_id": "ae04001ea55f52f6ae4b85d9b1023909", "start": 1678255200,
        "end": 1678355280, "description": "", "category": "Other", "timezone": "UTC",
        "created_at": 1678474303, "modified_at": 1678474303, "rrule": null, "duration":
        null, "creator": {"data": {"type": "users", "id": "fa017a38-bfcb-11eb-a4d7-da7ad0900002",
        "attributes": {"uuid": "fa017a38-bfcb-11eb-a4d7-da7ad0900002", "handle": "support-datadogsynccliustestorg",
        "email": "support-user-prod@datadoghq.com", "name": "Datadog Support", "icon":
        "https://secure.gravatar.com/avatar/e6952b5f29fe2d996cf4e63f40db9e71?s=48&d=retro"}}},
        "modifier": null}}, {"type": "correction", "id": "381d1620-bf70-11ed-acb8-da7ad0902002",
        "attributes": {"slo_id": "ba72d10835d75e0c8910597144f3733a", "start": 1678255200,
        "end": 1678339140, "description": "", "category": "Other", "timezone": "UTC",
        "created_at": 1678472421, "modified_at": 1678472421, "rrule": null, "duration":
        null, "creator": {"data": {"type": "users", "id": "fa017a38-bfcb-11eb-a4d7-da7ad0900002",
        "attributes": {"uuid": "fa017a38-bfcb-11eb-a4d7-da7ad0900002", "handle": "support-datadogsynccliustestorg",
        "email": "support-user-prod@datadoghq.com", "name": "Datadog Support", "icon":
        "https://secure.gravatar.com/avatar/e6952b5f29fe2d996cf4e63f40db9e71?s=48&d=retro"}}},
        "modifier": null}}], "meta": {"page": {"total_count": 2, "total_filtered_count":
        2}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/monitor?page=0&page_size=1000
  response:
    body:
      string: '[{"id": 36230659, "org_id": 569509, "type": "query alert", "name":
        "Composite monitor - Child 2", "message": "Test monitor ----------------",
        "tags": ["test:foo", "test_two:bar"], "query": "avg(last_5m):avg:datadog.estimated_usage.hosts{*}
        > 50", "options": {"thresholds": {"critical": 50.0}, "notify_audit": false,
        "require_full_window": true, "notify_no_data": false, "renotify_interval":
        0, "timeout_h": 0, "include_tags": true, "no_data_timeframe": null, "escalation_message":
        "", "new_host_delay": 300, "silenced": {}}, "multi": false, "created_at":
        1622364217000, "created": "2021-05-30T08:43:37.940520+00:00", "modified":
        "2023-08-10T20:39:26.357089+00:00", "deleted": null, "restricted_roles": null,
        "priority": null, "overall_state_modified": "2021-05-30T08:45:28+00:00", "overall_state":
        "OK", "creator": {"name": "Sherzod Karimov", "handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod.karimov@datadoghq.com", "id": 2781275}, "matching_downtimes":
        []}, {"id": 36239262, "org_id": 569509, "type": "query alert", "name": "Composite
        monitor - child 1", "message": "Composite monitor - child 1", "tags": ["test:foo"],
        "query": "avg(last_5m):avg:dd.dialtone.historical.metrics{*} > 20", "options":
        {"thresholds": {"critical": 20.0, "warning": 10.0}, "notify_audit": false,
        "require_full_window": true, "notify_no_data": false, "renotify_interval":
        1440, "timeout_h": 0, "include_tags": true, "no_data_timeframe": null, "escalation_message":
        "", "renotify_statuses": ["no data"], "new_host_delay": 300, "silenced": {}},
        "multi": false, "created_at": 1622404151000, "created": "2021-05-30T19:49:11.945913+00:00",
        "modified": "2023-08-10T20:39:47.053119+00:00", "deleted": null, "restricted_roles":
        null, "priority": null, "overall_state_modified": "2021-05-30T19:52:07+00:00",
        "overall_state": "OK", "creator": {"name": "Sherzod Karimov", "handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod.karimov@datadoghq.com", "id": 2781275}, "matching_downtimes":
        []}, {"id": 36593201, "org_id": 569509, "type": "composite", "name": "Composite
        monitor", "message": "test", "tags": [], "query": "( 36239262 && 36230659
        ) || !36239262", "options": {"notify_audit": false, "locked": false, "include_tags":
        false, "new_host_delay": 300, "notify_no_data": false, "renotify_interval":
        0, "escalation_message": "", "silenced": {}}, "multi": false, "created_at":
        1622746548000, "created": "2021-06-03T18:55:48.515861+00:00", "modified":
        "2021-06-08T18:13:50.284433+00:00", "deleted": null, "restricted_roles": null,
        "priority": null, "overall_state_modified": "2021-06-03T18:56:43+00:00", "overall_state":
        "Alert", "creator": {"name": "Sherzod Karimov", "handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod.karimov@datadoghq.com", "id": 2781275}, "matching_downtimes":
        []}, {"id": 37284891, "org_id": 569509, "type": "service check", "name": "Host
        monitor", "message": "Test host monitor", "tags": ["service:daimler-health-service"],
        "query": "\"datadog.agent.up\".over(\"*\").by(\"host\").last(2).count_by_status()",
        "options": {"thresholds": {"critical": 1, "warning": 1, "ok": 1}, "notify_audit":
        false, "notify_no_data": true, "no_data_timeframe": 2, "renotify_interval":
        0, "timeout_h": 0, "include_tags": true, "new_group_delay": 300, "silenced":
        {}}, "multi": true, "created_at": 1623176221000, "created": "2021-06-08T18:17:01.656132+00:00",
[...]
