interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"errors": ["Unauthorized"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: Unauthorized
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 2, "IsPrimary": false, "ModifiedAt": "2025-10-20
        13:14:14.048828", "ModifiedBy": "michael.richey@datadoghq.com", "TargetOrgDatacenter":
        "eu1.prod.dog", "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid":
        "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"errors": ["Unauthorized"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: Unauthorized
version: 1
