interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "roles", "id": "fa017a35-bfcb-11eb-a4d7-da7ad0900002",
        "attributes": {"name": "Datadog Admin Role", "created_at": "2021-05-28T15:47:15.884751+00:00",
        "modified_at": "2023-03-22T20:42:59.038042+00:00", "user_count": 4}, "relationships":
        {"permissions": {"data": [{"type": "permissions", "id": "984d2f00-d3b4-11e8-a200-bb47109e9987"},
        {"type": "permissions", "id": "5e605652-dd12-11e8-9e53-375565b8970e"}, {"type":
        "permissions", "id": "62cc036c-dd12-11e8-9e54-db9995643092"}, {"type": "permissions",
        "id": "6f66600e-dd12-11e8-9e55-7f30fbb45e73"}, {"type": "permissions", "id":
        "7d7c98ac-dd12-11e8-9e56-93700598622d"}, {"type": "permissions", "id": "811ac4ca-dd12-11e8-9e57-676a7f0beef9"},
        {"type": "permissions",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/permissions
  response:
    body:
      string: '{"data": [{"type": "permissions", "id": "984a2bd4-d3b4-11e8-a1ff-a7f660d43029",
        "attributes": {"name": "admin", "display_name": "Privileged Access", "description":
        "Deprecated. Privileged Access (also known as Admin permission) has been replaced
        by more specific permissions: Access Management, Org Management, Billing Read/Write,
        Usage Read/Write.", "created": "2018-10-19T15:35:23.734317+00:00", "group_name":
        "General", "display_type": "other", "restricted": false}}, {"type": "permissions",
        "id": "984d2f00-d3b4-11e8-a200-bb47109e9987", "attributes": {"name": "standard",
        "display_name": "Standard Access", "description": "View and edit components
        in your Datadog organization that do not have explicitly defined permissions.",
        "created": "2018-10-19T15:35:23.756736+00:00", "group_name": "General", "display_type":
        "other", "restricted": false}}, {"type": "permissions", "id": "5e605652-dd12-11e8-9e53-375565b8970e",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "users", "id": "2d0d2076-bfcd-11eb-a4d7-da7ad0900002",
        "attributes": {"name": "Frog", "handle": "frog@datadoghq.com", "created_at":
        "2021-05-28T15:55:50.995606+00:00", "modified_at": "2022-10-28T07:43:41.792011+00:00",
        "email": "frog@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro",
        "title": null, "verified": true, "service_account": false, "disabled": false,
        "allowed_login_methods": [], "status": "Active"}, "relationships": {"roles":
        {"data": [{"type": "roles", "id": "fa017a35-bfcb-11eb-a4d7-da7ad0900002"}]},
        "org": {"data": {"type": "orgs", "id": "fa017a34-bfcb-11eb-a4d7-da7ad0900002"}}}},
        {"type": "users", "id": "2c9609cc-c316-11eb-a516-da7ad0900002", "attributes":
        {"name": null, "handle": "karimovj@gmail.com", "created_at": "2021-06-01T20:15:56.964166+00:00",
        "modified_at": "2021-06-04T19:49:43.686963+00:00", "email": "karimovj@gmail.com",
        "icon": "https://secure.gravatar.com/avatar/4df2a0457aa2d2f4bff089e88d1ed8e4?s=48&d=retro",
        "title": null, "verified": true, "[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/monitor/12742222?force=True
  response:
    body:
      string: '{"deleted_monitor_id": 12742222}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/downtime/282028173
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/synthetics/private-locations/pl:test-private-variable-b8998566d656416b67ce17e8a68a1070
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/dashboard/lists/manual/29200
  response:
    body:
      string: '{"deleted_dashboard_list_id": 29200}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/slo/9fb35ed46b6b5014961afe6928206468?force=True
  response:
    body:
      string: '{"data": ["9fb35ed46b6b5014961afe6928206468"], "error": null}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/dashboard/7qh-mz6-twu
  response:
    body:
      string: '{"deleted_dashboard_id": "7qh-mz6-twu"}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/dashboard/e3e-tx5-q4t
  response:
    body:
      string: '{"deleted_dashboard_id": "e3e-tx5-q4t"}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/dashboard/cz4-biz-ddq
  response:
    body:
      string: '{"deleted_dashboard_id": "cz4-biz-ddq"}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v2/roles/667e08d6-4287-11ee-ab18-da7ad0900005
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/1638b76c-6529-4449-b272-6694dddcc595
  response:
    body:
      string: '{"errors": ["Synthetics global variable in use"]}'
    headers: {}
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"public_ids": ["zuw-h5t-mn2"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/delete
  response:
    body:
      string: '{"deleted_tests": [{"public_id": "zuw-h5t-mn2", "deleted_at": "2023-08-24T14:06:54.231748+00:00"}]}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v2/users/5a322106-c891-11eb-873a-da7ad0900005
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "roles", "id": "138d5c0c-bfcc-11eb-8e11-da7ad0900005",
        "attributes": {"name": "Datadog Admin Role", "created_at": "2021-05-28T15:47:58.719345+00:00",
        "modified_at": "2023-05-03T14:57:19.540899+00:00", "user_count": 4}, "relationships":
       [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": ["relationships": {"roles":
        {"data": []}, "org": {"data": {"type": "orgs", "id": "13865f06-bfcc-11eb-8e11-da7ad0900005"}}}},
        {"type": "users", "id": "3af5af64-bfcd-11eb-b483-da7ad0900005", "attributes":
        {"name": "Frog", "handle": "frog@datadoghq[...]
[...]
