interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "roles", "id": "138d5c0c-bfcc-11eb-8e11-da7ad0900005",
        "attributes": {"name": "Datadog Admin Role", "created_at": "2021-05-28T15:47:58.719345+00:00",
        "modified_at": "2023-05-03T14:57:19.540899+00:00", "user_count": 5}, "relationships":
        {"permissions": {"data": [{"type": "permissions", "id": "f1666372-d87d-11e8-acac-6be484ba794a"},
        {"type": "permissions", "id": "4fbb1652-dd15-11e8-9308-77be61fbb2c7"}, {"type":
        "permissions", "id": "4fbd1e66-dd15-11e8-9308-53cb90e4ef1c"}, {"type": "permissions",
        "id": "4fbeec96-dd15-11e8-9308-d3aac44f93e5"}, {"type": "permissions", "id":
        "4fc2807c-dd15-11e8-9308-d3bfffb7f039"}, {"type": "permissions", "id": "4fc43656-dd15-11e8-9308-f3e2bb5e31b4"},
        {"type": "permissions",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": []}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "users", "id": "0d258cfa-0fe4-11ec-a7f3-da7ad0900005",
        "attributes": {"name": "Aaqib Kufran", "handle": "aaqib.kufran@grabtaxi.com",
        "created_at": "2021-09-07T14:01:08.914336+00:00", "modified_at": "2021-09-07T14:20:35.722260+00:00",
        "email": "aaqib.kufran@grabtaxi.com", "icon": "https://secure.gravatar.com/avatar/efea0bfb9f43c8a441b8d32f29d48aab?s=48&d=retro",
        "title": "", "verified": false, "service_account": false, "disabled": true,
        "allowed_login_methods": [], "status": "Disabled", "mfa_enabled": false},
        "relationships": {"roles": {"data": []}, "org": {"data": {"type": "orgs",
        "id": "13865f06-bfcc-11eb-8e11-da7ad0900005"}}}}, {"type": "users", "id":
        "0d29b6ae-0fe4-11ec-aed8-da7ad0900005", "attributes": {"name": "Abby Alcantara",
        "handle": "abby.alcantara@grabtaxi.com", "created_at": "2021-09-07T14:01:08.941836+00:00",
        "modified_at": "2021-09-07T14:20:36.235407+00:00", "email": "abby.alcantara@grabtaxi.com",
        "icon": "https://secure.gravatar.com/avatar/8e069bb75a0db1eb37b14c6742b034ea?s=48&d=retro",
    [...]
- request:
    body: '{"type": "query alert", "name": "Composite monitor - Child 2", "message":
      "Test monitor ----------------", "tags": ["test:foo", "test_two:bar"], "query":
      "avg(last_5m):avg:datadog.estimated_usage.hosts{*} > 50", "options": {"thresholds":
      {"critical": 50.0}, "notify_audit": false, "require_full_window": true, "notify_no_data":
      false, "renotify_interval": 0, "timeout_h": 0, "include_tags": true, "no_data_timeframe":
      null, "escalation_message": "", "new_host_delay": 300, "silenced": {}}, "multi":
      false, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/monitor
  response:
    body:
      string: '{"id": 14510181, "org_id": 1000044987, "type": "query alert", "name":
        "Composite monitor - Child 2", "message": "Test monitor ----------------",
        "tags": ["test:foo", "test_two:bar"], "query": "avg(last_5m):avg:datadog.estimated_usage.hosts{*}
        > 50", "options": {"thresholds": {"critical": 50.0}, "notify_audit": false,
        "require_full_window": true, "notify_no_data": false, "renotify_interval":
        0, "timeout_h": 0, "include_tags": true, "no_data_timeframe": null, "escalation_message":
        "", "new_host_delay": 300, "silenced": {}}, "multi": false, "created_at":
        1703004803000, "created": "2023-12-19T16:53:23.313003+00:00", "modified":
        "2023-12-19T16:53:23.313003+00:00", "deleted": null, "restricted_roles": null,
        "priority": null, "overall_state_modified": null, "overall_state": "No Data",
        "creator": {"name": "Frog", "handle": "frog@datadoghq.com", "email": "frog@datadoghq.com",
        "id": 1000219667}}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "query alert", "name": "Anomaly monitor", "message": "Anomaly
      monitor", "tags": [], "query": "avg(last_4h):anomalies(avg:dd.dialtone.historical.metrics{*},
      ''basic'', 2, direction=''both'', alert_window=''last_15m'', interval=60, count_default_zero=''true'')
      >= 1", "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "include_tags":
      true, "no_data_timeframe": null, "require_full_window": true, "new_host_delay":
      300, "notify_no_data": false, "renotify_interval": 0, "escalation_message":
      "", "threshold_windows": {"recovery_window": "last_15m", "trigger_window": "last_15m"},
      "thresholds": {"critical": 1.0, "critical_recovery": 0.0}, "silenced": {}},
      "multi": false, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/monitor
  response:
    body:
      string: '{"id": 14510182, "org_id": 1000044987, "type": "query alert", "name":
        "Anomaly monitor", "message": "Anomaly monitor", "tags": [], "query": "avg(last_4h):anomalies(avg:dd.dialtone.historical.metrics{*},
        ''basic'', 2, direction=''both'', alert_window=''last_15m'', interval=60,
        count_default_zero=''true'') >= 1", "options": {"notify_audit": false, "locked":
        false, "timeout_h": 0, "include_tags": true, "no_data_timeframe": null, "require_full_window":
        true, "new_host_delay": 300, "notify_no_data": false, "renotify_interval":
        0, "escalation_message": "", "threshold_windows": {"recovery_window": "last_15m",
        "trigger_window": "last_15m"}, "thresholds": {"critical": 1.0, "critical_recovery":
        0.0}, "silenced": {}}, "multi": false, "created_at": 1703004803000, "created":
        "2023-12-19T16:53:23.723825+00:00", "modified": "2023-12-19T16:53:23.723825+00:00",
        "deleted": null, "restricted_roles": null, "priority": null, "overall_state_modified":
        null, "overall_state": "No Data", "creator": {"name": "Frog", "handle": "frog@datadoghq.com",
        "email": "frog@datadoghq.com", "id": 1000219667}}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"title": "datadog-sync-cli Test Dashboard", "description": "", "layout_type":
      "ordered", "is_read_only": false, "template_variables": [], "widgets": [{"definition":
      {"title_size": "16", "title": "", "title_align": "left", "precision": 2, "time":
      {}, "autoscale": true, "requests": [{"response_format": "scalar", "queries":
      [{"query": "avg:system.cpu.user{*}", "data_source": "metrics", "name": "query1",
      "aggregator": "avg"}]}], "type": "query_value"}, "layout": {"y": 0, "x": 0,
      "height": 2, "width": 2}, "id": 6609238960092638}], "notify_list": [], "reflow_type":
      "fixed", "restricted_roles": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/dashboard
  response:
    body:
      string: '{"id": "v8u-z4u-sw5", "title": "datadog-sync-cli Test Dashboard", "description":
        "", "author_handle": "frog@datadoghq.com", "author_name": "Frog", "layout_type":
        "ordered", "url": "/dashboard/v8u-z4u-sw5/datadog-sync-cli-test-dashboard",
        "is_read_only": false, "template_variables": [], "widgets": [{"definition":
        {"title_size": "16", "title": "", "title_align": "left", "precision": 2, "time":
        {}, "autoscale": true, "requests": [{"response_format": "scalar", "queries":
        [{"query": "avg:system.cpu.user{*}", "data_source": "metrics", "name": "query1",
        "aggregator": "avg"}]}], "type": "query_value"}, "layout": {"y": 0, "x": 0,
        "height": 2, "width": 2}, "id": 6609238960092638}], "notify_list": [], "created_at":
        "2023-12-19T16:53:24.118140+00:00", "modified_at": "2023-12-19T16:53:24.118140+00:00",
        "reflow_type": "fixed", "restricted_roles": []}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"title": "Test screenboard", "description": "Created using the Datadog
      provider in Terraform", "layout_type": "free", "is_read_only": false, "template_variables":
      [{"default": "aws", "prefix": "host", "name": "var_1"}, {"default": "autoscaling",
      "prefix": "service_name", "name": "var_2"}], "widgets": [{"definition": {"title_size":
      "16", "title": "Widget Title", "title_align": "left", "time": {"live_span":
      "1h"}, "query": "*", "type": "event_stream", "event_size": "l"}, "layout": {"y":
      5, "x": 5, "height": 43, "width": 32}, "id": 4066667513687323}, {"definition":
      {"title_size": "16", "title": "Widget Title", "title_align": "left", "time":
      {"live_span": "1h"}, "query": "*", "type": "event_timeline"}, "layout": {"y":
      73, "x": 42, "height": 9, "width": 65}, "id": 68713679518613}, {"definition":
      {"color": "#d00", "text": "free text content", "type": "free_text", "font_size":
      "88", "text_align": "left"}, "layout": {"y": 5, "x": 42, "height": 20, "width":
      30}, "id": 1117617615518455}, {"definition": {"url": "http://google.com", "type":
      "iframe"}, "layout": {"y": 8, "x": 111, "height": 46, "width": 39}, "id": 3098118775539428},
      {"definition": {"url": "https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&h=350",
      "sizing": "fit", "margin": "small", "type": "image"}, "layout": {"y": 7, "x":
      77, "height": 20, "width": 30}, "id": 651713243056399}, {"definition": {"logset":
      "", "sort": {"column": "time", "order": "desc"}, "show_message_column": true,
      "show_date_column": true, "message_display": "expanded-md", "indexes": ["main"],
      "query": "error", "type": "log_stream", "columns": ["core_host", "core_service",
      "tag_source"]}, "layout": {"y": 51, "x": 5, "height": 36, "width": 32}, "id":
      5458329230004343}, {"definition": {"sort": "status,asc", "count": 50, "title_size":
      "16", "title": "Widget Title", "title_align": "left", "hide_zero_counts": true,
      "start": 0, "summary_type": "monitors", "query": "type:metric", "color_preference":
      "text", "show_last_triggered": false, "display_format": "countsAndList", "type":
      "manage_status"}, "layout": {"y": 55, "x": 112, "height": 40, "width": 30},
      "id": 1112741664700765}, {"definition": {"span_name": "cassandra.query", "title_size":
      "13", "service": "alerting-cassandra", "title": "alerting-cassandra #env:datad0g.com",
      "size_format": "large", "show_hits": true, "show_latency": false, "title_align":
      "center", "show_errors": true, "show_breakdown": true, "env": "datad0g.com",
      "time": {"live_span": "1h"}, "show_distribution": true, "display_format": "three_column",
      "type": "trace_service", "show_resource_list": false}, "layout": {"y": 28, "x":
      40, "height": 38, "width": 67}, "id": 6949442529647217}], "notify_list": [],
      "template_variable_presets": [{"template_variables": [{"name": "var_1", "value":
      "host.dc"}, {"name": "var_2", "value": "my_service"}], "name": "preset_1"}],
      "restricted_roles": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/dashboard
  response:
    body:
      string: '{"id": "n5v-rx6-a2v", "title": "Test screenboard", "description": "Created
        using the Datadog provider in Terraform", "author_handle": "frog@datadoghq.com",
        "author_name": "Frog", "layout_type": "free", "url[...]
- request:
    body: '{"type": "query alert", "name": "Composite monitor - child 1", "message":
      "Composite monitor - child 1", "tags": ["test:foo"], "query": "avg(last_5m):avg:dd.dialtone.historical.metrics{*}
      > 20", "options": {"thresholds": {"critical": 20.0, "warning": 10.0}, "notify_audit":
      false, "require_full_window": true, "notify_no_data": false, "renotify_interval":
      1440, "timeout_h": 0, "include_tags": true, "no_data_timeframe": null, "escalation_message":
      "", "renotify_statuses": ["no data"], "new_host_delay": 300, "silenced": {}},
      "multi": false, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/monitor
  response:
    body:
      string: '{"id": 14510183, "org_id": 1000044987, "type": "query alert", "name":
        "Composite monitor - child 1", "message": "Composite monitor - child 1", "tags":
        ["test:foo"], "query": "avg(last_5m):avg:dd.dialtone.historical.metrics{*}
        > 20", "options": {"thresholds": {"critical": 20.0, "warning": 10.0}, "notify_audit":
        false, "require_full_window": true, "notify_no_data": false, "renotify_interval":
        1440, "timeout_h": 0, "include_tags": true, "no_data_timeframe": null, "escalation_message":
        "", "renotify_statuses": ["no data"], "new_host_delay": 300, "silenced": {}},
        "multi": false, "created_at": 1703004804000, "created": "2023-12-19T16:53:24.927379+00:00",
        "modified": "2023-12-19T16:53:24.927379+00:00", "deleted": null, "restricted_roles":
        null, "priority": null, "overall_state_modified": null, "overall_state": "No
        Data", "creator": {"name": "Frog", "handle": "frog@datadoghq.com", "email":
        "frog@datadoghq.com", "id": 1000219667}}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "service check", "name": "Host monitor", "message": "Test host
      monitor", "tags": ["service:daimler-health-service"], "query": "\"datadog.agent.up\".over(\"*\").by(\"host\").last(2).count_by_status()",
      "options": {"thresholds": {"critical": 1, "warning": 1, "ok": 1}, "notify_audit":
      false, "notify_no_data": true, "no_data_timeframe": 2, "renotify_interval":
      0, "timeout_h": 0, "include_tags": true, "new_group_delay": 300, "silenced":
      {}}, "multi": true, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/monitor
  response:
    body:
      string: '{"id": 14510184, "org_id": 1000044987, "type": "service check", "name":
        "Host monitor", "message": "Test host monitor", "tags": ["service:daimler-health-service"],
        "query": "\"datadog.agent.up\".over(\"*\").by(\"host\").last(2).count_by_status()",
        "options": {"thresholds": {"critical": 1, "warning": 1, "ok": 1}, "notify_audit":
        false, "notify_no_data": true, "no_data_timeframe": 2, "renotify_interval":
        0, "timeout_h": 0, "include_tags": true, "new_group_delay": 300, "silenced":
        {}}, "multi": true, "created_at": 1703004805000, "created": "2023-12-19T16:53:25.374036+00:00",
        "modified": "2023-12-19T16:53:25.374036+00:00", "deleted": null, "restricted_roles":
        null, "priority": null, "overall_state_modified": null, "overall_state": "No
        Data", "creator": {"name": "Frog", "handle": "frog@datadoghq.com", "email":
        "frog@datadoghq.com", "id": 1000219667}}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "event-v2 alert", "name": "Test event monitor", "message": "Test
      event monitor", "tags": [], "query": "events(\"\").rollup(\"count\").last(\"5m\")
      > 100", "options": {"notify_audit": false, "locked": false, "timeout_h": 0,
      "include_tags": true, "restriction_query": null, "new_host_delay": 300, "notify_no_data":
      false, "renotify_interval": 0, "groupby_simple_monitor": true, "enable_logs_sample":
      false, "escalation_message": "", "thresholds": {"critical": 100.0}, "silenced":
      {}}, "multi": false, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/monitor
  response:
    body:
      string: '{"id": 14510188, "org_id": 1000044987, "type": "event-v2 alert", "name":
        "Test event monitor", "message": "Test event monitor", "tags": [], "query":
        "events(\"\").rollup(\"count\").last(\"5m\") > 100", "options": {"notify_audit":
        false, "locked": false, "timeout_h": 0, "include_tags": true, "restriction_query":
        null, "new_host_delay": 300, "notify_no_data": false, "renotify_interval":
        0, "groupby_simple_monitor": true, "enable_logs_sample": false, "escalation_message":
        "", "thresholds": {"critical": 100.0}, "silenced": {}}, "multi": false, "created_at":
        1703004806000, "created": "2023-12-19T16:53:26.843912+00:00", "modified":
        "2023-12-19T16:53:26.843912+00:00", "deleted": null, "restricted_roles": null,
        "priority": null, "overall_state_modified": null, "overall_state": "No Data",
        "creator": {"name": "Frog", "handle": "frog@datadoghq.com", "email": "frog@datadoghq.com",
        "id": 1000219667}}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "SLO test", "tags": [], "monitor_tags": [], "thresholds": [{"timeframe":
      "7d", "target": 99.0, "target_display": "99."}], "type": "metric", "type_id":
      1, "description": "Test update creation", "timeframe": "7d", "target_threshold":
      99.0, "query": {"denominator": "sum:api.requests{*}.as_count()", "numerator":
      "sum:api.requests.status_ok{*}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/slo
  response:
    body:
      string: '{"data": [{"id": "b1e2084a1f04586dab7ff2be7bb7afee", "name": "SLO test",
        "tags": [], "monitor_tags": [], "thresholds": [{"timeframe": "7d", "target":
        99.0, "target_display": "99."}], "type": "metric", "type_id": 1, "description":
        "Test update creation", "timeframe": "7d", "target_threshold": 99.0, "query":
        {"denominator": "sum:api.requests{*}.as_count()", "numerator": "sum:api.requests.status_ok{*}.as_count()"},
        "creator": {"name": "Frog", "handle": "frog@datadoghq.com", "email": "frog@datadoghq.com"},
        "created_at": 1703004807, "modified_at": 1703004807}], "error": null}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "Empty Test List"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/dashboard/lists/manual
  response:
    body:
      string: '{"author": {"name": "Frog", "handle": "frog@datadoghq.com"}, "created":
        "2023-12-19T16:53:27.641851+00:00", "dashboards": null, "dashboard_count":
        0, "id": 33962, "is_favorite": false, "modified": "2023-12-19T16:53:27.641858+00:00",
        "name": "Empty Test List", "type": "manual_dashboard_list"}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"dashboards": []}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v2/dashboard/lists/manual/33962/dashboards
  response:
    body:
      string: '{"dashboards": []}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "roles", "attributes": {"name": "Datadog Standard Role"},
      "relationships": {"permissions": {"data": [{"type": "permissions", "id": "f1666372-d87d-11e8-acac-6be484ba794a"},
      {"type": "permissions", "id": "4fbb1652-dd15-11e8-9308-77be61fbb2c7"}, {"type":
      "permissions", "id": "4fbd1e66-dd15-11e8-9308-53cb90e4ef1c"}, {"type": "permissions",
      "id": "4fbeec96-dd15-11e8-9308-d3aac44f93e5"}, {"type": "permissions", "id":
      "4fc2807c-dd15-[...]
[...]
- request:
    body: '{"description": "Test Test-Create_a_private_location_returns_OK_response-1694441551
      description", "tags": ["test:testcreateaprivatelocationreturnsokresponse1694441551"],
      "name": "Test-Create_a_private_location_returns_OK_response-1694441551"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/private-locations
  response:
    body:
      string: '{"private_location": {"createdAt": "2023-12-19T16:53:34.189646+00:00",
        "modifiedAt": "2023-12-19T16:53:34.189646+00:00", "description": "Test Test-Create_a_private_location_returns_OK_response-1694441551
        description", "tags": ["test:testcreateaprivatelocationreturnsokresponse1694441551"],
        "name": "Test-Create_a_private_location_returns_OK_response-1694441551", "metadata":
        null, "id": "pl:test-create_a_private_location_returns_ok_response-1694441551-9eba6e4fa1e226c4f258afd5c0411e20",
        "createdBy": "frog@datadoghq.com", "config": {"site": "datadoghq.eu"}}, "result_encryption":
        {"id": "sha256$base64$HCje9BSaPgSwhmA3TL6kYknOgjCW72k8ilCn4PAuins=", "key":
        "-----BEGIN PUBLIC KEY-----\nMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAyhjTDKqgNuqzlTKKEztw\nqQmfi3Vz/BCmaSRmwZenLP/a/GYG2pKR27hHv5fQB3v08W/BC1VA2XmuCR+EJiYo\nMWfjvLw65sv+S52Vsx4z0EuP5k1qmRyeRDPPENBxAypfLMbt1F6rTxI42ionaHSJ\nBWC8emJYOjAex5shz2I/aj3P3oht8ePr5Jj6A2jkewhBUvfcXQopAy21KhAtEEQB\n7NfG/JWSo9TEqEA4QxGEEqo4rHSHgRQVxtXINzDSp/M5136wVsLsTRF0bSLXSdrf\nRCZje4OdR5Ij9HdhB4F+2KW22Fm3vJlvPCG1C2ZtEDz3xzv9+hcz/rV7WrBMua3j\nZTei5EMTSOt0hIL/DmdId4LmWTc2fYWxe2nYUuAgPw+o+jaju5E5htFbd4JRqyEu\nmMJra8f0BWH80mEDiB1DqfsbVFNYmjG5pVJR7OEV4GRNw9CmwRhcwaXpjouYFrsy\nKvRRdAhLigC+FUDtsLZkgM4T6g4VOjgUTMuRAYgouyyjniuRTn4sKE/t0zfP6/0t\nS/izsjItIat+0RzkO7BY22ga9h1/orqFwgCtwX+WYDHSzo2oMku1tup16WP3Y2jj\n2MJGpHPhDkBoCKRXq34xGxHGoing0zCqmjk1h5WTZdVrppTjJo5sxK0ZGlOXdsk2\nGgiZrQVfZjtotyWUyJnC758CAwEAAQ==\n-----END
        PUBLIC KEY-----\n"}}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
{"request": {"url": "https://google.com", "method": "GET"}, "assertions": [{"operator":
      "lessThan", "type": "responseTime", "target": 1000}, {"operator": "is", "type":
      "statusCode", "target": 301}, {"operator": "is", "property": "content-type",
      "type": "header", "target": "text/html; charset=UTF-8"}]}, "message": "Test
      synthetics ", "options": {"retry": {"count": 1, "interval": 300}, "tick_every":
      604800, "monitor_options": {"include_tags": true, "notify_audit": false, "new_host_delay":
      300, "on_missing_data": "show_no_data", "renotify_interval": 120}, "monitor_priority":
      3, "min_location_failed": 1, "min_failure_duration": 120}, "locations": ["aws:ca-central-1"],
      "subtype": "http"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests
  response:
    body:
      string: '{"public_id": "q6t-wfn-646", "name": "HTTP Test", "status": "paused",
        "type": "api", "tags": [], "created_at": "2023-12-19T16:53:39.938077+00:00",
        "modified_at": "2023-12-19T16:53:39.938077+00:00", "config": {"request": {"url":
        "https://google.com", "method": "GET"}, "assertions": [{"operator": "lessThan",
        "type": "responseTime", "target": 1000}, {"operator": "is", "type": "statusCode",
        "target": 301}, {"operator": "is", "property": "content-type", "type": "header",
        "target": "text/html; charset=UTF-8"}]}, "message": "Test synthetics ", "options":
        {"retry": {"count": 1, "interval": 300}, "tick_every": 604800, "monitor_options":
        {"include_tags": true, "notify_audit": false, "new_host_delay": 300, "on_missing_data":
        "show_no_data", "renotify_interval": 120}, "monitor_priority": 3, "min_location_failed":
        1, "min_failure_duration": 120}, "locations": ["aws:ca-central-1"], "subtype":
        "http", "created_by": {"name": "Frog", "handle": "frog@datadoghq.com", "email":
        "frog@datadoghq.com"}, "deleted_at": null, "monitor_id": 14510190, "org_id":
        1000044987, "modified_by": {"name": "Frog", "handle": "frog@datadoghq.com",
        "email": "frog@datadoghq.com"}}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
{"request":
      {"certificate": {"cert": {"updatedAt": "2020-10-16T09:23:24.857Z", "filename":
      "cert-filename"}, "key": {"updatedAt": "2020-10-16T09:23:24.857Z", "filename":
      "key-filename"}}, "url": "https://datadoghq.com", "headers": {"unique": "testtriggersyntheticstestsreturnsokresponse1666783270"},
      "proxy": {"url": "https://datadoghq.com", "headers": {}}, "timeout": 10, "method":
      "GET"}, "assertions": [{"operator": "is", "property": "{{ PROPERTY }}", "type":
      "header", "target": "text/html"}, {"operator": "lessThan", "type": "responseTime",
      "target": 2000}, {"operator": "validatesJSONPath", "type": "body", "target":
      {"operator": "isNot", "targetValue": "0", "jsonPath": "topKey"}}], "configVariables":
      [{"pattern": "content-type", "type": "text", "example": "content-type", "name":
      "PROPERTY"}]}, "message": "BDD test payload: synthetics_api_http_test_payload.json",
      "options": {"accept_self_signed": false, "retry": {"count": 3, "interval": 10},
      "min_location_failed": 1, "allow_insecure": true, "follow_redirects": true,
      "min_failure_duration": 10, "monitor_priority": 5, "monitor_name": "Test-Trigger_Synthetics_tests_returns_OK_response-1666783270",
      "tick_every": 60}, "locations": ["aws:us-east-2"], "subtype": "http"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests
  response:
    body:
      string: '{"public_id": "2um-zt6-cby", "name": "Test-Trigger_Synthetics_tests_returns_OK_response-1666783270",
        "status": "live", "type": "api", "tags": ["testing:api"], "created_at": "2023-12-19T16:53:40.791365+00:00",
        "modified_at": "2023-12-19T16:53:40.791365+00:00", "config": [...]
{"request": {"host": "example.org", "port": 443},
      "assertions": [{"operator": "lessThan", "type": "responseTime", "target": 2000}]},
      "message": "Notify @pagerduty", "options": {"monitor_options": {"notify_audit":
      false, "include_tags": true, "new_host_delay": 300, "on_missing_data": "show_no_data",
      "renotify_interval": 0}, "tick_every": 900, "min_location_failed": 1}, "locations":
      ["aws:eu-central-1"], "subtype": "tcp"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests
  response:
    body:
      string: '{"public_id": "ppw-qzr-pk4", "name": "TCP Test", "status": "live",
        "type": "api", "tags": ["foo:bar", "foo", "env:test"], "created_at": "2023-12-19T16:53:42.434533+00:00",
        "modified_at": "2023-12-19T16:53:42.434533+00:00", "config": [...]
- request:
    body: '{"name": "TEST_VARIABLE", "description": "test", "type": "variable", "tags":
      ["check_type:api"], "value": {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"id": "b2ddc900-615c-4d4e-94c0-3e3f7a5a8479", "name": "TEST_VARIABLE",
        "description": "test", "type": "variable", "tags": ["check_type:api"], "parse_test_public_id":
        null, "parse_test_name": null, "parse_test_options": null, "parse_test_extracted_at":
        null, "is_totp": null, "is_fido": null, "last_error": null, "value": {"secure":
        false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "Multistep API Test", "status": "live", "type": "api", "tags":
      ["check_type:api", "env:test", "test:update"], "config": {"steps": [{"retry":
      {"count": 0, "interval": 300}, "name": "Test on datadoghq.com", "request": {"url":
      "https://datadoghq.com", "headers": {"content-type": "text/html"}, "method":
      "GET"}, "subtype": "http", "allowFailure": false, "extractedValues": [], "isCritical":
      true, "id": "vek-567-n38", "assertions": [{"operator": "lessThan", "type": "responseTime",
      "target": 1000}, {"operator": "is", "type": "statusCode", "target": 301}]}],
      "configVariables": []}, "message": "", "options": {"monitor_options": {"notify_audit":
      false, "include_tags": true, "new_host_delay": 300, "on_missing_data": "show_no_data",
      "renotify_interval": 0}, "retry": {"count": 0, "interval": 300}, "min_location_failed":
      1, "min_failure_duration": 0, "ti[...]
[...]
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "test-user", "email":
      "new@example.com", "disabled": false, "allowed_login_methods": []}, "id": "5a322106-c891-11eb-873a-da7ad0900005"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.eu/api/v2/users/5a322106-c891-11eb-873a-da7ad0900005
  response:
    body:
      string: '{"data": {"type": "users", "id": "5a322106-c891-11eb-873a-da7ad0900005",
        "attributes": {"name": "test-user", "handle": "new@example.com", "created_at":
        "2021-06-08T19:40:17.395117+00:00", "modified_at": "2023-12-19T16:53:47.046902+00:00",
        "email": "new@example.com", "icon": "https://secure.gravatar.com/avatar/b681d72feaf8bf6a93d9a8ab86679ec3?s=48&d=retro",
        "title": null, "verified": false, "service_account": false, "disabled": false,
        "allowed_login_methods": [], "status": "Pending"}, "relationships": {"roles":
[...]
