interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "roles", "id": "fa017a35-bfcb-11eb-a4d7-da7ad0900002",
        "attributes": {"name": "Datadog Admin Role", "created_at": "2021-05-28T15:47:15.884751+00:00",
        "modified_at": "2023-03-22T20:42:59.038042+00:00", "user_count": 5}, "relationships":
        {"permissions": {"data": [{"type": "permissions", "id": "984d2f00-d3b4-11e8-a200-bb47109e9987"},
        {"type": "permissions", "id": "5e605652-dd12-11e8-9e53-375565b8970e"}, {"type":
        "permissions", "id": "62cc036c-dd12-11e8-9e54-db9995643092"}, {"type": "permissions",
        "id": "6f66600e-dd12-11e8-9e55-7f30fbb45e73"}, {"type": "permissions", "id":
        "7d7c98ac-dd12-11e8-9e56-93700598622d"}, {"type": "permissions", "id": "811ac4ca-dd12-11e8-9e57-676a7f0beef9"},
        {"type": "permissions",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/permissions
  response:
    body:
      string: '{"data": [{"type": "permissions", "id": "984a2bd4-d3b4-11e8-a1ff-a7f660d43029",
        "attributes": {"name": "admin", "display_name": "Privileged Access", "description":
        "Deprecated. Privileged Access (also known as Admin permission) has been replaced
        by more specific permissions: Access Management, Org Management, Billing Read/Write,
        Usage Read/Write.", "created": "2018-10-19T15:35:23.734317+00:00", "group_name":
        "General", "display_type": "other", "restricted": false}}, {"type": "permissions",
        "id": "984d2f00-d3b4-11e8-a200-bb47109e9987", "attributes": {"name": "standard",
        "display_name": "Standard Access", "description": "Deprecated. Standard Access
        has been replaced by more specific permissions.", "created": "2018-10-19T15:35:23.756736+00:00",
        "group_name": "General", "display_type": "other", "restricted": false}}, {"type":
        "permissions", "id": "5e605652-dd12-11e8-9e53-375565b8970e", "attributes":
        {"na[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "users", "id": "0dd23ab8-984f-11ee-a259-160bb50d121a",
        "attributes": {"name": "Aldrick Castro", "handle": "aldrick.castro@datadoghq.com",
        "created_at": "2023-12-11T17:59:39.678404+00:00", "modified_at": "2023-12-11T18:01:09.427132+00:00",
        "email": "aldrick.castro@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/c4b2f071a7e83e98302afbc9889cfc18?s=48&d=retro",
        "title": "", "verified": true, "service_account": false, "disabled": false,
        "allowed_login_methods": [], "status": "Active", "mfa_enabled": false}, "relationships":
        {"roles": {"data": [{"type": "roles", "id": "fa017a35-bfcb-11eb-a4d7-da7ad0900002"}]},
        "org": {"data": {"type": "orgs", "id": "fa017a34-bfcb-11eb-a4d7-da7ad0900002"}}}},
        {"type": "users", "id": "2d0d2076-bfcd-11eb-a4d7-da7ad0900002", "attributes":
        {"name": "Frog", "handle": "frog@datadoghq.com", "created_at": "2021-05-28T15:55:50.995606+00:00",
        "modified_at": "2022-10-28T07:43:41.792011+00:00", "email": "frog@datadoghq.com",
        "icon": "https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro",
        "title": "", "verified": true, "[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/dashboard/v8u-z4u-sw5
  response:
    body:
      string: '{"deleted_dashboard_id": "v8u-z4u-sw5"}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/dashboard/daj-ywa-p2h
  response:
    body:
      string: '{"deleted_dashboard_id": "daj-ywa-p2h"}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/dashboard/n5v-rx6-a2v
  response:
    body:
      string: '{"deleted_dashboard_id": "n5v-rx6-a2v"}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/monitor/14510182?force=True
  response:
    body:
      string: '{"deleted_monitor_id": 14510182}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/dashboard/lists/manual/33964
  response:
    body:
      string: '{"deleted_dashboard_list_id": 33964}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v2/roles/22b717f0-9e8f-11ee-a661-da7ad0900005
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/synthetics/private-locations/pl:test-create_a_private_location_returns_ok_response-1694441705-e351bb7df4f464d647a1558946a964b7
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/synthetics/private-locations/pl:test-private-variable-9fc470dc49d4115924cacc1585bd2c6d
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/slo/2fa9470a541e56b085e94458c8181f62?force=True
  response:
    body:
      string: '{"data": ["2fa9470a541e56b085e94458c8181f62"], "error": null}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"public_ids": ["bsb-uvh-xzh"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/delete
  response:
    body:
      string: '{"deleted_tests": [{"public_id": "bsb-uvh-xzh", "deleted_at": "2023-12-19T16:54:13.716701+00:00"}]}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/a71e1eaf-3a01-449b-88f2-71ef1a511e75
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v2/users/5a322106-c891-11eb-873a-da7ad0900005
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "roles", "id": "138d5c0c-bfcc-11eb-8e11-da7ad0900005",
        "attributes": {"name": "Datadog Admin Role", "created_at": "2021-05-28T15:47:58.719345+00:00",
        "modified_at": "2023-05-03T14:57:19.540899+00:00", "user_count": 5}, "relationships":
       [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "users", "id": "0d258cfa-0fe4-11ec-a7f3-da7ad0900005",
        "attributes": {"name": "Aaqib Kufran", "handle": "aaqib.kufran@grabtaxi.com",
        "created_at": "2021-09-07T14:01:08.914336+00:00", "modified_at": "2021-09-07T14:20:35.722260+00:00",
        "[...]
