interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/metrics?filter%5Bconfigured%5D=true
  response:
    body:
      string: '{"data": [{"type": "manage_tags", "id": "test.metric.distribution.example",
        "attributes": {"tags": ["check_id", "check"], "include_percentiles": false,
        "created_at": "2021-10-27T18:25:12.901720+00:00", "modified_at": "2021-11-01T17:30:23.846790+00:00",
        "metric_type": "distribution"}}]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '50'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '49'
      x-ratelimit-reset:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/tags/hosts
  response:
    body:
      string: '{"tags": {}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data": [{"attributes": {"filter": {"query": "source:cloudtrail @usr.account_id:$usrAccountId"},
        "group_by": [{"path": "service", "tag_name": "service"}], "compute": {"aggregation_type":
        "count"}}, "type": "logs_metrics", "id": "test.metric"}]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '420'
      x-ratelimit-period:
      - '300'
      x-ratelimit-remaining:
      - '419'
      x-ratelimit-reset:
      - '126'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/notebooks?count=100&include_cells=True&start=0
  response:
    body:
      string: '{"meta": {"page": {"total_filtered_count": 5, "total_count": 5}}, "data":
        [{"type": "notebooks", "id": 1340258, "attributes": {"name": "Noueman Notebook",
        "cells": [{"attributes": {"definition": {"show_legend": true, "type": "timeseries",
        "requests": [{"q": "avg:system.load.1{*}", "style": {"line_width": "normal",
        "palette": "dog_classic", "line_type": "solid"}, "display_type": "line"}],
        "yaxis": {"scale": "linear"}}, "graph_size": "m", "split_by": {"keys": [],
        "tags": []}, "time": null}, "type": "notebook_cells", "id": "g6x1knta"}, {"attributes":
        {"definition": {"text": "Teeeeeest", "type": "markdown"}}, "type": "notebook_cells",
        "id": "sf3x5n03"}], "time": {"live_span": "1h"}, "metadata": {"is_template":
        false, "type": null, "take_snapshots": false}, "template_variables": null,
        "status": "published", "modified": "2021-09-23T23:10:10.033807+00:00", "created":
        "2021-09-23T23:10:10.033807+00:00", "author": {"name": "Noueman Khalikine",
        "handle": "noueman.khalikine@datadoghq.com", "email": "noueman.khalikine@datadoghq.com",
        "icon": "https://secure.gravatar.com/avatar/92d6421ea95d9f7b8d60c8270c95d84a?s=48&d=retro",
        "title": null, "verified": true, "disabled": false, "status": "Active"}}},
        {"type": "notebooks", "id": 1249391, "attributes": {"name": "Test Notebook",
        "cells": [{"attributes": {"definition": {"show_legend": true, "title": "Test
        Notebook", "type": "timeseries", "requests": [{"q": "avg:system.load.1{*}",
        "style": {"line_width": "normal", "palette": "dog_classic", "line_type": "solid"},
        "display_type": "line"}], "yaxis": {"scale": "linear"}}, "graph_size": "m",
        "split_by": {"keys": [], "tags": []}, "time": null}, "type": "notebook_cells",
        "id": "2fsbpu0n"}, {"attributes": {"definition": {"text": "Test message",
        "type": "markdown"}}, "type": "notebook_cells", "id": "dp2x1d2e"}, {"attributes":
        {"definition": {"requests": [{"formulas": [{"formula": "query1"}], "response_format":
        "scalar", "queries": [{"query": "avg:system.load.1{*}", "data_source": "metrics",
        "name": "query1", "aggregator": "avg"}]}], "type": "toplist"}, "graph_size":
        "m", "split_by": {"keys": [], "tags": []}, "time": null}, "type": "notebook_cells",
        "id": "qoavau2o"}], "time": {"live_span": "1h"}, "metadata": {"is_template":
        false, "type": null, "take_snapshots": false}, "template_variables": null,
        "status": "published", "modified": "2021-09-23T21:45:36.493252+00:00", "created":
        "2021-09-03T14:34:56.849312+00:00", "author": {"name": "Sherzod Karimov",
        "handle": "she[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/logs/config/pipelines
  response:
    body:
      string: '[{"is_enabled": true, "name": "Test pipeline", "filter": {"query":
        "test:query"}, "is_read_only": false, "type": "pipeline", "id": "Rvk36Rj0SJizOBX_N24BSQ",
        "processors": []}, {"is_enabled": true, "name": "Test Pipeline - Complex",
        "filter": {"query": "source:foo"}, "is_read_only": false, "type": "pipeline",
        "id": "0i9e0i3ET6WPZV1b9ZeoPg", "processors": [{"is_enabled": true, "name":
        "sample arithmetic processor", "expression": "(time1 - time2)*1000", "is_replace_missing":
        true, "type": "arithmetic-processor", "target": "my_arithmetic"}, {"is_enabled":
        true, "override_on_conflict": false, "target": "db", "target_format": "string",
        "source_type": "tag", "target_type": "attribute", "sources": ["db.instance"],
        "preserve_source": true, "type": "attribute-remapper", "name": "sample attribute
        processor"}, {"is_enabled": true, "type": "category-processor", "name": "sample
        category processor", "categories": [{"filter": {"query": "@severity: \".\""},
        "name": "debug"}, {"filter": {"query": "@severity: \"-\""}, "name": "verbose"}],
        "target": "foo.severity"}, {"is_enabled": true, "sources": ["_timestamp",
        "published_date"], "type": "date-remapper", "name": "sample date remapper"},
        {"is_enabled": true, "ip_processing_behavior": "do-nothing", "name": "sample
        geo ip parser", "sources": ["network.client.ip"], "type": "geo-ip-parser",
        "target": "network.client.geoip"}, {"is_enabled": true, "grok": {"support_rules":
        "", "match_rules": "Rule %{word:my_word2} %{number:my_float2}"}, "name": "sample
        grok parser", "source": "message", "samples": ["sample log 1"], "type": "grok-parser"},
        {"is_enabled": true, "name": "sample lookup processor", "source": "service_id",
        "lookup_table": ["1,my service"], "default_lookup": "unknown service", "type":
        "lookup-processor", "target": "service_name"}, {"is_enabled": true, "sources":
        ["msg"], "type": "message-remapper", "name": "sample message remapper"}, {"is_enabled":
        true, "filter": {"query": "source:foo"}, "type": "pipeline", "name": "nested
        pipeline", "processors": [{"is_enabled": false, "name": "sample url parser",
        "sources": ["url", "extra"], "target": "http_url", "type": "url-parser", "normalize_ending_slashes":
        true}]}, {"is_enabled": true, "sources": ["service"], "type": "service-remapper",
        "name": "sample service remapper"}, {"is_enabled": true, "sources": ["info",
        "trace"], "type": "status-remapper", "name": "sample status remapper"}, {"is_enabled":
        true, "name": "sample string builder processor", "is_replace_missing": false,
        "template": "%{user.name} logged in at %{timestamp}", "type": "string-builder-processor",
        "target": "user_activity"}, {"is_enabled": true, "sources": ["dd.trace_id"],
        "type": "trace-id-remapper", "name": "sample trace id remapper"}, {"is_enabled":
        true, "name": "sample user agent parser", "sources": ["user", "agent"], "is_encoded":
        false, "type": "user-agent-parser", "target": "http_agent"}]}, {"is_enabled":
        true, "name": "Sinatra", "filter": {"query": "source:sinatra"}, "is_read_only":
        true, "type": "pipeline", "id": "INocz-I8T6247bE8XOKGcg", "processors": [{"is_enabled":
        true, "grok": {"support_rules": "_auth %{notSpace:http.auth:nullIf(\"-\")}\n_bytes_written
        %{integer:network.bytes_written}\n_client_ip %{ipOrHost:network.client.ip}\n_version
        HTTP\\/%{regex(\"\\\\d+\\\\.\\\\d+\"):http.version}\n_url %{notSpace:http.url}\n_ident
        %{notSpace:http.ident:nullIf(\"-\")}\n_status_code %{integer:http.status_code}\n_method
        %{word:http.method}\n_date_access (%{date(\"dd/MMM/yyyy:HH:mm:ss Z\"):date_access}|%{date(\"dd/MMM/yyyy
        HH:mm:ss\"):date_access})\n_duration %{number:duration:scale(1000000000)}\n",
        "match_rules": "access.common %{_client_ip} %{_ident} %{_auth} \\[%{_date_access}\\]
        \"(?>%{_method} |)%{_url}(?> %{_version}|)\" %{_status_code} (?>%{_bytes_written}|-)(
        %{_duration}|-)?\n"}, "name": "Parsing Sinatra logs", "source": "message",
        "samples": ["127.0.0.1 - - [15/Jul/2018:17:41:40 +0000] \"GET /uptime_status
        HTTP/1.1\" 200 34 0.0004", "127.0.0.1 - - [15/Jul/2018 23:40:3[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/locations
  response:
    body:
      string: '{"locations": [{"id": "aws:ap-northeast-1", "name": "Tokyo (AWS)"},
        {"id": "aws:ap-northeast-2", "name": "Seoul (AWS)"}, {"id": "aws:ap-south-1",
        "name": "Mumbai (AWS)"}, {"id": "aws:ap-southeast-1", "name": "Singapore (AWS)"},
        {"id": "aws:ap-southeast-2", "name": "Sydney (AWS)"}, {"id": "aws:ca-central-1",
        "name": "Canada Central (AWS)"}, {"id": "aws:eu-central-1", "name": "Frankfurt
        (AWS)"}, {"id": "aws:eu-north-1", "name": "Stockholm (AWS)"}, {"id": "aws:eu-west-1",
        "name": "Ireland (AWS)"}, {"id": "aws:eu-west-2", "name": "London (AWS)"},
        {"id": "aws:eu-west-3", "name": "Paris (AWS)"}, {"id": "aws:sa-east-1", "name":
        "S\u00e3o Paulo (AWS)"}, {"id": "aws:us-east-2", "name": "Ohio (AWS)"}, {"id":
        "aws:us-west-1", "name": "N. California (AWS)"}, {"id": "aws:us-west-2", "name":
        "Oregon (AWS)"}, {"id": "azure:eastus", "name": "Virginia (Azure)"}, {"id":
        "pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451", "name": "Test
        Private Variable"}]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/private-locations/pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451
  response:
    body:
      string: '{"name": "Test Private Variable", "tags": ["key:value"], "description":
        "datadog-sync-cli test", "modifiedAt": "2021-06-30T12:27:21.433291+00:00",
        "createdBy": "Noueman Khalikine", "id": "pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451",
        "createdAt": "2021-06-30T12:27:21.433291+00:00", "metadata": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests
  response:
    body:
      string: '{"tests": [{"status": "paused", "public_id": "w7p-ux5-hhc", "tags":
        [], "locations": ["aws:ca-central-1"], "message": "Test synthetics ", "name":
        "HTTP Test", "monitor_id": 36553487, "type": "api", "created_at": "2021-06-03T13:00:40.415788+00:00",
        "creator": {"handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod Karimov",
        "email": "sherzod.karimov@datadoghq.com"}, "modified_at": "2021-06-17T12:44:13.132034+00:00",
        "subtype": "http", "config": {"request": {"url": "https://google.com", "method":
        "GET"}, "assertions": [{"operator": "lessThan", "type": "responseTime", "target":
        1000}, {"operator": "is", "type": "statusCode", "target": 301}, {"operator":
        "is", "property": "content-type", "type": "header", "target": "text/html;
        charset=UTF-8"}]}, "options": {"retry": {"count": 1, "interval": 300}, "min_location_failed":
        1, "monitor_options": {"renotify_interval": 120}, "min_failure_duration":
        120, "monitor_priority": 3, "tick_every": 604800}}, {"status": "live", "public_id":
        "32u-qxh-q25", "tags": ["foo:bar", "foo", "env:test"], "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty", "name": "DNS Test", "monitor_id": 37286153,
        "type": "api", "created_at": "2021-06-08T18:26:23.566301+00:00", "creator":
        {"handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod Karimov", "email":
        "sherzod.karimov@datadoghq.com"}, "modified_at": "2021-06-17T12:43:57.911371+00:00",
        "subtype": "dns", "config": {"request": {"host": "example.org"}, "assertions":
        [{"operator": "is", "property": "A", "type": "recordSome", "target": "0.0.0.0"}]},
        "options": {"monitor_options": {"renotify_interval": 0}, "tick_every": 900,
        "min_location_failed": 1}}, {"status": "live", "public_id": "huy-hyp-3un",
        "tags": ["foo:bar", "foo", "env:test"], "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty", "name": "SSL Test", "monitor_id": 37286154,
        "type": "api", "created_at": "2021-06-08T18:26:23.589710+00:00", "creator":
        {"handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod Karimov", "email":
        "sherzod.karimov@datadoghq.com"}, "modified_at": "2021-06-17T12:44:41.488230+00:00",
        "subtype": "ssl", "config": {"request": {"host": "example.org", "port": 443},
        "assertions": [{"operator": "isInMoreThan", "type": "certificate", "target":
        30}]}, "options": {"monitor_options": {"renotify_interval": 0}, "min_location_failed":
        1, "accept_self_signed": true, "tick_every": 900}}, {"status": "live", "public_id":
        "qvh-qtk-xuv", "tags": ["foo:bar", "foo", "env:test"], "locations": ["pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451",
        "aws:eu-central-1"], "message": "Notify @pagerduty", "name": "HTTP Test -
        example", "monitor_id": 37286152, "type": "api", "created_at": "2021-06-08T18:26:23.610381+00:00",
        "creator": {"handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod Karimov",
        "email": "sherzod.karimov@datadoghq.com"}, "modified_at": "2021-07-13T21:36:49.377880+00:00",
        "subtype": "http", "config": {"request": {"url": "https://www.example.org",
        "headers": {"Authentication": "Token: 1234566789", "Content-Type": "application/json"},
        "method": "GET"}, "assertions": [{"operator": "is", "type": "statusCode",
        "target": 200}]}, "options": {"monitor_options": {"renotify_interval": 100},
        "retry": {"count": 2, "interval": 300}, "tick_every": 900, "min_location_failed":
        1}}, {"status": "live", "public_id": "5ps-pjw-wzm", "tags": ["foo:bar", "foo",
        "env:test"], "locations": ["aws:eu-central-1"], "message": "Notify @pagerduty",
        "name": "TCP Test", "monitor_id": 37286155, "type": "api", "created_at": "2021-06-08T18:26:23.666527+00:00",
        "creator": {"handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod Karimov",
        "email": "sherzod.karimov@datadoghq.com"}, "modified_at": "2021-06-17T12:43:36.851871+00:00",
        "subtype": "tcp", "config": {"request": {"host": "example.org", "port": 443},
        "assertions": [{"operator": "lessThan", "type": "responseTime", "target":
        2000}]}, "options": {"monitor_options": {"renotify_interval": 0}, "tick_every":
        900, "min_location_failed": 1}}, {"status": "paused", "public_id": "77e-s82-v5e",
        "tags": [], "locations": ["aws:us-west-1"], "message": "", "name": "Browser
        Test", "monitor_id": 37452297, "type": "browser", "created_at": "2021-06-09T20:08:55.284701+00:00",
        "creator": {"handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod Karimov",
        "email": "sherzod.karimov@datadoghq.com"}, "modified_at": "2021-12-09T19:03:44.895383+00:00",
        "config": {"variables": [], "setCookie": "", "request": {"url": "https://docs.datadoghq.com",
        "headers": {"test": "{{ TEST_VARIABLE }}", "test_two": "{{ TEST_VAR_LOCAL
        }}"}, "method": "GET"}, "assertions": [], "configVariables": [{"type": "global",
        "id": "7478e601-cbe3-4a7d-babf-d48702b6b833", "name": "TEST_VARIABLE"}, {"pattern":
        "TEST_VAR_LOCAL", "type": "text", "name": "TEST_VAR_LOCAL", "example": "TEST_VAR_LOCAL"}]},
        "options": {"retry": {"count": 0, "interval": 300}, "min_location_failed":
        1, "min_failure_duration": 0, "noScreenshot": false, "tick_every": 604800,
        "forwardProxy": false, "disableCsp": false, "disableCors": false, "device_ids":
        ["chrome.laptop_large", "firefox.laptop_large", "chrome.tablet", "chrome.mobile_small",
        "firefox.mobile_small", "firefox.tablet"], "monitor_options": {"renotify_interval":
        0}, "ignoreServerCertificateError": false}}, {"status": "live", "public_id":
        "zsv-2sg-2nc", "tags": ["check_type:api", "env:test", "test:update"], "locations":
        ["aws:sa-east-1"], "message": "", "name": "Multistep API Test", "monitor_id":
        38221242, "type": "api", "created_at": "2021-06-14T15:13:59.438951+00:00",
        "creator": {"handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod Karimov",
        "email": "sherzod.karimov@datadoghq.com"}, "modified_at": "2021-06-30T11:49:05.165007+00:00",
        "subtype": "multi", "config": {"steps": [{"retry": {"count": 0, "interval":
        300}, "name": "Test on datadoghq.com", "request": {"url": "https://datadoghq.com",
        "headers": {"content-type": "text/html"}, "method": "GET"}, "subtype": "http",
        "allowFailure": false, "extractedValues": [], "isCritical": true, "id": "vek-567-n38",
        "assertions": [{"operator": "lessThan", "type": "responseTime", "target":
        1000}, {"operator": "is", "type": "statusCode", "target": 301}]}], "configVariables":
        []}, "options": {"monitor_options": {"renotify_interval": 0}, "retry": {"count":
        0, "interval": 300}, "min_location_failed": 1, "min_failure_duration": 0,
        "tick_every": 604800}}]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"parse_test_extracted_at": null, "description": "test",
        "tags": ["check_type:api"], "last_error": null, "parse_test_public_id": null,
        "is_totp": null, "id": "7478e601-cbe3-4a7d-babf-d48702b6b833", "parse_test_options":
        null, "name": "TEST_VARIABLE", "created_at": "2021-06-03T18:18:16.703730+00:00",
        "creator": {"handle": "sherzod.karimov@datadoghq.com", "email": "sherzod.karimov@datadoghq.com",
        "name": "Sherzod Karimov"}, "modified_at": "2021-06-03T18:36:04.287393+00:00",
        "value": {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"},
        "parse_test_name": null, "type": "variable"}, {"parse_test_extracted_at":
        null, "description": "Description of the variable", "tags": ["foo:bar", "env:test"],
        "last_error": null, "parse_test_public_id": null, "is_totp": null, "id": "7dfd62d2-e1bf-466d-b47b-f337d4a82877",
        "parse_test_options": null, "name": "EXAMPLE_VARIABLE", "created_at": "2021-06-08T18:26:23.679434+00:00",
        "creator": {"handle": "sherzod.karimov@datadoghq.com", "email": "sherzod.karimov@datadoghq.com",
        "na[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"meta": {"page": {"total_filtered_count": 3, "total_count": 3}}, "data":
        [{"type": "roles", "id": "fa017a35-bfcb-11eb-a4d7-da7ad0900002", "attributes":
        {"name": "Datadog Admin Role", "created_at": "2021-05-28T15:47:15.884751+00:00",
        "modified_at": "2021-05-28T15:47:15.884751+00:00", "user_count": 3}, "relationships":
        {"permissions": {"data": [{"type": "permissions", "id": "984a2bd4-d3b4-11e8-a1ff-a7f660d43029"},
        {"type": "permissions", "id": "984d2f00-d3b4-11e8-a200-bb47109e9987"}, {"type":
        "permissions", "id": "62cc036c-dd12-11e8-9e54-db9995643092"}, {"type": "permissions",
        "id": "6f66600e-dd12-11e8-9e55-7f30fbb45e73"}, {"type": "permissions", "id":
        "811ac4ca-dd12-11e8-9e57-676a7f0beef9"}, {"type": "permissions", "id": "87b00304-dd12-11e8-9e59-cbeb5f71f72f"},
        {"type": "permissions",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"included": [{"type": "permissions", "id": "61765026-2dce-11eb-84c0-833e230d1b8f",
        "attributes": {"name": "apm_primary_operation_write", "display_name": "Primary
        Operation", "description": "The ability to edit the operation name value selection.
        A user with this permission can modify the operation name list in the APM
        settings page and can modify the operation name controller on the service
        page.", "created": "2020-11-23T20:56:38.658649+00:00", "group_name": "APM",
        "display_type": "write", "restricted": false}}, {"type": "permissions", "id":
        "642eebe6-f923-11ea-adbc-eb617674ea04", "attributes": {"name": "synthetics_default_settings_write",
        "display_name": "Default Settings", "description": "The ability to edit default
        settings for Synthetics Monitoring.", "created": "2020-09-17T20:21:38.818771+00:00",
        "group_name": "Synthetic Monitoring", "display_type": "write", "restricted":
        false}}, {"type": "permissions", "id": "984d2f00-d3b4-11e8-a200-bb47109e9987",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/monitor
  response:
    body:
      string: '[{"restricted_roles": null, "tags": [], "deleted": null, "query": "avg(last_5m):avg:datadog.estimated_usage.hosts{*}
        > 50", "message": "Test monitor ----------------", "matching_downtimes": [],
        "id": 36230659, "multi": false, "name": "Composite monitor - Child 2", "created":
        "2021-05-30T08:43:37.940520+00:00", "created_at": 1622364217000, "creator":
        {"id": 2781275, "handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod
        Karimov", "email": "sherzod.karimov@datadoghq.com"}, "org_id": 569509, "modified":
        "2021-06-08T18:14:12.441535+00:00", "priority": null, "overall_state_modified":
        "2021-05-30T08:45:28+00:00", "overall_state": "OK", "type": "metric alert",
        "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "silenced":
        {}, "include_tags": true, "no_data_timeframe": null, "require_full_window":
        true, "new_host_delay": 300, "notify_no_data": false, "renotify_interval":
        0, "escalation_message": "", "thresholds": {"critical": 50.0}}}, {"restricted_roles":
        null, "tags": [], "deleted": null, "query": "avg(last_5m):avg:dd.dialtone.historical.metrics{*}
        > 20", "message": "Composite monitor - child 1", "matching_downtimes": [],
        "id": 36239262, "multi": false, "name": "Composite monitor - child 1", "created":
        "2021-05-30T19:49:11.945913+00:00", "created_at": 1622404151000, "creator":
        {"id": 2781275, "handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod
        Karimov", "email": "sherzod.karimov@datadoghq.com"}, "org_id": 569509, "modified":
        "2021-06-08T18:13:33.317204+00:00", "priority": null, "overall_state_modified":
        "2021-05-30T19:52:07+00:00", "overall_state": "OK", "type": "metric alert",
        "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "silenced":
        {}, "include_tags": true, "no_data_timeframe": null, "require_full_window":
        true, "new_host_delay": 300, "notify_no_data": false, "renotify_interval":
        0, "escalation_message": "", "thresholds": {"critical": 20.0, "warning": 10.0}}},
        {"restricted_roles": null, "tags": ["probe_dc:aws:ca-central-1", "check_type:api",
        "check_status:paused"], "deleted": null, "query": "no_query", "message": "Test
        synthetics", "matching_downtimes": [], "id": 36553487, "multi": false, "name":
        "[Synthetics] HTTP Test", "created": "2021-06-03T13:00:40.386620+00:00", "created_at":
        1622725240000, "creator": {"id": 2781275, "handle": "sherzod.karimov@datadoghq.com",
        "name": "Sherzod Karimov", "e[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"metadata": {"page": {"total_filtered_count": 5, "total_count": 5}},
        "data": [{"description": "Updated Description Test", "monitor_tags": [], "creator":
        {"handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod Karimov", "email":
        "sherzod.karimov@datadoghq.com"}, "thresholds": [{"target": 99.0, "target_display":
        "99.", "timeframe": "7d"}], "type_id": 0, "id": "ae04001ea55f52f6ae4b85d9b1023909",
        "monitor_ids": [36230659, 37284891], "name": "Composite monitor - Child 2",
        "created_at": 1623260678, "tags": [], "modified_at": 1625053391, "type": "monitor"},
        {"description": "noueman", "monitor_tags": [], "creator": {"handle": "noueman.khalikine@datadoghq.com",
        "name": "Noueman Khalikine", "email": "noueman.khalikine@datadoghq.com"},
        "thresholds": [{"target": 99.0, "target_display": "99.", "timeframe": "7d"}],
        "type_id": 0, "id": "b6eedbdc42a15b658b5d55ffc4f91082", "[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"dashboards": [{"created_at": "2021-10-25T19:36:13.830241+00:00",
        "author_handle": "sherzod.karimov@datadoghq.com", "is_read_only": false, "description":
        "", "title": "Sherzod''s Dashboard Mon, Oct 25, 3:36:13 pm", "url": "/dashboard/eb8-fih-pcd/sherzods-dashboard-mon-oct-25-33613-pm",
        "layout_type": "ordered", "modified_at": "2021-10-25T19:36:25.164474+00:00",
        "id": "eb8-fih-pcd"}, {"created_at": "2021-09-30T20:21:42.640864+00:00", "author_handle":
        "sherzod.karimov@datadoghq.com", "is_read_only": false, "description": null,
        "title": "Sherzod''s Screenboard Thu, Sep 30, 4:21:42 pm", "url": "/dashboard/qky-6ud-aik/sherzods-screenboard-thu-sep-30-42142-pm",
        "layout_type": "free", "modified_at": "2021-09-30T20:21:42.640864+00:00",
        "id": "qky-6ud-aik"}, {[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/eb8-fih-pcd
  response:
    body:
      string: '{"notify_list": [], "description": "", "restricted_roles": [], "author_name":
        "Sherzod Karimov", "template_variables": [], "is_read_only": false, "id":
        "eb8-fih-pcd", "title": "Sherzod''s Dashboard Mon, Oct 25, 3:36:13 pm", "url":
        "/dashboard/eb8-fih-pcd/sherzods-dashboard-mon-oct-25-33613-pm", "created_at":
        "2021-10-25T19:36:13.830241+00:00", "modified_at": "2021-10-25T19:36:25.164474+00:00",
        "reflow_type": "fixed", "author_handle": "sherzod.karimov@datadoghq.com",
        "widgets": [{"definition": {"title_size": "16", "legend_columns": ["avg",
        "min", "max", "value", "sum"], "yaxis": {"include_zero": true, "max": "auto",
        "scale": "linear", "min": "auto", "label": ""}, "title_align": "left", "markers":
        [], "legend_layout": "auto", "show_legend": true, "time": {}, "title": "",
        "requests": [{"style": {"line_width": "normal", "palette": "dog_classic",
        "line_type": "solid"}, "display_type": "line", "response_format": "timeseries",
        "queries": [{"query": "avg:system.cpu.user{*}", "data_source": "metrics",
        "name": "query1"}]}], "type": "timeseries"}, "layout": {"y": 0, "x": 0, "height":
        2, "width": 4}, "id": 7153121417398810}], "layout_type": "ordered"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/qky-6ud-aik
  response:
    body:
      string: '{"notify_list": null, "description": null, "restricted_roles": [],
        "author_name": "Sherzod Karimov", "template_variables": null, "is_read_only":
        false, "id": "qky-6ud-aik", "title": "Sherzod''s Screenboard Thu, Sep 30,
        4:21:42 pm", "url": "/dashboard/qky-6ud-aik/sherzods-screenboard-thu-sep-30-42142-pm",
[...]
