interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "roles", "id": "fa017a35-bfcb-11eb-a4d7-da7ad0900002",
        "attributes": {"name": "Datadog Admin Role", "created_at": "2021-05-28T15:47:15.884751+00:00",
        "modified_at": "2023-03-22T20:42:59.038042+00:00", "user_count": 6}, "relationships":
        {"permissions": {"data": [{"type": "permissions", "id": "984d2f00-d3b4-11e8-a200-bb47109e9987"},
        {"type": "permissions", "id": "5e605652-dd12-11e8-9e53-375565b8970e"}, {"type":
        "permissions", "id": "62cc036c-dd12-11e8-9e54-db9995643092"}, {"type": "permissions",
        "id": "6f66600e-dd12-11e8-9e55-7f30fbb45e73"}, {"type": "permissions", "id":
        "7d7c98ac-dd12-11e8-9e56-93700598622d"}, {"type": "permissions", "id": "811ac4ca-dd12-11e8-9e57-676a7f0beef9"},
        {"type": "permissions",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/permissions
  response:
    body:
      string: '{"data": [{"type": "permissions", "id": "984a2bd4-d3b4-11e8-a1ff-a7f660d43029",
        "attributes": {"name": "admin", "display_name": "Privileged Access", "description":
        "Deprecated. Privileged Access (also known as Admin permission) has been replaced
        by more specific permissions: Access Management, Org Management, Billing Read/Write,
        Usage Read/Write.", "created": "2018-10-19T15:35:23.734317+00:00", "group_name":
        "General", "display_type": "other", "restricted": false}}, {"type": "permissions",
        "id": "984d2f00-d3b4-11e8-a200-bb47109e9987", "attributes": {"name": "standard",
        "display_name": "Standard Access", "description": "Deprecated. Standard Access
        has been replaced by more specific permissions.", "created": "2018-10-19T15:35:23.756736+00:00",
        "group_name": "General", "display_type": "other", "restricted": false}}, {"type":
        "permissions", "id": "5e605652-dd12-11e8-9e53-375565b8970e", "attributes":
        {"na[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=500
  response:
    body:
      string: '{"data": [{"type": "users", "id": "0dd23ab8-984f-11ee-a259-160bb50d121a",
        "attributes": {"name": "Aldrick Castro", "handle": "aldrick.castro@datadoghq.com",
        "created_at": "2023-12-11T17:59:39.678404+00:00", "modified_at": "2023-12-11T18:01:09.427132+00:00",
        "email": "aldrick.castro@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/c4b2f071a7e83e98302afbc9889cfc18?s=48&d=retro",
        "title": "", "verified": true, "service_account": false, "disabled": false,
        "allowed_login_methods": [], "status": "Active", "mfa_enabled": false}, "relationships":
        {"roles": {"data": [{"type": "roles", "id": "fa017a35-bfcb-11eb-a4d7-da7ad0900002"}]},
        "org": {"data": {"type": "orgs", "id": "fa017a34-bfcb-11eb-a4d7-da7ad0900002"}}}},
        {"type": "users", "id": "2d0d2076-bfcd-11eb-a4d7-da7ad0900002", "attributes":
        {"name": "Frog", "handle": "frog@datadoghq.com", "created_at": "2021-05-28T15:55:50.995606+00:00",
        "modified_at": "2022-10-28T07:43:41.792011+00:00", "email": "frog@datadoghq.com",
        "icon": "https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro",
        "title": "", "verified": true, "[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/synthetics/private-locations/pl:custom-location-99d39e1d71d67dc354856c3e1717a3d7
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/synthetics/private-locations/pl:custom-location-with-restricted-roles-047c288d6c56f52ad5cd7adeaf1ea08b
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: '{"public_ids": ["2ir-b6a-b4m"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/delete
  response:
    body:
      string: '{"deleted_tests": [{"public_id": "2ir-b6a-b4m", "deleted_at": "2024-02-02T21:32:03.252972+00:00"}]}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v2/roles/72e91790-c212-11ee-aa34-da7ad0900005
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v2/users/2abdf182-a0fc-11ee-a6a8-065d78846176
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/e9719d22-116b-4ec6-80ea-5d11325e5b55
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/monitor/15219226?force=true
  response:
    body:
      string: '{"deleted_monitor_id": 15219226}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/dashboard/lists/manual/35552
  response:
    body:
      string: '{"deleted_dashboard_list_id": 35552}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/slo/c7e334250f005fe9996905cc4d8f0151?force=true
  response:
    body:
      string: '{"data": ["c7e334250f005fe9996905cc4d8f0151"], "error": null}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/dashboard/bew-mmw-yxt
  response:
    body:
      string: '{"deleted_dashboard_id": "bew-mmw-yxt"}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/dashboard/xia-umt-pw2
  response:
    body:
      string: '{"deleted_dashboard_id": "xia-umt-pw2"}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/dashboard/tkv-amp-k4q
  response:
    body:
      string: '{"deleted_dashboard_id": "tkv-amp-k4q"}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "roles", "id": "3cdfc26c-9e99-11ee-8e21-da7ad0900005",
        "attributes": {"name": "Datadog Admin Role", "created_at": "2023-12-19T18:05:48.353537+00:00",
        "modified_at": "2023-12-22T18:58:25.532811+00:00", "user_count": 6}, "relationships":
       [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=500
  response:
    body:
      string: '{"data": [{"type": "users", "id": "dc00e597-9e99-11ee-aa09-5628ff9a83db",
        "attributes": {"name": "Aldrick Castro", "handle": "aldrick.castro@datadoghq.com",
        "created_at": "2023-12-19T18:10:15.329617+00:00", "modified_at": "2023-12-19T19:09:21.769743+00:00",
    [...]
