interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/logs/config/archives
  response:
    body:
      string: '{"data": [{"type": "archives", "id": "V49TnL93R0C3QADZQllO5Q", "attributes":
        {"name": "my first s3 archive", "query": "service:tutu", "state": "UNKNOWN",
        "destination": {"bucket": "my-bucket", "path": "/path/foo", "type": "s3",
        "integration": {"role_name": "testacc-datadog-integration-role", "account_id":
        "123456789112"}}, "rehydration_tags": ["team:intake", "team:app"], "include_tags":
        true, "rehydration_max_scan_size_in_gb": 123}}, {"type": "archives", "id":
        "RK1PeXaNRButwKNMn_dRJQ", "attributes": {"name": "my first azure archive",
        "query": "service:toto", "state": "UNKNOWN", "destination": {"container":
        "my-container", "storage_account": "storageaccount", "path": "/path/blou",
        "type": "azure", "integration": {"tenant_id": "92f7df25-f9d7-4e76-a3b6-4011e64958ea",
        "client_id": "a75fbdd2-ade6-43d0-a810-4d886c53871e"}}, "rehydration_tags":
        [], "include_tags": false, "rehydration_max_scan_size_in_gb": null}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
