interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "archives", "attributes": {"name": "my first azure archive",
      "query": "service:toto", "destination": {"container": "my-container", "storage_account":
      "storageaccount", "path": "/path/blou", "type": "azure", "integration": {"tenant_id":
      "92f7df25-f9d7-4e76-a3b6-4011e64958ea", "client_id": "a75fbdd2-ade6-43d0-a810-4d886c53871e"}},
      "rehydration_tags": [], "include_tags": false, "rehydration_max_scan_size_in_gb":
      null}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/logs/config/archives
  response:
    body:
      string: '{"data": {"type": "archives", "id": "Zulo48JVQXSyM97uKjGHpA", "attributes":
        {"name": "my first azure archive", "query": "service:toto", "state": "UNKNOWN",
        "destination": {"container": "my-container", "storage_account": "storageaccount",
        "path": "/path/blou", "type": "azure", "integration": {"tenant_id": "92f7df25-f9d7-4e76-a3b6-4011e64958ea",
        "client_id": "a75fbdd2-ade6-43d0-a810-4d886c53871e"}}, "rehydration_tags":
        [], "include_tags": false, "rehydration_max_scan_size_in_gb": null}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "archives", "attributes": {"name": "my first s3 archive",
      "query": "service:tutu", "destination": {"bucket": "my-bucket", "path": "/path/foo",
      "type": "s3", "integration": {"role_name": "testacc-datadog-integration-role",
      "account_id": "123456789112"}}, "rehydration_tags": ["team:intake", "team:app"],
      "include_tags": true, "rehydration_max_scan_size_in_gb": 123}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/logs/config/archives
  response:
    body:
      string: '{"data": {"type": "archives", "id": "3kkgEN2qQ7i_qfP0yFZx5g", "attributes":
        {"name": "my first s3 archive", "query": "service:tutu", "state": "UNKNOWN",
        "destination": {"bucket": "my-bucket", "path": "/path/foo", "type": "s3",
        "integration": {"role_name": "testacc-datadog-integration-role", "account_id":
        "123456789112"}}, "rehydration_tags": ["team:intake", "team:app"], "include_tags":
        true, "rehydration_max_scan_size_in_gb": 123}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
