interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"included": [{"type": "permissions", "id": "c898551e-d8b2-11e9-a336-e3a79c23bd8d",
        "attributes": {"name": "monitors_read", "display_name": "Monitors Read", "description":
        "View monitors.", "created": "2019-09-16T18:49:59.270746+00:00", "group_name":
        "Monitors", "display_type": "read", "restricted": true}}, {"type": "permissions",
        "id": "dbd71214-aa58-11ea-8f98-d71d49bb1d14", "attributes": {"name": "security_monitoring_rules_write",
        "display_name": "Security Rules Write", "description": "Create and edit Detection
        Rules.", "created": "2020-06-09T13:55:21.036857+00:00", "group_name": "Cloud
        Security Platform", "display_type": "write", "restricted": false}}, {"type":
        "permissions", "id": "841ff6cc-a45c-11eb-9fd4-da7ad0900005", "attributes":
        {"na[...]
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "test-userupdated", "email":
      "new@example.com", "disabled": false, "allowed_login_methods": []}, "id": "5a322106-c891-11eb-873a-da7ad0900005"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.eu/api/v2/users/5a322106-c891-11eb-873a-da7ad0900005
  response:
    body:
      string: '{"data": {"type": "users", "id": "5a322106-c891-11eb-873a-da7ad0900005",
        "attributes": {"name": "test-userupdated", "handle": "new@example.com", "created_at":
        "2021-06-08T19:40:17.395117+00:00", "modified_at": "2023-01-04T22:10:04.071367+00:00",
        "email": "new@example.com", "icon": "https://secure.gravatar.com/avatar/b681d72feaf8bf6a93d9a8ab86679ec3?s=48&d=retro",
        "title": null, "verified": false, "service_account": false, "disabled": false,
        "allowed_login_methods": [], "status": "Pending"}, "relationships": {"roles":
        {"data": []}, "org": {"data": {"type": "orgs", "id": "13865f06-bfcc-11eb-8e11-da7ad0900005"}}}}}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
