interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"included": [{"type": "permissions", "id": "d90f6832-d3d8-11e9-a77a-bf8a2607f864",
        "attributes": {"name": "dashboards_public_share", "display_name": "Dashboards
        Public Share", "description": "Generate public and authenticated links to
        share dashboards externally.", "created": "2019-09-10T14:39:51.967094+00:00",
        "group_name": "Dashboards", "display_type": "other", "restricted": false}},
        {"type": "permissions", "id": "5c6b88e2-f923-11ea-adbc-abf57d079420", "attributes":
        {"name": "synthetics_default_settings_read", "display_name": "Synthetics Default
        Settings Read", "description": "View the default settings for Synthetic Monitoring.",
        "created": "2020-09-17T20:21:25.794160+00:00", "group_name": "Synthetic Monitoring",
        "display_type": "read", "restricted": false}}, {"type": "permissions", "id":
        "a42e94b2-1476-11eb-bd08-efda[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"included": [{"type": "permissions", "id": "c898551e-d8b2-11e9-a336-e3a79c23bd8d",
        "attributes": {"name": "monitors_read", "display_name": "Monitors Read", "description":
        "View monitors.", "created": "2019-09-16T18:49:59.270746+00:00", "group_name":
        "Mo[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v2/users/5a322106-c891-11eb-873a-da7ad0900005
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
