interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=500
  response:
    body:
      string: '{"data": [{"type": "users", "id": "6310d848-a5da-11ef-a683-42aa80c74a22",
        "attributes": {"name": "Aleksandr Pasechnik", "handle": "aleksandr.pasechnik@datadoghq.com",
        "created_at": "2024-11-18T18:24:45.527685+00:00", "modified_at": "2024-11-18T19:35:26.942229+00:00",
        "email": "aleksandr.pasechnik@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/141cf0529a0b41899b08e4158a5b7c75?s=48&d=retro",
        "title": "", "verified": true, "service_account": false, "disabled": false,
        "allowed_login_methods": [], "status": "Active", "mfa_enabled": false}, "relationships":
        {"roles": {"data": [{"type": "roles", "id": "f0ba6944-985e-11ef-953e-da7ad0900005"},
        {"type": "roles", "id": "4b5f3782-ef01-11ef-820e-da7ad0900005"}]}, "org":
        {"data": {"type": "orgs", "id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}},
        {"type": "users", "id": "397ecc9e-f058-11ef-9b1c-96cd2249736e", "attributes":
        {"name": "Erwann Masson", "handle": "erwann.masson@datadoghq.com", "created_at":
        "2025-02-21T13:31:58.417449+00:00", "modified_at": "2025-02-21T13:33:10.664814+00:00",
        "email": "erwann.masson@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/3c689578c775d76853e16b6e82dd5e22?s=48&d=retro",
     [...]
