interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"included": [{"type": "permissions", "id": "046682c4-ec5c-11ea-9483-2727954feb30",
        "attributes": {"name": "user_app_keys", "display_name": "User Application
        Keys", "description": "The ability to view and manage Application Keys owned
        by the user.", "created": "2020-09-01T14:04:14.317866+00:00", "group_name":
        "API and Application Keys", "display_type": "other", "restricted": false}},
        {"type": "permissions", "id": "123098f2-d36c-11eb-b2bf-da7ad0900005", "attributes":
        {"name": "incident_write", "display_name": "Incidents App Experience", "description":
        "The ability to create, view, and manage incidents in Datadog.", "created":
        "2021-06-22T15:11:08.003239+00:00", "group_name": "Incidents", "display_type":
        "write", "restricted": false}}, {"type": "permissions", "id": "c898551e-d8b2-11e9-a336-e3a79c23bd8d",
        "attributes": {[...]
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "test-userupdated", "email":
      "new@example.com", "disabled": false, "allowed_login_methods": []}, "id": "5a322106-c891-11eb-873a-da7ad0900005"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.eu/api/v2/users/5a322106-c891-11eb-873a-da7ad0900005
  response:
    body:
      string: '{"data": {"type": "users", "id": "5a322106-c891-11eb-873a-da7ad0900005",
        "attributes": {"name": "test-userupdated", "handle": "new@example.com", "created_at":
        "2021-06-08T19:40:17.395117+00:00", "modified_at": "2021-10-28T14:52:25.660794+00:00",
        "email": "new@example.com", "icon": "https://secure.gravatar.com/avatar/b681d72feaf8bf6a93d9a8ab86679ec3?s=48&d=retro",
        "title": null, "verified": false, "service_account": false, "disabled": false,
        "allowed_login_methods": [], "status": "Pending"}, "relationships": {"roles":
        {"data": []}, "org": {"data": {"type": "orgs", "id": "13865f06-bfcc-11eb-8e11-da7ad0900005"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "Updatedupdated", "email":
      "user_without_role@example.com", "disabled": false, "allowed_login_methods":
      []}, "id": "9ea447a8-ebdf-11eb-8ad5-da7ad0900005"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.eu/api/v2/users/9ea447a8-ebdf-11eb-8ad5-da7ad0900005
  response:
    body:
      string: '{"data": {"type": "users", "id": "9ea447a8-ebdf-11eb-8ad5-da7ad0900005",
        "attributes": {"name": "Updatedupdated", "handle": "user_without_role@example.com",
        "created_at": "2021-07-23T17:58:43.669432+00:00", "modified_at": "2021-10-28T14:52:25.926946+00:00",
        "email": "user_without_role@example.com", "icon": "https://secure.gravatar.com/avatar/a0985e94ca4206b92a3504c0222b3f7e?s=48&d=retro",
        "title": null, "verified": false, "service_account": false, "disabled": false,
        "allowed_login_methods": [], "status": "Pending"}, "relationships": {"roles":
        {"data": []}, "org": {"data": {"type": "orgs", "id": "13865f06-bfcc-11eb-8e11-da7ad0900005"}}}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
