interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=500
  response:
    body:
      string: '{"data": [{"type": "users", "id":
        "3af5af64-bfcd-11eb-b483-da7ad0900005", "attributes": {"name": "Frog", "handle":
        "frog@datadoghq.com", "created_at": "2021-05-28T15:56:14.326839+00:00", "modified_at":
        "2023-03-21T15:15:23.136706+00:00", "email": "frog@datadoghq.com", "icon":
        "https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro",
        "title": "", "verified": true, "service_account": false, "disabled": false,
        "allowed_login_methods": [], "status": "Active", "mfa_enabled": false}, "relationships":
        {"roles": {"data": [{"type": "roles", "id": "138d5c0c-bfcc-11eb-8e11-da7ad0900005"}]},
        "org": {"data": {"type": "orgs", "id": "13865f06-bfcc-11eb-8e11-da7ad0900005"}}}},
        {"type": "users", "id": "edd03150-c562-11eb-bf1f-da7ad0900005", "attributes":
        {"name": "", "handle": "karimovj@gmail.com", "created_at": "2021-06-04T18:30:25.220601+00:00",
        "modified_at": "2021-06-07T16:05:58.627697+00:00", "email": "karimovj@gmail.com",
        "icon": "https://secure.gravatar.com/avatar/4df2a0457aa2d2f4bff089e88d1ed8e4?s=48&d=retro",
        "title": "", "verified": false, "ser[...]
- request:
    body: '{"data": {"type": "users", "attributes": {"name": "test-userupdated", "email":
      "new@example.com", "disabled": false, "allowed_login_methods": []}, "id": "5a322106-c891-11eb-873a-da7ad0900005"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.eu/api/v2/users/5a322106-c891-11eb-873a-da7ad0900005
  response:
    body:
      string: '{"data": {"type": "users", "id": "5a322106-c891-11eb-873a-da7ad0900005",
        "attributes": {"name": "test-userupdated", "handle": "new@example.com", "created_at":
        "2021-06-08T19:40:17.395117+00:00", "modified_at": "2023-12-14T21:39:43.223736+00:00",
        "email": "new@example.com", "icon": "https://secure.gravatar.com/avatar/b681d72feaf8bf6a93d9a8ab86679ec3?s=48&d=retro",
        "title": null, "verified": false, "service_account": false, "disabled": false,
        "allowed_login_methods": [], "status": "Pending"}, "relationships": {"roles":
        {"data": []}, "org": {"data": {"type": "orgs", "id": "13865f06-bfcc-11eb-8e11-da7ad0900005"}}}}}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
