interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "notebooks", "attributes": {"name": "Noueman Notebookupdated",
      "cells": [{"attributes": {"definition": {"show_legend": true, "type": "timeseries",
      "requests": [{"q": "avg:system.load.1{*}", "style": {"line_width": "normal",
      "palette": "dog_classic", "line_type": "solid"}, "display_type": "line"}], "yaxis":
      {"scale": "linear"}}, "graph_size": "m", "split_by": {"keys": [], "tags": []},
      "time": null}, "type": "notebook_cells", "id": "g6x1knta"}, {"attributes": {"definition":
      {"text": "Teeeeeest", "type": "markdown"}}, "type": "notebook_cells", "id":
      "sf3x5n03"}], "time": {"live_span": "1h"}, "status": "published"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/notebooks/51409
  response:
    body:
      string: '{"data": {"type": "notebooks", "id": 51409, "attributes": {"name":
        "Noueman Notebookupdated", "cells": [{"attributes": {"definition": {"show_legend":
        true, "type": "timeseries", "requests": [{"q": "avg:system.load.1{*}", "style":
        {"line_width": "normal", "palette": "dog_classic", "line_type": "solid"},
        "display_type": "line"}], "yaxis": {"scale": "linear"}}, "graph_size": "m",
        "split_by": {"keys": [], "tags": []}, "time": null}, "type": "notebook_cells",
        "id": "g6x1knta"}, {"attributes": {"definition": {"text": "Teeeeeest", "type":
        "markdown"}}, "type": "notebook_cells", "id": "sf3x5n03"}], "time": {"live_span":
        "1h"}, "metadata": {"is_favorite": false, "is_template": false, "type": null,
        "take_snapshots": false}, "template_variables": [], "status": "published",
        "modified": "2023-01-04T21:31:35.907647+00:00", "created": "2023-01-04T21:31:33.773256+00:00",
        "author": {"name": "Sherzod Karimov", "handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod.karimov@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/993f2cc00ad75833dbc76f2a93bb227d?s=48&d=retro",
        "title": null, "verified": true, "disabled": false, "status": "Active"}}}}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "notebooks", "attributes": {"name": "Test Notebookupdated",
      "cells": [{"attributes": {"definition": {"show_legend": true, "title": "Test
      Notebook", "type": "timeseries", "requests": [{"q": "avg:system.load.1{*}",
      "style": {"line_width": "normal", "palette": "dog_classic", "line_type": "solid"},
      "display_type": "line"}], "yaxis": {"scale": "linear"}}, "graph_size": "m",
      "split_by": {"keys": [], "tags": []}, "time": null}, "type": "notebook_cells",
      "id": "2fsbpu0n"}, {"attributes": {"definition": {"text": "Test message", "type":
      "markdown"}}, "type": "notebook_cells", "id": "dp2x1d2e"}, {"attributes": {"definition":
      {"requests": [{"formulas": [{"formula": "query1"}], "response_format": "scalar",
      "queries": [{"query": "avg:system.load.1{*}", "data_source": "metrics", "name":
      "query1", "aggregator": "avg"}]}], "type": "toplist"}, "graph_size": "m", "split_by":
      {"keys": [], "tags": []}, "time": null}, "type": "notebook_cells", "id": "qoavau2o"}],
      "time": {"live_span": "1h"}, "status": "published"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/notebooks/51410
  response:
    body:
      string: '{"data": {"type": "notebooks", "id": 51410, "attributes": {"name":
        "Test Notebookupdated", "cells": [{"attr[...]
[...]
- request:
    body: '{"data": {"type": "notebooks", "attributes": {"name": "Postmortem IR-xxxx:
      [outage name] (from template)updated", "cells": [{"attributes": {"definition":
      {"text": "Incident Property                  |            Details                 |\n-----------------------------|------------------------------------------------------------------------------------------------------------------------\n**Status:**                |Active/Stable/Resolved                  \n**Severity:**     |SEV-X                      \n**Started:**              |HH:mm
      UTC MM/dd/yyyy                  \n**Commander:**     |[name]                 \n**Incident
      Overview:** | [IR-xxxx] (/incidents)                 \n**Slack Channel:**        |[#IR-xxxx]
      (/link)                 \n\n_You can generate a postmortem [from any resolved
      incident](/incidents?query=state%3Aresolved) with these fields pre-fillled,
      along with incident metadata and timeline._ ", "type": "markdown"}}, "type":
      "notebook_cells", "id": "pp1vm0s8"}, {"attributes": {"definition": {"text":
      "# What happened?\n### Impact on customers\n_How did this incident impact exter[...]
