interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "notebooks", "attributes": {"name": "Michael Oct 21 2024
      14:52updated", "cells": [{"type": "notebook_cells", "attributes": {"definition":
      {"type": "markdown", "text": "test"}}, "id": "jzqgkbvg"}], "time": {"live_span":
      "1h"}, "status": "published", "deleted": null, "tags": []}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://us5.datadoghq.com/api/v1/notebooks/144168
  response:
    body:
      string: '{"data": {"type": "notebooks", "id": 144168, "attributes": {"name":
        "Michael Oct 21 2024 14:52updated", "cells": [{"type": "notebook_cells", "attributes":
        {"definition": {"type": "markdown", "text": "test"}}, "id": "jzqgkbvg"}],
        "time": {"live_span": "1h"}, "metadata": {"take_snapshots": false, "is_template":
        false, "is_favorite": false, "type": null}, "template_variables": [], "status":
        "published", "modified": "2024-10-31T21:05:50.284514+00:00", "created": "2024-10-31T21:05:48.999126+00:00",
        "deleted": null, "tags": [], "author": {"name": "Michael Richey", "handle":
        "michael.richey@datadoghq.com", "email": "michael.richey@datadoghq.com", "icon":
        "https://secure.gravatar.com/avatar/3ae7b2387f1a71bbb857d6f03993bdf3?s=48&d=retro",
        "title": null, "verified": true, "disabled": false, "status": "Active"}, "schema_version":
        0}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730408749, "value":
      1}], "tags": ["action_sub_type:update", "id:181709", "action_type:sync", "status:success",
      "resource_type:notebooks", "client_type:destination"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730408749, "value":
      1}], "tags": ["action_sub_type:update", "id:181709", "action_type:sync", "status:success",
      "resource_type:notebooks", "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
