interactions:
- request:
    body: '{"data": {"type": "notebooks", "attributes": {"name": "Test NotebookUpdated",
      "cells": [{"attributes": {"definition": {"show_legend": true, "title": "Test
      Notebook", "type": "timeseries", "requests": [{"q": "avg:system.load.1{*}",
      "style": {"line_width": "normal", "palette": "dog_classic", "line_type": "solid"},
      "display_type": "line"}], "yaxis": {"scale": "linear"}}, "graph_size": "m",
      "split_by": {"keys": [], "tags": []}, "time": null}, "type": "notebook_cells",
      "id": "2fsbpu0n"}, {"attributes": {"definition": {"text": "Test message", "type":
      "markdown"}}, "type": "notebook_cells", "id": "dp2x1d2e"}, {"attributes": {"definition":
      {"requests": [{"formulas": [{"formula": "query1"}], "response_format": "scalar",
      "queries": [{"query": "avg:system.load.1{*}", "data_source": "metrics", "name":
      "query1", "aggregator": "avg"}]}], "type": "toplist"}, "graph_size": "m", "split_by":
      {"keys": [], "tags": []}, "time": null}, "type": "notebook_cells", "id": "qoavau2o"}],
      "time": {"live_span": "1h"}, "status": "published"}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/notebooks/15274
  response:
    body:
      string: '{"data": {"type": "notebooks", "id": 15274, "attributes": {"name":
        "Test NotebookUpdated", "cells": [{"attributes": {"definition": {"show_legend":
        true, "yaxis": {"scale": "linear"}, "type": "timeseries", "requests": [{"q":
        "avg:system.load.1{*}", "style": {"line_width": "normal", "palette": "dog_classic",
        "line_type": "solid"}, "display_type": "line"}], "title": "Test Notebook"},
        "graph_size": "m", "split_by": {"keys": [], "tags": []}, "time": null}, "type":
        "notebook_cells", "id": "2fsbpu0n"}, {"attributes": {"definition": {"text":
        "Test message", "type": "markdown"}}, "type": "notebook_cells", "id": "dp2x1d2e"},
        {"attributes": {"definition": {"requests": [{"formulas": [{"formula": "query1"}],
        "response_format": "scalar", "queries": [{"query": "avg:system.load.1{*}",
        "data_source": "metrics", "name": "query1", "aggregator": "avg"}]}], "type":
        "toplist"}, "graph_size": "m", "split_by": {"keys": [], "tags": []}, "time":
        null}, "type": "notebook_cells", "id": "qoavau2o"}], "time": {"live_span":
        "1h"}, "status": "published", "modified": "2021-09-03T15:07:51.430627+00:00",
        "created": "2021-09-03T15:07:49.834692+00:00", "author": {"name": "Frog",
        "handle": "frog@datadoghq.com", "email": "frog@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro",
        "title": null, "verified": true, "disabled": false, "status": "Active"}}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '30'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '29'
      x-ratelimit-reset:
      - '9'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "notebooks", "attributes": {"name": "Postmortem IR-xxxx:
      [outage name] (from template)Updated", "cells": [{"attributes": {"definition":
      {"text": "Incident Property                  |            Details                 |\n-----------------------------|------------------------------------------------------------------------------------------------------------------------\n**Status:**                |Active/Stable/Resolved                  \n**Severity:**     |SEV-X                      \n**Started:**              |HH:mm
      UTC MM/dd/yyyy                  \n**Commander:**     |[name]                 \n**Incident
      Overview:** | [IR-xxxx] (/incidents)                 \n**Slack Channel:**        |[#IR-xxxx]
      (/link)                 \n\n_You can generate a postmortem [from any resolved
      incident](/incidents?query=state%3Aresolved) with these fields pre-fillled,
      along with incident metadata and timeline._ ", "type": "markdown"}}, "type":
      "notebook_cells", "id": "pp1vm0s8"}, {"attributes": {"definition": {"text":
      "# What happened?\n### Impact on customers\n_How did this incident impact exter[...]
