interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.import.start", "type": 0, "points": [{"timestamp": 1744893996,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.import.start", "type": 0, "points": [{"timestamp": 1744893996,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard
  response:
    body:
      string: '{"dashboards": [{"id": "jh3-vsk-99c", "title": "Michael''s Dashboard
        Mon, Oct 28, 2:45:47 pm", "description": null, "layout_type": "ordered", "url":
        "/dashboard/jh3-vsk-99c/michaels-dashboard-mon-oct-28-24547-pm", "is_read_only":
        false, "created_at": "2024-10-28T18:45:47.629189+00:00", "modified_at": "2024-10-31T20:20:27.062979+00:00",
        "author_handle": "michael.richey@datadoghq.com", "deleted_at": null}, {"id":
        "2n3-8ye-5ui", "title": "sync-cli customer dashboard", "description": "[[suggested_dashboards]]",
        "layout_type": "ordered", "url": "/dashboard/2n3-8ye-5ui/sync-cli-customer-dashboard",
        "is_read_only": false, "created_at": "2024-10-24T15:14:37.892787+00:00", "modified_at":
        "2024-11-05T14:55:50.821949+00:00", "author_handle": "michael.richey@datadoghq.com",
        "deleted_at": null}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/notebooks?count=100&include_cells=true&start=0
  response:
    body:
      string: '{"data": [{"type": "notebooks", "id": 181709, "attributes": {"name":
        "Michael Oct 21 2024 14:52", "cells": [{"type": "notebook_cells", "id": "jzqgkbvg",
        "attributes": {"definition": {"type": "markdown", "text": "test"}}}], "time":
        {"live_span": "1h"}, "metadata": {"take_snapshots": false, "is_template":
        false, "is_favorite": false, "type": null}, "template_variables": [], "status":
        "published", "modified": "2024-10-21T18:52:29.571371+00:00", "created": "2024-10-21T18:52:29.571371+00:00",
        "deleted": null, "tags": [], "author": {"name": "Michael Richey", "handle":
        "michael.richey@datadoghq.com", "email": "michael.richey@datadoghq.com", "icon":
        "https://secure.gravatar.com/avatar/3ae7b2387f1a71bbb857d6f03993bdf3?s=48&d=retro",
        "title": null, "verified": true, "disabled": false, "status": "Active"}, "schema_version":
        0}}], "meta": {"page": {"total_count": 1, "total_filtered_count": 1}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/slo
  response:
    body:
      string: '{"data": [{"id": "650a18e266505a48b319d9b221158a26", "name": "test",
        "tags": [], "monitor_tags": [], "thresholds": [{"timeframe": "7d", "target":
        99.9, "target_display": "99.9"}], "type": "metric", "type_id": 1, "description":
        "", "timeframe": "7d", "target_threshold": 99.9, "query": {"denominator":
        "sum:datadog.agent.started{*}.as_count()", "numerator": "sum:datadog.agent.started{*}.as_count()"},
        "creator": {"name": "Michael Richey", "handle": "michael.richey@datadoghq.com",
        "email": "michael.richey@datadoghq.com"}, "created_at": 1729537004, "modified_at":
        1729537004}], "error": null, "metadata": {"page": {"total_count": 1, "total_filtered_count":
        1}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/restriction_policy/dashboard:jh3-vsk-99c
  response:
    body:
      string: '{"data": {"type": "restriction_policy", "id": "dashboard:jh3-vsk-99c",
        "attributes": {"bindings": []}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/restriction_policy/notebook:181709
  response:
    body:
      string: '{"data": {"type": "restriction_policy", "id": "notebook:181709", "attributes":
        {"bindings": [{"relation": "editor", "principals": ["org:30187db5-8582-11ef-969b-8248c7cda362",
        "team:f0cc21b6-6f38-49f0-8641-e25fb3b98476"]}]}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/restriction_policy/dashboard:2n3-8ye-5ui
  response:
    body:
      string: '{"data": {"type": "restriction_policy", "id": "dashboard:2n3-8ye-5ui",
        "attributes": {"bindings": []}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/restriction_policy/slo:650a18e266505a48b319d9b221158a26
  response:
    body:
      string: '{"data": {"type": "restriction_policy", "id": "slo:650a18e266505a48b319d9b221158a26",
        "attributes": {"bindings": []}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v1/org
  response:
    body:
      string: '{"orgs": [{"public_id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "name":
        "DDR Internal Testing US5", "description": null, "created": "2024-10-08 14:08:00",
        "subscription": {"id": null, "billing_plan_id": 4, "started": 1729536356,
        "expires": null, "finished": null, "type": "partner", "is_custom": false,
        "is_trial": false, "is_expired": true}, "billing": {}, "settings": {"default_landing_page":
        "APM Home", "saml": {"enabled": false}, "saml_can_be_enabled": false, "saml_login_url":
        null, "saml_idp_metadata_uploaded": false, "saml_idp_endpoint": null, "saml_idp_metadata_valid_until":
        null, "custom_landing_page": null, "saml_idp_initiated_login": {"enabled":
        false}, "saml_strict_mode": {"enabled": false}, "saml_autocreate_access_role":
        "st", "saml_autocreate_users_domains": {"enabled": false, "domains": []},
        "private_widget_share": false, "manage_reports": null}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=500
  response:
    body:
      string: '{"data": [{"type": "users", "id": "81f6f2c7-923f-11ef-879a-6ee0822e247c",
        "attributes": {"name": "Justine Lo", "handle": "justine.lo@datadoghq.com",
        "created_at": "2024-10-24T19:38:13.281489+00:00", "modified_at": "2024-10-25T14:18:33.835459+00:00",
        "email": "justine.lo@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/7d75964971289cf50e6090d76b45e3f6?s=48&d=retro",
        "title": "", "verified": true, "service_account": false, "disabled": false,
        "allowed_login_methods": [], "status": "Active", "mfa_enabled": false}, "relationships":
        {"roles": {"data": [{"type": "roles", "id": "3020f50c-8582-11ef-ad61-da7ad0900005"}]},
        "org": {"data": {"type": "orgs", "id": "30187db5-8582-11ef-969b-8248c7cda362"}}}},
        {"type": "users", "id": "b301b340-8582-11ef-ba31-3219ecc6cb25", "attributes":
        {"name": "Louis Cheynel", "handle": "louis.cheynel@datadoghq.com", "created_at":
        "2024-10-08T14:36:26.725077+00:00", "modified_at": "2025-02-19T21:12:46.164959+00:00",
        "email": "louis.cheynel@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/791d1a56daa2bd0f5bb25ed286d3f8bb?s=48&d=retro",
        "titl[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"id": "693fe720-9569-11ef-969d-da7ad0900005", "type": "roles",
        "attributes": {"created_at": "2024-10-28T20:15:44.156681Z", "created_by_handle":
        "michael.richey@datadoghq.com", "modified_at": "2024-10-28T20:15:44.167199Z",
        "modified_by_handle": "michael.richey@datadoghq.com", "name": "Copy of Datadog
        Admin Role", "team_count": 0, "user_count": 2}, "relationships": {"permissions":
        {"data": [{"id": "505fd138-dd15-11e8-9308-afd2db62791e", "type": "permissions"},
        {"id": "81e488c0-db35-11ed-a170-da7ad0900005", "type": "permissions"}, {"id":
        "24d31064-b9b4-11ec-a2af-da7ad0900005", "type": "permissions"}, {"id": "65eea998-f6a1-11ed-9953-da7ad0900005",
        "type": "permissions"}, {"id": "ffb0167e-11e1-11ee-8f46-da7ad0900005", "type":
        "permissions"}, {"id": "04668f62-ec5c-11ea-9483-0fe541ab993f", "type": "permissions"},
        {"id": "0466902[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/permissions
  response:
    body:
      string: '{"data": [{"id": "f1624684-d87d-11e8-acac-efb4dbffab1c", "type": "permissions",
        "attributes": {"created": "2018-10-25T17:46:46.704903Z", "description": "Deprecated.
        Privileged Access (also known as Admin permission) has been replaced by more
        specific permissions: Access Management, Org Management, Billing Read/Write,
        Usage Read/Write.", "display_name": "Privileged Access", "display_type": "other",
        "group_name": "General", "name": "admin", "restricted": false}}, {"id": "f1666372-d87d-11e8-acac-6be484ba794a",
        "type": "permissions", "attributes": {"created": "2018-10-25T17:46:46.73281Z",
        "description": "Deprecated. Standard Access has been replaced by more specific
        permissions.", "display_name": "Standard Access", "display_type": "other",
        "group_name": "General", "name": "standard", "restricted": false}}, {"id":
        "4fbb1652-dd15-11e8-9308-77be61fbb2c7", "type": "permissions", "attributes":
        {"created"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=500
  response:
    body:
      string: '{"data": [{"type": "users", "id": "6310d848-a5da-11ef-a683-42aa80c74a22",
        "attributes": {"name": "Aleksandr Pasechnik", "handle": "aleksandr.pasechnik@datadoghq.com",
        "created_at": "2024-11-18T18:24:45.527685+00:00", "modified_at": "2024-11-18T19:35:26.942229+0[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"id": "512f60fa-1630-11f0-910b-da7ad0900005", "type": "roles",
        "attributes": {"created_at": "2025-04-10T17:22:02.47535Z", "created_by_handle":
        "michael.richey@datadoghq.com", "modified_at": "2025-04-16T01:16:55.980773Z",
        "modified_by_handle":[...]
[...]
