interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard
  response:
    body:
      string: '{"dashboards": [{"id": "euw-cp8-hy6", "title": "raw-test", "description":
        "", "layout_type": "ordered", "url": "/dashboard/euw-cp8-hy6/raw-test", "is_read_only":
        false, "created_at": "2021-06-01T20:18:57.486260+00:00", "modified_at": "2024-02-08T18:59:02.610446+00:00",
        "author_handle": "sherzod.karimov@datadoghq.com", "deleted_at": null}, {"id":
        "dns-jst-h98", "title": "Test screenboard", "description": "Created using
        the Datadog provider in Terraform", "layout_type": "free", "url": "/dashboard/dns-jst-h98/test-screenboard",
        "is_read_only": false, "created_at": "2021-06-08T18:26:23.515662+00:00", "modified_at":
        "2021-06-22T19:35:38.981348+00:00", "author_handle": "sherzod.karimov@datadoghq.com",
        "deleted_at": null}, {"id": "tuw-te2-pdj", "title": "datadog-sync-cli Test
        Dashboard", "description": "", "layout_type": "ordered", "url": "/dashboard/tuw-te2-pdj/datadog-sync-cli-test-dashboard",
        "is_read_only": false, "created_at": "2021-06-30T11:45:57.574935+00:00", "modified_at":
        "2021-06-30T11:46:46.923260+00:00", "author_handle": "noueman.khalikine@datadoghq.com",
        "deleted_at": null}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/notebooks?count=500&include_cells=true&start=0
  response:
    body:
      string: '{"data": [{"type": "notebooks", "id": 1340258, "attributes": {"name":
        "Noueman Notebook", "cells": [{"type": "notebook_cells", "attributes": {"definition":
        {"show_legend": true, "type": "timeseries", "requests": [{"q": "avg:system.load.1{*}",
        "style": {"line_width": "normal", "palette": "dog_classic", "line_type": "solid"},
        "display_type": "line"}], "yaxis": {"scale": "linear"}}, "split_by": {"tags":
        [], "keys": []}, "graph_size": "m", "time": null}, "id": "g6x1knta"}, {"type":
        "notebook_cells", "attributes": {"definition": {"text": "Teeeeeest", "type":
        "markdown"}}, "id": "sf3x5n03"}], "time": {"live_span": "1h"}, "metadata":
        {"take_snapshots": false, "is_template": false, "is_favorite": false, "type":
        null}, "template_variables": null, "status": "published", "modified": "2021-09-23T23:10:10.033807+00:00",
        "created": "2021-09-23T23:10:10.033807+00:00", "tags": null, "author": {"name":
        "Noueman Khalikine", "handle": "noueman.khalikine@datadoghq.com", "email":
        "noueman.khalikine@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/92d6421ea95d9f7b8d60c8270c95d84a?s=48&d=retro",
        "title": null, "verified": true, "disabled": false, "status": "Active"}}},
        {"type": "notebooks", "id": 1249391, "attributes": {"name": "Test Notebook",
        "cells": [{"type": "notebook_cells", "attributes": {"definition": {"show_legend":
        true, "yaxis": {"scale": "linear"}, "type": "timeseries", "requests": [{"q":
        "avg:system.load.1{*}", "style": {"line_width": "normal", "palette": "dog_classic",
        "line_type": "solid"}, "display_type": "line"}], "title": "Test Notebook"},
        "split_by": {"tags": [], "keys": []}, "graph_size": "m", "time": null}, "id":
        "2fsbpu0n"}, {"type": "notebook_cells", "attributes": {"definition": {"text":
        "Test message", "type": "markdown"}}, "id": "dp2x1d2e"}, {"type": "notebook_cells",
        "attributes": {"definition": {"requests": [{"formulas": [{"formula": "query1"}],
        "response_format": "scalar", "queries": [{"query": "avg:system.load.1{*}",
        "data_source": "metrics", "name": "query1", "aggregator": "avg"}]}], "type":
        "toplist"}, "split_by": {"tags": [], "keys": []}, "graph_size": "m", "time":
        null}, "id": "qoavau2o"}], "time": {"live_span": "1h"}, "metadata": {"take_snapshots":
        false, "is_template": false, "is_favorite": false, "type": null}, "template_variables":
        null, "status": "published", "modified": "2021-09-23T21:45:36.493252+00:00",
        "created": "2021-09-03T14:34:56.849312+00:00", "tags": null, "author": {"name":
        "Sherzod Karimov", "han[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data": [{"id": "ae04001ea55f52f6ae4b85d9b1023909", "name": "Composite
        monitor - Child 2", "tags": [], "monitor_tags": [], "thresholds": [{"timeframe":
        "7d", "target": 99.0, "target_display": "99."}], "type": "monitor", "type_id":
        0, "description": "Updated Description Test", "timeframe": "7d", "target_threshold":
        99.0, "monitor_ids": [37284891, 36239262], "creator": {"name": "Sherzod Karimov",
        "handle": "sherzod.karimov@datadoghq.com", "email": "sherzod.karimov@datadoghq.com"},
        "created_at": 1623260678, "modified_at": 1668546720}, {"id": "ba72d10835d75e0c8910597144f3733a",
        "name": "SLO test", "tags": [], "monitor_tags": [], "thresholds": [{"timeframe":
        "7d", "target": 99.0, "target_display": "99."}], "type": "metric", "type_id":
        1, "description": "Test update creation", "timeframe": "7d", "target_threshold":
        99.0, "query": {"denominator": "sum:api.requests{*}.as_count()", "numerator":
        "sum:api.requests.status_ok{*}.as_count()"}, "creator": {"name": "Noueman
        Khalikine", "handle": "noueman.khalikine@datadoghq.com", "email": "noueman.khalikine@datadoghq.com"},
        "created_at": 1623658372, "modified_at": 1626358963}, {"id": "b02adcb3d95a5c3dbfebf7c94bf4e8c5",
        "name": "Random monitor slo", "tags": [], "monitor_tags": [], "thresholds":
        [{"timeframe": "7d", "target": 99.9, "target_display": "99.9"}], "type": "monitor",
        "type_id": 0, "description": "", "timeframe": "7d", "target_threshold": 99.9,
        "monitor_ids": [36239262], "creator": {"name": "Sherzod Karimov", "handle":
        "sherzod.karimov@datadoghq.com", "email": "sherzod.karimov@datadoghq.com"},
        "created_at": 1695138080, "modified_at": 1695138180}], "error": null, "metadata":
        {"page": {"total_count": 3, "total_filtered_count": 3}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/restriction_policy/dashboard:euw-cp8-hy6
  response:
    body:
      string: '{"data": {"type": "restriction_policy", "id": "dashboard:euw-cp8-hy6",
        "attributes": {"bindings": []}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/restriction_policy/dashboard:dns-jst-h98
  response:
    body:
      string: '{"data": {"type": "restriction_policy", "id": "dashboard:dns-jst-h98",
        "attributes": {"bindings": [{"relation": "editor", "principals": ["org:fa017a34-bfcb-11eb-a4d7-da7ad0900002",
        "user:2d0d2076-bfcd-11eb-a4d7-da7ad0900002"]}]}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/restriction_policy/dashboard:tuw-te2-pdj
  response:
    body:
      string: '{"data": {"type": "restriction_policy", "id": "dashboard:tuw-te2-pdj",
        "attributes": {"bindings": []}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/restriction_policy/notebook:1340258
  response:
    body:
      string: '{"data": {"type": "restriction_policy", "id": "notebook:1340258", "attributes":
        {"bindings": []}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/restriction_policy/slo:ae04001ea55f52f6ae4b85d9b1023909
  response:
    body:
      string: '{"data": {"type": "restriction_policy", "id": "slo:ae04001ea55f52f6ae4b85d9b1023909",
        "attributes": {"bindings": []}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/org
  response:
    body:
      string: '{"orgs": [{"public_id": "3cda39a0-9e99-11ee-94d5-da7ad0900005", "name":
        "datadog-sync-cli N[EU Test Org]", "description": null, "created": "2023-12-19
        18:05:48", "subscription": {"id": 1000228561, "billing_plan_id": 8, "started":
        1703009149, "expires": null, "finished": null, "type": "dogfood", "is_custom":
        false, "is_trial": false, "is_expired": true}, "billing": {}, "settings":
        {"default_landing_page": "Dashboard Lists", "saml": {"enabled": false}, "saml_can_be_enabled":
        false, "saml_login_url": null, "saml_idp_metadata_uploaded": false, "saml_idp_endpoint":
        null, "saml_idp_metadata_valid_until": null, "custom_landing_page": null,
        "saml_idp_initiated_login": {"enabled": false}, "saml_strict_mode": {"enabled":
        false}, "saml_autocreate_access_role": "st", "saml_autocreate_users_domains":
        {"enabled": false, "domains": []}, "private_widget_share": false, "manage_reports":
        null}}]}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
