interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/org
  response:
    body:
      string: '{"orgs": [{"public_id": "3cda39a0-9e99-11ee-94d5-da7ad0900005", "name":
        "datadog-sync-cli N[EU Test Org]", "description": null, "created": "2023-12-19
        18:05:48", "subscription": {"id": 1000228561, "billing_plan_id": 8, "started":
        1703009149, "expires": null, "finished": null, "type": "dogfood", "is_custom":
        false, "is_trial": false, "is_expired": true}, "billing": {}, "settings":
        {"default_landing_page": "Dashboard Lists", "saml": {"enabled": false}, "saml_can_be_enabled":
        false, "saml_login_url": null, "saml_idp_metadata_uploaded": false, "saml_idp_endpoint":
        null, "saml_idp_metadata_valid_until": null, "custom_landing_page": null,
        "saml_idp_initiated_login": {"enabled": false}, "saml_strict_mode": {"enabled":
        false}, "saml_autocreate_access_role": "st", "saml_autocreate_users_domains":
        {"enabled": false, "domains": []}, "private_widget_share": false, "manage_reports":
        null}}]}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
