interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://us5.datadoghq.com/api/v1/logs/config/index-order
  response:
    body:
      string: '{"index_names": ["main", "test2"]}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v1/logs/config/index-order
  response:
    body:
      string: '{"index_names": ["main", "test2"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730467337, "value":
      1}], "tags": ["id:main", "action_type:delete", "status:success", "resource_type:logs_indexes",
      "client_type:destination"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730467337, "value":
      1}], "tags": ["id:main", "action_type:delete", "status:success", "resource_type:logs_indexes",
      "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v1/logs/config/indexes
  response:
    body:
      string: '{"indexes": [{"name": "main", "filter": {"query": "updated"}, "num_retention_days":
        15, "daily_limit": null, "is_rate_limited": false, "daily_limit_reset": null,
        "daily_limit_warning_threshold_percentage": null, "exclusion_filters": [],
        "num_flex_logs_retention_days": 0}, {"name": "test2", "filter": {"query":
        "source:agentupdated"}, "num_retention_days": 15, "daily_limit": 200000000,
        "is_rate_limited": false, "daily_limit_reset": {"reset_time": "14:00", "reset_utc_offset":
        "-04:00"}, "daily_limit_warning_threshold_percentage": null, "exclusion_filters":
        [], "num_flex_logs_retention_days": 0}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://us5.datadoghq.com/api/v1/logs/config/index-order
  response:
    body:
      string: '{"index_names": ["test2", "main"]}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
