interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/logs/config/indexes
  response:
    body:
      string: '{"indexes": [{"num_retention_days": 15, "name": "main", "is_rate_limited":
        false, "filter": {"query": ""}, "exclusion_filters": [{"is_enabled": true,
        "filter": {"query": "source:gcp.*", "sample_rate": 1.0}, "name": "gcp-filter"}],
        "daily_limit": null}, {"num_retention_days": 15, "name": "gcp-index-name",
        "is_rate_limited": false, "filter": {"query": "source:gcp.*"}, "exclusion_filters":
        [], "daily_limit": 200000000}]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '420'
      x-ratelimit-name:
      - logs_public_config_api_indexes_read
      x-ratelimit-period:
      - '300'
      x-ratelimit-remaining:
      - '419'
      x-ratelimit-reset:
      - '9'
    status:
      code: 200
      message: OK
version: 1
