interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/logs/config/indexes
  response:
    body:
      string: '{"indexes": [{"num_retention_days": 15, "name": "main", "is_rate_limited":
        false, "filter": {"query": "updated"}, "exclusion_filters": [{"is_enabled":
        true, "filter": {"query": "source:gcp.*", "sample_rate": 1.0}, "name": "gcp-filter"}],
        "daily_limit": null}, {"num_retention_days": 15, "name": "gcp-index-name",
        "is_rate_limited": false, "filter": {"query": "source:gcp.*updated"}, "exclusion_filters":
        [], "daily_limit": 200000000}, {"num_retention_days": 15, "name": "test-index",
        "is_rate_limited": false, "filter": {"query": "source:python OR source:java"},
        "exclusion_filters": [{"is_enabled": false, "filter": {"query": "*", "sample_rate":
        1.0}, "name": "payment"}], "daily_limit": null}]}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"num_retention_days": 15, "filter": {"query": ""}, "exclusion_filters":
      [{"is_enabled": true, "filter": {"query": "source:gcp.*", "sample_rate": 1.0},
      "name": "gcp-filter"}], "disable_daily_limit": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/logs/config/indexes/main
  response:
    body:
      string: '{"num_retention_days": 15, "name": "main", "is_rate_limited": false,
        "filter": {"query": ""}, "exclusion_filters": [{"is_enabled": true, "filter":
        {"query": "source:gcp.*", "sample_rate": 1.0}, "name": "gcp-filter"}], "daily_limit":
        null}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"num_retention_days": 15, "filter": {"query": "source:gcp.*"}, "exclusion_filters":
      [], "daily_limit": 200000000}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/logs/config/indexes/gcp-index-name
  response:
    body:
      string: '{"num_retention_days": 15, "name": "gcp-index-name", "is_rate_limited":
        false, "filter": {"query": "source:gcp.*"}, "exclusion_filters": [], "daily_limit":
        200000000}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
