interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/logs/config/indexes
  response:
    body:
      string: '{"indexes": [{"num_retention_days": 15, "name": "main", "is_rate_limited":
        false, "filter": {"query": ""}, "exclusion_filters": [], "daily_limit": null}]}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '42'
      x-ratelimit-name:
      - logs_public_config_api_indexes_read
      x-ratelimit-period:
      - '30'
      x-ratelimit-remaining:
      - '40'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"num_retention_days": 15, "filter": {"query": "updated"}, "exclusion_filters":
      [], "disable_daily_limit": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/logs/config/indexes/main
  response:
    body:
      string: '{"num_retention_days": 15, "name": "main", "is_rate_limited": false,
        "filter": {"query": "updated"}, "exclusion_filters": [], "daily_limit": null}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '2'
      x-ratelimit-name:
      - logs_public_config_api_indexes_write
      x-ratelimit-period:
      - '30'
      x-ratelimit-remaining:
      - '0'
      x-ratelimit-reset:
      - '1'
    status:
      code: 200
      message: OK
version: 1
