interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/logs/config/indexes
  response:
    body:
      string: '{"indexes": [{"name": "main", "filter": {"query": ""}, "num_retention_days":
        15, "daily_limit": null, "is_rate_limited": false, "daily_limit_reset": null,
        "daily_limit_warning_threshold_percentage": null, "exclusion_filters": [{"name":
        "gcp-filter", "is_enabled": true, "filter": {"query": "source:gcp.*", "sample_rate":
        1.0}}]}, {"name": "gcp-index-name", "filter": {"query": "source:gcp.*"}, "num_retention_days":
        15, "daily_limit": 200000000, "is_rate_limited": false, "daily_limit_reset":
        {"reset_time": "14:00", "reset_utc_offset": "+00:00"}, "daily_limit_warning_threshold_percentage":
        null, "exclusion_filters": []}, {"name": "new-index", "filter": {"query":
        ""}, "num_retention_days": 15, "daily_limit": 200000000, "is_rate_limited":
        false, "daily_limit_reset": {"reset_time": "14:00", "reset_utc_offset": "-04:00"},
        "daily_limit_warning_threshold_percentage": null, "exclusion_filters": []}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/logs/config/indexes
  response:
    body:
      string: '{"indexes": [{"name": "gcp-index-name", "filter": {"query": "source:gcp.*updated"},
        "num_retention_days": 15, "daily_limit": 200000000, "is_rate_limited": false,
        "daily_limit_reset": {"reset_time": "14:00", "reset_utc_offset": "+00:00"},
        "daily_limit_warning_threshold_percentag[...]
