interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.import.start", "type": 0, "points": [{"timestamp": 1744737648,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.import.start", "type": 0, "points": [{"timestamp": 1744737648,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard
  response:
    body:
      string: '{"dashboards": [{"id": "jh3-vsk-99c", "title": "Michael''s Dashboard
        Mon, Oct 28, 2:45:47 pm", "description": null, "layout_type": "ordered", "url":
        "/dashboard/jh3-vsk-99c/michaels-dashboard-mon-oct-28-24547-pm", "is_read_only":
        false, "created_at": "2024-10-28T18:45:47.629189+00:00", "modified_at": "2024-10-31T20:20:27.062979+00:00",
        "author_handle": "michael.richey@datadoghq.com", "deleted_at": null}, {"id":
        "2n3-8ye-5ui", "title": "sync-cli customer dashboard", "description": "[[suggested_dashboards]]",
        "layout_type": "ordered", "url": "/dashboard/2n3-8ye-5ui/sync-cli-customer-dashboard",
        "is_read_only": false, "created_at": "2024-10-24T15:14:37.892787+00:00", "modified_at":
        "2024-11-05T14:55:50.821949+00:00", "author_handle": "michael.richey@datadoghq.com",
        "deleted_at": null}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/monitor?page=0&page_size=1000
  response:
    body:
      string: '[{"id": 20046756, "org_id": 1000315894, "type": "query alert", "name":
        "test", "message": "test  @pagerduty-hamrddr", "tags": [], "query": "avg(last_5m):avg:system.load.1{*}
        > 5", "options": {"thresholds": {"critical": 5.0}, "notify_audit": false,
        "on_missing_data": "default", "include_tags": false, "new_host_delay": 300,
        "silenced": {}}, "multi": false, "created_at": 1729785751000, "created": "2024-10-24T16:02:31.374332+00:00",
        "modified": "2025-03-26T19:25:53.581839+00:00", "deleted": null, "priority":
        null, "restricted_roles": null, "overall_state_modified": "2025-04-15T17:10:36+00:00",
        "overall_state": "OK", "creator": {"name": "Michael Richey", "email": "michael.richey@datadoghq.com",
        "handle": "michael.richey@datadoghq.com", "id": 1002072115}, "matching_downtimes":
        []}, {"id": 20125203, "org_id": 1000315894, "type": "synthetics alert", "name":
        "[Synthetics] Test on www.datadoghq.com", "message": "", "tags": ["probe_dc:aws:af-south-1",
        "probe_dc:aws:ap-east-1", "probe_dc:aws:ap-northeast-1", "probe_dc:aws:ap-northeast-2",
        "probe_dc:aws:ap-northeast-3", "probe_dc:aws:ap-south-1", "probe_dc:aws:ap-southeast-1",
        "probe_dc:aws:ap-southeast-2", "probe_dc:aws:ap-southeast-3", "probe_dc:aws:ca-central-1",
        "probe_dc:aws:eu-central-1", "probe_dc:aws:eu-north-1", "probe_dc:aws:eu-south-1",
        "probe_dc:aws:eu-west-1", "probe_dc:aws:eu-west-2", "probe_dc:aws:eu-west-3",
        "probe_dc:aws:me-south-1", "probe_dc:aws:sa-east-1", "probe_dc:aws:us-east-1",
        "probe_dc:aws:us-east-2", "probe_dc:aws:us-west-1", "probe_dc:aws:us-west-2",
        "probe_dc:azure:eastus", "probe_dc:gcp:asia-northeast1", "probe_dc:gcp:europe-west3",
        "probe_dc:gcp:us-east4", "probe_dc:gcp:us-south1", "probe_dc:gcp:us-west1",
        "probe_dc:gcp:us-west2", "check_type:api", "check_status:live", "ci_execution_rule:blocking"],
        "query": "no_query", "options": {"notification_preset_name": "show_all", "on_missing_data":
        "show_no_data", "notify_audit": false, "new_host_delay": 300, "include_tags":
        true, "silenced": {}}, "multi": false, "created_at": 1730141432000, "created":
        "2024-10-28T18:50:32.908477+00:00", "modified": "2024-10-28T18:50:32.908477+00:00",
        "deleted": null, "priority": null, "restricted_roles": null, "overall_state_modified":
        "2025-04-15T17:20:33+00:00", "overall_state": "Alert", "creator": {"name":
        "Michael Richey", "email": "michael.richey@datadoghq.com", "handle": "michael.richey@datadoghq.com",
        "id": 1002072115}, "matching_downtimes": []}, {"id": 20125249, "org_id": 1000315894,
        "type": "metric alert", "name": "[Synthetic Private Locations] {{location_id.name}}
        stopped reporting", "message": "Private location {{location_id.name}} stopped
        reporting to Datadog.", "tags": [], "query": "min(last_5m):avg:synthetics.pl.worker.running{*}
        by {location_id} < 1", "options": {"notify_no_data": true, "thresholds": {"critical":
        1.0}, "notify_audit": false, "new_host_delay": 300, "include_tags": true,
        "silenced": {}}, "multi": true, "created_at": 1730141732000, "created": "2024-10-28T18:55:32.194411+00:00",
        "modified": "2024-10-28T18:55:32.194411+00:00", "deleted": null, "priority":
        null, "restricted_roles": null, "overall_state_modified": "2024-10-28T18:55:37+00:00",
        "overall_state": "No Data", "creator": {"name": "Michael Richey", "email":
     [...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard/jh3-vsk-99c
  response:
    body:
      string: '{"id": "jh3-vsk-99c", "title": "Michael''s Dashboard Mon, Oct 28, 2:45:47
        pm", "description": null, "author_handle": "michael.richey@datadoghq.com",
        "author_name": "Michael Richey", "layout_type": "ordered", "url": "/dashboard/jh3-vsk-99c/michaels-dashboard-mon-oct-28-24547-pm",
        "template_variables": [], "widgets": [{"id": 5949103957093766, "definition":
        {"title": "New group", "show_title": true, "powerpack_id": "e685afa6-955c-11ef-9254-da7ad0900005",
        "template_variables": {"controlled_externally": [], "controlled_by_powerpack":
        []}, "type": "powerpack"}, "layout": {"x": 0, "y": 0, "width": 12, "height":
        3}}], "notify_list": [], "created_at": "2024-10-28T18:45:47.629189+00:00",
        "modified_at": "2024-10-31T20:20:27.062979+00:00", "reflow_type": "fixed",
        "restricted_roles": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard/2n3-8ye-5ui
  response:
    body:
      string: '{"id": "2n3-8ye-5ui", "title": "sync-cli customer dashboard", "description":
        "[[suggested_dashboards]]", "author_handle": "michael.richey@datadoghq.com",
        "author_name": "Michael Richey", "layout_type": "ordered", "url": "/dashboard/2n3-8ye-5ui/sync-cli-customer-dashboard",
        "template_variables": [{"name": "resource_type", "prefix": "resource_type",
        "available_values": ["monitors", "dashboards"], "default": "*"}, {"name":
        "client_type", "prefix": "client_type", "available_values": ["source", "destination"],
        "default": "*"}], "widgets": [{"id": 1046236066464840, "definition": {"title":
        "Summary", "background_color": "vivid_green", "show_title": true, "type":
        "group", "layout_type": "ordered", "widgets": [{"id": 8276316129338092, "definition":
        {"title": "Resources exported from R1", "title_size": "16", "title_align":
        "left", "type": "toplist", "requests": [{"queries": [{"data_source": "metrics",
        "name": "query1", "query": "sum:datadog.org_sync.action{action_type:import}
        by {resource_type,status}", "aggregator": "sum"}], "response_format": "scalar",
        "formulas": [{"formula": "query1"}], "sort": {"order_by": [{"type": "group",
        "name": "resource_type", "order": "asc"}], "count": 10}}], "style": {"display":
        {"type": "stacked", "legend": "automatic"}, "palette": "semantic"}}, "layout":
        {"x": 0, "y": 0, "width": 4, "height": 6}}, {"id": 656499302483792, "definition":
        {"title": "Resources synchronized to R2", "title_size": "16", "title_align":
        "left", "type": "toplist", "requests": [{"queries": [{"data_source": "metrics",
        "name": "query1", "query": "sum:datadog.org_sync.action{action_type:sync}
        by {resource_type,status}", "aggregator": "sum"}], "response_format": "scalar",
        "formulas": [{"formula": "query1"}[...]
[...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1744737648, "value":
      1}], "tags": ["id:20125249", "action_type:import", "status:success", "resource_type:monitors",
      "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
version: 1
