interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard/lists/manual
  response:
    body:
      string: '{"dashboard_lists": [{"author": {"name": "Michael Richey", "handle":
        "michael.richey@datadoghq.com"}, "created": "2025-02-19T21:02:25.925528+00:00",
        "dashboards": null, "dashboard_count": 2, "id": 42665, "is_favorite": true,
        "modified": "2025-02-19T21:02:37.784462+00:00", "name": "Michael''s List",
        "type": "manual_dashboard_list"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/dashboard/lists/manual/42665/dashboards
  response:
    body:
      string: '{"dashboards": [{"author": {"name": "Michael Richey", "handle": "michael.richey@datadoghq.com"},
        "created": "2024-10-28T18:45:47.629189+00:00", "is_favorite": true, "is_shared":
        false, "modified": "2024-10-31T20:20:27.062979+00:00", "title": "Michael''s
        Dashboard Mon, Oct 28, 2:45:47 pm", "type": "custom_timeboard", "id": "jh3-vsk-99c",
        "url": "/dashboard/jh3-vsk-99c/michaels-dashboard-mon-oct-28-24547-pm", "is_read_only":
        false, "tags": null, "icon": null, "integration_id": null, "popularity": 3},
        {"author": {"name": "Michael Richey", "handle": "michael.richey@datadoghq.com"},
        "created": "2024-10-24T15:14:37.892787+00:00", "is_favorite": true, "is_shared":
        false, "modified": "2024-11-05T14:55:50.821949+00:00", "title": "sync-cli
        customer dashboard", "type": "custom_timeboard", "id": "2n3-8ye-5ui", "url":
        "/dashboard/2n3-8ye-5ui/sync-cli-customer-dashboard", "is_read_only": false,
        "tags": null, "icon": null, "integration_id": null, "popularity": 0}], "total":
        2}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard/jh3-vsk-99c
  response:
    body:
      string: '{"id": "jh3-vsk-99c", "title": "Michael''s Dashboard Mon, Oct 28, 2:45:47
        pm", "description": null, "author_handle": "michael.richey@datadoghq.com",
        "author_name": "Michael Richey", "layout_type": "ordered", "url": "/dashboard/jh3-vsk-99c/michaels-dashboard-mon-oct-28-24547-pm",
        "template_variables": [], "widgets": [{"id": 5949103957093766, "definition":
        {"title": "New group", "show_title": true, "powerpack_id": "e685afa6-955c-11ef-9254-da7ad0900005",
        "template_variables": {"controlled_externally": [], "controlled_by_powerpack":
        []}, "type": "powerpack"}, "layout": {"x": 0, "y": 0, "width": 12, "height":
        3}}], "notify_list": [], "created_at": "2024-10-28T18:45:47.629189+00:00",
        "modified_at": "2024-10-31T20:20:27.062979+00:00", "reflow_type": "fixed",
        "restricted_roles": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard/2n3-8ye-5ui
  response:
    body:
      string: '{"id": "2n3-8ye-5ui", "title": "sync-cli customer dashboard", "description":
        "[[suggested_dashboards]]", "author_handle": "michael.richey@datadoghq.com",
        "author_name": "Michael Richey", "layout_type": "ordered", "url": "/dashboard/2n3-8ye-5ui/sync-cli-customer-dashboard",
        "template_variables": [{"name": "resource_type", "prefix": "resource_type",
        "available_values": ["monitors", "dashboards"], "default": "*"}, {"name":
        "client_type", "prefix": "client_type", "available_values": ["source", "destination"],
        "default": "*"}], "widgets": [{"id": 1046236066464840, "definition": {"title":
        "Summary", "background_color": "vivid_green", "show_title": true, "type":
        "group", "layout_type": "ordered", "widgets": [{"id": 8276316129338092, "definition":
        {"title": "Resources exported from R1", "title_size": "16", "title_align":
        "left", "type": "toplist", "requests": [{"queries": [{"data_source": "metrics",
        "name": "query1", "query": "sum:datadog.org_sync.action{action_type:import}
        by {resource_type,status}", "aggregator": "sum"}], "response_format": "scalar",
        "formulas": [{"formula": "query1"}], "sort": {"order_by": [{"type": "group",
        "name": "resource_type", "order": "asc"}], "count": 10}}], "style": {"display":
        {"type": "stacked", "legend": "automatic"}, "palette": "semantic"}}, "layout":
        {"x": 0, "y": 0, "width": 4, "height": 6}}, {"id": 656499302483792, "definition":
        {"title": "Resources synchronized to R2", "title_size": "16", "title_align":
        "left", "type": "toplist", "requests": [{"queries": [{"data_source": "metrics",
        "name": "query1", "query": "sum:datadog.org_sync.action{action_type:sync}
        by {resource_type,status}", "aggregator": "sum"}], "response_format": "scalar",
        "formulas": [{"formula": "query1"}[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/powerpacks/e685afa6-955c-11ef-9254-da7ad0900005
  response:
    body:
      string: '{"data": {"type": "powerpack", "id": "e685afa6-955c-11ef-9254-da7ad0900005",
        "attributes": {"name": "New group", "description": "", "group_widget": {"layout":
        {"x": 0, "y": 0, "width": 12, "height": 3}, "definition": {"title": "New group",
        "type": "group", "layout_type": "ordered", "widgets": [{"layout": {"x": 1,
        "y": 0, "width": 4, "height": 2}, "definition": {"title": "", "title_size":
        "16", "title_align": "left", "show_legend": true, "legend_layout": "auto",
        "legend_columns": ["avg", "min", "max", "value", "sum"], "type": "timeseries",
        "requests": [{"response_format": "timeseries", "queries": [{"name": "query1",
        "data_source": "metrics", "query": "avg:system.cpu.user{*}"}], "style": {"palette":
        "dog_classic", "order_by": "values", "line_type": "solid", "line_width": "normal"},
        "display_type": "line"}]}, "id": 7771709005082419}]}}, "template_variables":
        [], "tags": ["tag:system"]}, "relationships": {"author": {"data": {"type":
        "users", "id": "98fe080d-8fda-11ef-aa03-c6ac9d6cb0b0"}}}}, "included": [{"type":
        "users", "id": "98fe080d-8fda-11ef-aa03-c6ac9d6cb0b0", "attributes": {"name":
        "Michael Richey", "email": "michael.richey@datadoghq.com"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "powerpack", "attributes": {"name": "New group", "description":
      "", "group_widget": {"layout": {"x": 0, "y": 0, "width": 12, "height": 3}, "definition":
      {"title": "New group", "type": "group", "layout_type": "ordered", "widgets":
      [{"layout": {"x": 1, "y": 0, "width": 4, "height": 2}, "definition": {"title":
      "", "title_size": "16", "title_align": "left", "show_legend": true, "legend_layout":
      "auto", "legend_columns": ["avg", "m[...]
- request:
    body: '{"title": "sync-cli customer dashboard", "description": "[[suggested_dashboards]]",
      "layout_type": "ordered", "template_variables": [{"name": "resource_type", "prefix":
      "resource_type", "available_values": ["monitors", "dashboards"], "default":
      "*"}, {"name": "client_type", "prefix": "client_type", "available_values": ["source",
      "destination"], "default": "*"}], "widgets": [{"id": 1046236066464840, "definition":
      {"title": "Summary", "background[...]
[...]
- request:
    body: '{"name": "Michael''s List"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us5.datadoghq.com/api/v1/dashboard/lists/manual
  response:
    body:
      string: '{"author": {"name": "Michael S Richey", "handle": "17d29c8a-6285-11f0-be9b-76de006a05ea"},
        "created": "2025-07-18T21:19:16.485526+00:00", "dashboards": null, "dashboard_count":
        0, "id": 14258, "is_favorite": false, "modified": "2025-07-18T21:19:16.485532+00:00",
        "name": "Michael''s List", "type": "manual_dashboard_list"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"dashboards": [{"id": "tbn-rct-ny3", "type": "custom_timeboard"}, {"id":
      "f5p-3tz-9s9", "type": "custom_timeboard"}]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.us5.datadoghq.com/api/v2/dashboard/lists/manual/14258/dashboards
  response:
    body:
      string: '{"dashboards": [{"type": "custom_timeboard", "id": "tbn-rct-ny3"},
        {"type": "custom_timeboard", "id": "f5p-3tz-9s9"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=500
  response:
    body:
      string: '{"data": [{"type": "users", "id": "81f6f2c7-923f-11ef-879a-6ee0822e247c",
        "attributes": {"name": "Justine Lo", "handle": "justine.lo@datadoghq.com",
        "created_at": "2024-10-24T19:38:13.281489+00:00", "modified_at": "2024-10-25T14:18:33.835459+00:00",
        "email": "justine.lo@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/7d75964971289cf50e6090d76b45e3f6?s=48&d=retro",
        "title": "", "verified": true, "service_account": false, "disabled": false,
        "allowed_login_methods": [], "status": "Active", "mfa_enabled": false}, "relationships":
        {"roles": {"data": [{"type": "roles", "id": "3020f50c-8582-11ef-ad61-da7ad0900005"}]},
        "org": {"data": {"type": "orgs", "id": "30187db5-8582-11ef-969b-8248c7cda362"}}}},
        {"type": "users", "id": "b301b340-8582-11ef-ba31-3219ecc6cb25", "attributes":
        {"name": "Louis Cheynel", "handle": "louis.cheynel@datadoghq.com", "created_at":
        "2024-10-08T14:36:26.725077+00:00", "modified_at": "2025-02-19T21:12:46.164959+00:00",
        "email": "louis.cheynel@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/791d1a56daa2bd0f5bb25ed286d3f8bb?s=48&d=retro",
        "titl[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"id": "693fe720-9569-11ef-969d-da7ad0900005", "type": "roles",
        "attributes": {"created_at": "2024-10-28T20:15:44.156681Z", "created_by_handle":
        "michael.richey@datadoghq.com", "modified_at": "2024-10-28T20:15:44.167199Z",
        "modified_by_handle": "michael.richey@datadoghq.com", "name": "Copy of Datadog
        Admin Role", "team_count": 0, "user_count": 2}, "relationships": {"permissions":
        {"data": [{"id": "505fd138-dd15-11e8-9308-afd2db62791e", "type": "permissions"},
        {"id": "81e488c0-db35-11ed-a170-da7ad0900005", "type": "permissions"}, {"id":
        "24d31064-b9b4-11ec-a2af-da7ad0900005", "type": "permissions"}, {"id": "65eea998-f6a1-11ed-9953-da7ad0900005",
        "type": "permissions"}, {"id": "ffb0167e-11e1-11ee-8f46-da7ad0900005", "type":
        "permissions"}, {"id": "04668f62-ec5c-11ea-9483-0fe541ab993f", "type": "permissions"},
        {"id": "0466902[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/permissions
  response:
    body:
      string: '{"data": [{"id": "f1624684-d87d-11e8-acac-efb4dbffab1c", "type": "permissions",
        "attributes": {"created": "2018-10-25T17:46:46.704903Z", "description": "Deprecated.
        Privileged Access (also known as Admin permission) has been replaced by more
        specific permissions: Access Management, Org Management, Billing Read/Write,
        Usage Read/Write.", "display_name": "Privileged Access", "display_type": "other",
        "group_name": "General", "name": "admin", "restricted": false}}, {"id": "f1666372-d87d-11e8-acac-6be484ba794a",
        "type": "permissions", "attributes": {"created": "2018-10-25T17:46:46.73281Z",
        "description": "Deprecated. Standard Access has been replaced by more specific
        permissions.", "display_name": "Standard Access", "display_type": "other",
        "group_name": "General", "name": "standard", "restricted": false}}, {"id":
        "4fbb1652-dd15-11e8-9308-77be61fbb2c7", "type": "permissions", "attributes":
        {"created"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.us5.datadoghq.com/api/v1/dashboard/lists/manual/14258
  response:
    body:
      string: '{"deleted_dashboard_list_id": 14258}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.us5.datadoghq.com/api/v1/dashboard/tbn-rct-ny3
  response:
    body:
      string: '{"deleted_dashboard_id": "tbn-rct-ny3"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.us5.datadoghq.com/api/v1/dashboard/f5p-3tz-9s9
  response:
    body:
      string: '{"deleted_dashboard_id": "f5p-3tz-9s9"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
