interactions:
- request:
    body: '{"name": "Empty Test ListUpdated"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/dashboard/lists/manual/10775
  response:
    body:
      string: '{"is_favorite": false, "name": "Empty Test ListUpdated", "dashboard_count":
        0, "author": {"handle": "frog@datadoghq.com", "name": "Frog"}, "created":
        "2021-07-30T14:36:26.138621+00:00", "type": "manual_dashboard_list", "dashboards":
        null, "modified": "2021-07-30T14:36:26.688444+00:00", "id": 10775}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
