interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/dashboard/lists/manual
  response:
    body:
      string: '{"dashboard_lists": [{"is_favorite": false, "name": "Empty Test List",
        "dashboard_count": 0, "author": {"handle": "sherzod.karimov@datadoghq.com",
        "name": "Sherzod Karimov"}, "created": "2021-07-15T14:16:13.319119+00:00",
        "type": "manual_dashboard_list", "dashboards": null, "modified": "2021-07-15T14:16:34.123734+00:00",
        "id": 221363}, {"is_favorite": false, "name": "Test list", "dashboard_count":
        2, "author": {"handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod
        Karimov"}, "created": "2021-06-14T20:10:23.247584+00:00", "type": "manual_dashboard_list",
        "dashboards": null, "modified": "2021-06-24T20:13:00.657023+00:00", "id":
        213585}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/dashboard/lists/manual/221363/dashboards
  response:
    body:
      string: '{"total": 0, "dashboards": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/dashboard/lists/manual/213585/dashboards
  response:
    body:
      string: '{"total": 2, "dashboards": [{"popularity": 5, "title": "Timeboard Tue,
        Jun 1, 4:18:57 pm", "is_favorite": false, "id": "euw-cp8-hy6", "icon": null,
        "integration_id": null, "is_shared": false, "author": {"handle": "sherzod.karimov@datadoghq.com",
        "name": "Sherzod Karimov"}, "url": "/dashboard/euw-cp8-hy6/timeboard-tue-jun-1-41857-pm",
        "created": "2021-06-01T20:18:57.486260+00:00", "modified": "2021-06-21T17:24:39.527924+00:00",
        "is_read_only": false, "type": "custom_timeboard"}, {"popularity": 5, "title":
        "Test screenboard", "is_favorite": false, "id": "dns-jst-h98", "icon": null,
        "integration_id": null, "is_shared": false, "author": {"handle": "sherzod.karimov@datadoghq.com",
        "name": "Sherzod Karimov"}, "url": "/dashboard/dns-jst-h98/test-screenboard",
        "created": "2021-06-08T18:26:23.515662+00:00", "modified": "2021-06-22T19:35:38.981348+00:00",
        "is_read_only": false, "type": "custom_screenboard"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
