interactions:
- request:
    body: '{"name": "Empty Test List"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/dashboard/lists/manual
  response:
    body:
      string: '{"is_favorite": false, "name": "Empty Test List", "dashboard_count":
        0, "author": {"handle": "frog@datadoghq.com", "name": null}, "created": "2021-07-20T18:52:16.969543+00:00",
        "type": "manual_dashboard_list", "dashboards": null, "modified": "2021-07-20T18:52:16.969581+00:00",
        "id": 10405}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"dashboards": []}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v2/dashboard/lists/manual/10405/dashboards
  response:
    body:
      string: '{"dashboards": []}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
