interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.import.start", "type": 0, "points": [{"timestamp": 1743013869,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.import.start", "type": 0, "points": [{"timestamp": 1743013869,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/dashboard/lists/manual
  response:
    body:
      string: '{"dashboard_lists": [{"author": {"name": "Michael Richey", "handle":
        "michael.richey@datadoghq.com"}, "created": "2025-02-19T21:02:25.925528+00:00",
        "dashboards": null, "dashboard_count": 2, "id": 42665, "is_favorite": true,
        "modified": "2025-02-19T21:02:37.784462+00:00", "name": "Michael''s List",
        "type": "manual_dashboard_list"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/dashboard/lists/manual/42665/dashboards
  response:
    body:
      string: '{"dashboards": [{"author": {"name": "Michael Richey", "handle": "michael.richey@datadoghq.com"},
        "created": "2024-10-24T15:14:37.892787+00:00", "is_favorite": true, "is_shared":
        false, "modified": "2024-11-05T14:55:50.821949+00:00", "title": "sync-cli
        customer dashboard", "type": "custom_timeboard", "id": "2n3-8ye-5ui", "url":
        "/dashboard/2n3-8ye-5ui/sync-cli-customer-dashboard", "is_read_only": false,
        "tags": null, "icon": null, "integration_id": null, "popularity": 2}, {"author":
        {"name": "Michael Richey", "handle": "michael.richey@datadoghq.com"}, "created":
        "2024-10-28T18:45:47.629189+00:00", "is_favorite": true, "is_shared": false,
        "modified": "2024-10-31T20:20:27.062979+00:00", "title": "Michael''s Dashboard
        Mon, Oct 28, 2:45:47 pm", "type": "custom_timeboard", "id": "jh3-vsk-99c",
        "url": "/dashboard/jh3-vsk-99c/michaels-dashboard-mon-oct-28-24547-pm", "is_read_only":
        false, "tags": null, "icon": null, "integration_id": null, "popularity": 0}],
        "total": 2}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
