interactions:
- request:
    body: '{"name": "Empty Test List"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/dashboard/lists/manual
  response:
    body:
      string: '{"is_favorite": false, "name": "Empty Test List", "dashboard_count":
        0, "author": {"handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod
        Karimov"}, "created": "2023-01-04T21:42:08.025298+00:00", "type": "manual_dashboard_list",
        "dashboards": null, "modified": "2023-01-04T21:42:08.025308+00:00", "id":
        22098}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"dashboards": []}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v2/dashboard/lists/manual/22098/dashboards
  response:
    body:
      string: '{"dashboards": []}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
