interactions:
- request:
    body: '{"name": "Empty Test List+ updated"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/dashboard/lists/manual/10678
  response:
    body:
      string: '{"is_favorite": false, "name": "Empty Test List+ updated", "dashboard_count":
        0, "author": {"handle": "frog@datadoghq.com", "name": "None+ updated"}, "created":
        "2021-07-26T13:22:00.817459+00:00", "type": "manual_dashboard_list", "dashboards":
        null, "modified": "2021-07-26T13:22:01.462215+00:00", "id": 10678}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
