interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data": [{"attributes": {"filter": {"query": "source:cloudtrail @usr.account_id:$usrAccountId"},
        "group_by": [{"path": "service", "tag_name": "service"}], "compute": {"aggregation_type":
        "count"}}, "type": "logs_metrics", "id": "test.metric"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
