interactions:
- request:
    body: '{"data": {"attributes": {"filter": {"query": "source:cloudtrail @usr.account_id:$usrAccountId"},
      "group_by": [{"path": "service", "tag_name": "service"}], "compute": {"aggregation_type":
      "count"}}, "type": "logs_metrics", "id": "test.metric"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/logs/config/metrics
  response:
    body:
      string: '{"data": {"attributes": {"filter": {"query": "source:cloudtrail @usr.account_id:$usrAccountId"},
        "group_by": [{"path": "service", "tag_name": "service"}], "compute": {"aggregation_type":
        "count"}}, "type": "logs_metrics", "id": "test.metric"}}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
