interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/locations
  response:
    body:
      string: '{"locations": [{"id": "aws:af-south-1", "name": "Cape Town (AWS)"},
        {"id": "aws:ap-east-1", "name": "Hong Kong (AWS)"}, {"id": "aws:ap-northeast-1",
        "name": "Tokyo (AWS)"}, {"id": "aws:ap-northeast-2", "name": "Seoul (AWS)"},
        {"id": "aws:ap-northeast-3", "name": "Osaka (AWS)"}, {"id": "aws:ap-south-1",
        "name": "Mumbai (AWS)"}, {"id": "aws:ap-southeast-1", "name": "Singapore (AWS)"},
        {"id": "aws:ap-southeast-2", "name": "Sydney (AWS)"}, {"id": "aws:ap-southeast-3",
        "name": "Jakarta (AWS)"}, {"id[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/private-locations/pl:custom-location-0bf64e97eec8416e292447a0a902f5c6
  response:
    body:
      string: '{"createdAt": "2024-02-01T21:13:10.694645+00:00", "modifiedAt": "2024-02-01T21:13:10.694645+00:00",
        "description": "Random location for test", "tags": ["test:foo"], "name": "Custom
        Location", "metadata": {"restricted_roles": []}, "id": "pl:custom-location-0bf64e97eec8416e292447a0a902f5c6",
        "createdBy": "sherzod.karimov@datadoghq.com"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/private-locations/pl:custom-location-with-restricted-roles-946ecd8f86d8de1b74926a3c18e3e7fe
  response:
    body:
      string: '{"createdAt": "2024-02-01T21:45:46.664961+00:00", "modifiedAt": "2024-02-01T21:46:11.374936+00:00",
        "description": "", "tags": [], "name": "Custom location with restricted roles",
        "metadata": {"restricted_roles": ["fa017a35-bfcb-11eb-a4d7-da7ad0900002"]},
        "id": "pl:custom-location-with-restricted-roles-946ecd8f86d8de1b74926a3c18e3e7fe",
        "createdBy": "sherzod.karimov@datadoghq.com"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
