interactions:
- request:
    body: '{"description": "Random location for test", "tags": ["test:foo"], "name":
      "Custom Locationupdated", "metadata": {"restricted_roles": []}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/private-locations/pl:custom-location-e09a2f45e85c67a66f2a30b1e0370927
  response:
    body:
      string: '{"createdAt": "2024-02-01T22:13:08.151112+00:00", "modifiedAt": "2024-02-01T22:13:09.264036+00:00",
        "description": "Random location for test", "tags": ["test:foo"], "name": "Custom
        Locationupdated", "metadata": {"restricted_roles": []}, "id": "pl:custom-location-e09a2f45e85c67a66f2a30b1e0370927",
        "createdBy": "frog@datadoghq.com"}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
