interactions:
- request:
    body: '{"name": "Test Private Variable+ updated", "tags": ["key:value"], "description":
      "datadog-sync-cli test"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/private-locations/pl:test-private-variable-907b473f5138d0a53b1dd140bbda1ce1
  response:
    body:
      string: '{"modifiedAt": "2021-07-26T13:25:27.139921+00:00", "name": "Test Private
        Variable+ updated", "tags": ["key:value"], "metadata": null, "id": "pl:test-private-variable-907b473f5138d0a53b1dd140bbda1ce1",
        "createdAt": "2021-07-26T13:25:26.834170+00:00", "description": "datadog-sync-cli
        test"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
