interactions:
- request:
    body: '{"name": "Test Private Variableupdated", "tags": ["key:value"], "description":
      "datadog-sync-cli test"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/private-locations/pl:test-private-variable-73eed01c79c1fca3cd51c2423cb66c70
  response:
    body:
      string: '{"name": "Test Private Variableupdated", "tags": ["key:value"], "modifiedAt":
        "2023-01-04T21:32:02.607142+00:00", "createdBy": "sherzod.karimov@datadoghq.com",
        "metadata": null, "id": "pl:test-private-variable-73eed01c79c1fca3cd51c2423cb66c70",
        "createdAt": "2023-01-04T21:32:02.185319+00:00", "description": "datadog-sync-cli
        test"}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
