interactions:
- request:
    body: '{"name": "Test Private Variableupdated", "tags": ["key:value"], "description":
      "datadog-sync-cli test"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/private-locations/pl:test-private-variable-b8123d9ffd81450cd7cf58ce7b542704
  response:
    body:
      string: '{"modifiedAt": "2021-10-28T14:52:15.496585+00:00", "name": "Test Private
        Variableupdated", "tags": ["key:value"], "metadata": null, "id": "pl:test-private-variable-b8123d9ffd81450cd7cf58ce7b542704",
        "createdAt": "2021-10-28T14:52:15.147130+00:00", "description": "datadog-sync-cli
        test"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
