interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/locations
  response:
    body:
      string: '{"locations": [{"id": "aws:ap-northeast-1", "name": "Tokyo (AWS)"},
        {"id": "aws:ap-northeast-2", "name": "Seoul (AWS)"}, {"id": "aws:ap-south-1",
        "name": "Mumbai (AWS)"}, {"id": "aws:ap-southeast-1", "name": "Singapore (AWS)"},
        {"id": "aws:ap-southeast-2", "name": "Sydney (AWS)"}, {"id": "aws:ca-central-1",
        "name": "Canada Central (AWS)"}, {"id": "aws:eu-central-1", "name": "Frankfurt
        (AWS)"}, {"id": "aws:eu-north-1", "name": "Stockholm (AWS)"}, {"id": "aws:eu-west-1",
        "name": "Ireland (AWS)"}, {"id": "aws:eu-west-2", "name": "London (AWS)"},
        {"id": "aws:eu-west-3", "name": "Paris (AWS)"}, {"id": "aws:sa-east-1", "name":
        "S\u00e3o Paulo (AWS)"}, {"id": "aws:us-east-2", "name": "Ohio (AWS)"}, {"id":
        "aws:us-west-1", "name": "N. California (AWS)"}, {"id": "aws:us-west-2", "name":
        "Oregon (AWS)"}, {"id": "pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451",
        "name": "Test Private Variable"}]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11994'
      x-ratelimit-reset:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/private-locations/pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451
  response:
    body:
      string: '{"name": "Test Private Variable", "tags": ["key:value"], "description":
        "datadog-sync-cli test", "modifiedAt": "2021-06-30T12:27:21.433291+00:00",
        "id": "pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451", "createdAt":
        "2021-06-30T12:27:21.433291+00:00", "metadata": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
