interactions:
- request:
    body: '{"name": "Test Private VariableUpdated", "tags": ["key:value"], "description":
      "datadog-sync-cli test"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/private-locations/pl:test-private-variable-877c5fb3df7cdf9677a3f9298b07012d
  response:
    body:
      string: '{"modifiedAt": "2021-07-31T22:18:57.688780+00:00", "name": "Test Private
        VariableUpdated", "tags": ["key:value"], "metadata": null, "id": "pl:test-private-variable-877c5fb3df7cdf9677a3f9298b07012d",
        "createdAt": "2021-07-31T22:18:57.458314+00:00", "description": "datadog-sync-cli
        test"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
