interactions:
- request:
    body: '{"name": "Test Private VariableUpdated", "tags": ["key:value"], "description":
      "datadog-sync-cli test"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/private-locations/pl:test-private-variable-56e43d412b5fe2f3c7cf7853a9614ddb
  response:
    body:
      string: '{"modifiedAt": "2021-07-30T15:20:56.179307+00:00", "name": "Test Private
        VariableUpdated", "tags": ["key:value"], "metadata": null, "id": "pl:test-private-variable-56e43d412b5fe2f3c7cf7853a9614ddb",
        "createdAt": "2021-07-30T15:20:55.772167+00:00", "description": "datadog-sync-cli
        test"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
