interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "Random location for test", "tags": ["test:foo", "managed_by:datadog-sync"],
      "name": "Custom Locationupdated", "metadata": {"restricted_roles": []}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/private-locations/pl:custom-location-586f307979e3fa9140743c9a13f13e9f
  response:
    body:
      string: '{"createdAt": "2024-02-02T21:30:32.995695+00:00", "modifiedAt": "2024-02-02T21:30:34.051720+00:00",
        "description": "Random location for test", "tags": ["test:foo", "managed_by:datadog-sync"],
        "name": "Custom Locationupdated", "metadata": {"restricted_roles": []}, "id":
        "pl:custom-location-586f307979e3fa9140743c9a13f13e9f", "createdBy": "frog@datadoghq.com"}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
