interactions:
- request:
    body: '{"name": "Test Private VariableUpdated", "tags": ["key:value"], "description":
      "datadog-sync-cli test"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/private-locations/pl:test-private-variable-0905a0dae32de13e2ddb9cae9e36d1e1
  response:
    body:
      string: '{"modifiedAt": "2021-07-26T20:37:52.395935+00:00", "name": "Test Private
        VariableUpdated", "tags": ["key:value"], "metadata": null, "id": "pl:test-private-variable-0905a0dae32de13e2ddb9cae9e36d1e1",
        "createdAt": "2021-07-26T20:37:52.094345+00:00", "description": "datadog-sync-cli
        test"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
