interactions:
- request:
    body: '{"name": "Test Private VariableUpdated", "tags": ["key:value"], "description":
      "datadog-sync-cli test"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/private-locations/pl:test-private-variable-0ef3ff8e82dfa3a934a5ef4ae09464ec
  response:
    body:
      string: '{"modifiedAt": "2021-07-30T23:15:58.248860+00:00", "name": "Test Private
        VariableUpdated", "tags": ["key:value"], "metadata": null, "id": "pl:test-private-variable-0ef3ff8e82dfa3a934a5ef4ae09464ec",
        "createdAt": "2021-07-30T23:15:58.009660+00:00", "description": "datadog-sync-cli
        test"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
