interactions:
- request:
    body: '{"name": "Test Private Variable+ updated", "tags": ["key:value"], "description":
      "datadog-sync-cli test"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/private-locations/pl:test-private-variable-72380c15eb306a4c88df53dd05ff50f5
  response:
    body:
      string: '{"modifiedAt": "2021-07-20T18:53:36.632432+00:00", "name": "Test Private
        Variable+ updated", "tags": ["key:value"], "metadata": null, "id": "pl:test-private-variable-72380c15eb306a4c88df53dd05ff50f5",
        "createdAt": "2021-07-20T18:53:36.069328+00:00", "description": "datadog-sync-cli
        test"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
