interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/permissions
  response:
    body:
      string: '{"data": [{"type": "permissions", "id": "984a2bd4-d3b4-11e8-a1ff-a7f660d43029",
        "attributes": {"name": "admin", "display_name": "Privileged Access", "description":
        "This permission gives you the ability to view and edit everything in your
        Datadog organization that does not have an explicitly defined permission.
        This includes organization settings and SAML management. This permission is
        inclusive of all Standard access permissions.", "created": "2018-10-19T15:35:23.734317+00:00",
        "group_name": "General", "display_type": "other", "restricted": false}}, {"type":
        "permissions", "id": "984d2f00-d3b4-11e8-a200-bb47109e9987", "attributes":
        {"name": "standard", "display_name": "Standard Access", "description": "This
        permission gives you the ability to view and edit components in your Datadog
        organization that do not have explicitly defined permissions. This includes
        Notebooks, Events, and other non-Account Management functionality.", "created":
        "2018-10-19T15:35:23.756736+00:00", "group_name"[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/permissions
  response:
    body:
      string: '{"data": [{"type": "permissions", "id": "f1624684-d87d-11e8-acac-efb4dbffab1c",
        "attributes": {"name": "admin", "display_name": "Privileged Access", "description":
        "This permission gives you the ability to view and edit everything in your
        Datadog organization that does not have an expl[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"meta": {"page": {"total_filtered_count": 3, "total_count": 3}}, "data":
        [{"type": "roles", "id": "138d5c0c-bfcc-11eb-8e11-da7ad0900005", "attributes":
        {"name": "Datadog Admin Role", "created_at": "2021-05-28T15:47:58.719345+00:00",
        "modified_at": "2021-05-28T15:47:58.719345+00:00", "user_count": 3}, "relationships":
        {"permissions": {"data": [{"type": "permissions", "id": "f1624684-d87d-11e8-acac-efb4dbffab1c"},
        {"type": "permissions", "id": "4fbd1e66-dd15-11e8-9308-53cb90e4ef1c"}, {"type":
        "permissions", "id": "4fbeec96-dd15-11e8-9308-d3aac44f93e5"}, {"type": "permissions",
        "id": "4fc43656-dd15-11e8-9308-f3e2bb5e31b4"}, {"type": "permissions", "id":
        "505fd138-dd15-11e8-9308-afd2db62791e"}, {"type": "permissions", "id": "bd837a80-6cb2-11e9-8fc4-339b4b012214"},
        {"type": "permissions",[...]
