interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"id": "f0ba6944-985e-11ef-953e-da7ad0900005", "type": "roles",
        "attributes": {"created_at": "2024-11-01T14:38:20.485105Z", "created_by_handle":
        "michael.richey@datadoghq.com", "modified_at": "2024-11-01T14:38:20.486756Z",
        "modified_by_handle": "michael.richey@datadoghq.com", "name": "Copy of Datadog
        Admin Role", "team_count": 0, "user_count": 2}, "relationships": {"permissions":
        {"data": [{"id": "5e605652-dd12-11e8-9e53-375565b8970e", "type": "permissions"},
        {"id": "62cc036c-dd12-11e8-9e54-db9995643092", "type": "permissions"}, {"id":
        "6f66600e-dd12-11e8-9e55-7f30fbb45e73", "type": "permissions"}, {"id": "7d7c98ac-dd12-11e8-9e56-93700598622d",
        "type": "permissions"}, {"id": "811ac4ca-dd12-11e8-9e57-676a7f0beef9", "type":
        "permissions"}, {"id": "84aa3ae4-dd12-11e8-9e58-a373a514ccd0", "type": "permissions"},
        {"id": "87b0030[...]
