interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/downtime
  response:
    body:
      string: '{"data": [{"type": "downtime", "attributes": {"canceled": null, "mute_first_recovery_notification":
        false, "monitor_identifier": {"monitor_tags": ["*"]}, "status": "scheduled",
        "message": "Sample message", "schedule": {"start": "2027-04-14T04:00:00+00:00",
        "end": null}, "modified": "2023-11-09T18:23:26.995899+00:00", "notify_end_types":
        ["expired"], "display_timezone": "America/New_York", "created": "2022-04-15T19:16:51.983671+00:00",
        "notify_end_states": ["alert", "no data", "warn"], "scope": "actual_retries:3"},
        "id": "2d201904-b23a-11ed-b002-da7ad0900002"}, {"type": "downtime", "attributes":
        {"canceled": null, "mute_first_recovery_notification": false, "monitor_identifier":
        {"monitor_id": 37284891}, "status": "scheduled", "message": "Random", "schedule":
        {"recurrences": [{"start": "2026-01-01T16:24", "duration": "1h", "rrule":
        "FREQ=DAILY;INTERVAL=1"}], "current_downtime": {"start": "2026-01-01T21:24:00+00:00",
        "end": "2026-01-01T22:24:00+00:00"}, "timezone": "America/New_York"}, "modified":
        "2023-11-09T18:27:16.429216+00:00", "notify_end_types": ["canceled", "expired"],
        "display_timezone": "America/New_York", "created": "2023-11-01T20:25:50.989095+00:00",
        "notify_end_states": ["alert", "no data", "warn"], "scope": "*"}, "id": "d96810aa-78f4-11ee-bf03-da7ad0900002"},
        {"type": "downtime", "attributes": {"canceled": null, "mute_first_recovery_notification":
        false, "monitor_identifier": {"monitor_tags": ["env:tes[...]
