interactions:
- request:
    body: '{"data": {"type": "downtime", "attributes": {"message": "Random monitorupdated",
      "monitor_identifier": {"monitor_tags": ["env:test"]}, "notify_end_types": ["canceled",
      "expired"], "notify_end_states": ["warn", "no data", "alert"], "schedule": {"start":
      "2023-12-19T20:54:36.736000+00:00", "end": null}, "display_timezone": "America/New_York",
      "scope": "*", "mute_first_recovery_notification": false}, "id": "c5929390-9e86-11ee-8ce0-da7ad0900005"}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.datadoghq.eu/api/v2/downtime/c5929390-9e86-11ee-8ce0-da7ad0900005
  response:
    body:
      string: '{"data": {"type": "downtime", "attributes": {"schedule": {"start":
        "2023-12-19T20:54:36.736000+00:00", "end": null}, "display_timezone": "America/New_York",
        "modified": "2023-12-19T15:53:37.901783+00:00", "notify_end_types": ["canceled",
        "expired"], "notify_end_states": ["no data", "alert", "warn"], "message":
        "Random monitorupdated", "status": "scheduled", "canceled": null, "monitor_identifier":
        {"monitor_tags": ["env:test"]}, "created": "2023-12-19T15:53:37.257074+00:00",
        "mute_first_recovery_notification": false, "scope": "*"}, "relationships":
        {"monitor": {"data": null}, "created_by": {"data": {"type": "users", "id":
        "3af5af64-bfcd-11eb-b483-da7ad0900005"}}}, "id": "c5929390-9e86-11ee-8ce0-da7ad0900005"},
        "included": [{"type": "users", "id": "3af5af64-bfcd-11eb-b483-da7ad0900005",
        "attributes": {"name": "Frog", "handle": "frog@datadoghq.com", "created_at":
        "2021-05-28T15:56:14.326839+00:00", "modified_at": "2023-03-21T15:15:23.136706+00:00",
        "email": "frog@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro",
        "title": null, "verified": true, "service_account": false, "disabled": false,
        "allowed_login_methods": [], "status": "Active"}}]}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
