interactions:
- request:
    body: '{"data": {"type": "downtime", "attributes": {"mute_first_recovery_notification":
      false, "message": "Sample message", "schedule": {"end": null, "start": "2027-04-14T04:00:00+00:00"},
      "monitor_identifier": {"monitor_tags": ["*"]}, "notify_end_states": ["alert",
      "no data", "warn"], "display_timezone": "America/New_York", "scope": "*", "notify_end_types":
      ["expired"]}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/downtime
  response:
    body:
      string: '{"data": {"type": "downtime", "attributes": {"message": "Sample message",
        "monitor_identifier": {"monitor_tags": ["*"]}, "created": "2023-11-01T20:50:17.561722+00:00",
        "mute_first_recovery_notification": false, "scope": "*", "schedule": {"start":
        "2027-04-14T04:00:00+00:00", "end": null}, "display_timezone": "America/New_York",
        "notify_end_types": ["expired"], "status": "scheduled", "canceled": null,
        "notify_end_states": ["no data", "warn", "alert"], "modified": "2023-11-01T20:50:17.561722+00:00"},
        "id": "438d7bde-78f8-11ee-8f23-da7ad0900005", "relationships": {"created_by":
        {"data": {"type": "users", "id": "3af5af64-bfcd-11eb-b483-da7ad0900005"}},
        "monitor": {"data": null}}}, "included": [{"type": "users", "id": "3af5af64-bfcd-11eb-b483-da7ad0900005",
        "attributes": {"name": "Frog", "handle": "frog@datadoghq.com", "created_at":
        "2021-05-28T15:56:14.326839+00:00", "modified_at": "2023-03-21T15:15:23.136706+00:00",
        "email": "frog@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro",
        "title": null, "verified": true, "service_account": false, "disabled": false,
        "allowed_login_methods": [], "status": "Active"}}]}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
