interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/downtime
  response:
    body:
      string: '{"data": [{"type": "downtime", "attributes": {"status": "active", "message":
        "", "created": "2024-10-28T19:03:37.269181+00:00", "modified": "2024-10-28T19:03:37.269181+00:00",
        "monitor_identifier": {"monitor_id": 20125252}, "canceled": null, "scope":
        "*", "display_timezone": "America/New_York", "notify_end_states": ["warn",
        "alert", "no data"], "mute_first_recovery_notification": false, "notify_end_types":
        ["expired", "canceled"], "schedule": {"start": "2024-10-28T19:03:20.783000+00:00",
        "end": null}}, "id": "84867542-29d9-4c77-b9f8-117e19347a27"}, {"type": "downtime",
        "attributes": {"status": "scheduled", "message": "test", "created": "2024-10-28T18:47:00.157356+00:00",
        "modified": "2024-10-30T18:56:02.997722+00:00", "monitor_identifier": {"monitor_id":
        20046756}, "canceled": null, "scope": "agent_type:native", "display_timezone":
        "America/New_York", "notify_end_states": ["warn", "alert", "no data"], "mute_first_recovery_notification":
        false, "notify_end_types": ["expired", "canceled"], "schedule": {"current_downtime":
        {"start": "2024-10-31T18:46:00+00:00", "end": "2024-10-31T18:56:00+00:00"},
        "recurrences": [{"start": "2024-10-28T14:46:00", "duration": "10m", "rrule":
        "FREQ=DAILY;INTERVAL=1"}], "timezone": "America/New_York"}}, "id": "e7c79b6e-4c04-4540-ad20-0d1f71d79061"}],
        "meta": {"page": {"total_filtered_count": 2}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730388983, "value":
      1}], "tags": ["id:84867542-29d9-4c77-b9f8-117e19347a27", "action_type:import",
      "status:success", "resource_type:downtime_schedules", "client_type:destination"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730388983, "value":
      1}], "tags": ["id:84867542-29d9-4c77-b9f8-117e19347a27", "action_type:import",
      "status:success", "resource_type:downtime_schedules", "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
