interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/downtime
  response:
    body:
      string: '{"data": [{"type": "downtime", "attributes": {"message": "Sample message",
        "monitor_identifier": {"monitor_tags": ["*"]}, "notify_end_types": ["expired"],
        "notify_end_states": ["warn", "no data", "alert"], "schedule": {"start": "2027-04-14T04:00:00+00:00",
        "end": null}, "created": "2022-04-15T19:16:51.983671+00:00", "status": "canceled",
        "display_timezone": "America/New_York", "modified": "2023-12-19T15:01:17.741772+00:00",
        "scope": "actual_retries:3", "canceled": "2023-12-19T15:01:17.738885+00:00",
        "mute_first_recovery_notification": false}, "id": "2d201904-b23a-11ed-b002-da7ad0900002"},
        {"type": "downtime", "attributes": {"message": "Random", "monitor_identifier":
        {"monitor_id": 37284891}, "notify_end_types": ["canceled", "expired"], "notify_end_states":
        ["warn", "no data", "alert"], "schedule": {"current_downtime": {"start": "2026-01-01T21:24:00+00:00",
        "end": "2026-01-01T22:24:00+00:00"}, "recurrences": [{"start": "2026-01-01T16:24",
        "duration": "1h", "rrule": "FREQ=DAILY;INTERVAL=1"}], "timezone": "America/New_York"},
        "created": "2023-11-01T20:25:50.989095+00:00", "status": "scheduled", "display_timezone":
        "America/New_York", "modified": "2023-11-09T18:27:16.429216+00:00", "scope":
        "*", "canceled": null, "mute_first_recovery_notification": false}, "id": "d96810aa-78f4-11ee-bf03-da7ad0900002"},
        {"type": "downtime", "attributes": {"message": "Random monitor", "monitor_identifier":
        {"monitor_tags": ["env:test"]}, "notify_end_types": ["canceled", "expi[...]
