interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.import.start", "type": 0, "points": [{"timestamp": 1737662089,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.import.start", "type": 0, "points": [{"timestamp": 1737662089,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/downtime?page%5Blimit%5D=100&page%5Boffset%5D=0
  response:
    body:
      string: '{"data": [{"type": "downtime", "attributes": {"scope": "*", "modified":
        "2024-10-28T19:03:37.269181+00:00", "schedule": {"end": null, "start": "2024-10-28T19:03:20.783000+00:00"},
        "notify_end_states": ["no data", "alert", "warn"], "monitor_identifier": {"monitor_id":
        20125252}, "notify_end_types": ["expired", "canceled"], "message": "", "created":
        "2024-10-28T19:03:37.269181+00:00", "canceled": null, "display_timezone":
        "America/New_York", "mute_first_recovery_notification": false, "status": "active"},
        "id": "84867542-29d9-4c77-b9f8-117e19347a27"}, {"type": "downtime", "attributes":
        {"scope": "agent_type:native", "modified": "2025-01-23T19:46:06.990749+00:00",
        "schedule": {"current_downtime": {"end": "2025-01-23T19:56:00+00:00", "start":
        "2025-01-23T19:46:00+00:00"}, "timezone": "America/New_York", "recurrences":
        [{"rrule": "FREQ=DAILY;INTERVAL=1", "duration": "10m", "start": "2024-10-28T14:46:00"}]},
        "notify_end_states": ["no data", "alert", "warn"], "monitor_identifier": {"monitor_id":
        20046756}, "notify_end_types": ["expired", "canceled"], "message": "test",
        "created": "2024-10-28T18:47:00.157356+00:00", "canceled": null, "display_timezone":
        "America/New_York", "mute_first_recovery_notification": false, "status": "active"},
        "id": "e7c79b6e-4c04-4540-ad20-0d1f71d79061"}], "meta": {"page": {"total_filtered_count":
        2}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
