interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/security_monitoring/rules?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"name": "1Password activity observed from Tor client IP",
        "createdAt": 1687967178397, "isDefault": true, "isPartner": false, "isEnabled":
        false, "isBeta": false, "isDeleted": false, "isDeprecated": false, "queries":
        [{"query": "source:1password @threat_intel.results.category:tor", "groupByFields":
        ["@usr.email"], "hasOptionalGroupByFields": false, "distinctFields": [], "aggregation":
        "count", "name": "tor_client_activity"}], "options": {"evaluationWindow":
        300, "detectionMethod": "threshold", "maxSignalDuration": 86400, "keepAlive":
        3600}, "cases": [{"name": "", "status": "critical", "notifications": [], "condition":
        "tor_client_activity > 0"}], "message": "## Goal\nDetect when 1Password activity
        is observed from a Tor exit node. \n\n## Strategy\nThis rule monitors 1Password
        logs to determine when an activity originated from a Tor client. Datadog enriches
        all ingested logs with [expert-curated threat intelligence][1] in real-time.
        An attacker may use a Tor client to anonymize their true origin.  \n\n## Triage
        and response\n1. Determine if `{{@usr.email}}` from IP address `{{@network.client.ip}}`
        should have made the `{{@evt.name}}` API call.\n2. If the results of the triage
        indicate that an attacker has taken the action, begin your company''s incident
        response process and an investigation.\n\n## Changelog\n* 17 August 2023 -
        Updated query to replace attribute `@threat_intel.results.subcategory:tor`
        with `@threat_intel.results.category:tor`.\n\n[1]: https://www.datadoghq.com/blog/datadog-threat-intelligence/#expert-threat-intelligence-managed-by-datadog",
        "tags": ["mitre_platform:saas", "technique:T1078-valid-accounts", "source:1password",
        "scope:onepassword", "security:attack", "tactic:TA0001-initial-access", "mitre_platform:cloud"],
        "hasExtendedTitle": true, "type": "log_detection", "filters": [], "defaultTags":
        ["mitre_platform:cloud", "source:1password", "scope:onepassword", "technique:T1078-valid-accounts",
        "security:attack", "tactic:TA0001-initial-access", "mitre_platform:saas"],
        "version": 87, "id": "def-000-syp", "updatedAt": 1736369573205, "blocking":
        false, "metadata": {"entities": null, "sources": null}, "updateAuthorId":
        1615666, "creator": {"handle": "", "name": ""}, "updater": {"handle": "michael.richey@datadoghq.com",
        "name": "Michael Richey"}}, {"name": "1Password service account token activity
        observed", "createdAt": 1687967174578, "isDefault": true, "isPartner": false,
        "isEnabled": false, "isBeta": false, "isDeleted": false, "isDeprecated": false,
        "queries": [{"query": "source:1password @evt.type:1password-audit-events @object_type:satoken
        @evt.name:create", "groupByFields": ["@usr.id"], "hasOptionalGroupByFields":
        [...]
[...]
