interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/team?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "team", "attributes": {"name": "hamr test", "summary":
        null, "created_at": "2024-10-31T15:38:29.215109+00:00", "link_count": 0, "handle":
        "hamr-test", "user_count": 0, "description": "", "modified_at": "2024-10-31T15:38:29.215112+00:00"},
        "id": "9c580fab-137b-4233-8b44-713edf9dd556", "relationships": {"team_links":
        {"links": {"related": "/api/v2/team/9c580fab-137b-4233-8b44-713edf9dd556/links"}},
        "user_team_permissions": {"links": {"related": "/api/v2/team/9c580fab-137b-4233-8b44-713edf9dd556/permission-settings"}}}},
        {"type": "team", "attributes": {"name": "test", "summary": null, "created_at":
        "2024-10-31T15:38:29.282661+00:00", "link_count": 0, "handle": "test", "user_count":
        0, "description": "", "modified_at": "2024-10-31T15:38:29.282666+00:00"},
        "id": "d4499c1f-d6de-43c4-a993-09e5701851d4", "relationships": {"team_links":
        {"links": {"related": "/api/v2/team/d4499c1f-d6de-43c4-a993-09e5701851d4/links"}},
        "user_team_permissions": {"links": {"related": "/api/v2/team/d4499c1f-d6de-43c4-a993-09e5701851d4/permission-settings"}}}}],
        "meta": {"pagination": {"number": 0, "first_number": 0, "prev_number": 0,
        "next_number": 1, "last_number": 0, "size": 100, "type": "number_size", "total":
        2}}, "links": {"self": "https://us5.datadoghq.com/api/v2/team?page[number]=0&page[size]=100",
        "last": null, "next": "https://us5.datadoghq.com/api/v2/team?page[number]=1&page[size]=100",
        "prev": null, "first": "https://us5.datadoghq.com/api/v2/team?page[number]=0&page[size]=100"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "team", "attributes": {"name": "hamr test", "description":
      "updated", "handle": "hamr-test"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://us5.datadoghq.com/api/v2/team/9c580fab-137b-4233-8b44-713edf9dd556
  response:
    body:
      string: '{"data": {"type": "team", "id": "9c580fab-137b-4233-8b44-713edf9dd556",
        "attributes": {"name": "hamr test", "handle": "hamr-test", "summary": "updated",
        "description": "updated", "avatar": null, "banner": 4, "visible_modules":
        [], "hidden_modules": [], "created_at": "2024-10-31T15:38:29.215109+00:00",
        "modified_at": "2024-10-31T15:38:30.992152+00:00", "user_count": 0, "link_count":
        0}, "relationships": {"team_links": {"links": {"related": "/api/v2/team/9c580fab-137b-4233-8b44-713edf9dd556/links"}},
        "user_team_permissions": {"links": {"related": "/api/v2/team/9c580fab-137b-4233-8b44-713edf9dd556/permission-settings"}}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730389109, "value":
      1}], "tags": ["action_sub_type:update", "id:f0cc21b6-6f38-49f0-8641-e25fb3b98476",
      "action_type:sync", "status:success", "resource_type:teams", "client_type:destination"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730389109, "value":
      1}], "tags": ["action_sub_type:update", "id:f0cc21b6-6f38-49f0-8641-e25fb3b98476",
      "action_type:sync", "status:success", "resource_type:teams", "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
