interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.diffs.start", "type": 0, "points": [{"timestamp": 1730818170,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.diffs.start", "type": 0, "points": [{"timestamp": 1730818170,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/team?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "team", "relationships": {"user_team_permissions":
        {"links": {"related": "/api/v2/team/432b6495-e527-43f4-8819-a9d5321f7939/permission-settings"}},
        "team_links": {"links": {"related": "/api/v2/team/432b6495-e527-43f4-8819-a9d5321f7939/links"}}},
        "attributes": {"link_count": 0, "handle": "hamr-test", "summary": null, "created_at":
        "2024-11-05T14:48:32.979126+00:00", "user_count": 0, "description": "", "name":
        "hamr test", "modified_at": "2024-11-05T14:49:29.827785+00:00"}, "id": "432b6495-e527-43f4-8819-a9d5321f7939"},
        {"type": "team", "relationships": {"user_team_permissions": {"links": {"related":
        "/api/v2/team/1fc53529-74e8-4f28-9773-aa05490e9b2f/permission-settings"}},
        "team_links": {"links": {"related": "/api/v2/team/1fc53529-74e8-4f28-9773-aa05490e9b2f/links"}}},
        "attributes": {"link_count": 0, "handle": "test", "summary": null, "created_at":
        "2024-11-05T14:49:29.859830+00:00", "user_count": 0, "description": "", "name":
        "test", "modified_at": "2024-11-05T14:49:29.859833+00:00"}, "id": "1fc53529-74e8-4f28-9773-aa05490e9b2f"}],
        "meta": {"pagination": {"number": 0, "first_number": 0, "prev_number": 0,
        "next_number": 1, "last_number": 0, "size": 100, "type": "number_size", "total":
        2}}, "links": {"self": "https://us5.datadoghq.com/api/v2/team?page[number]=0&page[size]=100",
        "last": null, "next": "https://us5.datadoghq.com/api/v2/team?page[number]=1&page[size]=100",
        "prev": null, "first": "https://us5.datadoghq.com/api/v2/team?page[number]=0&page[size]=100"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"data": {"type": "team", "attributes": {"name": "hamr test", "handle":
      "hamr-test", "description": "updated"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://us5.datadoghq.com/api/v2/team/432b6495-e527-43f4-8819-a9d5321f7939
  response:
    body:
      string: '{"data": {"type": "team", "id": "432b6495-e527-43f4-8819-a9d5321f7939",
        "attributes": {"name": "hamr test", "handle": "hamr-test", "summary": "updated",
        "description": "updated", "avatar": null, "banner": 9, "visible_modules":
        [], "hidden_modules": [], "created_at": "2024-11-05T14:48:32.979126+00:00",
        "modified_at": "2024-11-05T14:49:31.991140+00:00", "user_count": 0, "link_count":
        0}, "relationships": {"team_links": {"links": {"related": "/api/v2/team/432b6495-e527-43f4-8819-a9d5321f7939/links"}},
        "user_team_permissions": {"links": {"related": "/api/v2/team/432b6495-e527-43f4-8819-a9d5321f7939/permission-settings"}}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
