interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/team?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "team", "attributes": {"user_count": 0, "handle":
        "hamr-test", "created_at": "2025-02-13T21:30:34.129544+00:00", "name": "hamr
        test", "is_managed": false, "description": "", "link_count": 0, "modified_at":
        "2025-02-13T21:31:43.199207+00:00", "summary": null}, "relationships": {"user_team_permissions":
        {"links": {"related": "/api/v2/team/9f303cde-17fd-4623-9f7f-b14846d66d44/permission-settings"}},
        "team_links": {"links": {"related": "/api/v2/team/9f303cde-17fd-4623-9f7f-b14846d66d44/links"}}},
        "id": "9f303cde-17fd-4623-9f7f-b14846d66d44"}, {"type": "team", "attributes":
        {"user_count": 0, "handle": "test", "created_at": "2025-02-13T21:31:43.601199+00:00",
        "name": "test", "is_managed": false, "description": "", "link_count": 0, "modified_at":
        "2025-02-13T21:31:43.601204+00:00", "summary": null}, "relationships": {"user_team_permissions":
        {"links": {"related": "/api/v2/team/a8fb5937-c249-473c-b766-8cd0357e4181/permission-settings"}},
        "team_links": {"links": {"related": "/api/v2/team/a8fb5937-c249-473c-b766-8cd0357e4181/links"}}},
        "id": "a8fb5937-c249-473c-b766-8cd0357e4181"}], "meta": {"pagination": {"number":
        0, "first_number": 0, "prev_number": 0, "next_number": 1, "last_number": 0,
        "size": 100, "type": "number_size", "total": 2}}, "links": {"self": "https://us5.datadoghq.com/api/v2/team?page[number]=0&page[size]=100",
        "last": null, "next": "https://us5.datadoghq.com/api/v2/team?page[number]=1&page[size]=100",
        "prev": null, "first": "https://us5.datadoghq.com/api/v2/team?page[number]=0&page[size]=100"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.sync.start", "type": 0, "points": [{"timestamp": 1739482303,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.sync.start", "type": 0, "points": [{"timestamp": 1739482303,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"data": {"type": "team", "attributes": {"description": "updated", "name":
      "hamr test", "is_managed": false, "handle": "hamr-test"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://us5.datadoghq.com/api/v2/team/9f303cde-17fd-4623-9f7f-b14846d66d44
  response:
    body:
      string: '{"data": {"type": "team", "id": "9f303cde-17fd-4623-9f7f-b14846d66d44",
        "attributes": {"name": "hamr test", "handle": "hamr-test", "summary": "updated",
        "description": "updated", "avatar": null, "banner": 1, "visible_modules":
        [], "hidden_modules": [], "created_at": "2025-02-13T21:30:34.129544+00:00",
        "modified_at": "2025-02-13T21:31:47.894843+00:00", "user_count": 0, "link_count":
        0, "is_managed": false}, "relationships": {"team_links": {"links": {"related":
        "/api/v2/team/9f303cde-17fd-4623-9f7f-b14846d66d44/links"}}, "user_team_permissions":
        {"links": {"related": "/api/v2/team/9f303cde-17fd-4623-9f7f-b14846d66d44/permission-settings"}}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
