interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/team?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"id": "f0cc21b6-6f38-49f0-8641-e25fb3b98476", "type": "team",
        "attributes": {"created_at": "2024-10-28T20:20:10.746677+00:00", "description":
        "", "handle": "hamr-test", "is_managed": false, "link_count": 0, "modified_at":
        "2024-10-28T20:20:10.746680+00:00", "name": "hamr test", "summary": null,
        "user_count": 2}, "relationships": {"team_links": {"data": [], "links": {"related":
        "/api/v2/team/f0cc21b6-6f38-49f0-8641-e25fb3b98476/links"}}, "user_team_permissions":
        {"data": null, "links": {"related": "/api/v2/team/f0cc21b6-6f38-49f0-8641-e25fb3b98476/permission-settings"}}}},
        {"id": "d19a4fc2-aeda-4b9e-856a-b9e48c0e19fa", "type": "team", "attributes":
        {"created_at": "2024-10-21T18:57:43.124309+00:00", "description": "", "handle":
        "test", "is_managed": false, "link_count": 0, "modified_at": "2024-10-21T18:57:43.124312+00:00",
        "name": "test", "summary": null, "user_count": 1}, "relationships": {"team_links":
        {"data": [], "links": {"related": "/api/v2/team/d19a4fc2-aeda-4b9e-856a-b9e48c0e19fa/links"}},
        "user_team_permissions": {"data": null, "links": {"related": "/api/v2/team/d19a4fc2-aeda-4b9e-856a-b9e48c0e19fa/permission-settings"}}}}],
        "meta": {"pagination": {"type": "number_size", "number": 0, "size": 100, "total":
        2, "first_number": 0, "prev_number": null, "next_number": null, "last_number":
        0}}, "links": {"self": "https://api.datadoghq.eu/api/v2/team?page%5Bnumber%5D=0&page%5Bsize%5D=100",
        "first": "https://api.datadoghq.eu/api/v2/team?page[number]=0&page[size]=100",
        "last": "https://api.datadoghq.eu/api/v2/team?page[number]=0&page[size]=100"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.us5.datadoghq.com/api/v2/team?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [], "meta": {"pagination": {"type": "number_size", "number":
        0, "size": 100, "total": 0, "first_number": 0, "prev_number": null, "next_number":
        null, "last_number": 0}}, "links": {"self": "https://api.us5.datadoghq.com/api/v2/team?page%5Bnumber%5D=0&page%5Bsize%5D=100",
        "first": "https://api.us5.datadoghq.com/api/v2/team?page[number]=0&page[size]=100",
        "last": "https://api.us5.datadoghq.com/api/v2/team?page[number]=0&page[size]=100"}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"type": "team", "attributes": {"description": "", "handle": "hamr-test",
      "is_managed": false, "name": "hamr test"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.us5.datadoghq.com/api/v2/team
  response:
    body:
      string: '{"data": {"id": "9dcdee5e-a10a-4027-8afd-711c251606d7", "type": "team",
        "attributes": {"avatar": null, "banner": 6, "created_at": "2025-10-20T17:48:20.377868+00:00",
        "description": "", "handle": "hamr-test", "hidden_modules": null, "is_managed":
        false, "link_count": 0, "modified_at": "2025-10-20T17:48:20.377869+00:00",
        "name": "hamr test", "summary": "", "user_count": 0, "visible_modules": null},
        "relationships": {"team_links": {"data": [], "links": {"related": "/api/v2/team/9dcdee5e-a10a-4027-8afd-711c251606d7/links"}},
        "user_team_permissions": {"data": null, "links": {"related": "/api/v2/team/9dcdee5e-a10a-4027-8afd-711c251606d7/permission-settings"}}}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"data": {"type": "team", "attributes": {"description": "updated", "handle":
      "hamr-test", "is_managed": false, "name": "hamr test"}}}'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://api.us5.datadoghq.com/api/v2/team/9dcdee5e-a10a-4027-8afd-711c251606d7
  response:
    body:
      string: '{"data": {"type": "team", "id": "9dcdee5e-a10a-4027-8afd-711c251606d7",
        "attributes": {"name": "hamr test", "handle": "hamr-test", "summary": "updated",
        "description": "updated", "avatar": null, "banner": 6, "visible_modules":
        null, "hidden_modules": null, "created_at": "2025-10-20T17:48:20.377868+00:00",
        "modified_at": "2025-10-20T17:48:21.102581+00:00", "user_count": 0, "link_count":
        0, "is_managed": false}, "relationships": {"team_links": {"links": {"related":
        "/api/v2/team/9dcdee5e-a10a-4027-8afd-711c251606d7/links"}}, "user_team_permissions":
        {"links": {"related": "/api/v2/team/9dcdee5e-a10a-4027-8afd-711c251606d7/permission-settings"}}}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/users?page%5Bnumber%5D=0&page%5Bsize%5D=500
  response:
    body:
      string: '{"data": [{"type": "users", "id": "6b69113d-6f18-11f0-9ad5-1ad15dd71168",
        "attributes": {"name": "Ida Adjivon", "handle": "ida.adjivon@datadoghq.com",
        "created_at": "2025-08-01T20:45:12.043180+00:00", "modified_at": "2025-08-01T21:35:25.635446+00:00",
        "email": "ida.adjivon@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/d3ff11e3ff125d30050f4dfff3fa614c?s=48&d=retro",
        "title": "", "verified": true, "service_account": false, "disabled": false,
        "allowed_login_methods": ["google_oidc", "standard"], "status": "Active",
        "mfa_enabled": false, "last_login_time": null}, "relationships": {"roles":
        {"data": [{"type": "roles", "id": "3020f50c-8582-11ef-ad61-da7ad0900005"}]},
        "org": {"data": {"type": "orgs", "id": "30187db5-8582-11ef-969b-8248c7cda362"}}}},
        {"type": "users", "id": "81f6f2c7-923f-11ef-879a-6ee0822e247c", "attributes":
        {"name": "Justine Lo", "handle": "justine.lo@datadoghq.com", "created_at":
        "2024-10-24T19:38:13.281489+00:00", "modified_at": "2024-10-25T14:18:33.835459+00:00",
        "email": "justine.lo@datadoghq.com", "icon": "https://secure.gravatar.com/avatar/7d75964971289cf50e6090d76b45e3f6?s=48&d=retro",
        "title": "", "[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"id": "693fe720-9569-11ef-969d-da7ad0900005", "type": "roles",
        "attributes": {"created_at": "2024-10-28T20:15:44.156681Z", "created_by_handle":
        "michael.richey@datadoghq.com", "modified_at": "2024-10-28T20:15:44.167199Z",
        "modified_by_handle": "michael.richey@datadoghq.com", "name": "Copy of Datadog
        Admin Role", "team_count": 0, "user_count": 2}, "relationships": {"permissions":
        {"data": [{"id": "505fd138-dd15-11e8-9308-afd2db62791e", "type": "permissions"},
        {"id": "81e488c0-db35-11ed-a170-da7ad0900005", "type": "permissions"}, {"id":
        "24d31064-b9b4-11ec-a2af-da7ad0900005", "type": "permissions"}, {"id": "65eea998-f6a1-11ed-9953-da7ad0900005",
        "type": "permissions"}, {"id": "ffb0167e-11e1-11ee-8f46-da7ad0900005", "type":
        "permissions"}, {"id": "04668f62-ec5c-11ea-9483-0fe541ab993f", "type": "permissions"},
        {"id": "0466902[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/permissions
  response:
    body:
      string: '{"data": [{"id": "f1624684-d87d-11e8-acac-efb4dbffab1c", "type": "permissions",
        "attributes": {"created": "2018-10-25T17:46:46.704903Z", "description": "Deprecated.
        Privileged Access (also known as Admin permission) has been replaced by more
        specific permissions: Access Management, Org Management, Billing Read/Write,
        Usage Read/Write.", "display_name": "Privileged Access", "display_type": "other",
        "group_name": "General", "name": "admin", "restricted": false}}, {"id": "f1666372-d87d-11e8-acac-6be484ba794a",
        "type": "permissions", "attributes": {"created": "2018-10-25T17:46:46.73281Z",
        "description": "Deprecated. Standard Access has been replaced by more specific
        permissions.", "display_name": "Standard Access", "display_type": "other",
        "group_name": "General", "name": "standard", "restricted": false}}, {"id":
        "4fbb1652-dd15-11e8-9308-77be61fbb2c7", "type": "permissions", "attributes":
        {"created"[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.us5.datadoghq.com/api/v2/team/d133bdc0-ec78-4d9c-81d7-7aab2ab23362
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 204
      message: No Content
version: 1
