interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.import.start", "type": 0, "points": [{"timestamp": 1739482296,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.import.start", "type": 0, "points": [{"timestamp": 1739482296,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/team?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "team", "attributes": {"link_count": 0, "description":
        "", "created_at": "2024-10-28T20:20:10.746677+00:00", "modified_at": "2024-10-28T20:20:10.746680+00:00",
        "user_count": 1, "summary": null, "name": "hamr test", "is_managed": false,
        "handle": "hamr-test"}, "relationships": {"team_links": {"links": {"related":
        "/api/v2/team/f0cc21b6-6f38-49f0-8641-e25fb3b98476/links"}}, "user_team_permissions":
        {"links": {"related": "/api/v2/team/f0cc21b6-6f38-49f0-8641-e25fb3b98476/permission-settings"}}},
        "id": "f0cc21b6-6f38-49f0-8641-e25fb3b98476"}, {"type": "team", "attributes":
        {"link_count": 0, "description": "", "created_at": "2024-10-21T18:57:43.124309+00:00",
        "modified_at": "2024-10-21T18:57:43.124312+00:00", "user_count": 1, "summary":
        null, "name": "test", "is_managed": false, "handle": "test"}, "relationships":
        {"team_links": {"links": {"related": "/api/v2/team/d19a4fc2-aeda-4b9e-856a-b9e48c0e19fa/links"}},
        "user_team_permissions": {"links": {"related": "/api/v2/team/d19a4fc2-aeda-4b9e-856a-b9e48c0e19fa/permission-settings"}}},
        "id": "d19a4fc2-aeda-4b9e-856a-b9e48c0e19fa"}], "meta": {"pagination": {"number":
        0, "first_number": 0, "prev_number": 0, "next_number": 1, "last_number": 0,
        "size": 100, "type": "number_size", "total": 2}}, "links": {"self": "https://api.datadoghq.eu/api/v2/team?page[number]=0&page[size]=100",
        "last": null, "next": "https://api.datadoghq.eu/api/v2/team?page[number]=1&page[size]=100",
        "prev": null, "first": "https://api.datadoghq.eu/api/v2/team?page[number]=0&page[size]=100"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/team?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "team", "attributes": {"handle": "hamr-test", "summary":
        null, "description": "", "is_managed": false, "name": "hamr test", "link_count":
        0, "created_at": "2025-02-13T21:30:34.129544+00:00", "modified_at": "2025-02-13T21:30:34.129548+00:00",
        "user_count": 0}, "relationships": {"user_team_permissions": {"links": {"related":
        "/api/v2/team/9f303cde-17fd-4623-9f7f-b14846d66d44/permission-settings"}},
        "team_links": {"links": {"related": "/api/v2/team/9f303cde-17fd-4623-9f7f-b14846d66d44/links"}}},
        "id": "9f303cde-17fd-4623-9f7f-b14846d66d44"}], "meta": {"pagination": {"number":
        0, "first_number": 0, "prev_number": 0, "next_number": 1, "last_number": 0,
        "size": 100, "type": "number_size", "total": 1}}, "links": {"self": "https://us5.datadoghq.com/api/v2/team?page[number]=0&page[size]=100",
        "last": null, "next": "https://us5.datadoghq.com/api/v2/team?page[number]=1&page[size]=100",
        "prev": null, "first": "https://us5.datadoghq.com/api/v2/team?page[number]=0&page[size]=100"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
