interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/team?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "team", "attributes": {"name": "hamr test", "created_at":
        "2024-10-31T21:06:01.463095+00:00", "link_count": 0, "summary": "updated",
        "handle": "hamr-test", "description": "updated", "user_count": 0, "modified_at":
        "2024-10-31T21:06:53.365096+00:00"}, "id": "6e468478-529a-42cd-b276-4867494418a1",
        "relationships": {"team_links": {"links": {"related": "/api/v2/team/6e468478-529a-42cd-b276-4867494418a1/links"}},
        "user_team_permissions": {"links": {"related": "/api/v2/team/6e468478-529a-42cd-b276-4867494418a1/permission-settings"}}}},
        {"type": "team", "attributes": {"name": "test", "created_at": "2024-10-31T21:06:51.665671+00:00",
        "link_count": 0, "summary": "updated", "handle": "test", "description": "updated",
        "user_count": 0, "modified_at": "2024-10-31T21:06:53.435476+00:00"}, "id":
        "26d55929-c05b-4967-948e-86e0cd8b1b45", "relationships": {"team_links": {"links":
        {"related": "/api/v2/team/26d55929-c05b-4967-948e-86e0cd8b1b45/links"}}, "user_team_permissions":
        {"links": {"related": "/api/v2/team/26d55929-c05b-4967-948e-86e0cd8b1b45/permission-settings"}}}}],
        "meta": {"pagination": {"number": 0, "first_number": 0, "prev_number": 0,
        "next_number": 1, "last_number": 0, "size": 100, "type": "number_size", "total":
        2}}, "links": {"self": "https://us5.datadoghq.com/api/v2/team?page[number]=0&page[size]=100",
        "last": null, "next": "https://us5.datadoghq.com/api/v2/team?page[number]=1&page[size]=100",
        "prev": null, "first": "https://us5.datadoghq.com/api/v2/team?page[number]=0&page[size]=100"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
