interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/team?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "team", "attributes": {"user_count": 1, "summary":
        null, "name": "hamr test", "created_at": "2024-10-28T20:20:10.746677+00:00",
        "modified_at": "2024-10-28T20:20:10.746680+00:00", "link_count": 0, "description":
        "", "handle": "hamr-test"}, "id": "f0cc21b6-6f38-49f0-8641-e25fb3b98476",
        "relationships": {"team_links": {"links": {"related": "/api/v2/team/f0cc21b6-6f38-49f0-8641-e25fb3b98476/links"}},
        "user_team_permissions": {"links": {"related": "/api/v2/team/f0cc21b6-6f38-49f0-8641-e25fb3b98476/permission-settings"}}}},
        {"type": "team", "attributes": {"user_count": 1, "summary": null, "name":
        "test", "created_at": "2024-10-21T18:57:43.124309+00:00", "modified_at": "2024-10-21T18:57:43.124312+00:00",
        "link_count": 0, "description": "", "handle": "test"}, "id": "d19a4fc2-aeda-4b9e-856a-b9e48c0e19fa",
        "relationships": {"team_links": {"links": {"related": "/api/v2/team/d19a4fc2-aeda-4b9e-856a-b9e48c0e19fa/links"}},
        "user_team_permissions": {"links": {"related": "/api/v2/team/d19a4fc2-aeda-4b9e-856a-b9e48c0e19fa/permission-settings"}}}}],
        "meta": {"pagination": {"number": 0, "first_number": 0, "prev_number": 0,
        "next_number": 1, "last_number": 0, "size": 100, "type": "number_size", "total":
        2}}, "links": {"self": "https://api.datadoghq.eu/api/v2/team?page[number]=0&page[size]=100",
        "last": null, "next": "https://api.datadoghq.eu/api/v2/team?page[number]=1&page[size]=100",
        "prev": null, "first": "https://api.datadoghq.eu/api/v2/team?page[number]=0&page[size]=100"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730408809, "value":
      1}], "tags": ["id:f0cc21b6-6f38-49f0-8641-e25fb3b98476", "action_type:import",
      "status:success", "resource_type:teams", "client_type:destination"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730408809, "value":
      1}], "tags": ["id:f0cc21b6-6f38-49f0-8641-e25fb3b98476", "action_type:import",
      "status:success", "resource_type:teams", "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/team?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"data": [{"type": "team", "attributes": {"modified_at": "2024-10-31T21:06:01.463099+00:00",
        "link_count": 0, "description": "", "name": "hamr test", "user_count": 0,
        "created_at": "2024-10-31T21:06:01.463095+00:00", "handle": "hamr-test", "summary":
        null}, "relationships": {"team_links": {"links": {"related": "/api/v2/team/6e468478-529a-42cd-b276-4867494418a1/links"}},
        "user_team_permissions": {"links": {"related": "/api/v2/team/6e468478-529a-42cd-b276-4867494418a1/permission-settings"}}},
        "id": "6e468478-529a-42cd-b276-4867494418a1"}], "meta": {"pagination": {"number":
        0, "first_number": 0, "prev_number": 0, "next_number": 1, "last_number": 0,
        "size": 100, "type": "number_size", "total": 1}}, "links": {"self": "https://us5.datadoghq.com/api/v2/team?page[number]=0&page[size]=100",
        "last": null, "next": "https://us5.datadoghq.com/api/v2/team?page[number]=1&page[size]=100",
        "prev": null, "first": "https://us5.datadoghq.com/api/v2/team?page[number]=0&page[size]=100"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
