interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "SLO test", "tags": ["managed_by:datadog-sync"], "monitor_tags":
      [], "thresholds": [{"timeframe": "7d", "target": 99.0, "target_display": "99."}],
      "type": "metric", "type_id": 1, "description": "Test update creation", "timeframe":
      "7d", "target_threshold": 99.0, "query": {"denominator": "sum:api.requests{*}.as_count()",
      "numerator": "sum:api.requests.status_ok{*}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/slo
  response:
    body:
      string: '{"data": [{"id": "2d2d092c28ff5b22a26238f7d74a5bae", "name": "SLO test",
        "tags": ["managed_by:datadog-sync"], "monitor_tags": [], "thresholds": [{"timeframe":
        "7d", "target": 99.0, "target_display": "99."}], "type": "metric", "type_id":
        1, "description": "Test update creation", "timeframe": "7d", "target_threshold":
        99.0, "query": {"denominator": "sum:api.requests{*}.as_count()", "numerator":
        "sum:api.requests.status_ok{*}.as_count()"}, "creator": {"name": "CI Service
        Account", "handle": "c565c834-9e9a-11ee-aa8a-52121f0cd5ec", "email": "frog@datadoghq.com"},
        "created_at": 1706817303, "modified_at": 1706817303}], "error": null}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
