interactions:
- request:
    body: '{"description": "Test update creation", "monitor_tags": [], "creator":
      {"handle": "noueman.khalikine@datadoghq.com", "name": "Noueman Khalikine", "email":
      "noueman.khalikine@datadoghq.com"}, "thresholds": [{"target": 99.0, "target_display":
      "99.", "timeframe": "7d"}], "type_id": 1, "query": {"denominator": "sum:api.requests{*}.as_count()",
      "numerator": "sum:api.requests.status_ok{*}.as_count()"}, "id": "ba72d10835d75e0c8910597144f3733a",
      "name": "SLO test", "created_at": 1623658372, "tags": [], "modified_at": 1626358963,
      "type": "metric"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/slo
  response:
    body:
      string: '{"data": [{"description": "Test update creation", "monitor_tags": [],
        "creator": {"handle": "frog@datadoghq.com", "name": null, "email": "frog@datadoghq.com"},
        "thresholds": [{"target": 99.0, "target_display": "99.", "timeframe": "7d"}],
        "type_id": 1, "query": {"denominator": "sum:api.requests{*}.as_count()", "numerator":
        "sum:api.requests.status_ok{*}.as_count()"}, "id": "06e6ee0ac54052e38c2ff924822e2900",
        "name": "SLO test", "created_at": 1626807209, "tags": [], "modified_at": 1626807209,
        "type": "metric"}], "error": null}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '31'
    status:
      code: 200
      message: OK
version: 1
