interactions:
- request:
    body: '{"description": "Test update creation+ updated", "monitor_tags": [], "creator":
      {"handle": "noueman.khalikine@datadoghq.com", "name": "Noueman Khalikine", "email":
      "noueman.khalikine@datadoghq.com"}, "thresholds": [{"target": 99.0, "target_display":
      "99.", "timeframe": "7d"}], "type_id": 1, "query": {"denominator": "sum:api.requests{*}.as_count()",
      "numerator": "sum:api.requests.status_ok{*}.as_count()"}, "id": "ba72d10835d75e0c8910597144f3733a",
      "name": "SLO test", "created_at": 1623658372, "tags": [], "modified_at": 1626358963,
      "type": "metric"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/slo/87d6ffb27c7558d295c5d46ccebd51a7
  response:
    body:
      string: '{"data": [{"description": "Test update creation+ updated", "monitor_tags":
        [], "creator": {"handle": "frog@datadoghq.com", "name": "None+ updated", "email":
        "frog@datadoghq.com"}, "thresholds": [{"target": 99.0, "target_display": "99.",
        "timeframe": "7d"}], "type_id": 1, "query": {"denominator": "sum:api.requests{*}.as_count()",
        "numerator": "sum:api.requests.status_ok{*}.as_count()"}, "id": "87d6ffb27c7558d295c5d46ccebd51a7",
        "name": "SLO test", "created_at": 1627305919, "tags": [], "modified_at": 1627305920,
        "type": "metric"}], "error": null}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '41'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "some updated description about example_slo SLO+ updated",
      "monitor_tags": [], "creator": {"handle": "frog@datadoghq.com", "name": null,
      "email": "frog@datadoghq.com"}, "thresholds": [{"warning": 99.8, "warning_display":
      "99.8", "target": 99.5, "target_display": "99.5", "timeframe": "7d"}], "type_id":
      1, "query": {"denominator": "sum:my.metric{type:good}.as_count() + sum:my.metric{type:bad}.as_count()",
      "numerator": "sum:my.metric{type:good}.as_count()"}, "id": "c0db62b13ab351f59181e942f77ebda4",
      "name": "example slo", "created_at": 1627063076, "tags": ["foo:bar"], "modified_at":
      1627063076, "type": "metric"}'
    headers:
      Content-Type:
      - application/json
    method: PU[...]
