interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "test", "tags": ["managed_by:datadog-sync"], "monitor_tags": [],
      "thresholds": [{"timeframe": "7d", "target": 99.9, "target_display": "99.9"}],
      "type": "metric", "type_id": 1, "description": "updated", "timeframe": "7d",
      "target_threshold": 99.9, "query": {"denominator": "sum:datadog.agent.started{*}.as_count()",
      "numerator": "sum:datadog.agent.started{*}.as_count()"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://us5.datadoghq.com/api/v1/slo/2cd71d9e45ce5fee92cff40683b835ce
  response:
    body:
      string: '{"data": [{"id": "2cd71d9e45ce5fee92cff40683b835ce", "name": "test",
        "tags": ["managed_by:datadog-sync"], "monitor_tags": [], "thresholds": [{"timeframe":
        "7d", "target": 99.9, "target_display": "99.9"}], "type": "metric", "type_id":
        1, "description": "updated", "timeframe": "7d", "target_threshold": 99.9,
        "query": {"denominator": "sum:datadog.agent.started{*}.as_count()", "numerator":
        "sum:datadog.agent.started{*}.as_count()"}, "creator": {"name": "Michael Richey",
        "handle": "michael.richey@datadoghq.com", "email": "michael.richey@datadoghq.com"},
        "created_at": 1730467415, "modified_at": 1730467417}], "error": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730467416, "value":
      1}], "tags": ["action_sub_type:update", "id:650a18e266505a48b319d9b221158a26",
      "action_type:sync", "status:success", "resource_type:service_level_objectives",
      "client_type:destination"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730467416, "value":
      1}], "tags": ["action_sub_type:update", "id:650a18e266505a48b319d9b221158a26",
      "action_type:sync", "status:success", "resource_type:service_level_objectives",
      "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
