interactions:
- request:
    body: '{"description": "Test update creationUpdated", "monitor_tags": [], "thresholds":
      [{"target": 99.0, "target_display": "99.", "timeframe": "7d"}], "type_id": 1,
      "query": {"denominator": "sum:api.requests{*}.as_count()", "numerator": "sum:api.requests.status_ok{*}.as_count()"},
      "name": "SLO test", "tags": [], "type": "metric"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/slo/54567c5b9fe356df8d89d9c9e5ac6923
  response:
    body:
      string: '{"data": [{"description": "Test update creationUpdated", "monitor_tags":
        [], "creator": {"handle": "frog@datadoghq.com", "name": "Frog", "email": "frog@datadoghq.com"},
        "thresholds": [{"target": 99.0, "target_display": "99.", "timeframe": "7d"}],
        "type_id": 1, "query": {"denominator": "sum:api.requests{*}.as_count()", "numerator":
        "sum:api.requests.status_ok{*}.as_count()"}, "id": "54567c5b9fe356df8d89d9c9e5ac6923",
        "name": "SLO test", "created_at": 1627655799, "tags": [], "modified_at": 1627655800,
        "type": "metric"}], "error": null}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '20'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "some updated description about example_slo SLOUpdated",
      "monitor_tags": [], "thresholds": [{"warning": 99.8, "warning_display": "99.8",
      "target": 99.5, "target_display": "99.5", "timeframe": "7d"}], "type_id": 1,
      "query": {"denominator": "sum:my.metric{type:good}.as_count() + sum:my.metric{type:bad}.as_count()",
      "numerator": "sum:my.metric{type:good}.as_count()"}, "name": "example slo",
      "tags": ["foo:bar"], "type": "metric"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/slo/383ede5871ca52b190cf7f19bf8ba6f4
  response:
    body:[...]
