interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"meta": {"page": {"total_filtered_count": 3, "total_count": 3}}, "data":
        [{"type": "roles", "id": "fa017a35-bfcb-11eb-a4d7-da7ad0900002", "attributes":
        {"name": "Datadog Admin Role", "created_at": "2021-05-28T15:47:15.884751+00:00",
        "modified_at": "2021-05-28T15:47:15.884751+00:00", "user_count": 3}, "relationships":
        {"permissions": {"data": [{"type": "permissions", "id": "984a2bd4-d3b4-11e8-a1ff-a7f660d43029"},
        {"type": "permissions", "id": "62cc036c-dd12-11e8-9e54-db9995643092"}, {"type":
        "permissions", "id": "6f66600e-dd12-11e8-9e55-7f30fbb45e73"}, {"type": "permissions",
        "id": "811ac4ca-dd12-11e8-9e57-676a7f0beef9"}, {"type": "permissions", "id":
        "87b00304-dd12-11e8-9e59-cbeb5f71f72f"}, {"type": "permissions", "id": "1a92ede2-6cb2-11e9-99c6-2b3a4a0cdf0a"},
        {"type": "permissions",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/monitor
  response:
    body:
      string: '[{"restricted_roles": null, "tags": [], "deleted": null, "query": "avg(last_5m):avg:datadog.estimated_usage.hosts{*}
        > 50", "message": "Test monitor ----------------", "matching_downtimes": [],
        "id": 36230659, "multi": false, "name": "Composite monitor - Child 2", "created":
        "2021-05-30T08:43:37.940520+00:00", "created_at": 1622364217000, "creator":
        {"id": 2781275, "handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod
        Karimov", "email": "sherzod.karimov@datadoghq.com"}, "org_id": 569509, "modified":
        "2021-06-08T18:14:12.441535+00:00", "priority": null, "overall_state_modified":
        "2021-05-30T08:45:28+00:00", "overall_state": "OK", "type": "metric alert",
        "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "silenced":
        {}, "include_tags": true, "no_data_timeframe": null, "require_full_window":
        true, "new_host_delay": 300, "notify_no_data": false, "renotify_interval":
        0, "escalation_message": "", "thresholds": {"critical": 50.0}}}, {"restricted_roles":
        null, "tags": [], "deleted": null, "query": "avg(last_5m):avg:dd.dialtone.historical.metrics{*}
        > 20", "message": "Composite monitor - child 1", "matching_downtimes": [],
        "id": 36239262, "multi": false, "name": "Composite monitor - child 1", "created":
        "2021-05-30T19:49:11.945913+00:00", "created_at": 1622404151000, "creator":
        {"id": 2781275, "handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod
        Karimov", "email": "sherzod.karimov@datadoghq.com"}, "org_id": 569509, "modified":
        "2021-06-08T18:13:33.317204+00:00", "priority": null, "overall_state_modified":
        "2021-05-30T19:52:07+00:00", "overall_state": "OK", "type": "metric alert",
        "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "silenced":
        {}, "include_tags": true, "no_data_timeframe": null, "require_full_window":
        true, "new_host_delay": 300, "notify_no_data": false, "renotify_interval":
        0, "escalation_message": "", "thresholds": {"critical": 20.0, "warning": 10.0}}},
        {"restricted_roles": null, "tags": ["probe_dc:aws:ca-central-1", "check_type:api",
        "check_status:paused"], "deleted": null, "query": "no_query", "message": "Test
        synthetics", "matching_downtimes": [], "id": 36553487, "multi": false, "name":
        "[Synthetics] HTTP Test", "created": "2021-06-03T13:00:40.386620+00:00", "created_at":
        1622725240000, "creator": {"id": 2781275, "handle": "sherzod.karimov@datadoghq.com",
        "name": "Sherzod Karimov", "e[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/locations
  response:
    body:
      string: '{"locations": [{"id": "aws:ap-northeast-1", "name": "Tokyo (AWS)"},
        {"id": "aws:ap-northeast-2", "name": "Seoul (AWS)"}, {"id": "aws:ap-south-1",
        "name": "Mumbai (AWS)"}, {"id": "aws:ap-southeast-1", "name": "Singapore (AWS)"},
        {"id": "aws:ap-southeast-2", "name": "Sydney (AWS)"}, {"id": "aws:ca-central-1",
        "name": "Canada Central (AWS)"}, {"id": "aws:eu-central-1", "name": "Frankfurt
        (AWS)"}, {"id": "aws:eu-north-1", "name": "Stockholm (AWS)"}, {"id": "aws:eu-west-1",
        "name": "Ireland (AWS)"}, {"id": "aws:eu-west-2", "name": "London (AWS)"},
        {"id": "aws:eu-west-3", "name": "Paris (AWS)"}, {"id": "aws:sa-east-1", "name":
        "S\u00e3o Paulo (AWS)"}, {"id": "aws:us-east-2", "name": "Ohio (AWS)"}, {"id":
        "aws:us-west-1", "name": "N. California (AWS)"}, {"id": "aws:us-west-2", "name":
        "Oregon (AWS)"}, {"id": "pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451",
        "name": "Test Private Variable"}]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11997'
      x-ratelimit-reset:
      - '15'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/private-locations/pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451
  response:
    body:
      string: '{"name": "Test Private Variable", "tags": ["key:value"], "description":
        "datadog-sync-cli test", "modifiedAt": "2021-06-30T12:27:21.433291+00:00",
        "id": "pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451", "createdAt":
        "2021-06-30T12:27:21.433291+00:00", "metadata": null}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests
  response:
    body:
      string: '{"tests": [{"status": "paused", "public_id": "w7p-ux5-hhc", "tags":
        [], "locations": ["aws:ca-central-1"], "message": "Test synthetics ", "name":
        "HTTP Test", "monitor_id": 36553487, "type": "api", "created_at": "2021-06-03T13:00:40.415788+00:00",
        "modified_at": "2021-06-17T12:44:13.132034+00:00", "subtype": "http", "config":
        {"request": {"url": "https://google.com", "method": "GET"}, "assertions":
        [{"operator": "lessThan", "type": "responseTime", "target": 1000}, {"operator":
        "is", "type": "statusCode", "target": 301}, {"operator": "is", "property":
        "content-type", "type": "header", "target": "text/html; charset=UTF-8"}]},
        "options": {"retry": {"count": 1, "interval": 300}, "min_location_failed":
        1, "monitor_options": {"renotify_interval": 120}, "min_failure_duration":
        120, "monitor_priority": 3, "tick_every": 604800}}, {"status": "live", "public_id":
        "32u-qxh-q25", "tags": ["foo:bar", "foo", "env:test"], "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty", "name": "DNS Test", "monitor_id": 37286153,
        "type": "api", "created_at": "2021-06-08T18:26:23.566301+00:00", "modified_at":
        "2021-06-17T12:43:57.911371+00:00", "subtype": "dns", "config": {"request":
        {"host": "example.org"}, "assertions": [{"operator": "is", "property": "A",
        "type": "recordSome", "target": "0.0.0.0"}]}, "options": {"monitor_options":
        {"renotify_interval": 0}, "tick_every": 900, "min_location_failed": 1}}, {"status":
        "live", "public_id": "huy-hyp-3un", "tags": ["foo:bar", "foo", "env:test"],
        "locations": ["aws:eu-central-1"], "message": "Notify @pagerduty", "name":
        "SSL Test", "monitor_id": 37286154, "type": "api", "created_at": "2021-06-08T18:26:23.589710+00:00",
        "modified_at": "2021-06-17T12:44:41.488230+00:00", "subtype": "ssl", "config":
        {"request": {"host": "example.org", "port": 443}, "assertions": [{"operator":
        "isInMoreThan", "type": "certificate", "target": 30}]}, "options": {"monitor_options":
        {"renotify_interval": 0}, "min_location_failed": 1, "accept_self_signed":
        true, "tick_every": 900}}, {"status": "live", "public_id": "qvh-qtk-xuv",
        "tags": ["foo:bar", "foo", "env:test"], "locations": ["pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451",
        "aws:eu-central-1"], "message": "Notify @pagerduty", "name": "HTTP Test -
        example", "monitor_id": 37286152, "type": "api", "created_at": "2021-06-08T18:26:23.610381+00:00",
        "modified_at": "2021-07-13T21:36:49.377880+00:00", "subtype": "http", "config":
        {"request": {"url": "https://www.example.org", "headers": {"Authentication":
        "Token: 1234566789", "Content-Type": "application/json"}, "method": "GET"},
        "assertions": [{"operator": "is", "type": "statusCode", "target": 200}]},
        "options": {"monitor_options": {"renotify_interval": 100}, "retry": {"count":
        2, "interval": 300}, "tick_every": 900, "min_location_failed": 1}}, {"status":
        "live", "public_id": "5ps-pjw-wzm", "tags": ["foo:bar", "foo", "env:test"],
        "locations": ["aws:eu-central-1"], "message": "Notify @pagerduty", "name":
        "TCP Test", "monitor_id": 37286155, "type": "api", "created_at": "2021-06-08T18:26:23.666527+00:00",
        "modified_at": "2021-06-17T12:43:36.851871+00:00", "subtype": "tcp", "config":
        {"request": {"host": "example.org", "port": 443}, "assertions": [{"operator":
        "lessThan", "type": "responseTime", "target": 2000}]}, "options": {"monitor_options":
        {"renotify_interval": 0}, "tick_every": 900, "min_location_failed": 1}}, {"status":
        "paused", "public_id": "77e-s82-v5e", "tags": [], "locations": ["aws:us-west-1"],
        "message": "", "name": "Browser Test", "monitor_id": 37452297, "type": "browser",
        "created_at": "2021-06-09T20:08:55.284701+00:00", "modified_at": "2021-06-17T12:44:27.339886+00:00",
        "config": {"variables": [], "setCookie": "", "request": {"url": "https://docs.datadoghq.com",
        "headers": {}, "method": "GET"}, "assertions": [], "configVariables": []},
        "options": {"retry": {"count": 0, "interval": 300}, "min_location_failed":
        1, "min_failure_duration": 0, "noScreenshot": false, "tick_every": 604800,
        "forwardProxy": false, "disableCors": false, "device_ids": ["chrome.laptop_large",
        "firefox.laptop_large", "chrome.tablet", "chrome.mobile_small", "firefox.mobile_small",
        "firefox.tablet"], "monitor_options": {"renotify_interval": 0}, "ignoreServerCertificateError":
        false}}, {"status": "live", "public_id": "zsv-2sg-2nc", "tags": ["check_type:api",
        "env:test", "test:update"], "locations": ["aws:sa-east-1"], "message": "",
        "name": "Multistep API Test", "monitor_id": 38221242, "type": "api", "created_at":
        "2021-06-14T15:13:59.438951+00:00", "modified_at": "2021-06-30T11:49:05.165007+00:00",
        "subtype": "multi", "config": {"steps": [{"retry": {"count": 0, "interval":
        300}, "name": "Test on datadoghq.com", "request": {"url": "https://datadoghq.com",
        "headers": {"content-type": "text/html"}, "method": "GET"}, "subtype": "http",
        "allowFailure": false, "extractedValues": [], "isCritical": true, "id": "vek-567-n38",
        "assertions": [{"operator": "lessThan", "type": "responseTime", "target":
        1000}, {"operator": "is", "type": "statusCode", "target": 301}]}], "configVariables":
        []}, "options": {"monitor_options": {"renotify_interval": 0}, "retry": {"count":
        0, "interval": 300}, "min_location_failed": 1, "min_failure_duration": 0,
        "tick_every": 604800}}]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11997'
      x-ratelimit-reset:
      - '15'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"metadata": {"page": {"total_filtered_count": 5, "total_count": 5}},
        "data": [{"description": "Updated Description Test", "monitor_tags": [], "creator":
        {"handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod Karimov", "email":
        "sherzod.karimov@datadoghq.com"}, "thresholds": [{"target": 99.0, "target_display":
        "99.", "timeframe": "7d"}], "type_id": 0, "id": "ae04001ea55f52f6ae4b85d9b1023909",
        "monitor_ids": [36230659, 37284891], "name": "Composite monitor - Child 2",
        "created_at": 1623260678, "tags": [], "modified_at": 1625053391, "type": "monitor"},
        {"description": "noueman", "monitor_tags": [], "creator": {"handle": "noueman.khalikine@datadoghq.com",
        "name": "Noueman Khalikine", "email": "noueman.khalikine@datadoghq.com"},
        "thresholds": [{"target": 99.0, "target_display": "99.", "timeframe": "7d"}],
        "type_id": 0, "id": "b6eedbdc42a15b658b5d55ffc4f91082", "[...]
