interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/slo
  response:
    body:
      string: '{"data": [{"id": "ae04001ea55f52f6ae4b85d9b1023909", "name": "Composite
        monitor - Child 2", "tags": [], "monitor_tags": [], "thresholds": [{"timeframe":
        "7d", "target": 99.0, "target_display": "99."}], "type": "monitor", "type_id":
        0, "description": "Updated Description Test", "timeframe": "7d", "target_threshold":
        99.0, "monitor_ids": [37284891, 36239262], "creator": {"name": "Sherzod Karimov",
        "handle": "sherzod.karimov@datadoghq.com", "email": "sherzod.karimov@datadoghq.com"},
        "created_at": 1623260678, "modified_at": 1668546720}, {"id": "b6eedbdc42a15b658b5d55ffc4f91082",
        "name": "[Synthetics] Test on google.com -tesst", "tags": [], "monitor_tags":
        [], "thresholds": [{"timeframe": "7d", "target": 99.0, "target_display": "99."}],
        "type": "monitor", "type_id": 0, "description": "noueman", "timeframe": "7d",
        "target_threshold": 99.0, "monitor_ids": [103095757], "creator": {"name":
        "Noueman Khalikine", "handle": "noueman.khalikine@datadoghq.com", "email":
        "noueman[...]
