boto3==1.35.91
click==8.1.7
configobj==5.0.8
deepdiff==6.7.1
aiohttp==3.9.5
tqdm==4.66.2
certifi>=2022.12.7
python-dateutil
setuptools>=67.6.0
setuptools_scm
ddtrace==2.21.1
black==24.3.0
pytest==8.1.1
pytest-black
pytest-console-scripts
pytest-recording
vcrpy@git+https://github.com/skarimo/vcrpy.git
freezegun==1.5.0
