interactions:
- request:
    body: '{"recurrence": null, "end": null, "monitor_tags": ["*"], "canceled": null,
      "monitor_id": null, "mute_first_recovery_notification": false, "disabled": false,
      "start": 1777521600, "parent_id": null, "timezone": "America/New_York", "scope":
      ["*"], "message": "Sample downtime message", "downtime_type": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/downtime
  response:
    body:
      string: '{"recurrence": null, "end": null, "monitor_tags": ["*"], "child_id":
        null, "canceled": null, "monitor_id": null, "mute_first_recovery_notification":
        false, "created": 1650050723, "org_id": 1000044987, "modified": 1650050723,
        "disabled": false, "start": 1777521600, "creator_id": 1000219667, "parent_id":
        null, "timezone": "America/New_York", "active": false, "scope": ["*"], "message":
        "Sample downtime message", "downtime_type": 0, "id": 111002424, "updater_id":
        null}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '38'
    status:
      code: 200
      message: OK
- request:
    body: '{"recurrence": null, "end": null, "monitor_tags": ["*"], "canceled": null,
      "monitor_id": null, "mute_first_recovery_notification": false, "disabled": false,
      "start": 1807675200, "parent_id": null, "timezone": "America/New_York", "scope":
      ["*"], "message": "Sample message", "downtime_type": 0}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/downtime
  response:
    body:
      string: '{"recurrence": null, "end": null, "monitor_tags": ["*"], "child_id":
        null, "canceled": null, "monitor_id": null, "mute_first_recovery_notification":
        false, "created": 1650050723, "org_id": 1000044987, "modified": 1650050723,
        "disabled": false, "start": 1807675200, "creator_id": 1000219667, "parent_id":
        null, "timezone": "America/New_York", "active": false, "scope": ["*"], "message":
        "Sample message", "downtime_type": 0, "id": 111002425, "updater_id": null}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11998'
      x-ratelimit-reset:
      - '37'
    status:
      code: 200
      message: OK
version: 1
