interactions:
- request:
    body: '{"recurrence": {"week_days": [], "type": "days", "period": 1}, "end": null,
      "monitor_tags": ["*"], "child_id": null, "canceled": null, "monitor_id": null,
      "created": 1622234964, "org_id": 569509, "modified": 1622748066, "disabled":
      false, "start": 2622234295, "creator_id": 2781302, "parent_id": null, "timezone":
      "UTC", "active": false, "scope": ["*"], "message": "+ updated", "downtime_type":
      0, "id": 1283896719, "updater_id": 2781275}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/downtime/51530382
  response:
    body:
      string: '{"recurrence": {"until_date": null, "until_occurrences": null, "week_days":
        [], "type": "days", "period": 1}, "end": null, "monitor_tags": ["*"], "child_id":
        null, "canceled": null, "monitor_id": null, "created": 1627305725, "org_id":
        1000044987, "modified": 1627305725, "disabled": false, "start": 2622234295,
        "creator_id": 1000219667, "parent_id": null, "timezone": "UTC", "active":
        false, "scope": ["*"], "message": "+ updated", "downtime_type": 0, "id": 51530382,
        "updater_id": 1000219667}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
