interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"monitor_id": null, "scope": ["*"], "start": 1777521600, "end": null,
      "canceled": null, "message": "Sample downtime messageupdated", "disabled": false,
      "recurrence": null, "timezone": "America/New_York", "parent_id": null, "downtime_type":
      0, "monitor_tags": ["*"], "mute_first_recovery_notification": false}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/downtime/197190967
  response:
    body:
      string: '{"id": 197190967, "monitor_id": null, "org_id": 1000044987, "scope":
        ["*"], "start": 1777521600, "end": null, "canceled": null, "created": 1672868532,
        "modified": 1672868532, "message": "Sample downtime messageupdated", "active":
        false, "disabled": false, "recurrence": null, "timezone": "America/New_York",
        "parent_id": null, "child_id": null, "creator_id": 1000219663, "updater_id":
        1000219663, "downtime_type": 0, "monitor_tags": ["*"], "mute_first_recovery_notification":
        false}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"monitor_id": null, "scope": ["*"], "start": 1807675200, "end": null,
      "canceled": null, "message": "Sample messageupdated", "disabled": false, "recurrence":
      null, "timezone": "America/New_York", "parent_id": null, "downtime_type": 0,
      "monitor_tags": ["*"], "mute_first_recovery_notification": false}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/downtime/197190968
  response:
    body:
      string: '{"id": 197190968, "monitor_id": null, "org_id": 1000044987, "scope":
        ["*"], "start": 1807675200, "end": null, "canceled": null, "created": 1672868532,
        "modified": 1672868532, "message": "Sample messageupdated", "active": false,
        "disabled": false, "recurrence": null, "timezone": "America/New_York", "parent_id":
        null, "child_id": null, "creator_id": 1000219663, "updater_id": 1000219663,
        "downtime_type": 0, "monitor_tags": ["*"], "mute_first_recovery_notification":
        false}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
