interactions:
- request:
    body: '{"recurrence": {"week_days": [], "type": "days", "period": 1}, "end": null,
      "monitor_tags": ["*"], "child_id": null, "canceled": null, "monitor_id": null,
      "mute_first_recovery_notification": false, "disabled": false, "parent_id": null,
      "timezone": "UTC", "scope": ["*"], "message": "updated", "downtime_type": 0}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/downtime/110949016
  response:
    body:
      string: '{"recurrence": {"until_date": null, "until_occurrences": null, "week_days":
        [], "type": "days", "period": 1}, "end": null, "monitor_tags": ["*"], "child_id":
        null, "canceled": null, "monitor_id": null, "mute_first_recovery_notification":
        false, "created": 1650035074, "org_id": 1000044987, "modified": 1650035074,
        "disabled": false, "start": 1650035074, "creator_id": 1000219667, "parent_id":
        null, "timezone": "UTC", "active": true, "scope": ["*"], "message": "updated",
        "downtime_type": 0, "id": 110949016, "updater_id": 1000219667}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11796'
      x-ratelimit-reset:
      - '26'
    status:
      code: 200
      message: OK
version: 1
