interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '[{"id": 1882120397, "monitor_id": null, "org_id": 569509, "scope":
        ["*"], "start": 1777521600, "end": null, "canceled": null, "created": 1650050263,
        "modified": 1650050263, "message": "Sample downtime message", "active": false,
        "disabled": false, "recurrence": null, "timezone": "America/New_York", "parent_id":
        null, "child_id": null, "creator_id": 2781275, "updater_id": null, "downtime_type":
        0, "monitor_tags": ["*"], "mute_first_recovery_notification": false}, {"id":
        1882118744, "monitor_id": null, "org_id": 569509, "scope": ["*"], "start":
        1807675200, "end": null, "canceled": null, "created": 1650050211, "modified":
        1650050211, "message": "Sample message", "active": false, "disabled": false,
        "recurrence": null, "timezone": "America/New_York", "parent_id": null, "child_id":
        null, "creator_id": 2781275, "updater_id": null, "downtime_type": 0, "monitor_tags":
        ["*"], "mute_first_recovery_notification": false}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
