interactions:
- request:
    body: '{"recurrence": {"week_days": [], "type": "days", "period": 1}, "end": null,
      "monitor_tags": ["*"], "child_id": null, "canceled": null, "monitor_id": null,
      "disabled": false, "start": 2622234295, "parent_id": null, "timezone": "UTC",
      "scope": ["*"], "message": "updated", "downtime_type": 0}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/downtime/67560115
  response:
    body:
      string: '{"recurrence": {"until_date": null, "until_occurrences": null, "week_days":
        [], "type": "days", "period": 1}, "end": null, "monitor_tags": ["*"], "child_id":
        null, "canceled": null, "monitor_id": null, "created": 1635432708, "org_id":
        1000044987, "modified": 1635432709, "disabled": false, "start": 2622234295,
        "creator_id": 1000219667, "parent_id": null, "timezone": "UTC", "active":
        false, "scope": ["*"], "message": "updated", "downtime_type": 0, "id": 67560115,
        "updater_id": 1000219667}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
