interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/roles?page%5Bnumber%5D=0&page%5Bsize%5D=100
  response:
    body:
      string: '{"meta": {"page": {"total_filtered_count": 3, "total_count": 3}}, "data":
        [{"type": "roles", "id": "fa017a35-bfcb-11eb-a4d7-da7ad0900002", "attributes":
        {"name": "Datadog Admin Role", "created_at": "2021-05-28T15:47:15.884751+00:00",
        "modified_at": "2021-05-28T15:47:15.884751+00:00", "user_count": 3}, "relationships":
        {"permissions": {"data": [{"type": "permissions", "id": "984a2bd4-d3b4-11e8-a1ff-a7f660d43029"},
        {"type": "permissions", "id": "62cc036c-dd12-11e8-9e54-db9995643092"}, {"type":
        "permissions", "id": "6f66600e-dd12-11e8-9e55-7f30fbb45e73"}, {"type": "permissions",
        "id": "811ac4ca-dd12-11e8-9e57-676a7f0beef9"}, {"type": "permissions", "id":
        "87b00304-dd12-11e8-9e59-cbeb5f71f72f"}, {"type": "permissions", "id": "1a92ede2-6cb2-11e9-99c6-2b3a4a0cdf0a"},
        {"type": "permissions",[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/monitor
  response:
    body:
      string: '[{"restricted_roles": null, "tags": [], "deleted": null, "query": "avg(last_5m):avg:datadog.estimated_usage.hosts{*}
        > 50", "message": "Test monitor ----------------", "matching_downtimes": [],
        "id": 36230659, "multi": false, "name": "Composite monitor - Child 2", "created":
        "2021-05-30T08:43:37.940520+00:00", "created_at": 1622364217000, "creator":
        {"id": 2781275, "handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod
        Karimov", "email": "sherzod.karimov@datadoghq.com"}, "org_id": 569509, "modified":
        "2021-06-08T18:14:12.441535+00:00", "priority": null, "overall_state_modified":
        "2021-05-30T08:45:28+00:00", "overall_state": "OK", "type": "metric alert",
        "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "silenced":
        {}, "include_tags": true, "no_data_timeframe": null, "require_full_window":
        true, "new_host_delay": 300, "notify_no_data": false, "renotify_interval":
        0, "escalation_message": "", "thresholds": {"critical": 50.0}}}, {"restricted_roles":
        null, "tags": [], "deleted": null, "query": "avg(last_5m):avg:dd.dialtone.historical.metrics{*}
        > 20", "message": "Composite monitor - child 1", "matching_downtimes": [],
        "id": 36239262, "multi": false, "name": "Composite monitor - child 1", "created":
        "2021-05-30T19:49:11.945913+00:00", "created_at": 1622404151000, "creator":
        {"id": 2781275, "handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod
        Karimov", "email": "sherzod.karimov@datadoghq.com"}, "org_id": 569509, "modified":
        "2021-06-08T18:13:33.317204+00:00", "priority": null, "overall_state_modified":
        "2021-05-30T19:52:07+00:00", "overall_state": "OK", "type": "metric alert",
        "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "silenced":
        {}, "include_tags": true, "no_data_timeframe": null, "require_full_window":
        true, "new_host_delay": 300, "notify_no_data": false, "renotify_interval":
        0, "escalation_message": "", "thresholds": {"critical": 20.0, "warning": 10.0}}},
        {"restricted_roles": null, "tags": ["probe_dc:aws:ca-central-1", "check_type:api",
        "check_status:paused"], "deleted": null, "query": "no_query", "message": "Test
        synthetics", "matching_downtimes": [], "id": 36553487, "multi": false, "name":
        "[Synthetics] HTTP Test", "created": "2021-06-03T13:00:40.386620+00:00", "created_at":
        1622725240000, "creator": {"id": 2781275, "handle": "sherzod.karimov@datadoghq.com",
        "name": "Sherzod Karimov", "e[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '[{"recurrence": null, "end": null, "monitor_tags": ["*"], "child_id":
        null, "canceled": null, "monitor_id": 36593201, "created": 1623448636, "org_id":
        569509, "modified": 1623692629, "disabled": false, "start": 1654984560, "creator_id":
        2781275, "parent_id": null, "timezone": "America/New_York", "active": false,
        "scope": ["env:test"], "message": null, "downtime_type": 2, "id": 1303977668,
        "updater_id": 2781275}, {"recurrence": {"until_date": null, "until_occurrences":
        null, "week_days": [], "type": "days", "period": 1}, "end": null, "monitor_tags":
        ["*"], "child_id": null, "canceled": null, "monitor_id": null, "created":
        1622234964, "org_id": 569509, "modified": 1622748066, "disabled": false, "start":
        2622234295, "creator_id": 2781302, "parent_id": null, "timezone": "UTC", "active":
        false, "scope": ["*"], "message": "", "downtime_type": 0, "id": 1283896719,
        "updater_id": 2781275}]'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
