interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '[{"recurrence": null, "end": null, "monitor_tags": ["*"], "child_id":
        null, "canceled": 1650050167, "monitor_id": null, "mute_first_recovery_notification":
        false, "created": 1650042665, "org_id": 569509, "modified": 1650050167, "disabled":
        true, "start": 1650042600, "creator_id": 2781275, "parent_id": null, "timezone":
        "America/New_York", "active": false, "scope": ["*"], "message": "", "downtime_type":
        0, "id": 1881903003, "updater_id": 2781275}, {"recurrence": {"until_date":
        null, "until_occurrences": null, "week_days": ["Mon"], "type": "weeks", "period":
        1}, "end": 1650046618, "monitor_tags": ["*"], "child_id": 1882017297, "canceled":
        null, "monitor_id": 36593201, "mute_first_recovery_notification": false, "created":
        1650043054, "org_id": 569509, "modified": 1650046655, "disabled": false, "start":
        1650043018, "creator_id": 2781275, "parent_id": null, "timezone": "America/New_York",
        "active": false, "scope": ["*"], "message": "Test recurring downtime", "downtime_type":
        0, "id": 1881914181, "updater[...]
