interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/downtime
  response:
    body:
      string: '[{"recurrence": null, "end": null, "monitor_tags": ["*"], "child_id":
        null, "canceled": null, "monitor_id": 48082348, "mute_first_recovery_notification":
        false, "created": 1647980372, "org_id": 569509, "modified": 1647980372, "disabled":
        false, "start": 1647980372, "creator_id": 3205966, "parent_id": null, "timezone":
        "UTC", "active": true, "scope": ["*"], "message": null, "downtime_type": 0,
        "id": 1825288423, "updater_id": null}, {"recurrence": null, "end": null, "monitor_tags":
        ["*"], "child_id": null, "canceled": null, "monitor_id": 36593201, "mute_first_recovery_notification":
        false, "created": 1623448636, "org_id": 569509, "modified": 1623692629, "disabled":
        false, "start": 1654984560, "creator_id": 2781275, "parent_id": null, "timezone":
        "America/New_York", "active": false, "scope": ["env:test"], "message": null,
        "downtime_type": 2, "id": 1303977668, "updater_id": 2781275}, {"recurrence":
        {"until_date": null, "until_occurrences": null, "week_days": [], "type": "days",
        "period": 1}, "end": null, "monitor_tags": ["*"], "child_id": null, "canceled":
        null, "monitor_id": null, "mute_first_recovery_notification": false, "created":
        1622234964, "org_id": 569509, "modified": 1622748066, "disabled": false, "start":
        2622234295, "creator_id": 2781302, "parent_id": null, "timezone": "UTC", "active":
        false, "scope": ["*"], "message": "", "downtime_type": 0, "id": 1283896719,
        "updater_id": 2781275}]'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '10853'
      x-ratelimit-reset:
      - '27'
    status:
      code: 200
      message: OK
version: 1
