interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.diffs.start", "type": 0, "points": [{"timestamp": 1730818065,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.diffs.start", "type": 0, "points": [{"timestamp": 1730818065,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"group_by": ["blocked", "branch", "duration", "github_org", "github_repo",
      "hook", "hook_version", "username", "updated"], "include_percentiles": false,
      "aggr_mode": "include_all", "summary_type": "default", "groups_negated": false,
      "source": "intake", "metric": "dd.seceng.dd_git_hooks.duration_seconds"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/metric/distribution/summary_aggr
  response:
    body:
      string: '{"key": 82782325, "metric_key": 794702851}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.diffs.start", "type": 0, "points": [{"timestamp": 1730818065,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
version: 1
