interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/slo/correction
  response:
    body:
      string: '{"meta": {"page": {"total_filtered_count": 1, "total_count": 1}}, "data":
        [{"type": "correction", "id": "010e1dae-d819-11eb-ac2c-da7ad0900002", "attributes":
        {"slo_id": "ba72d10835d75e0c8910597144f3733a", "start": 1735707000, "end":
        1735718600, "description": "correction example", "category": "Scheduled Maintenance",
        "timezone": "UTC", "creator": {"data": {"type": "users", "id": "2d0d2076-bfcd-11eb-a4d7-da7ad0900002",
        "attributes": {"uuid": "2d0d2076-bfcd-11eb-a4d7-da7ad0900002", "handle": "frog@datadoghq.com",
        "email": "frog@datadoghq.com", "name": "Frog", "icon": "https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}}}}]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '11'
    status:
      code: 200
      message: OK
version: 1
