interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/slo/correction
  response:
    body:
      string: '{"data": [{"type": "correction", "id": "591ee19e-f3a8-11ec-a77c-da7ad0902002",
        "attributes": {"slo_id": "c4fa01c78d45542cb830598be4f68ad2", "start": 1656064450,
        "end": 1656066450, "description": "", "category": "Scheduled Maintenance",
        "timezone": "UTC", "created_at": 1656066491, "modified_at": 1656066491, "rrule":
        null, "duration": null, "creator": {"data": {"type": "users", "id": "2d0d2076-bfcd-11eb-a4d7-da7ad0900002",
        "attributes": {"uuid": "2d0d2076-bfcd-11eb-a4d7-da7ad0900002", "handle": "frog@datadoghq.com",
        "email": "frog@datadoghq.com", "name": "Frog", "icon": "https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},
        "modifier": null}}, {"type": "correction", "id": "8604453e-9681-11ec-83cc-da7ad0900002",
        "attributes": {"slo_id": "c4fa01c78d45542cb830598be4f68ad2", "start": 1645614253,
        "end": 1645714253, "description": "", "category": "Scheduled Maintenance",
        "timezone": "UTC", "created_at": 1645824358, "modified_at": 1645824358, "rrule":
        null, "duration": null, "creator": {"data": {"type": "users", "id": "2d0d2076-bfcd-11eb-a4d7-da7ad0900002",
        "attributes": {"uuid": "2d0d2076-bfcd-11eb-a4d7-da7ad0900002", "handle": "frog@datadoghq.com",
        "email": "frog@datadoghq.com", "name": "Frog", "icon": "https://secure.gravatar.com/avatar/28a16dfe36e73b60c1d55872cb0f1172?s=48&d=retro"}}},
        "modifier": null}}], "meta": {"page": {"total_count": 2, "total_filtered_count":
        2}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
