interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests
  response:
    body:
      string: '{"tests": [{"public_id": "njk-avc-mjc", "name": "Test on www.datadoghq.com",
        "status": "live", "type": "api", "subtype": "http", "tags": [], "created_at":
        "2024-10-28T18:50:32.939904+00:00", "modified_at": "2024-10-28T18:50:32.939904+00:00",
        "config": {"assertions": [{"operator": "lessThan", "type": "responseTime",
        "target": 1000}], "request": {"method": "GET", "url": "https://www.datadoghq.com"}},
        "message": "", "options": {"httpVersion": "any", "min_failure_duration": 0,
        "min_location_failed": 1, "monitor_options": {"notification_preset_name":
        "show_all", "on_missing_data": "show_no_data", "notify_audit": false, "new_host_delay":
        300, "include_tags": true}, "tick_every": 60}, "locations": ["aws:af-south-1",
        "aws:ap-east-1", "aws:ap-northeast-1", "aws:ap-northeast-2", "aws:ap-northeast-3",
        "aws:ap-south-1", "aws:ap-southeast-1", "aws:ap-southeast-2", "aws:ap-southeast-3",
        "aws:ca-central-1", "aws:eu-central-1", "aws:eu-north-1", "aws:eu-south-1",
        "aws:eu-west-1", "aws:eu-west-2", "aws:eu-west-3", "aws:me-south-1", "aws:sa-east-1",
        "aws:us-east-1", "aws:us-east-2", "aws:us-west-1", "aws:us-west-2", "azure:eastus",
        "gcp:asia-northeast1", "gcp:europe-west3", "gcp:us-east4", "gcp:us-south1",
        "gcp:us-west1", "gcp:us-west2"], "monitor_id": 20125203, "creator": {"name":
        "Michael Richey", "handle": "michael.richey@datadoghq.com", "email": "michael.richey@datadoghq.com"}}],
        "total": 1}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/api/njk-avc-mjc
  response:
    body:
      string: '{"public_id": "njk-avc-mjc", "name": "Test on www.datadoghq.com", "status":
        "live", "type": "api", "subtype": "http", "tags": [], "created_at": "2024-10-28T18:50:32.939904+00:00",
        "modified_at": "2024-10-28T18:50:32.939904+00:00", "config": {"assertions":
        [{"operat[...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730389100, "value":
      1}], "tags": ["action_type:import", "status:success", "resource_type:synthetics_tests",
      "client_type:destination"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730389100, "value":
      1}], "tags": ["action_type:import", "status:success", "resource_type:synthetics_tests",
      "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
