interactions:
- request:
    body: '{"status": "paused", "tags": [], "locations": ["aws:ca-central-1"], "message":
      "Test synthetics updated", "name": "HTTP Test", "type": "api", "subtype": "http",
      "config": {"request": {"url": "https://google.com", "method": "GET"}, "assertions":
      [{"operator": "lessThan", "type": "responseTime", "target": 1000}, {"operator":
      "is", "type": "statusCode", "target": 301}, {"operator": "is", "property": "content-type",
      "type": "header", "target": "text/html; charset=UTF-8"}]}, "options": {"retry":
      {"count": 1, "interval": 300}, "min_location_failed": 1, "monitor_options":
      {"include_tags": true, "renotify_interval": 120, "notify_audit": false, "new_host_delay":
      300, "on_missing_data": "show_no_data"}, "tick_every": 604800, "monitor_priority":
      3, "min_failure_duration": 120}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/f8k-9ky-eux
  response:
    body:
      string: '{"status": "paused", "public_id": "f8k-9ky-eux", "tags": [], "org_id":
        1000044987, "locations": ["aws:ca-central-1"], "message": "Test synthetics
        updated", "deleted_at": null, "name": "HTTP Test", "monitor_id": 8768685,
        "type": "api", "created_at": "2022-11-16T18:30:19.253159+00:00", "modified_at":
        "2022-11-16T18:30:22.712145+00:00", "subtype": "http", "config": {"request":
        {"url": "https://google.com", "method": "GET"}, "assertions": [{"operator":
        "lessThan", "type": "responseTime", "target": 1000}, {"operator": "is", "type":
        "statusCode", "target": 301}, {"operator": "is", "property": "content-type",
        "type": "header", "target": "text/html; charset=UTF-8"}]}, "options": {"retry":
        {"count": 1, "interval": 300}, "min_location_failed": 1, "monitor_options":
        {"notify_audit": false, "include_tags": true, "new_host_delay": 300, "on_missing_data":
        "show_no_data", "renotify_interval": 120}, "tick_every": 604800, "monitor_priority":
        3, "min_failure_duration": 120}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-name:
      - synthetics_edit_test
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '38'
    status:
      code: 200
      message: OK
[...]
{"request": {"certificate": {"cert": {"filename":
      "cert-filename", "updatedAt": "2020-10-16T09:23:24.857Z"}, "key": {"filename":
      "key-filename", "updatedAt": "2020-10-16T09:23:24.857Z"}}, "url": "https://datadoghq.com",
      "headers": {"unique": "testtriggersyntheticstestsreturnsokresponse1666783270"},
      "proxy": {"url": "https://datadoghq.com", "headers": {}}, "timeout": 10, "method":
      "GET"}, "assertions": [{"operator": "is", "property": "{{ PROPERTY }}", "type":
      "header", "target": "text/html"}, {"operator": "lessThan", "type": "responseTime",
      "target": 2000}, {"operator": "validatesJSONPath", "type": "body", "target":
      {"operator": "isNot", "targetValue": "0", "jsonPath": "topKey"}}], "configVariables":
      [{"pattern": "content-type", "type": "text", "example": "content-type", "name":
      "PROPERTY"}]}, "options": {"accept_self_signed": false, "retry": {"count": 3,
      "interval": 10}, "min_location_failed": 1, "allow_insecure": true, "follow_redirects":
      true, "min_failure_duration": 10, "monitor_priority": 5, "monitor_name": "Test-Trigger_Synthetics_tests_returns_OK_response-1666783270",
      "tick_every": 60}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/phd-apc-vir
  response:
    body:
      string: '{"status": "live", "public_id": "phd-apc-vir", "tags": ["testing:api"],
        "org_id": 1000044987, "locations": ["aws:us-east-2"], "message": "BDD test
        payload: synthetics_api_http_test_payload.jsonupdated", "deleted_at": null,
        "name": "Test-Trigger_Synthetics_tests_returns_OK_response-1666783270", "monitor_id":
        8768686, "type": "api", "created_at": "2022-11-16T18:30:19.528663+00:00",
        "modified_at": "2022-11-16T18:30:23.066972+00:00", "subtype": "http", "config":
        [...]
{"request": {"host": "example.org",
      "port": 443}, "assertions": [{"operator": "lessThan", "type": "responseTime",
      "target": 2000}]}, "options": {"monitor_options": {"include_tags": true, "renotify_interval":
      0, "notify_audit": false, "new_host_delay": 300, "on_missing_data": "show_no_data"},
      "tick_every": 900, "min_location_failed": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/6eb-ye8-6pq
  response:
    body:
      string: '{"status": "live", "public_id": "6eb-ye8-6pq", "tags": ["foo:bar",
        "foo", "env:test"], "org_id": 1000044987, "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerdutyupdated", "deleted_at": null, "name": "TCP Test",
        "monitor_id": 8768687, "type": "api", "created_at": "2022-11-16T18:30:19.832939+00:00",
        "modified_at": "2022-11-16T18:30:24.104319+00:00", "subtype": "tcp", "config":
        [...]
{"request": {"host": "example.org",
      "port": 443}, "assertions": [{"operator": "isInMoreThan", "type": "certificate",
      "target": 30}]}, "options": {"accept_self_signed": true, "tick_every": 900,
      "monitor_options": {"include_tags": true, "renotify_interval": 0, "notify_audit":
      false, "new_host_delay": 300, "on_missing_data": "show_no_data"}, "min_location_failed":
      1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/9hk-ibv-gew
  response:
    body:
      string: '{"status": "live", "public_id": "9hk-ibv-gew", "tags": ["foo:bar",
        "foo", "env:test"], "org_id": 1000044987, "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerdutyupdated", "deleted_at": null, "name": "SSL Test",
        "monitor_id": 8768688, "type": "api", "created_at": "2022-11-16T18:30:21.120043+00:00",
        "modified_at": "2022-11-16T18:30:24.478573+00:00", "subtype": "ssl", "config":
        [...]
- request:
    body: '{"status": "live", "tags": [], "locations": ["aws:us-west-1"], "message":
      "updated", "name": "Browser Test (cloned)", "type": "browser", "steps": [{"name":
      "Type text on input \"s\"", "noScreenshot": false, "allowFailure": false, "params":
      {"value": "api", "element": {"url": "https://docs.datadoghq.com/", "targetOuterHTML":
      "<input class=\"docssearch-input form-control ds-input\" name=\"s\" type=\"docssearch\"
      placeholder=\"Search", "multiLocator": {"ab": "/*[local-name()=\"html\"][1]/*[local-name()=\"body\"][1]/*[local-name()=\"section\"][1]/*[local-name()=\"div\"][1]/*[local-name()=\"div\"][1]/*[local-name()=\"div\"][1]/*[local-name()=\"div\"][1]/*[local-name()=\"form\"][1]/*[local-name()=\"div\"][1]/*[local-name()=\"span\"][1]/*[local-name()=\"input\"][2]",
      "co": "[{\"text\":\"search documentation...\",\"textType\":\"placeholder\"}]",
      "cl": "/descendant::*[contains(concat('' '', normalize-space(@class), '' ''),
      \" docssearch-input \") and contains(concat('' '', normalize-space(@class),
      '' ''), \" ds-input \")]", "at": "/descendant::*[@name=\"s\"]", "clt": "/descendant::*[contains(concat(''
      '', normalize-space(@class), '' ''), \" docssearch-input \") and contains(concat(''
      '', normalize-space(@class), '' ''), \" ds-input \")]", "ro": "//*[@name=\"s\"]"}}},
      "isCritical": true, "type": "typeText"}, {"name": "Press key ''Enter''", "noScreenshot":
      false, "allowFailure": false, "params": {"value": "Enter"}, "isCritical": true,
      "type": "pressKey"}, {"name": "Click on link \"API \u00bb AWS Logs Integration\"",
      "noScreenshot": false, "allowFailure": false, "params": {"element": {"url":
      "https://docs.datadoghq.com/search/?s=api", "targetOuterHTML": "<a href=\"https://docs.datadoghq.com/api/latest/aws-logs-integration/\">API
      \u00bb AWS Logs[...]
[...]
{"request": {"host": "example.org"},
      "assertions": [{"operator": "is", "property": "A", "type": "recordSome", "target":
      "0.0.0.0"}]}, "options": {"monitor_options": {"include_tags": true, "renotify_interval":
      0, "notify_audit": false, "new_host_delay": 300, "on_missing_data": "show_no_data"},
      "tick_every": 900, "min_location_failed": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/6pf-5g5-d6z
  response:
    body:
      string: '{"status": "live", "public_id": "6pf-5g5-d6z", "tags": ["foo:bar",
        "foo", "env:test"], "org_id": 1000044987, "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerdutyupdated", "deleted_at": null, "name": "DNS Test",
        "monitor_id": 8768690, "type": "api", "created_at": "2022-11-16T18:30:21.976296+00:00",
        "modified_at": "2022-11-16T18:30:25.298078+00:00", "subtype": "dns", "config":
        [...]
- request:
    body: '{"status": "live", "tags": ["check_type:api", "env:test", "test:update"],
      "locations": ["aws:sa-east-1"], "message": "updated", "name": "Multistep API
      Test", "type": "api", "subtype": "multi", "config": {"steps": [{"retry": {"count":
      0, "interval": 300}, "name": "Test on datadoghq.com", "request": {"url": "https://datadoghq.com",
      "headers": {"content-type": "text/html"}, "method": "GET"}, "subtype": "http",
      "allowFailure": false, "extractedValues": [], "isCritical": true, "id": "vek-567-n38",
      "assertions": [{"operator": "lessThan", "type": "responseTime", "target": 1000},
      {"operator": "is", "type": "statusCode", "target": 301}]}], "configVariables":
      []}, "options": {"monitor_options": {"include_tags": true, "renotify_interval":
      0, "notify_audit": false, "new_host_delay": 300, "on_missing_data": "show_no_data"},
      "retry": {"count": 0, "interval": 300}, "min_location_failed": 1, "min_failure_duration":
      0, "tick_every": 604800}}'
    he[...]
