interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests
  response:
    body:
      string: '{"tests": [{"status": "paused", "public_id": "9kt-p3e-he4", "tags":
        [], "locations": ["aws:ca-central-1"], "message": "Test synthetics ", "name":
        "HTTP Test", "monitor_id": 103095757, "type": "api", "created_at": "2022-11-15T21:05:04.474438+00:00",
        "creator": {"handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod Karimov",
        "email": "sherzod.karimov@datadoghq.com"}, "modified_at": "2022-11-15T21:05:04.474438+00:00",
        "subtype": "http", "config": {"request": {"url": "https://google.com", "method":
        "GET"}, "assertions": [{"operator": "lessThan", "type": "responseTime", "target":
        1000}, {"operator": "is", "type": "statusCode", "target": 301}, {"operator":
        "is", "property": "content-type", "type": "header", "target": "text/html;
        charset=UTF-8"}]}, "options": {"retry": {"count": 1, "interval": 300}, "min_location_failed":
        1, "monitor_options": {"include_tags": true, "renotify_interval": 120, "notify_audit":
        false, "new_host_delay": 300, "on_missing_data": "show_no_data"}, "tick_every":
        604800, "monitor_priority": 3, "min_failure_duration": 120}}, {"status": "live",
        "public_id": "e6x-9uf-7vc", "tags": ["testing:api"], "locations": ["aws:us-east-2"],
        "message": "BDD test payload: synthetics_api_http_test_payload.json", "name":
        "Test-Trigger_Synthetics_tests_returns_OK_response-1666783270", "monitor_id":
        103095761, "type": "api", "created_at": "2022-11-15T21:05:04.493127+00:00",
        "creator": {"handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod Karimov",
        "email": "sherzod.karimov@datadoghq.com"}, "modified_at": "2022-11-15T21:05:04.493127+00:00",
        "subtype": "http", "config": {"request": {"certificate": {"cert": {"filename":
        "cert-filename", "updatedAt": "2020-10-16T09:23:24.857Z"}, "key": {"filename":
        "key-filename", "updatedAt": "2020-10-16T09:23:24.857Z"}}, "url": "https://datadoghq.com",
        "headers": {"unique": "testtriggersyntheticstestsreturnsokresponse1666783270"},
        "proxy": {"url": "https://datadoghq.com", "headers": {}}, "timeout": 10, "method":
        "GET"}, "assertions": [{"operator": "is", "property": "{{ PROPERTY }}", "type":
        "header", "target": "text/html"}, {"operator": "lessThan", "type": "responseTime",
        "target": 2000}, {"operator": "validatesJSONPath", "type": "body", "target":
        {"operator": "isNot", "targetValue": "0", "jsonPath": "topKey"}}], "configVariables":
        [{"pattern": "content-type", "type": "text", "example": "content-type", "name":
        "PROPERTY"}]}, "options": {"accept_self_signed": false, "retry": {"count":
        3, "interval": 10}, "min_location_failed": 1, "allow_insecure": true, "follow_redirects":
        true, "min_failure_duration": 10, "monitor_priority": 5, "monitor_name": "Test-Trigger_Synthetics_tests_returns_OK_response-1666783270",
        "tick_every": 60}}, {"status": "live", "public_id": "shp-p4u-z5t", "tags":
        ["foo:bar", "foo", "env:test"], "locations": ["aws:eu-central-1"], "message":
        "Notify @pagerduty", "name": "TCP Test", "monitor_id": 103095759, "type":
        "api", "created_at": "2022-11-15T21:05:04.516477+00:00", "creator": {"handle":
        "sherzod.karimov@datadoghq.com", "name": "Sherzod Karimov", "email": "sherzod.karimov@datadoghq.com"},
        "modified_at": "2022-11-15T21:05:04.516477+00:00", "subtype": "tcp", "config":
        {"request": {"host": "example.org", "port": 443}, "assertions": [{"operator":
        "lessThan", "type": "responseTime", "target": 2000}]}, "options": {"monitor_options":
        {"include_tags": true, "renotify_interval": 0, "notify_audit": false, "new_host_delay":
        300, "on_missing_data": "show_no_data"}, "tick_every": 900, "min_location_failed":
        1}}, {"status": "live", "public_id": "sac-hdw-2vm", "tags": ["foo:bar", "foo",
        "env:test"], "locations": ["aws:eu-central-1"], "message": "Notify @pagerduty",
        "name": "SSL Test", "monitor_id": 103095758, "type": "api", "created_at":
        "2022-11-15T21:05:04.539022+00:00", "creator": {"handle": "sherzod.karimov@datadoghq.com",
        "name": "Sherzod Karimov", "email": "sherzod.karimov@datadoghq.com"}, "modified_at":
        "2022-11-15T21:05:04.539022+00:00", "subtype": "ssl", "config": {"request":
        {"host": "example.org", "port": 443}, "assertions": [{"operator": "isInMoreThan",
        "type": "certificate", "target": 30}]}, "options": {"accept_self_signed":
        true, "tick_every": 900, "monitor_options": {"include_tags": true, "renotify_interval":
        0, "notify_audit": false, "new_host_delay": 300, "on_missing_data": "show_no_data"},
        "min_location_failed": 1}}, {"status": "live", "public_id": "4mg-pxb-ze4",
        "tags": [], "locations": ["aws:us-west-1"], "message": "", "name": "Browser
        Test (cloned)", "monitor_id": 103095760, "type": "browser", "created_at":
        "2022-11-15T21:05:04.564415+00:00", "creator": {"handle": "sherzod.karimov@datadoghq.com",
        "name": "Sherzod Karimov", "email": "sherzod.karimov@datadoghq.com"}, "modified_at":
        "2022-11-15T21:05:04.564415+00:00", "config": {"variables": [], "setCookie":
        "", "request": {"url": "https://docs.datadoghq.com", "headers": {"test": "{{
        TEST_VARIABLE }}", "test_two": "{{ TEST_VAR_LOCAL }}"}, "method": "GET"},
        "assertions": [], "configVariables": [{"pattern": "TEST_VAR_LOCAL", "type":
        "text", "name": "TEST_VAR_LOCAL", "example": "TEST_VAR_LOCAL"}, {"type": "global",
        "id": "7478e601-cbe3-4a7d-babf-d48702b6b833", "name": "TEST_VARIABLE"}]},
        "options": {"disableCsp": false, "retry": {"count": 0, "interval": 300}, "min_location_failed":
        1, "min_failure_duration": 0, "noScreenshot": false, "enableSecurityTesting":
        false, "monitor_options": {"include_tags": true, "renotify_interval": 0, "notify_audit":
        false, "new_host_delay": 300, "on_missing_data": "show_no_data"}, "disableCors":
        false, "enableProfiling": false, "rumSettings": {"isEnabled": false}, "device_ids":
        ["chrome.laptop_large", "firefox.laptop_large", "chrome.tablet", "chrome.mobile_small",
        "firefox.mobile_small", "firefox.tablet"], "tick_every": 604800, "ignoreServerCertificateError":
        false}}, {"status": "live", "public_id": "n65-rw3-5ta", "tags": ["foo:bar",
        "foo", "env:test"], "locations": ["aws:eu-central-1"], "message": "Notify
        @pagerduty", "name": "DNS Test", "monitor_id": 103095763, "type": "api", "created_at":
        "2022-11-15T21:05:04.640424+00:00", "creator": {"handle": "sherzod.karimov@datadoghq.com",
        "name": "Sherzod Karimov", "email": "sherzod.karimov@datadoghq.com"}, "modified_at":
        "2022-11-15T21:05:04.640424+00:00", "subtype": "dns", "config": {"request":
        {"host": "example.org"}, "assertions": [{"operator": "is", "property": "A",
        "type": "recordSome", "target": "0.0.0.0"}]}, "options": {"monitor_options":
        {"include_tags": true, "renotify_interval": 0, "notify_audit": false, "new_host_delay":
        300, "on_missing_data": "show_no_data"}, "tick_every": 900, "min_location_failed":
        1}}, {"status": "live", "public_id": "ct9-df9-7cy", "tags": ["check_type:api",
        "env:test", "test:update"], "locations": ["aws:sa-east-1"], "message": "",
        "name": "Multistep API Test", "monitor_id": 103095762, "type": "api", "created_at":
        "2022-11-15T21:05:04.669579+00:00", "creator": {"handle": "sherzod.karimov@datadoghq.com",
        "name": "Sherzod Karimov", "email": "sherzod.karimov@datadoghq.com"}, "modified_at":
        "2022-11-15T21:05:04.669579+00:00", "subtype": "multi", "config": {"steps":
        [{"retry": {"count": 0, "interval": 300}, "name": "Test on datadoghq.com",
        "request": {"url": "https://datadoghq.com", "headers": {"content-type": "text/html"},
        "method": "GET"}, "subtype": "http", "allowFailure": false, "extractedValues":
        [], "isCritical": true, "id": "vek-567-n38", "assertions": [{"operator": "lessThan",
        "type": "responseTime", "target": 1000}, {"operator": "is", "type": "statusCode",
        "target": 301}]}], "configVariables": []}, "options": {"monitor_options":
        {"include_tags": true, "renotify_interval": 0, "notify_audit": false, "new_host_delay":
        300, "on_missing_data": "show_no_data"}, "retry": {"count": 0, "interval":
        300}, "min_location_failed": 1, "min_failure_duration": 0, "tick_every": 604800}}]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-name:
      - global_org
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '42'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/9kt-p3e-he4
  response:
    body:
      string: '{"status": "paused", "public_id": "9kt-p3e-he4", "tags": [], "locations":
        ["aws:ca-central-1"], "message": "Test synthetics ", "name": "HTTP Test",
        "monitor_id": 103095757, "type": "api", "created_at": "2022-11-15T21:05:04.474438+00:00",
        "creator": {"handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod Karimov",
        "email": "sherzod.karimov@datadoghq.com"}, "modified_at": "2022-11-15T21:05:04.474438+00:00",
        "subtype": "http", "config": [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/e6x-9uf-7vc
  response:
    body:
      string: '{"status": "live", "public_id": "e6x-9uf-7vc", "tags": ["testing:api"],
        "locations": ["aws:us-east-2"], "message": "BDD test payload: synthetics_api_http_test_payload.json",
        "name": "Test-Trigger_Synthetics_tests_returns_OK_response-1666783270", "monitor_id":
        103095761, "type": "api", "created_at": "2022-11-15T21:05:04.493127+00:00",
        "creator": {"handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod Karimov",
        "email": "sherzod.karimov@datadoghq.com"}, "modified_at": "2022-11-15T21:05:04.493127+00:00",
        "subtype": "http", "config": [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/shp-p4u-z5t
  response:
    body:
      string: '{"status": "live", "public_id": "shp-p4u-z5t", "tags": ["foo:bar",
        "foo", "env:test"], "locations": ["aws:eu-central-1"], "message": "Notify
        @pagerduty", "name": "TCP Test", "monitor_id": 103095759, "type": "api", "created_at":
        "2022-11-15T21:05:04.516477+00:00", "creator": {"handle": "sherzod.karimov@datadoghq.com",
        "name": "Sherzod Karimov", "email": "sherzod.karimov@datadoghq.com"}, "modified_at":
        "2022-11-15T21:05:04.516477+00:00", "subtype": "tcp", "config": [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/sac-hdw-2vm
  response:
    body:
      string: '{"status": "live", "public_id": "sac-hdw-2vm", "tags": ["foo:bar",
        "foo", "env:test"], "locations": ["aws:eu-central-1"], "message": "Notify
        @pagerduty", "name": "SSL Test", "monitor_id": 103095758, "type": "api", "created_at":
        "2022-11-15T21:05:04.539022+00:00", "creator": {"handle": "sherzod.karimov@datadoghq.com",
        "name": "Sherzod Karimov", "email": "sherzod.karimov@datadoghq.com"}, "modified_at":
        "2022-11-15T21:05:04.539022+00:00", "subtype": "ssl", "config": [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/browser/4mg-pxb-ze4
  response:
    body:
      string: '{"status": "live", "public_id": "4mg-pxb-ze4", "tags": [], "locations":
        ["aws:us-west-1"], "message": "", "name": "Browser Test (cloned)", "monitor_id":
        103095760, "type": "browser", "created_at": "2022-11-15T21:05:04.564415+00:00",
        "creator": {"handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod Karimov",
        "email": "sherzod.karimov@datadoghq.com"}, "modified_at": "2022-11-15T21:05:04.564415+00:00",
        "steps": [{"name": "Type text on input \"s\"", "noScreenshot": false, "allowFailure":
        false, "params": {"value": "api", "element": {"url": "https://docs.datadoghq.com/",
        "targetOuterHTML": "<input class=\"docssearch-input form-control ds-input\"
        name=\"s\" type=\"docssearch\" placeholder=\"Search", "multiLocator": {"ab":
        "/*[local-name()=\"html\"][1]/*[local-name()=\"body\"][1]/*[local-name()=\"section\"][1]/*[local-name()=\"div\"][1]/*[local-name()=\"div\"][1]/*[local-name()=\"div\"][1]/*[local-name()=\"div\"][1]/*[local-name()=\"form\"][1]/*[local-name()=\"div\"][1]/*[local-name()=\"span\"][1]/*[local-name()=\"input\"][2]",
        "co": "[{\"text\":\"search documentation...\",\"textType\":\"placeholder\"}]",
        "cl": "/descendant::*[contains(concat('' '', normalize-space(@class), '' ''),
        \" docssearch-input \") and contains(concat('' '', normalize-space(@class),
        '' ''), \" ds-input \")]", "at": "/descendant::*[@name=\"s\"]", "clt": "/descendant::*[contains(concat(''
        '', normalize-space(@class), '' ''), \" docssearch-input \") and contains(concat(''
        '', normalize-space(@class), '' ''), \" ds-input \")]", "ro": "//*[@name=\"s\"]"}}},
        "isCritical": true, "type": "typeText"}, {"name": "Press key ''Enter''", "noScreenshot":
        false, "allowFailure": false, "params": {"value": "Enter"}, "isCritical":
        true, "type": "pressKey"}, {"name": "Click on link \"API \u00bb AWS Logs Integration\"",
        "noScreenshot": false, "allowFailure": false, "params": {"element": {"url":
        "https://docs.datadoghq.com/search/?s=api", "targetOuterHTML": "<a href=\"https://docs.datadoghq.com/api/lat[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/n65-rw3-5ta
  response:
    body:
      string: '{"status": "live", "public_id": "n65-rw3-5ta", "tags": ["foo:bar",
        "foo", "env:test"], "locations": ["aws:eu-central-1"], "message": "Notify
        @pagerduty", "name": "DNS Test", "monitor_id": 103095763, "type": "api", "created_at":
        "2022-11-15T21:05:04.640424+00:00", "creator": {"handle": "sherzod.karimov@datadoghq.com",
        "name": "Sherzod Karimov", "email": "sherzod.karimov@datadoghq.com"}, "modified_at":
        "2022-11-15T21:05:04.640424+00:00", "subtype": "dns", "config": [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/ct9-df9-7cy
  response:
    body:
      string: '{"status": "live", "public_id": "ct9-df9-7cy", "tags": ["check_type:api",
        "env:test", "test:update"], "locations": ["aws:sa-east-1"], "message": "",
        "name": "Multistep API Test", "monitor_id": 103095762, "type": "api", "created_at":
        "2022-11-15T21:05:04.669579+00:[...]
