interactions:
- request:
    body: '{"public_ids": ["sh7-vbm-yk6"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/delete
  response:
    body:
      string: '{"deleted_tests": [{"deleted_at": "2023-01-04T21:32:11.539099+00:00",
        "public_id": "sh7-vbm-yk6"}]}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"public_ids": ["2z9-7as-gzr"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/delete
  response:
    body:
      string: '{"deleted_tests": [{"deleted_at": "2023-01-04T21:32:14.247455+00:00",
        "public_id": "2z9-7as-gzr"}]}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
