interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "HTTP Test", "status": "paused", "type": "api", "tags": ["managed_by:datadog-sync"],
      "config": {"request": {"url": "https://google.com", "method": "GET"}, "assertions":
      [{"operator": "lessThan", "type": "responseTime", "target": 1000}, {"operator":
      "is", "type": "statusCode", "target": 301}, {"operator": "is", "property": "content-type",
      "type": "header", "target": "text/html; charset=UTF-8"}]}, "message": "Test
      synthetics ", "options": {"retry": {"count": 1, "interval": 300}, "tick_every":
      604800, "monitor_options": {"include_tags": true, "notify_audit": false, "new_host_delay":
      300, "on_missing_data": "show_no_data", "renotify_interval": 120}, "monitor_priority":
      3, "min_location_failed": 1, "min_failure_duration": 120}, "locations": ["aws:ca-central-1"],
      "subtype": "http"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests
  response:
    body:
      string: '{"public_id": "s9n-49r-ffy", "name": "HTTP Test", "status": "paused",
        "type": "api", "tags": ["managed_by:datadog-sync"], "created_at": "2024-02-01T20:13:57.329406+00:00",
        "modified_at": "2024-02-01T20:13:57.329406+00:00", "config": {"request": {"url":
        "https://google.com", "method": "GET"}, "assertions": [{"operator": "lessThan",
        "type": "responseTime", "target": 1000}, {"operator": "is", "type": "statusCode",
        "target": 301}, {"operator": "is", "property": "content-type", "type": "header",
        "target": "text/html; charset=UTF-8"}]}, "message": "Test synthetics ", "options":
        {"retry": {"count": 1, "interval": 300}, "tick_every": 604800, "monitor_options":
        {"include_tags": true, "notify_audit": false, "new_host_delay": 300, "on_missing_data":
        "show_no_data", "renotify_interval": 120}, "monitor_priority": 3, "min_location_failed":
        1, "min_failure_duration": 120}, "locations": ["aws:ca-central-1"], "subtype":
        "http", "created_by": {"name": "CI Service Account", "handle": "c565c834-9e9a-11ee-aa8a-52121f0cd5ec",
        "email": "frog@datadoghq.com"}, "deleted_at": null, "monitor_id": 15199633,
        "org_id": 1000144613, "modified_by": {"name": "CI Service Account", "handle":
        "c565c834-9e9a-11ee-aa8a-52121f0cd5ec", "email": "frog@datadoghq.com"}}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
{"request": {"certificate": {"cert": {"updatedAt": "2020-10-16T09:23:24.857Z",
      "filename": "cert-filename"}, "key": {"updatedAt": "2020-10-16T09:23:24.857Z",
      "filename": "key-filename"}}, "url": "https://datadoghq.com", "headers": {"unique":
      "testtriggersyntheticstestsreturnsokresponse1666783270"}, "proxy": {"url": "https://datadoghq.com",
      "headers": {}}, "timeout": 10, "method": "GET"}, "assertions": [{"operator":
      "is", "property": "{{ PROPERTY }}", "type": "header", "target": "text/html"},
      {"operator": "lessThan", "type": "responseTime", "target": 2000}, {"operator":
      "validatesJSONPath", "type": "body", "target": {"operator": "isNot", "targetValue":
      "0", "jsonPath": "topKey"}}], "configVariables": [{"pattern": "content-type",
      "type": "text", "example": "content-type", "name": "PROPERTY"}]}, "message":
      "BDD test payload: synthetics_api_http_test_payload.json", "options": {"accept_self_signed":
      false, "retry": {"count": 3, "interval": 10}, "min_location_failed": 1, "allow_insecure":
      true, "follow_redirects": true, "min_failure_duration": 10, "monitor_priority":
      5, "monitor_name": "Test-Trigger_Synthetics_tests_returns_OK_response-1666783270",
      "tick_every": 60}, "locations": ["aws:us-east-2"], "subtype": "http"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests
  response:
    body:
      string: '{"public_id": "rap-ep8-a72", "name": "Test-Trigger_Synthetics_tests_returns_OK_response-1666783270",
        "status": "live", "type": "api", "tags": ["testing:api", "managed_by:datadog-sync"],
        "created_at": "2024-02-01T20:13:57.758436+00:00", "modified_at": "2024-02-01T20:13:57.758436+00:00",
        "config": [...]
{"request": {"host":
      "example.org", "port": 443}, "assertions": [{"operator": "lessThan", "type":
      "responseTime", "target": 2000}]}, "message": "Notify @pagerduty", "options":
      {"monitor_options": {"notify_audit": false, "include_tags": true, "new_host_delay":
      300, "on_missing_data": "show_no_data", "renotify_interval": 0}, "tick_every":
      900, "min_location_failed": 1}, "locations": ["aws:eu-central-1"], "subtype":
      "tcp"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests
  response:
    body:
      string: '{"public_id": "yzf-8i8-pu7", "name": "TCP Test", "status": "live",
        "type": "api", "tags": ["foo:bar", "foo", "env:test", "managed_by:datadog-sync"],
        "created_at": "2024-02-01T20:13:58.143621+00:00", "modified_at": "2024-02-01T20:13:58.143621+00:00",
        "config": [...]
- request:
    body: '{"name": "Multistep API Test", "status": "live", "type": "api", "tags":
      ["check_type:api", "env:test", "test:update", "managed_by:datadog-sync"], "config":
      {"steps": [{"retry": {"count": 0, "interval": 300}, "name": "Test on datadoghq.com",
      "request": {"url": "https://datadoghq.com", "headers": {"content-type": "text/html"},
      "method": "GET"}, "subtype": "http", "allowFailure": false, "extractedValues":
      [], "isCritical": true, "id": "vek-567-n38", "assertions": [{"operator": "lessThan",
      "type": "responseTime", "target": 1000}, {"operator": "is", "type": "statusCode",
      "target": 301}]}], "configVariables": []}, "message": "", "options": {"monitor_options":
      {"notify_audit": false, "include_tags": true, "new_host_delay": 300, "on_missing_data":
      "show_no_data", "renotify_interval": 0}, "retry": {"count": 0, "interval": 300},
      "min_location_failed": 1, "min_failure_duration": 0, "tick_eve[...]
