interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests
  response:
    body:
      string: '{"tests": [{"public_id": "9kt-p3e-he4", "name": "HTTP Test", "status":
        "paused", "type": "api", "tags": [], "created_at": "2022-11-15T21:05:04.474438+00:00",
        "modified_at": "2022-11-15T21:05:04.474438+00:00", "config": {"request": {"url":
        "https://google.com", "method": "GET"}, "assertions": [{"operator": "lessThan",
        "type": "responseTime", "target": 1000}, {"operator": "is", "type": "statusCode",
        "target": 301}, {"operator": "is", "property": "content-type", "type": "header",
        "target": "text/html; charset=UTF-8"}]}, "message": "Test synthetics ", "options":
        {"retry": {"count": 1, "interval": 300}, "tick_every": 604800, "monitor_options":
        {"include_tags": true, "notify_audit": false, "new_host_delay": 300, "on_missing_data":
        "show_no_data", "renotify_interval": 120}, "monitor_priority": 3, "min_location_failed":
        1, "min_failure_duration": 120}, "locations": ["aws:ca-central-1"], "subtype":
        "http", "monitor_id": 103095757, "creator": {"name": "Sherzod Karimov", "handle":
        "sherzod.karimov@datadoghq.com", "email": "sherzod.karimov@datadoghq.com"}},
        {"public_id": "e6x-9uf-7vc", "name": "Test-Trigger_Synthetics_tests_returns_OK_response-1666783270",
        "status": "live", "type": "api", "tags": ["testing:api"], "created_at": "2022-11-15T21:05:04.493127+00:00",
        "modified_at": "2022-11-15T21:05:04.493127+00:00", "config": {"request": {"certificate":
        {"cert": {"updatedAt": "2020-10-16T09:23:24.857Z", "filename": "cert-filename"},
        "key": {"updatedAt": "2020-10-16T09:23:24.857Z", "filename": "key-filename"}},
        "url": "https://datadoghq.com", "headers": {"unique": "testtriggersyntheticstestsreturnsokresponse1666783270"},
        "proxy": {"url": "https://datadoghq.com", "headers": {}}, "timeout": 10, "method":
        "GET"}, "assertions": [{"operator": "is", "property": "{{ PROPERTY }}", "type":
        "header", "target": "text/html"}, {"operator": "lessThan", "type": "responseTime",
        "target": 2000}, {"operator": "validatesJSONPath", "type": "body", "target":
        {"operator": "isNot", "targetValue": "0", "jsonPath": "topKey"}}], "configVariables":
        [{"pattern": "content-type", "type": "text", "example": "content-type", "name":
        "PROPERTY"}]}, "message": "BDD test payload: synthetics_api_http_test_payload.json",
        "options": {"accept_self_signed": false, "retry": {"count": 3, "interval":
        10}, "min_location_failed": 1, "allow_insecure": true, "follow_redirects":
        true, "min_failure_duration": 10, "monitor_priority": 5, "monitor_name": "Test-Trigger_Synthetics_tests_returns_OK_response-1666783270",
        "tick_every": 60}, "locations": ["aws:us-east-2"], "subtype": "http", "monitor_id":
        103095761, "creator": {"name": "Sherzod Karimov", "handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod.karimov@datadoghq.com"}}, {"public_id": "shp-p4u-z5t", "name":
        "TCP Test", "status": "live", "type": "api", "tags": ["foo:bar", "foo", "env:test"],
        "created_at": "2022-11-15T21:05:04.516477+00:00", "modified_at": "2022-11-15T21:05:04.516477+00:00",
        "config": {"request": {"host": "example.org", "port": 443}, "assertions":
        [{"operator": "lessThan", "type": "responseTime", "target": 2000}]}, "message":
        "Notify @pagerduty", "options": {"monitor_options": {"notify_audit": false,
        "include_tags": true, "new_host_delay": 300, "on_missing_data": "show_no_data",
        "renotify_interval": 0}, "tick_every": 900, "min_location_failed": 1}, "locations":
        ["aws:eu-central-1"], "subtype": "tcp", "monitor_id": 103095759, "creator":
        {"name": "Sherzod Karimov", "handle": "sherzod.karimov@datadoghq.com", "email":
        "sherzod.karimov@datadoghq.com"}}, {"public_id": "sac-hdw-2vm", "name": "SSL
        Test", "status": "live", "type": "api", "tags": ["foo:bar", "foo", "env:test"],
        "created_at": "2022-11-15T21:05:04.539022+00:00", "modified_at": "2022-11-15T21:05:04.539022+00:00",
        "config": {"request": {"host": "example.org", "port": 443}, "assertions":
        [{"operator": "isInMoreThan", "type": "certificate", "target": 30}]}, "message":
        "Notify @pagerduty", "options": {"accept_self_signed": true, "monitor_options":
        {"notify_audit": false, "include_tags": true, "new_host_delay": 300, "on_missing_data":
        "show_no_data", "renotify_interval": 0}, "min_location_failed": 1, "tick_every":
        900}, "locations": ["aws:eu-central-1"], "subtype": "ssl", "monitor_id": 103095758,
        "creator": {"name": "Sherzod Karimov", "handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod.karimov@datadoghq.com"}}, {"public_id": "4mg-pxb-ze4", "name":
        "Browser Test (cloned)", "status": "live", "type": "browser", "tags": [],
        "created_at": "2022-11-15T21:05:04.564415+00:00", "modified_at": "2022-11-15T21:05:04.564415+00:00",
        "config": {"variables": [], "setCookie": "", "request": {"url": "https://docs.datadoghq.com",
        "headers": {"test": "{{ TEST_VARIABLE }}", "test_two": "{{ TEST_VAR_LOCAL
        }}"}, "method": "GET"}, "assertions": [], "configVariables": [{"pattern":
        "TEST_VAR_LOCAL", "type": "text", "name": "TEST_VAR_LOCAL", "example": "TEST_VAR_LOCAL"},
        {"type": "global", "id": "7478e601-cbe3-4a7d-babf-d48702b6b833", "name": "TEST_VARIABLE"}]},
        "message": "", "options": {"enableSecurityTesting": false, "retry": {"count":
        0, "interval": 300}, "min_location_failed": 1, "min_failure_duration": 0,
        "noScreenshot": false, "tick_every": 604800, "disableCsp": false, "disableCors":
        false, "enableProfiling": false, "rumSettings": {"isEnabled": false}, "device_ids":
        ["chrome.laptop_large", "firefox.laptop_large", "chrome.tablet", "chrome.mobile_small",
        "firefox.mobile_small", "firefox.tablet"], "monitor_options": {"notify_audit":
        false, "include_tags": true, "new_host_delay": 300, "on_missing_data": "show_no_data",
        "renotify_interval": 0}, "ignoreServerCertificateError": false}, "locations":
        ["aws:us-west-1"], "monitor_id": 103095760, "creator": {"name": "Sherzod Karimov",
        "handle": "sherzod.karimov@datadoghq.com", "email": "sherzod.karimov@datadoghq.com"}},
        {"public_id": "n65-rw3-5ta", "name": "DNS Test", "status": "live", "type":
        "api", "tags": ["foo:bar", "foo", "env:test"], "created_at": "2022-11-15T21:05:04.640424+00:00",
        "modified_at": "2022-11-15T21:05:04.640424+00:00", "config": {"request": {"host":
        "example.org"}, "assertions": [{"operator": "is", "property": "A", "type":
        "recordSome", "target": "0.0.0.0"}]}, "message": "Notify @pagerduty", "options":
        {"monitor_options": {"notify_audit": false, "include_tags": true, "new_host_delay":
        300, "on_missing_data": "show_no_data", "renotify_interval": 0}, "tick_every":
        900, "min_location_failed": 1}, "locations": ["aws:eu-central-1"], "subtype":
        "dns", "monitor_id": 103095763, "creator": {"name": "Sherzod Karimov", "handle":
        "sherzod.karimov@datadoghq.com", "email": "sherzod.karimov@datadoghq.com"}},
        {"public_id": "ct9-df9-7cy", "name": "Multistep API Test", "status": "live",
        "type": "api", "tags": ["check_type:api", "env:test", "test:update"], "created_at":
        "2022-11-15T21:05:04.669579+00:00", "modified_at": "2022-11-15T21:05:04.669579+00:00",
        "config": {"steps": [{"retry": {"count": 0, "interval": 300}, "name": "Test
        on datadoghq.com", "request": {"url": "https://datadoghq.com", "headers":
        {"content-type": "text/html"}, "method": "GET"}, "subtype": "http", "allowFailure":
        false, "extractedValues": [], "isCritical": true, "id": "vek-567-n38", "assertions":
        [{"operator": "lessThan", "type": "responseTime", "target": 1000}, {"operator":
        "is", "type": "statusCode", "target": 301}]}], "configVariables": []}, "message":
        "", "options": {"monitor_options": {"notify_audit": false, "include_tags":
        true, "new_host_delay": 300, "on_missing_data": "show_no_data", "renotify_interval":
        0}, "retry": {"count": 0, "interval": 300}, "min_location_failed": 1, "min_failure_duration":
        0, "tick_every": 604800}, "locations": ["aws:sa-east-1"], "subtype": "multi",
        "monitor_id": 103095762, "creator": {"name": "Sherzod Karimov", "handle":
        "sherzod.karimov@datadoghq.com", "email": "sherzod.karimov@datadoghq.com"}},
        {"public_id": "xv9-vri-fqh", "name": "tf-TestAccDatadogSyntheticsTestMultistepApi_Basic-local-1686121345",
        "status": "paused", "type": "api", "tags": ["multistep"], "created_at": "2023-06-07T07:02:28.009429+00:00",
        "modified_at": "2023-06-07T07:02:28.009429+00:00", "config": {"assertions":
        [], "configVariables": [{"id": "24a74917-d729-4729-a809-0d05cf159e25", "name":
        "VARIABLE_NAME", "type": "global"}], "steps": [{"allowFailure": true, "assertions":
        [{"operator": "is", "target": 200, "type": "statusCode"}], "extractedValues":
        [{"field": "content-length", "name": "VAR_EXTRACT", "parser": {"type": "regex",
        "value": ".*"}, "secure": true, "type": "http_header"}], "isCritical": false,
        "name": "First api step", "request": {"allow_insecure": true, "basicAuth":
        {"accessKey": "sigv4-access-key", "region": "sigv4-region", "secretKey": "sigv4-secret-key",
        "serviceName": "sigv4-service-name", "sessionToken": "sigv4-session-token",
        "type": "sigv4"}, "body": "this is a body", "certificate": {"cert": {"filename":
        "Provided in Terraform config"}, "key": {"filename": "key"}}, "follow_redirects":
        true, "headers": {},
        "method": "GET", "proxy": {"headers": {"Accept": "application/json", "X-Datadog-Trace-ID":
        "123456789"}, "url": "https://proxy.url"}, "query": {"foo": "bar"}, "timeout":
        30, "url": "https://www.datadoghq.com"}, "retry": {"count": 5, "interval":
        1000}, "subtype": "http", "id": "3xr-p38-qba"}, {"allowFailure": false, "assertions":
        [{"operator": "is", "target": 200, "type": "statusCode"}], "extractedValues":
        [], "isCritical": false, "name": "Second api step", "request": {"allow_insecure":
        true, "basicAuth": {"accessTokenUrl": "https://token.datadoghq.com", "audience":
        "audience", "clientId": "client-id", "clientSecret": "client-secret", "scope":
        "scope", "tokenApiAuthentication": "header", "type": "oauth-client"}, "body":
        "", "follow_redirects": true, "method": "GET", "timeout": 30, "url": "https://docs.datadoghq.com"},
        "subtype": "http", "id": "3ij-dfg-6tw"}, {"allowFailure": false, "assertions":
        [{"operator": "is", "target": 200, "type": "statusCode"}], "extractedValues":
        [], "isCritical": false, "name": "Third api step", "request": {"allow_insecure":
        true, "basicAuth": {"accessTokenUrl": "https://token.datadoghq.com", "audience":
        "audience", "clientId": "client-id", "clientSecret": "client-secret", "password":
        "password", "resource": "resource", "scope": "scope", "tokenApiAuthentication":
        "body", "type": "oauth-rop", "username": "username"}, "body": "", "follow_redirects":
        true, "method": "GET", "timeout": 30, "url": "https://docs.datadoghq.com"},
        "subtype": "http", "id": "it3-n6p-xnp"}, {"allowFailure": false, "assertions":
        [{"operator": "is", "target": 200, "type": "statusCode"}], "extractedValues":
        [], "isCritical": false, "name": "Fourth api step", "request": {"allow_insecure":
        true, "basicAuth": {"password": "password", "type": "digest", "username":
        "username"}, "body": "", "follow_redirects": true, "method": "GET", "timeout":
        30, "url": "https://docs.datadoghq.com"}, "subtype": "http", "id": "vid-d39-qgr"}]},
        "message": "Notify @datadog.user", "options": {"min_location_failed": 1, "restricted_roles":
        ["430aea7c-0501-11ee-9f44-da7ad0900002"], "tick_every": 900}, "locations":
        ["aws:eu-central-1"], "subtype": "multi", "monitor_id": 121127083, "creator":
        {"name": "Frog", "handle": "frog@datadoghq.com", "email": "frog@datadoghq.com"}}],
        "total": 8}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/9kt-p3e-he4
  response:
    body:
      string: '{"public_id": "9kt-p3e-he4", "name": "HTTP Test", "status": "paused",
        "type": "api", "tags": [], "created_at": "2022-11-15T21:05:04.474438+00:00",
        "modified_at": "2022-11-15T21:05:04.474438+00:00", "config": [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/e6x-9uf-7vc
  response:
    body:
      string: '{"public_id": "e6x-9uf-7vc", "name": "Test-Trigger_Synthetics_tests_returns_OK_response-1666783270",
        "status": "live", "type": "api", "tags": ["testing:api"], "created_at": "2022-11-15T21:05:04.493127+00:00",
        "modified_at": "2022-11-15T21:05:04.493127+00:00", "config": [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/shp-p4u-z5t
  response:
    body:
      string: '{"public_id": "shp-p4u-z5t", "name": "TCP Test", "status": "live",
        "type": "api", "tags": ["foo:bar", "foo", "env:test"], "created_at": "2022-11-15T21:05:04.516477+00:00",
        "modified_at": "2022-11-15T21:05:04.516477+00:00", "config": [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/sac-hdw-2vm
  response:
    body:
      string: '{"public_id": "sac-hdw-2vm", "name": "SSL Test", "status": "live",
        "type": "api", "tags": ["foo:bar", "foo", "env:test"], "created_at": "2022-11-15T21:05:04.539022+00:00",
        "modified_at": "2022-11-15T21:05:04.539022+00:00", "config": [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/browser/4mg-pxb-ze4
  response:
    body:
      string: '{"public_id": "4mg-pxb-ze4", "name": "Browser Test (cloned)", "status":
        "live", "type": "browser", "tags": [], "created_at": "2022-11-15T21:05:04.564415+00:00",
        "modified_at": "2022-11-15T21:05:04.564415+00:00", "config": {"variables":
        [], "setCookie": "", "re[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/n65-rw3-5ta
  response:
    body:
      string: '{"public_id": "n65-rw3-5ta", "name": "DNS Test", "status": "live",
        "type": "api", "tags": ["foo:bar", "foo", "env:test"], "created_at": "2022-11-15T21:05:04.640424+00:00",
        "modified_at": "2022-11-15T21:05:04.640424+00:00", "config": [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/ct9-df9-7cy
  response:
    body:
      string: '{"public_id": "ct9-df9-7cy", "name": "Multistep API Test", "status":
        "live", "type": "api", "tags": ["check_type:api", "env:test", "test:update"],
        "created_at": "2022-11-15T21:05:04.669579+00:00", "modified_at": "2022-11-15T21:05:04.669579+00:00",
        "config": {"step[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests/api/xv9-vri-fqh
  response:
    body:
      string: '{"public_id": "xv9-vri-fqh", "name": "tf-TestAccDatadogSyntheticsTestMultistepApi_Basic-local-1686121345",
        "status": "paused", "type": "api", "tags": ["multistep"], "created_at": "2023-06-07T07:02:28.009429+00:00",
        "modified_at": "2023-06-07T07:02:28.009429+00:00", "confi[...]
