interactions:
- request:
    body: '{"status": "paused", "tags": [], "locations": ["aws:ca-central-1"], "message":
      "Test synthetics + updated", "name": "HTTP Test", "type": "api", "subtype":
      "http", "config": {"request": {"url": "https://google.com", "method": "GET"},
      "assertions": [{"operator": "lessThan", "type": "responseTime", "target": 1000},
      {"operator": "is", "type": "statusCode", "target": 301}, {"operator": "is",
      "property": "content-type", "type": "header", "target": "text/html; charset=UTF-8"}]},
      "options": {"retry": {"count": 1, "interval": 300}, "min_location_failed": 1,
      "monitor_options": {"renotify_interval": 120}, "min_failure_duration": 120,
      "monitor_priority": 3, "tick_every": 604800}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/naz-vvk-2dv
  response:
    body:
      string: '{"status": "paused", "public_id": "naz-vvk-2dv", "tags": [], "org_id":
        1000044987, "locations": ["aws:ca-central-1"], "message": "Test synthetics
        + updated", "deleted_at": null, "name": "HTTP Test", "monitor_id": 1571825,
        "type": "api", "created_at": "2021-07-20T18:53:37.535068+00:00", "modified_at":
        "2021-07-20T18:53:41.437393+00:00", "subtype": "http", "config": {"request":
        {"url": "https://google.com", "method": "GET"}, "assertions": [{"operator":
        "lessThan", "type": "responseTime", "target": 1000}, {"operator": "is", "type":
        "statusCode", "target": 301}, {"operator": "is", "property": "content-type",
        "type": "header", "target": "text/html; charset=UTF-8"}]}, "options": {"retry":
        {"count": 1, "interval": 300}, "min_location_failed": 1, "monitor_options":
        {"notify_audit": false, "locked": false, "include_tags": true, "new_host_delay":
        300, "notify_no_data": false, "renotify_interval": 120}, "tick_every": 604800,
        "monitor_priority": 3, "min_failure_duration": 120}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '19'
    status:
      code: 200
      message: OK
[...]
{"request": {"host": "example.org"},
      "assertions": [{"operator": "is", "property": "A", "type": "recordSome", "target":
      "0.0.0.0"}]}, "options": {"monitor_options": {"renotify_interval": 0}, "tick_every":
      900, "min_location_failed": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/r9i-3kf-8t4
  response:
    body:
      string: '{"status": "live", "public_id": "r9i-3kf-8t4", "tags": ["foo:bar",
        "foo", "env:test"], "org_id": 1000044987, "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty+ updated", "deleted_at": null, "name": "DNS
        Test", "monitor_id": 1571826, "type": "api", "created_at": "2021-07-20T18:53:37.965962+00:00",
        "modified_at": "2021-07-20T18:53:41.799584+00:00", "subtype": "dns", "config":
        [...]
{"request": {"host": "example.org",
      "port": 443}, "assertions": [{"operator": "isInMoreThan", "type": "certificate",
      "target": 30}]}, "options": {"monitor_options": {"renotify_interval": 0}, "min_location_failed":
      1, "accept_self_signed": true, "tick_every": 900}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/khw-4u7-5xt
  response:
    body:
      string: '{"status": "live", "public_id": "khw-4u7-5xt", "tags": ["foo:bar",
        "foo", "env:test"], "org_id": 1000044987, "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty+ updated", "deleted_at": null, "name": "SSL
        Test", "monitor_id": 1571827, "type": "api", "created_at": "2021-07-20T18:53:38.420020+00:00",
        "modified_at": "2021-07-20T18:53:42.141081+00:00", "subtype": "ssl", "config":
        [...]
{"request": {"url": "https://www.example.org",
      "headers": {"Authentication": "Token: 1234566789", "Content-Type": "application/json"},
      "method": "GET"}, "assertions": [{"operator": "is", "type": "statusCode", "target":
      200}]}, "options": {"monitor_options": {"renotify_interval": 100}, "retry":
      {"count": 2, "interval": 300}, "tick_every": 900, "min_location_failed": 1}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests
  response:
    body:
      string: '{"errors": ["properties.locations.items.enum: u''pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451''
        is not one of [u''aws:ap-northeast-1'', u''aws:ap-northeast-2'', u''aws:ap-south-1'',
        u''aws:ap-southeast-1'', u''aws:ap-southeast-2'', u''aws:ca-central-1'', u''aws:eu-central-1'',
        u''aws:eu-north-1'', u''aws:eu-west-1'', u''aws:eu-west-2'', u''aws:eu-west-3'',
        u''aws:sa-east-1'', u''aws:us-east-2'', u''aws:us-west-1'', u''aws:us-west-2'',
        u''pl:test-private[...]
[...]
{"request": {"host": "example.org",
      "port": 443}, "assertions": [{"operator": "lessThan", "type": "responseTime",
      "target": 2000}]}, "options": {"monitor_options": {"renotify_interval": 0},
      "tick_every": 900, "min_location_failed": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/gge-sm9-9m5
  response:
    body:
      string: '{"status": "live", "public_id": "gge-sm9-9m5", "tags": ["foo:bar",
        "foo", "env:test"], "org_id": 1000044987, "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty+ updated", "deleted_at": null, "name": "TCP
        Test", "monitor_id": 1571828, "type": "api", "created_at": "2021-07-20T18:53:39.956316+00:00",
        "modified_at": "2021-07-20T18:53:42.812136+00:00", "subtype": "tcp", "config":
        [...]
- request:
    body: '{"status": "paused", "tags": [], "locations": ["aws:us-west-1"], "message":
      "+ updated", "name": "Browser Test", "type": "browser", "config": {"variables":
      [], "setCookie": "", "request": {"url": "https://docs.datadoghq.com", "headers":
      {}, "method": "GET"}, "assertions": [], "configVariables": []}, "options": {"retry":
      {"count": 0, "interval": 300}, "min_location_failed": 1, "min_failure_duration":
      0, "noScreenshot": false, "tick_every": 604800, "forwardProxy": false, "disableCors":
      false, "device_ids": ["chrome.laptop_large", "firefox.laptop_large", "chrome.tablet",
      "chrome.mobile_small", "firefox.mobile_small", "firefox.tablet"], "monitor_options":
      {"renotify_interval": 0}, "ignoreServerCertificateError": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/4zb-rsy-24x
  response:
    body:
      string: '{"status": "paused", "public_id": "4zb-rsy-24x", "tags": [], "org_id":
        1000044987, "locations": ["aws:us-west-1"], "message": "+ updated", "deleted_at":
        null, "name": "Browser Test", "monitor_id": 1571829, "type": "browser", "created_at":
        "2021-07-20T18:53:40.490021+00:00", "modified_[...]
- request:
    body: '{"status": "live", "tags": ["check_type:api", "env:test", "test:update"],
      "locations": ["aws:sa-east-1"], "message": "+ updated", "name": "Multistep API
      Test", "type": "api", "subtype": "multi", "config": {"steps": [{"retry": {"count":
      0, "interval": 300}, "name": "Test on datadoghq.com", "request": {"url": "https://datadoghq.com",
      "headers": {"content-type": "text/html"}, "method": "GET"}, "subtype": "http",
      "allowFailure": false, "extractedValues": [], "isCritical": true, "id": "vek-567-n38",
      "assertions": [{"operator": "lessThan", "type": "responseTime", "target": 1000},
      {"operator": "is", "type": "statusCode", "target": 301}]}], "configVariables":
      []}, "options": {"monitor_options": {"renotify_interval": 0}, "retry": {"count":
      0, "interval": 300}, "min_location_failed": 1, "min_failure_duration": 0, "tick_every":
      604800}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/[...]
[...]
{"request": {"host": "example.org"},
      "assertions": [{"operator": "is", "property": "A", "type": "recordSome", "target":
      "0.0.0.0"}]}, "options": {"monitor_options": {"renotify_interval": 0}, "tick_every":
      900, "min_location_failed": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/vs8-p5s-tpq
  response:
    body:
      string: '{"status": "live", "public_id": "vs8-p5s-tpq", "tags": ["foo:bar",
        "foo", "env:test"], "org_id": 1000044987, "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty+ updated", "deleted_at": null, "name": "DNS
        Test", "monitor_id": 1571832, "type": "api", "created_at": "2021-07-20T18:54:28.813755+00:00",
        "modified_at": "2021-07-20T18:54:31.986211+00:00", "subtype": "dns", "config":
        [...]
{"request": {"host": "example.org",
      "port": 443}, "assertions": [{"operator": "isInMoreThan", "type": "certificate",
      "target": 30}]}, "options": {"monitor_options": {"renotify_interval": 0}, "min_location_failed":
      1, "accept_self_signed": true, "tick_every": 900}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/m7h-3r4-pkx
  response:
    body:
      string: '{"status": "live", "public_id": "m7h-3r4-pkx", "tags": ["foo:bar",
        "foo", "env:test"], "org_id": 1000044987, "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty+ updated", "deleted_at": null, "name": "SSL
        Test", "monitor_id": 1571833, "type": "api", "created_at": "2021-07-20T18:54:29.249301+00:00",
        "modified_at": "2021-07-20T18:54:32.433523+00:00", "subtype": "ssl", "config":
        [...]
{"request": {"host": "example.org",
      "port": 443}, "assertions": [{"operator": "lessThan", "type": "responseTime",
      "target": 2000}]}, "options": {"monitor_options": {"renotify_interval": 0},
      "tick_every": 900, "min_location_failed": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/fyp-52a-fyx
  response:
    body:
      string: '{"status": "live", "public_id": "fyp-52a-fyx", "tags": ["foo:bar",
        "foo", "env:test"], "org_id": 1000044987, "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty+ updated", "deleted_at": null, "name": "TCP
        Test", "monitor_id": 1571834, "type": "api", "created_at": "2021-07-20T18:54:29.981769+00:00",
        "modified_at": "2021-07-20T18:54:33.155395+00:00", "subtype": "tcp", "config":
        [...]
{"request": {"host": "example.org"},
      "assertions": [{"operator": "is", "property": "A", "type": "recordSome", "target":
      "0.0.0.0"}]}, "options": {"monitor_options": {"renotify_interval": 0}, "tick_every":
      900, "min_location_failed": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/h6h-eaw-xip
  response:
    body:
      string: '{"status": "live", "public_id": "h6h-eaw-xip", "tags": ["foo:bar",
        "foo", "env:test"], "org_id": 1000044987, "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty+ updated", "deleted_at": null, "name": "DNS
        Test", "monitor_id": 1571841, "type": "api", "created_at": "2021-07-20T18:55:54.910895+00:00",
        "modified_at": "2021-07-20T18:56:03.888475+00:00", "subtype": "dns", "config":
        [...]
{"request": {"host": "example.org",
      "port": 443}, "assertions": [{"operator": "isInMoreThan", "type": "certificate",
      "target": 30}]}, "options": {"monitor_options": {"renotify_interval": 0}, "min_location_failed":
      1, "accept_self_signed": true, "tick_every": 900}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/fm9-wsz-ten
  response:
    body:
      string: '{"status": "live", "public_id": "fm9-wsz-ten", "tags": ["foo:bar",
        "foo", "env:test"], "org_id": 1000044987, "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty+ updated", "deleted_at": null, "name": "SSL
        Test", "monitor_id": 1571842, "type": "api", "created_at": "2021-07-20T18:55:56.068592+00:00",
        "modified_at": "2021-07-20T18:56:04.586824+00:00", "subtype": "ssl", "config":
        [...]
{"request": {"host": "example.org",
      "port": 443}, "assertions": [{"operator": "lessThan", "type": "responseTime",
      "target": 2000}]}, "options": {"monitor_options": {"renotify_interval": 0},
      "tick_every": 900, "min_location_failed": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/hed-y8x-v2v
  response:
    body:
      string: '{"status": "live", "public_id": "hed-y8x-v2v", "tags": ["foo:bar",
        "foo", "env:test"], "org_id": 1000044987, "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty+ updated", "deleted_at": null, "name": "TCP
        Test", "monitor_id": 1571843, "type": "api", "created_at": "2021-07-20T18:55:57.459139+00:00",
        "modified_at": "2021-07-20T18:56:06.176286+00:00", "subtype": "tcp", "config":
        [...]
{"request": {"host": "example.org"},
      "assertions": [{"operator": "is", "property": "A", "type": "recordSome", "target":
      "0.0.0.0"}]}, "options": {"monitor_options": {"renotify_interval": 0}, "tick_every":
      900, "min_location_failed": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/mue-4eh-ims
  response:
    body:
      string: '{"status": "live", "public_id": "mue-4eh-ims", "tags": ["foo:bar",
        "foo", "env:test"], "org_id": 1000044987, "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty+ updated", "deleted_at": null, "name": "DNS
        Test", "monitor_id": 1571883, "type": "api", "created_at": "2021-07-20T18:58:37.450402+00:00",
        "modified_at": "2021-07-20T18:58:40.797413+00:00", "subtype": "dns", "config":
        [...]
{"request": {"host": "example.org",
      "port": 443}, "assertions": [{"operator": "isInMoreThan", "type": "certificate",
      "target": 30}]}, "options": {"monitor_options": {"renotify_interval": 0}, "min_location_failed":
      1, "accept_self_signed": true, "tick_every": 900}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/kec-gmt-cpm
  response:
    body:
      string: '{"status": "live", "public_id": "kec-gmt-cpm", "tags": ["foo:bar",
        "foo", "env:test"], "org_id": 1000044987, "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty+ updated", "deleted_at": null, "name": "SSL
        Test", "monitor_id": 1571884, "type": "api", "created_at": "2021-07-20T18:58:37.899787+00:00",
        "modified_at": "2021-07-20T18:58:41.217121+00:00", "subtype": "ssl", "config":
        [...]
{"request": {"host": "example.org",
      "port": 443}, "assertions": [{"operator": "lessThan", "type": "responseTime",
      "target": 2000}]}, "options": {"monitor_options": {"renotify_interval": 0},
      "tick_every": 900, "min_location_failed": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/ve3-tx6-xt6
  response:
    body:
      string: '{"status": "live", "public_id": "ve3-tx6-xt6", "tags": ["foo:bar",
        "foo", "env:test"], "org_id": 1000044987, "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty+ updated", "deleted_at": null, "name": "TCP
        Test", "monitor_id": 1571885, "type": "api", "created_at": "2021-07-20T18:58:38.611979+00:00",
        "modified_at": "2021-07-20T18:58:42.380172+00:00", "subtype": "tcp", "config":
        {"request": {"host": "example.org", "port": 443}, "assertions": [{"operator":
        "lessThan", "type": "responseTime", "target": 2000}]}, "options": {"monitor_options":
        {"notify_audit": false, "locked": false, "include_tags": true, "new_host_delay":
        300, "notify_no_data": false, "renotify_interval": 0}, "tick_every": 900,
        "min_location_failed": 1}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '496'
      x-ratelimit-reset:
      - '18'
    status:
      code: 200
      message: OK
version: 1
