interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/tests
  response:
    body:
      string: '{"tests": [{"status": "paused", "public_id": "w7p-ux5-hhc", "tags":
        [], "locations": ["aws:ca-central-1"], "message": "Test synthetics ", "name":
        "HTTP Test", "monitor_id": 36553487, "type": "api", "created_at": "2021-06-03T13:00:40.415788+00:00",
        "modified_at": "2021-06-17T12:44:13.132034+00:00", "subtype": "http", "config":
        {"request": {"url": "https://google.com", "method": "GET"}, "assertions":
        [{"operator": "lessThan", "type": "responseTime", "target": 1000}, {"operator":
        "is", "type": "statusCode", "target": 301}, {"operator": "is", "property":
        "content-type", "type": "header", "target": "text/html; charset=UTF-8"}]},
        "options": {"retry": {"count": 1, "interval": 300}, "min_location_failed":
        1, "monitor_options": {"renotify_interval": 120}, "min_failure_duration":
        120, "monitor_priority": 3, "tick_every": 604800}}, {"status": "live", "public_id":
        "32u-qxh-q25", "tags": ["foo:bar", "foo", "env:test"], "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty", "name": "DNS Test", "monitor_id": 37286153,
        "type": "api", "created_at": "2021-06-08T18:26:23.566301+00:00", "modified_at":
        "2021-06-17T12:43:57.911371+00:00", "subtype": "dns", "config": {"request":
        {"host": "example.org"}, "assertions": [{"operator": "is", "property": "A",
        "type": "recordSome", "target": "0.0.0.0"}]}, "options": {"monitor_options":
        {"renotify_interval": 0}, "tick_every": 900, "min_location_failed": 1}}, {"status":
        "live", "public_id": "huy-hyp-3un", "tags": ["foo:bar", "foo", "env:test"],
        "locations": ["aws:eu-central-1"], "message": "Notify @pagerduty", "name":
        "SSL Test", "monitor_id": 37286154, "type": "api", "created_at": "2021-06-08T18:26:23.589710+00:00",
        "modified_at": "2021-06-17T12:44:41.488230+00:00", "subtype": "ssl", "config":
        {"request": {"host": "example.org", "port": 443}, "assertions": [{"operator":
        "isInMoreThan", "type": "certificate", "target": 30}]}, "options": {"monitor_options":
        {"renotify_interval": 0}, "min_location_failed": 1, "accept_self_signed":
        true, "tick_every": 900}}, {"status": "live", "public_id": "qvh-qtk-xuv",
        "tags": ["foo:bar", "foo", "env:test"], "locations": ["pl:test-private-variable-b66e383ccf2ec6911eb962a9c2577451",
        "aws:eu-central-1"], "message": "Notify @pagerduty", "name": "HTTP Test -
        example", "monitor_id": 37286152, "type": "api", "created_at": "2021-06-08T18:26:23.610381+00:00",
        "modified_at": "2021-07-13T21:36:49.377880+00:00", "subtype": "http", "config":
        {"request": {"url": "https://www.example.org", "headers": {"Authentication":
        "Token: 1234566789", "Content-Type": "application/json"}, "method": "GET"},
        "assertions": [{"operator": "is", "type": "statusCode", "target": 200}]},
        "options": {"monitor_options": {"renotify_interval": 100}, "retry": {"count":
        2, "interval": 300}, "tick_every": 900, "min_location_failed": 1}}, {"status":
        "live", "public_id": "5ps-pjw-wzm", "tags": ["foo:bar", "foo", "env:test"],
        "locations": ["aws:eu-central-1"], "message": "Notify @pagerduty", "name":
        "TCP Test", "monitor_id": 37286155, "type": "api", "created_at": "2021-06-08T18:26:23.666527+00:00",
        "modified_at": "2021-06-17T12:43:36.851871+00:00", "subtype": "tcp", "config":
        {"request": {"host": "example.org", "port": 443}, "assertions": [{"operator":
        "lessThan", "type": "responseTime", "target": 2000}]}, "options": {"monitor_options":
        {"renotify_interval": 0}, "tick_every": 900, "min_location_failed": 1}}, {"status":
        "paused", "public_id": "77e-s82-v5e", "tags": [], "locations": ["aws:us-west-1"],
        "message": "", "name": "Browser Test", "monitor_id": 37452297, "type": "browser",
        "created_at": "2021-06-09T20:08:55.284701+00:00", "modified_at": "2021-06-17T12:44:27.339886+00:00",
        "config": {"variables": [], "setCookie": "", "request": {"url": "https://docs.datadoghq.com",
        "headers": {}, "method": "GET"}, "assertions": [], "configVariables": []},
        "options": {"retry": {"count": 0, "interval": 300}, "min_location_failed":
        1, "min_failure_duration": 0, "noScreenshot": false, "tick_every": 604800,
        "forwardProxy": false, "disableCors": false, "device_ids": ["chrome.laptop_large",
        "firefox.laptop_large", "chrome.tablet", "chrome.mobile_small", "firefox.mobile_small",
        "firefox.tablet"], "monitor_options": {"renotify_interval": 0}, "ignoreServerCertificateError":
        false}}, {"status": "live", "public_id": "zsv-2sg-2nc", "tags": ["check_type:api",
        "env:test", "test:update"], "locations": ["aws:sa-east-1"], "message": "",
        "name": "Multistep API Test", "monitor_id": 38221242, "type": "api", "created_at":
        "2021-06-14T15:13:59.438951+00:00", "modified_at": "2021-06-30T11:49:05.165007+00:00",
        "subtype": "multi", "config": {"steps": [{"retry": {"count": 0, "interval":
        300}, "name": "Test on datadoghq.com", "request": {"url": "https://datadoghq.com",
        "headers": {"content-type": "text/html"}, "method": "GET"}, "subtype": "http",
        "allowFailure": false, "extractedValues": [], "isCritical": true, "id": "vek-567-n38",
        "assertions": [{"operator": "lessThan", "type": "responseTime", "target":
        1000}, {"operator": "is", "type": "statusCode", "target": 301}]}], "configVariables":
        []}, "options": {"monitor_options": {"renotify_interval": 0}, "retry": {"count":
        0, "interval": 300}, "min_location_failed": 1, "min_failure_duration": 0,
        "tick_every": 604800}}]}'
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '117'
      x-ratelimit-reset:
      - '8'
    status:
      code: 200
      message: OK
version: 1
