interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.diffs.start", "type": 0, "points": [{"timestamp": 1730818161,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.diffs.start", "type": 0, "points": [{"timestamp": 1730818161,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"name": "Test on www.datadoghq.com", "status": "live", "type": "api",
      "subtype": "http", "tags": ["managed_by:datadog-sync"], "config": {"assertions":
      [{"operator": "lessThan", "type": "responseTime", "target": 1000}], "request":
      {"method": "GET", "url": "https://www.datadoghq.com"}}, "message": "updated",
      "options": {"httpVersion": "any", "min_failure_duration": 0, "min_location_failed":
      1, "monitor_options": {"notification_preset_name": "show_all"}, "tick_every":
      60}, "locations": ["aws:af-south-1", "aws:ap-east-1", "aws:ap-northeast-1",
      "aws:ap-northeast-2", "aws:ap-northeast-3", "aws:ap-south-1", "aws:ap-southeast-1",
      "aws:ap-southeast-2", "aws:ap-southeast-3", "aws:ca-central-1", "aws:eu-central-1",
      "aws:eu-north-1", "aws:eu-south-1", "aws:eu-west-1", "aws:eu-west-2", "aws:eu-west-3",
      "aws:me-south-1", "aws:sa-east-1", "aws:us-east-1", "aws:us-east-2", "aws:us-west-1",
      "aws:us-west-2", "azure:eastus", "gcp:asia-northeast1", "gcp:europe-west3",
      "gcp:us-east4", "gcp:us-south1", "gcp:us-west1", "gcp:us-west2"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://us5.datadoghq.com/api/v1/synthetics/tests/n92-vja-z4t
  response:
    body:
      string: '{"org_id": 1300336245, "public_id": "n92-vja-z4t", "name": "Test on
        www.datadoghq.com", "status": "live", "type": "api", "tags": ["managed_by:datadog-sync"],
        "message": "updated", "options": {"httpVersion": "any", "min_failure_duration":
        0, "min_location_failed": 1, "monitor_options": {"notification_preset_name":
        "show_all"}, "tick_every": 60}, "locations": ["aws:af-south-1", "aws:ap-east-1",
        "aws:ap-northeast-1", "aws:ap-northeast-2", "aws:ap-northeast-3", "aws:ap-south-1",
        "aws:ap-southeast-1", "aws:ap-southeast-2", "aws:ap-southeast-3", "aws:ca-central-1",
        "aws:eu-central-1", "aws:eu-north-1", "aws:eu-south-1", "aws:eu-west-1", "aws:eu-west-2",
        "aws:eu-west-3", "aws:me-south-1", "aws:sa-east-1", "aws:us-east-1", "aws:us-east-2",
        "aws:us-west-1", "aws:us-west-2", "azure:eastus", "gcp:asia-northeast1", "gcp:europe-west3",
        "gcp:us-east4", "gcp:us-south1", "gcp:us-west1", "gcp:us-west2"], "created_at":
        "2024-11-05T14:49:21.402318+00:00", "modified_at": "2024-11-05T14:49:23.350843+00:00",
        "config": {"assertions": [{"operator": "lessThan", "type": "responseTime",
        "target": 1000}], "request": {"method": "GET", "url": "https://www.datadoghq.com"}},
        "overall_state_modified": "2024-11-05T14:49:23.409610+00:00", "subtype": "http",
        "monitor_id": 1159408, "created_by": {"name": "Michael Richey", "handle":
        "michael.richey@datadoghq.com", "email": "michael.richey@datadoghq.com"},
        "modified_by": {"name": "Michael Richey", "handle": "michael.richey@datadoghq.com",
        "email": "michael.richey@datadoghq.com"}, "overall_state": 2}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.diffs.start", "type": 0, "points": [{"timestamp": 1730818161,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
version: 1
