interactions:
- request:
    body: '{"status": "paused", "tags": [], "locations": ["aws:ca-central-1"], "message":
      "Test synthetics + updated", "name": "HTTP Test", "type": "api", "subtype":
      "http", "config": {"request": {"url": "https://google.com", "method": "GET"},
      "assertions": [{"operator": "lessThan", "type": "responseTime", "target": 1000},
      {"operator": "is", "type": "statusCode", "target": 301}, {"operator": "is",
      "property": "content-type", "type": "header", "target": "text/html; charset=UTF-8"}]},
      "options": {"retry": {"count": 1, "interval": 300}, "min_location_failed": 1,
      "monitor_options": {"renotify_interval": 120}, "min_failure_duration": 120,
      "monitor_priority": 3, "tick_every": 604800}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/hid-e6v-qab
  response:
    body:
      string: '{"status": "paused", "public_id": "hid-e6v-qab", "tags": [], "org_id":
        1000044987, "locations": ["aws:ca-central-1"], "message": "Test synthetics
        + updated", "deleted_at": null, "name": "HTTP Test", "monitor_id": 1643393,
        "type": "api", "created_at": "2021-07-26T13:25:28.096373+00:00", "modified_at":
        "2021-07-26T13:25:32.598244+00:00", "subtype": "http", "config": {"request":
        {"url": "https://google.com", "method": "GET"}, "assertions": [{"operator":
        "lessThan", "type": "responseTime", "target": 1000}, {"operator": "is", "type":
        "statusCode", "target": 301}, {"operator": "is", "property": "content-type",
        "type": "header", "target": "text/html; charset=UTF-8"}]}, "options": {"retry":
        {"count": 1, "interval": 300}, "min_location_failed": 1, "monitor_options":
        {"notify_audit": false, "locked": false, "include_tags": true, "new_host_delay":
        300, "notify_no_data": false, "renotify_interval": 120}, "tick_every": 604800,
        "monitor_priority": 3, "min_failure_duration": 120}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '28'
    status:
      code: 200
      message: OK
[...]
{"request": {"host": "example.org"},
      "assertions": [{"operator": "is", "property": "A", "type": "recordSome", "target":
      "0.0.0.0"}]}, "options": {"monitor_options": {"renotify_interval": 0}, "tick_every":
      900, "min_location_failed": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/m5w-xgr-mj6
  response:
    body:
      string: '{"status": "live", "public_id": "m5w-xgr-mj6", "tags": ["foo:bar",
        "foo", "env:test"], "org_id": 1000044987, "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty+ updated", "deleted_at": null, "name": "DNS
        Test", "monitor_id": 1643394, "type": "api", "created_at": "2021-07-26T13:25:28.393069+00:00",
        "modified_at": "2021-07-26T13:25:33.380339+00:00", "subtype": "dns", "config":
        [...]
{"request": {"host": "example.org",
      "port": 443}, "assertions": [{"operator": "isInMoreThan", "type": "certificate",
      "target": 30}]}, "options": {"monitor_options": {"renotify_interval": 0}, "min_location_failed":
      1, "accept_self_signed": true, "tick_every": 900}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/teh-vxu-adi
  response:
    body:
      string: '{"status": "live", "public_id": "teh-vxu-adi", "tags": ["foo:bar",
        "foo", "env:test"], "org_id": 1000044987, "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty+ updated", "deleted_at": null, "name": "SSL
        Test", "monitor_id": 1643395, "type": "api", "created_at": "2021-07-26T13:25:28.731129+00:00",
        "modified_at": "2021-07-26T13:25:35.242520+00:00", "subtype": "ssl", "config":
        [...]
{"request": {"host": "example.org",
      "port": 443}, "assertions": [{"operator": "lessThan", "type": "responseTime",
      "target": 2000}]}, "options": {"monitor_options": {"renotify_interval": 0},
      "tick_every": 900, "min_location_failed": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/a72-xae-cd6
  response:
    body:
      string: '{"status": "live", "public_id": "a72-xae-cd6", "tags": ["foo:bar",
        "foo", "env:test"], "org_id": 1000044987, "locations": ["aws:eu-central-1"],
        "message": "Notify @pagerduty+ updated", "deleted_at": null, "name": "TCP
        Test", "monitor_id": 1643396, "type": "api", "created_at": "2021-07-26T13:25:29.636319+00:00",
        "modified_at": "2021-07-26T13:25:35.847247+00:00", "subtype": "tcp", "config":
        [...]
- request:
    body: '{"status": "paused", "tags": [], "locations": ["aws:us-west-1"], "message":
      "+ updated", "name": "Browser Test", "type": "browser", "config": {"variables":
      [], "setCookie": "", "request": {"url": "https://docs.datadoghq.com", "headers":
      {}, "method": "GET"}, "assertions": [], "configVariables": []}, "options": {"retry":
      {"count": 0, "interval": 300}, "min_location_failed": 1, "min_failure_duration":
      0, "noScreenshot": false, "tick_every": 604800, "forwardProxy": false, "disableCors":
      false, "device_ids": ["chrome.laptop_large", "firefox.laptop_large", "chrome.tablet",
      "chrome.mobile_small", "firefox.mobile_small", "firefox.tablet"], "monitor_options":
      {"renotify_interval": 0}, "ignoreServerCertificateError": false}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/9rs-run-9bz
  response:
    body:
      string: '{"status": "paused", "public_id": "9rs-run-9bz", "tags": [], "org_id":
        1000044987, "locations": ["aws:us-west-1"], "message": "+ updated", "deleted_at":
        null, "name": "Browser Test", "monitor_id": 1643397, "type": "browser", "created_at":
        "2021-07-26T13:25:30.668317+00:00", "modified_[...]
- request:
    body: '{"status": "live", "tags": ["check_type:api", "env:test", "test:update"],
      "locations": ["aws:sa-east-1"], "message": "+ updated", "name": "Multistep API
      Test", "type": "api", "subtype": "multi", "config": {"steps": [{"retry": {"count":
      0, "interval": 300}, "name": "Test on datadoghq.com", "request": {"url": "https://datadoghq.com",
      "headers": {"content-type": "text/html"}, "method": "GET"}, "subtype": "http",
      "allowFailure": false, "extractedValues": [], "isCritical": true, "id": "vek-567-n38",
      "assertions": [{"operator": "lessThan", "type": "responseTime", "target": 1000},
      {"operator": "is", "type": "statusCode", "target": 301}]}], "configVariables":
      []}, "options": {"monitor_options": {"renotify_interval": 0}, "retry": {"count":
      0, "interval": 300}, "min_location_failed": 1, "min_failure_duration": 0, "tick_every":
      604800}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/[...]
