interactions:
- request:
    body: '{"public_ids": ["i6i-ms4-j2c"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/delete
  response:
    body:
      string: '{"deleted_tests": [{"public_id": "i6i-ms4-j2c", "deleted_at": "2024-02-01T20:14:03.258516+00:00"}]}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"public_ids": ["yzf-8i8-pu7"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/tests/delete
  response:
    body:
      string: '{"deleted_tests": [{"public_id": "yzf-8i8-pu7", "deleted_at": "2024-02-01T20:14:05.051958+00:00"}]}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
