interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"parse_test_options": null, "parse_test_extracted_at":
        null, "description": "test", "tags": ["check_type:api"], "created_at": "2021-07-30T14:36:41.583900+00:00",
        "is_totp": null, "modified_at": "2021-07-30T14:36:41.583900+00:00", "value":
        {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "created_by": "Frog", "type": "variable", "id":
        "4792546d-ddf8-406c-8bb2-ba464ff174dd", "name": "TEST_VARIABLE"}, {"parse_test_options":
        null, "parse_test_extracted_at": null, "description": "Description of the
        variable", "tags": ["foo:bar", "env:test"], "created_at": "2021-07-30T14:36:41.992892+00:00",
        "is_totp": null, "modified_at": "2021-07-30T14:36:41.992892+00:00", "value":
        {"secure": false, "value": "variable-value"}, "parse_test_public_id": null,
        "parse_test_name": null, "created_by": "Frog", "type": "variable", "id": "623cce1b-505b-4c5a-86b7-1082f2ea4bb3",
        "name": "EXAMPLE_VARIABLE"}, {"parse_test_options": null, "parse_test_extracted_at":
        null, "description": "test", "tags": [], "created_at": "2021-07-30T14:36:42.294769+00:00",
        "is_totp": null, "modified_at": "2021-07-30T14:36:42.294769+00:00", "value":
        {"secure": false, "value": "test"}, "parse_test_public_id": null, "parse_test_name":
        null, "created_by": "Frog", "type": "variable", "id": "a4e9b399-9ba6-4668-be8d-3fdbad66a859",
        "name": "TEST"}]}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11997'
      x-ratelimit-reset:
      - '18'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "testUpdated", "tags": ["check_type:api"], "value": {"secure":
      false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "type": "variable",
      "name": "TEST_VARIABLE"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/4792546d-ddf8-406c-8bb2-ba464ff174dd
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "testUpdated", "tags": ["check_type:api"], "is_totp": null, "value": {"secure":
        false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "type": "variable", "id": "4792546d-ddf8-406c-8bb2-ba464ff174dd",
        "name": "TEST_VARIABLE"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '17'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "testUpdated", "tags": [], "value": {"secure": false, "value":
      "test"}, "type": "variable", "name": "TEST"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/a4e9b399-9ba6-4668-be8d-3fdbad66a859
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "testUpdated", "tags": [], "is_totp": null, "value": {"secure": false, "value":
        "test"}, "parse_test_public_id": null, "parse_test_name": null, "type": "variable",
        "id": "a4e9b399-9ba6-4668-be8d-3fdbad66a859", "name": "TEST"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11997'
      x-ratelimit-reset:
      - '17'
    status:
      code: 200
      message: OK
version: 1
