interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"parse_test_options": {"field": "alt-svc", "parser":
        {"type": "regex", "value": "h3=\"(.*)\";"}, "type": "http_header"}, "parse_test_extracted_at":
        null, "description": "", "tags": [], "created_at": "2021-07-30T22:46:01.801297+00:00",
        "is_totp": null, "modified_at": "2021-07-30T23:15:23.943745+00:00", "value":
        {"secure": false, "value": ""}, "parse_test_public_id": "v3p-tbq-mza", "parse_test_name":
        "HTTP Test", "created_by": "Frog", "attributes": {"role_uuids": []}, "type":
        "variable", "id": "12156dae-442b-49b2-b042-8dceb7be8fa3", "name": "TEST_FROM_HTTP"},
        {"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "test", "tags": ["check_type:api"], "created_at": "2021-07-30T22:46:01.233809+00:00",
        "is_totp": null, "modified_at": "2021-07-30T22:46:01.233809+00:00", "value":
        {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "created_by": "Frog", "type": "variable", "id":
        "3e6390c2-7b58-4f02-8[...]
- request:
    body: '{"description": "testUpdated", "tags": ["check_type:api"], "value": {"secure":
      false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "type": "variable",
      "name": "TEST_VARIABLE"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/3e6390c2-7b58-4f02-8265-f9846c04db9c
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "testUpdated", "tags": ["check_type:api"], "is_totp": null, "value": {"secure":
        false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "type": "variable", "id": "3e6390c2-7b58-4f02-8265-f9846c04db9c",
        "name": "TEST_VARIABLE"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11998'
      x-ratelimit-reset:
      - '6'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "testUpdated", "tags": [], "value": {"secure": false, "value":
      "test"}, "type": "variable", "name": "TEST"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/d70c2af4-3fcd-480f-a296-0d1fe97189bd
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "testUpdated", "tags": [], "is_totp": null, "value": {"secure": false, "value":
        "test"}, "parse_test_public_id": null, "parse_test_name": null, "type": "variable",
        "id": "d70c2af4-3fcd-480f-a296-0d1fe97189bd", "name": "TEST"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11996'
      x-ratelimit-reset:
      - '6'
    status:
      code: 200
      message: OK
version: 1
