interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": []}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '49'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "test", "tags": ["check_type:api"], "name": "TEST_VARIABLE",
      "value": {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"},
      "type": "variable"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "test", "tags": ["check_type:api"], "last_error": null, "is_totp": null, "value":
        {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "type": "variable", "id": "462a7ad7-d7f3-4968-b341-756d051c9c4b",
        "name": "TEST_VARIABLE"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '49'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "", "tags": [], "name": "TEST_SECRETS", "value": {"secure":
      true, "value": "SECRET"}, "type": "variable"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "", "tags": [], "last_error": null, "is_totp": null, "value": {"secure": true},
        "parse_test_public_id": null, "parse_test_name": null, "type": "variable",
        "id": "2d7fb76f-ef9e-4e3c-8d0c-b7dbc94e1d02", "name": "TEST_SECRETS"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11996'
      x-ratelimit-reset:
      - '48'
    status:
      code: 200
      message: OK
version: 1
