interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"parse_test_extracted_at": null, "description": "test",
        "tags": ["check_type:api"], "last_error": null, "parse_test_public_id": null,
        "is_totp": null, "id": "7478e601-cbe3-4a7d-babf-d48702b6b833", "parse_test_options":
        null, "name": "TEST_VARIABLE", "created_at": "2021-06-03T18:18:16.703730+00:00",
        "creator": {"handle": "sherzod.karimov@datadoghq.com", "email": "sherzod.karimov@datadoghq.com",
        "name": "Sherzod Karimov"}, "modified_at": "2021-06-03T18:36:04.287393+00:00",
        "value": {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"},
        "parse_test_name": null, "type": "variable"}, {"parse_test_extracted_at":
        null, "description": "Description of the variable", "tags": ["foo:bar", "env:test"],
        "last_error": null, "parse_test_public_id": null, "is_totp": null, "id": "7dfd62d2-e1bf-466d-b47b-f337d4a82877",
        "parse_test_options": null, "name": "EXAMPLE_VARIABLE", "created_at": "2021-06-08T18:26:23.679434+00:00",
        "creator": {"handle": "sherzod.karimov@datadoghq.com", "email": "sherzod.karimov@datadoghq.com",
        "name": "Sherzod [...]
