interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"parse_test_options": null, "parse_test_extracted_at":
        null, "description": "test", "tags": [], "created_at": "2021-08-03T14:16:51.598336+00:00",
        "is_totp": null, "modified_at": "2021-08-03T14:16:51.598336+00:00", "value":
        {"secure": false, "value": "test"}, "parse_test_public_id": null, "parse_test_name":
        null, "created_by": "Frog", "type": "variable", "id": "92ebe280-06a3-4285-b006-87312ce32389",
        "name": "TEST"}, {"parse_test_options": null, "parse_test_extracted_at": null,
        "description": "Description of the variable", "tags": ["foo:bar", "env:test"],
        "created_at": "2021-08-03T14:16:51.185967+00:00", "is_totp": null, "modified_at":
        "2021-08-03T14:16:51.185967+00:00", "value": {"secure": false, "value": "variable-value"},
        "parse_test_public_id": null, "parse_test_name": null, "created_by": "Frog",
        "type": "variable", "id": "b72825e3-8b39-479f-ad36-a28b5f2826ba", "name":
        "EXAMPLE_VARIABLE"}, {"parse_test_options": null, "parse_test_extracted_at":
        null, "description": "test", "tags": ["check_type:api"], "created_at": "2021-08-03T14:16:50.766693+00:00",
        "is_totp": null, "modified_at": "2021-08-03T14:16:50.766693+00:00", "value":
        {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "created_by": "Frog", "type": "variable", "id":
        "f76d7513-a278-41c5-bb81-ccbcef33250f", "name": "TEST_VARIABLE"}]}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11998'
      x-ratelimit-reset:
      - '9'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "testUpdated", "tags": ["check_type:api"], "value": {"secure":
      false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "type": "variable",
      "name": "TEST_VARIABLE"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/f76d7513-a278-41c5-bb81-ccbcef33250f
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "testUpdated", "tags": ["check_type:api"], "is_totp": null, "value": {"secure":
        false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "type": "variable", "id": "f76d7513-a278-41c5-bb81-ccbcef33250f",
        "name": "TEST_VARIABLE"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '8'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "testUpdated", "tags": [], "value": {"secure": false, "value":
      "test"}, "type": "variable", "name": "TEST"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/92ebe280-06a3-4285-b006-87312ce32389
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "testUpdated", "tags": [], "is_totp": null, "value": {"secure": false, "value":
        "test"}, "parse_test_public_id": null, "parse_test_name": null, "type": "variable",
        "id": "92ebe280-06a3-4285-b006-87312ce32389", "name": "TEST"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11997'
      x-ratelimit-reset:
      - '8'
    status:
      code: 200
      message: OK
version: 1
