interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"parse_test_options": null, "parse_test_extracted_at":
        null, "description": "Description of the variable", "tags": ["foo:bar", "env:test"],
        "created_at": "2021-07-30T15:20:48.894570+00:00", "is_totp": null, "modified_at":
        "2021-07-30T15:20:48.894570+00:00", "value": {"secure": false, "value": "variable-value"},
        "parse_test_public_id": null, "parse_test_name": null, "created_by": "Frog",
        "type": "variable", "id": "9a0dedf1-9a39-4193-aa80-364d70148448", "name":
        "EXAMPLE_VARIABLE"}, {"parse_test_options": null, "parse_test_extracted_at":
        null, "description": "test", "tags": [], "created_at": "2021-07-30T15:20:49.219968+00:00",
        "is_totp": null, "modified_at": "2021-07-30T15:20:49.219968+00:00", "value":
        {"secure": false, "value": "test"}, "parse_test_public_id": null, "parse_test_name":
        null, "created_by": "Frog", "type": "variable", "id": "c602a81d-92dc-497d-b105-d5cfbe172670",
        "name": "TEST"}, {"parse_test_options": null, "parse_test_extracted_at": null,
        "description": "test", "tags": ["check_type:api"], "created_at": "2021-07-30T15:20:48.579417+00:00",
        "is_totp": null, "modified_at": "2021-07-30T15:20:48.579417+00:00", "value":
        {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "created_by": "Frog", "type": "variable", "id":
        "dee6b949-8b33-4952-8d4b-681585516563", "name": "TEST_VARIABLE"}]}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11998'
      x-ratelimit-reset:
      - '11'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "testUpdated", "tags": ["check_type:api"], "value": {"secure":
      false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "type": "variable",
      "name": "TEST_VARIABLE"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/dee6b949-8b33-4952-8d4b-681585516563
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "testUpdated", "tags": ["check_type:api"], "is_totp": null, "value": {"secure":
        false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "type": "variable", "id": "dee6b949-8b33-4952-8d4b-681585516563",
        "name": "TEST_VARIABLE"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '11'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "testUpdated", "tags": [], "value": {"secure": false, "value":
      "test"}, "type": "variable", "name": "TEST"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/c602a81d-92dc-497d-b105-d5cfbe172670
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "testUpdated", "tags": [], "is_totp": null, "value": {"secure": false, "value":
        "test"}, "parse_test_public_id": null, "parse_test_name": null, "type": "variable",
        "id": "c602a81d-92dc-497d-b105-d5cfbe172670", "name": "TEST"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11997'
      x-ratelimit-reset:
      - '9'
    status:
      code: 200
      message: OK
version: 1
