interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"parse_test_extracted_at": null, "description": "a
        global variable", "tags": ["foo:bar", "baz"], "last_error": null, "parse_test_public_id":
        null, "is_totp": null, "id": "2707a1e3-3d6f-4d64-be7c-4c84f55f9a0b", "parse_test_options":
        null, "name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1670405007",
        "created_at": "2023-01-04T21:31:52.974513+00:00", "creator": {"handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod.karimov@datadoghq.com", "name": "Sherzod Karimov"}, "modified_at":
        "2023-01-04T21:31:52.974513+00:00", "value": {"secure": false, "value": "variable-value"},
        "parse_test_name": null, "type": "variable"}, {"parse_test_extracted_at":
        null, "description": "a global variable", "tags": ["foo:bar", "baz"], "last_error":
        null, "parse_test_public_id": null, "is_totp": null, "id": "2b5fe19e-1895-4c94-9ac4-79012bf2cdd2",
        "parse_test_options": null, "name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1670404619",
        "created_at": "2023-01-04T21:31:52.438272+00:00", "creator": {"handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod.karimo[...]
- request:
    body: '{"description": "a global variableupdated", "tags": ["foo:bar", "baz"],
      "name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1670404530",
      "value": {"secure": false, "value": "variable-value"}, "type": "variable"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/3417023c-3dfa-48b4-ad0a-0e8dc2367b82
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "a global variableupdated", "tags": ["foo:bar", "baz"], "last_error": null,
        "is_totp": null, "value": {"secure": false, "value": "variable-value"}, "parse_test_public_id":
        null, "parse_test_name": null, "type": "variable", "id": "3417023c-3dfa-48b4-ad0a-0e8dc2367b82",
        "name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1670404530"}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "updated", "tags": [], "name": "TEST_SECRETS", "value":
      {"secure": true}, "type": "variable"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/d8826134-3bae-457e-b527-c80845877791
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "updated", "tags": [], "last_error": null, "is_totp": null, "value": {"secure":
        true}, "parse_test_public_id": null, "parse_test_name": null, "type": "variable",
        "id": "d8826134-3bae-457e-b527-c80845877791", "name": "TEST_SECRETS"}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
