interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": []}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "a global variable", "tags": ["foo:bar", "baz"], "name":
      "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1670404530", "value":
      {"secure": false, "value": "variable-value"}, "type": "variable"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "a global variable", "tags": ["foo:bar", "baz"], "last_error": null, "is_totp":
        null, "value": {"secure": false, "value": "variable-value"}, "parse_test_public_id":
        null, "parse_test_name": null, "type": "variable", "id": "3417023c-3dfa-48b4-ad0a-0e8dc2367b82",
        "name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1670404530"}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "", "tags": [], "name": "TEST_SECRETS", "value": {"secure":
      true, "value": "SECRET"}, "type": "variable"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "", "tags": [], "last_error": null, "is_totp": null, "value": {"secure": true},
        "parse_test_public_id": null, "parse_test_name": null, "type": "variable",
        "id": "d8826134-3bae-457e-b527-c80845877791", "name": "TEST_SECRETS"}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
