interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"id": "8fa26804-2bc1-4192-90ac-154bbe1458b9", "name":
        "TEST", "description": "test", "type": "variable", "tags": ["team:test", "managed_by:datadog-sync"],
        "created_at": "2024-10-31T21:03:36.285101+00:00", "modified_at": "2024-10-31T21:06:32.416694+00:00",
        "last_error": null, "value": {"value": "test", "secure": false, "options":
        {}}, "creator": {"email": "michael.richey@datadoghq.com", "handle": "michael.richey@datadoghq.com",
        "name": "Michael Richey"}, "editor": {"email": "michael.richey@datadoghq.com",
        "handle": "michael.richey@datadoghq.com", "name": "Michael Richey"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "TEST", "description": "testupdated", "type": "variable", "tags":
      ["team:test", "managed_by:datadog-sync"], "value": {"value": "test", "secure":
      false, "options": {}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://us5.datadoghq.com/api/v1/synthetics/variables/8fa26804-2bc1-4192-90ac-154bbe1458b9
  response:
    body:
      string: '{"id": "8fa26804-2bc1-4192-90ac-154bbe1458b9", "name": "TEST", "description":
        "testupdated", "type": "variable", "tags": ["team:test", "managed_by:datadog-sync"],
        "last_error": null, "value": {"value": "test", "secure": false, "options":
        {}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730408792, "value":
      1}], "tags": ["action_sub_type:update", "id:be3fe0f5-63b1-4913-9f09-c147bf6d5e21",
      "action_type:sync", "status:success", "resource_type:synthetics_global_variables",
      "client_type:destination"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730408792, "value":
      1}], "tags": ["action_sub_type:update", "id:be3fe0f5-63b1-4913-9f09-c147bf6d5e21",
      "action_type:sync", "status:success", "resource_type:synthetics_global_variables",
      "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"id": "8fa26804-2bc1-4192-90ac-154bbe1458b9", "name":
        "TEST", "description": "testupdated", "type": "variable", "tags": ["team:test",
        "managed_by:datadog-sync"], "created_at": "2024-10-31T21:03:36.285101+00:00",
        "modified_at": "2024-10-31T21:06:34.007015+00:00", "last_error": null, "value":
        {"value": "test", "secure": false, "options": {}}, "creator": {"email": "michael.richey@datadoghq.com",
        "handle": "michael.richey@datadoghq.com", "name": "Michael Richey"}, "editor":
        {"email": "michael.richey@datadoghq.com", "handle": "michael.richey@datadoghq.com",
        "name": "Michael Richey"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
