interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"parse_test_options": null, "parse_test_extracted_at":
        null, "description": "test", "tags": ["check_type:api"], "created_at": "2021-07-20T18:53:31.511118+00:00",
        "is_totp": null, "modified_at": "2021-07-20T18:53:31.511118+00:00", "value":
        {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "created_by": null, "type": "variable", "id":
        "83811736-c08a-4ba2-83d2-63b6597bf076", "name": "TEST_VARIABLE"}, {"parse_test_options":
        null, "parse_test_extracted_at": null, "description": "test", "tags": [],
        "created_at": "2021-07-20T18:53:33.158613+00:00", "is_totp": null, "modified_at":
        "2021-07-20T18:53:33.158613+00:00", "value": {"secure": false, "value": "test"},
        "parse_test_public_id": null, "parse_test_name": null, "created_by": null,
        "type": "variable", "id": "b34f66d1-3832-476d-962f-fc6b5c6a6da4", "name":
        "TEST"}, {"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "Description of the variable", "tags": ["foo:bar", "env:test"], "created_at":
        "2021-07-20T18:53:32.842283+00:00", "is_totp": null, "modified_at": "2021-07-20T18:53:32.842283+00:00",
        "value": {"secure": false, "value": "variable-value"}, "parse_test_public_id":
        null, "parse_test_name": null, "created_by": null, "type": "variable", "id":
        "bb11ff75-9ffc-4b3b-9306-fcc88e6f225b", "name": "EXAMPLE_VARIABLE"}]}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '118'
      x-ratelimit-reset:
      - '27'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "test+ updated", "tags": ["check_type:api"], "value": {"secure":
      false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "type": "variable",
      "name": "TEST_VARIABLE"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/83811736-c08a-4ba2-83d2-63b6597bf076
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "test+ updated", "tags": ["check_type:api"], "is_totp": null, "value": {"secure":
        false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "type": "variable", "id": "83811736-c08a-4ba2-83d2-63b6597bf076",
        "name": "TEST_VARIABLE"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '27'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "test+ updated", "tags": [], "value": {"secure": false,
      "value": "test"}, "type": "variable", "name": "TEST"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/b34f66d1-3832-476d-962f-fc6b5c6a6da4
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "test+ updated", "tags": [], "is_totp": null, "value": {"secure": false, "value":
        "test"}, "parse_test_public_id": null, "parse_test_name": null, "type": "variable",
        "id": "b34f66d1-3832-476d-962f-fc6b5c6a6da4", "name": "TEST"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '117'
      x-ratelimit-reset:
      - '26'
    status:
      code: 200
      message: OK
version: 1
