interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": []}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1686121345",
      "description": "a global variable", "type": "variable", "tags": ["foo:bar",
      "baz"], "value": {"secure": false, "value": "variable-value"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"id": "d285e476-9bcf-4e38-9170-669fe02f566d", "name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1686121345",
        "description": "a global variable", "type": "variable", "tags": ["foo:bar",
        "baz"], "parse_test_public_id": null, "parse_test_name": null, "parse_test_options":
        null, "parse_test_extracted_at": null, "is_totp": null, "is_fido": null, "last_error":
        null, "value": {"secure": false, "value": "variable-value"}}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "TEST_SECRETS", "description": "", "type": "variable", "tags":
      [], "value": {"secure": true, "value": "SECRET"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"id": "6dd88d26-025e-487b-a4ee-7d89095da053", "name": "TEST_SECRETS",
        "description": "", "type": "variable", "tags": [], "parse_test_public_id":
        null, "parse_test_name": null, "parse_test_options": null, "parse_test_extracted_at":
        null, "is_totp": null, "is_fido": null, "last_error": null, "value": {"secure":
        true}}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
