interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"parse_test_options": null, "parse_test_extracted_at":
        null, "description": "test", "tags": ["check_type:api"], "created_at": "2021-07-26T13:25:21.795004+00:00",
        "is_totp": null, "modified_at": "2021-07-26T13:25:21.795004+00:00", "value":
        {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "created_by": "None+ updated", "type": "variable",
        "id": "39314d96-7d9f-4681-88b1-971bbc14321e", "name": "TEST_VARIABLE"}, {"parse_test_options":
        null, "parse_test_extracted_at": null, "description": "Description of the
        variable", "tags": ["foo:bar", "env:test"], "created_at": "2021-07-26T13:25:22.011365+00:00",
        "is_totp": null, "modified_at": "2021-07-26T13:25:22.011365+00:00", "value":
        {"secure": false, "value": "variable-value"}, "parse_test_public_id": null,
        "parse_test_name": null, "created_by": "None+ updated", "type": "variable",
        "id": "69c8023f-6e5d-4db8-b402-39ed55dc23e2", "name": "EXAMPLE_VARIABLE"},
        {"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "test", "tags": [], "created_at": "2021-07-26T13:25:22.314621+00:00", "is_totp":
        null, "modified_at": "2021-07-26T13:25:22.314621+00:00", "value": {"secure":
        false, "value": "test"}, "parse_test_public_id": null, "parse_test_name":
        null, "created_by": "None+ updated", "type": "variable", "id": "db0b98e9-89c0-4cad-8f48-be39d4910a18",
        "name": "TEST"}]}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '118'
      x-ratelimit-reset:
      - '38'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "test+ updated", "tags": ["check_type:api"], "value": {"secure":
      false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "type": "variable",
      "name": "TEST_VARIABLE"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/39314d96-7d9f-4681-88b1-971bbc14321e
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "test+ updated", "tags": ["check_type:api"], "is_totp": null, "value": {"secure":
        false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "type": "variable", "id": "39314d96-7d9f-4681-88b1-971bbc14321e",
        "name": "TEST_VARIABLE"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '37'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "test+ updated", "tags": [], "value": {"secure": false,
      "value": "test"}, "type": "variable", "name": "TEST"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/db0b98e9-89c0-4cad-8f48-be39d4910a18
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "test+ updated", "tags": [], "is_totp": null, "value": {"secure": false, "value":
        "test"}, "parse_test_public_id": null, "parse_test_name": null, "type": "variable",
        "id": "db0b98e9-89c0-4cad-8f48-be39d4910a18", "name": "TEST"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '117'
      x-ratelimit-reset:
      - '36'
    status:
      code: 200
      message: OK
version: 1
