interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": []}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '24'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "test", "tags": ["check_type:api"], "name": "TEST_VARIABLE",
      "value": {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"},
      "type": "variable"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "test", "tags": ["check_type:api"], "last_error": null, "is_totp": null, "value":
        {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "type": "variable", "id": "b267c3bf-6c26-4283-b856-c694ec76ac3b",
        "name": "TEST_VARIABLE"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '24'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "test", "tags": [], "name": "TEST", "value": {"secure":
      false, "value": "test"}, "type": "variable"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "test", "tags": [], "last_error": null, "is_totp": null, "value": {"secure":
        false, "value": "test"}, "parse_test_public_id": null, "parse_test_name":
        null, "type": "variable", "id": "1e5b4dbc-f91a-4da0-8c0c-023c6f5bf1b3", "name":
        "TEST"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11997'
      x-ratelimit-reset:
      - '23'
    status:
      code: 200
      message: OK
version: 1
