interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": []}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '29'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "test", "tags": ["check_type:api"], "value": {"secure":
      false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "type": "variable",
      "name": "TEST_VARIABLE"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "test", "tags": ["check_type:api"], "is_totp": null, "value": {"secure": false,
        "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "type": "variable", "id": "83811736-c08a-4ba2-83d2-63b6597bf076",
        "name": "TEST_VARIABLE"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '29'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "test", "tags": [], "value": {"secure": false, "value":
      "test"}, "type": "variable", "name": "TEST"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "test", "tags": [], "is_totp": null, "value": {"secure": false, "value": "test"},
        "parse_test_public_id": null, "parse_test_name": null, "type": "variable",
        "id": "b34f66d1-3832-476d-962f-fc6b5c6a6da4", "name": "TEST"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '117'
      x-ratelimit-reset:
      - '27'
    status:
      code: 200
      message: OK
version: 1
