interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"id": "06bf2ade-d3b3-4b8e-b7c7-d1d1ac0a06c6", "name":
        "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1670404656", "description":
        "a global variable", "type": "variable", "tags": ["foo:bar", "baz"], "created_at":
        "2023-12-19T16:26:06.382162+00:00", "modified_at": "2023-12-19T16:26:06.382162+00:00",
        "parse_test_public_id": null, "parse_test_name": null, "parse_test_options":
        null, "parse_test_extracted_at": null, "is_totp": null, "is_fido": null, "last_error":
        null, "value": {"secure": false, "value": "variable-value"}, "creator": {"email":
        "frog@datadoghq.com", "handle": "frog@datadoghq.com", "name": "Frog"}, "editor":
        {"email": "frog@datadoghq.com", "handle": "frog@datadoghq.com", "name": "Frog"}},
        {"id": "19e07157-7eb2-47e6-b2b4-b6102252636b", "name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1670405911",
        "description": "a global variable", "type": "variable", "tags": ["foo:bar",
        "baz"], "created_at": "2023-12-19T16:26:05.658354+00:00", "modified_at": "2023-12-19T16:26:05.658354+00:00",
        "parse_test_public_id": null, "parse_test_name": null, "parse_test_[...]
- request:
    body: '{"name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1686121345",
      "description": "a global variableupdated", "type": "variable", "tags": ["foo:bar",
      "baz"], "value": {"secure": false, "value": "variable-value"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/d285e476-9bcf-4e38-9170-669fe02f566d
  response:
    body:
      string: '{"id": "d285e476-9bcf-4e38-9170-669fe02f566d", "name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1686121345",
        "description": "a global variableupdated", "type": "variable", "tags": ["foo:bar",
        "baz"], "parse_test_public_id": null, "parse_test_name": null, "parse_test_options":
        null, "parse_test_extracted_at": null, "is_totp": null, "is_fido": null, "last_error":
        null, "value": {"secure": false, "value": "variable-value"}}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "TEST_SECRETS", "description": "updated", "type": "variable",
      "tags": [], "value": {"secure": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/6dd88d26-025e-487b-a4ee-7d89095da053
  response:
    body:
      string: '{"id": "6dd88d26-025e-487b-a4ee-7d89095da053", "name": "TEST_SECRETS",
        "description": "updated", "type": "variable", "tags": [], "parse_test_public_id":
        null, "parse_test_name": null, "parse_test_options": null, "parse_test_extracted_at":
        null, "is_totp": null, "is_fido": null, "last_error": null, "value": {"secure":
        true}}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
