interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"id": "0302332a-7ad4-4042-8310-e250998acac9", "name":
        "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1670404656", "description":
        "a global variable", "type": "variable", "tags": ["foo:bar", "baz", "managed_by:datadog-sync"],
        "created_at": "2024-02-01T19:55:11.643198+00:00", "modified_at": "2024-02-01T19:55:11.643198+00:00",
        "parse_test_public_id": null, "parse_test_name": null, "parse_test_options":
        null, "parse_test_extracted_at": null, "is_totp": null, "is_fido": null, "last_error":
        null, "value": {"secure": false, "value": "variable-value"}, "creator": {"email":
        "frog@datadoghq.com", "handle": "c565c834-9e9a-11ee-aa8a-52121f0cd5ec", "name":
        "CI Service Account"}, "editor": {"email": "frog@datadoghq.com", "handle":
        "c565c834-9e9a-11ee-aa8a-52121f0cd5ec", "name": "CI Service Account"}}, {"id":
        "5efe34a0-4307-4aee-a3cf-9f9f6d23b16b", "name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1670405911",
        "description": "a global variable", "type": "variable", "tags": ["foo:bar",
        "baz", "managed_by:datadog-sync"], "created_at": "2024-02-01T19:55:11.004794+00:00",
        "modified_at": "2024-02-01T19:55:11.004794+00:00", "parse_t[...]
- request:
    body: '{"name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1686121345",
      "description": "a global variableupdated", "type": "variable", "tags": ["foo:bar",
      "baz", "managed_by:datadog-sync"], "value": {"secure": false, "value": "variable-value"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/f76069bb-cbac-40d7-88f4-e4f38ada2a09
  response:
    body:
      string: '{"id": "f76069bb-cbac-40d7-88f4-e4f38ada2a09", "name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1686121345",
        "description": "a global variableupdated", "type": "variable", "tags": ["foo:bar",
        "baz", "managed_by:datadog-sync"], "parse_test_public_id": null, "parse_test_name":
        null, "parse_test_options": null, "parse_test_extracted_at": null, "is_totp":
        null, "is_fido": null, "last_error": null, "value": {"secure": false, "value":
        "variable-value"}}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "TEST_SECRETS", "description": "updated", "type": "variable",
      "tags": ["managed_by:datadog-sync"], "value": {"secure": true}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/ef7a983c-b4dd-453d-be09-3c7bc1c6ef48
  response:
    body:
      string: '{"id": "ef7a983c-b4dd-453d-be09-3c7bc1c6ef48", "name": "TEST_SECRETS",
        "description": "updated", "type": "variable", "tags": ["managed_by:datadog-sync"],
        "parse_test_public_id": null, "parse_test_name": null, "parse_test_options":
        null, "parse_test_extracted_at": null, "is_totp": null, "is_fido": null, "last_error":
        null, "value": {"secure": true}}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
