interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"parse_test_extracted_at": null, "description": "a
        global variableupdated", "tags": ["foo:bar", "baz"], "last_error": null, "parse_test_public_id":
        null, "is_totp": null, "id": "2707a1e3-3d6f-4d64-be7c-4c84f55f9a0b", "parse_test_options":
        null, "name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1670405007",
        "created_at": "2023-01-04T21:31:52.974513+00:00", "creator": {"handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod.karimov@datadoghq.com", "name": "Sherzod Karimov"}, "modified_at":
        "2023-01-04T21:31:56.391852+00:00", "value": {"secure": false, "value": "variable-value"},
        "parse_test_name": null, "type": "variable"}, {"parse_test_extracted_at":
        null, "description": "a global variableupdated", "tags": ["foo:bar", "baz"],
        "last_error": null, "parse_test_public_id": null, "is_totp": null, "id": "2b5fe19e-1895-4c94-9ac4-79012bf2cdd2",
        "parse_test_options": null, "name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1670404619",
        "created_at": "2023-01-04T21:31:52.438272+00:00", "creator": {"handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/a7ddd342-1d56-4c91-a73d-3eb39c2db302
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: DELETE
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/431406bc-865f-4267-bd0c-e11e21bfd436
  response:
    body:
      string: ''
    headers: {}
    status:
      code: 200
      message: OK
version: 1
