interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": []}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1686121345",
      "description": "a global variable", "type": "variable", "tags": ["foo:bar",
      "baz", "managed_by:datadog-sync"], "value": {"secure": false, "value": "variable-value"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"id": "f76069bb-cbac-40d7-88f4-e4f38ada2a09", "name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1686121345",
        "description": "a global variable", "type": "variable", "tags": ["foo:bar",
        "baz", "managed_by:datadog-sync"], "parse_test_public_id": null, "parse_test_name":
        null, "parse_test_options": null, "parse_test_extracted_at": null, "is_totp":
        null, "is_fido": null, "last_error": null, "value": {"secure": false, "value":
        "variable-value"}}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "TEST_SECRETS", "description": "", "type": "variable", "tags":
      ["managed_by:datadog-sync"], "value": {"secure": true, "value": "SECRET"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"id": "ef7a983c-b4dd-453d-be09-3c7bc1c6ef48", "name": "TEST_SECRETS",
        "description": "", "type": "variable", "tags": ["managed_by:datadog-sync"],
        "parse_test_public_id": null, "parse_test_name": null, "parse_test_options":
        null, "parse_test_extracted_at": null, "is_totp": null, "is_fido": null, "last_error":
        null, "value": {"secure": true}}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
