interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"id": "be3fe0f5-63b1-4913-9f09-c147bf6d5e21", "name":
        "TEST", "description": "test", "type": "variable", "tags": ["team:test"],
        "created_at": "2024-10-21T18:59:34.361092+00:00", "modified_at": "2024-10-21T18:59:34.361092+00:00",
        "last_error": null, "attributes": {"bindings": []}, "value": {"value": "test",
        "secure": false, "options": {}}, "creator": {"email": "michael.richey@datadoghq.com",
        "handle": "michael.richey@datadoghq.com", "name": "Michael Richey"}, "editor":
        {"email": "michael.richey@datadoghq.com", "handle": "michael.richey@datadoghq.com",
        "name": "Michael Richey"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730472263, "value":
      1}], "tags": ["id:be3fe0f5-63b1-4913-9f09-c147bf6d5e21", "action_type:import",
      "status:success", "resource_type:synthetics_global_variables", "client_type:destination"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730472263, "value":
      1}], "tags": ["id:be3fe0f5-63b1-4913-9f09-c147bf6d5e21", "action_type:import",
      "status:success", "resource_type:synthetics_global_variables", "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"id": "0aefa13c-1b07-4bf7-93f1-f8c2b6e6ba92", "name":
        "TEST", "description": "test", "type": "variable", "tags": ["team:test", "managed_by:datadog-sync"],
        "created_at": "2024-11-01T14:40:53.769884+00:00", "modified_at": "2024-11-01T14:40:53.769884+00:00",
        "last_error": null, "value": {"value": "test", "secure": false, "options":
        {}}, "creator": {"email": "michael.richey@datadoghq.com", "handle": "michael.richey@datadoghq.com",
        "name": "Michael Richey"}, "editor": {"email": "michael.richey@datadoghq.com",
        "handle": "michael.richey@datadoghq.com", "name": "Michael Richey"}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
