interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"parse_test_extracted_at": null, "description": "a
        global variable", "tags": ["foo:bar", "baz"], "last_error": null, "parse_test_public_id":
        null, "is_totp": null, "id": "36a2a123-7deb-4223-bd8d-e476faaaeea9", "parse_test_options":
        null, "name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1670404530",
        "created_at": "2022-12-07T09:15:32.466163+00:00", "creator": {"handle": "frog@datadoghq.com",
        "email": "frog@datadoghq.com", "name": "Frog"}, "modified_at": "2022-12-07T09:15:32.466163+00:00",
        "value": {"secure": false, "value": "variable-value"}, "parse_test_name":
        null, "type": "variable"}, {"parse_test_extracted_at": null, "description":
        "a global variable", "tags": ["foo:bar", "baz"], "last_error": null, "parse_test_public_id":
        null, "is_totp": null, "id": "56683f0a-ffb7-4920-99ef-0ab6a23b3105", "parse_test_options":
        null, "name": "TF_TESTACCDATADOGSYNTHETICSTESTMULTISTEPAPI_BASIC_LOCAL_1670405911",
        "created_at": "2022-12-07T09:38:33.277732+00:00", "creator": {"handle": "frog@datadoghq.com",
        "email": "frog@datadoghq.com", "nam[...]
