interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"parse_test_options": null, "parse_test_extracted_at":
        null, "description": "test", "tags": ["check_type:api"], "created_at": "2021-07-31T22:18:26.959908+00:00",
        "is_totp": null, "modified_at": "2021-07-31T22:18:26.959908+00:00", "value":
        {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "created_by": "Frog", "type": "variable", "id":
        "08017d93-d87e-4014-934f-4dc33cee1add", "name": "TEST_VARIABLE"}, {"parse_test_options":
        null, "parse_test_extracted_at": null, "description": "Description of the
        variable", "tags": ["foo:bar", "env:test"], "created_at": "2021-07-31T22:18:27.318480+00:00",
        "is_totp": null, "modified_at": "2021-07-31T22:18:27.318480+00:00", "value":
        {"secure": false, "value": "variable-value"}, "parse_test_public_id": null,
        "parse_test_name": null, "created_by": "Frog", "type": "variable", "id": "15cea06b-7c29-4dc9-8fe9-6a6a16f90f4b",
        "name": "EXAMPLE_VARIABLE"}, {"parse_test_options": null, "parse_test_extracted_at":
        null, "description": "test", "tags": [], "created_at": "2021-07-31T22:18:27.548763+00:00",
        "is_totp": null, "modified_at": "2021-07-31T22:18:27.548763+00:00", "value":
        {"secure": false, "value": "test"}, "parse_test_public_id": null, "parse_test_name":
        null, "created_by": "Frog", "type": "variable", "id": "2ab9f3c1-9405-4380-91e2-e9aa424412ca",
        "name": "TEST"}, {"parse_test_options": {"field": "alt-svc", "parser": {"type":
        "regex", "value": "h3=\"(.*)\";"}, "type": "http_header"}, "parse_test_extracted_at":
        null, "description": "", "tags": [], "created_at": "2021-07-31T22:18:27.849458+00:00",
        "is_totp": null, "modified_at": "2021-07-31T22:18:27.849458+00:00", "value":
        {"secure": false, "value": ""}, "parse_test_public_id": "xjc-56z-nxc", "parse_test_name":
        "HTTP Test", "created_by": "Frog", "attributes": {"role_uuids": []}, "type":
        "variable", "id": "52e8d7cc-bc51-4132-b293-99676ce72235", "name": "TEST_FROM_HTTP"}]}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11998'
      x-ratelimit-reset:
      - '5'
    status:
      code: 200
      message: OK
version: 1
