interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"parse_test_extracted_at": null, "description": "test",
        "tags": [], "last_error": null, "parse_test_public_id": null, "is_totp": null,
        "id": "1e5b4dbc-f91a-4da0-8c0c-023c6f5bf1b3", "parse_test_options": null,
        "name": "TEST", "created_at": "2021-09-03T17:23:37.108177+00:00", "creator":
        {"handle": "frog@datadoghq.com", "email": "frog@datadoghq.com", "name": "Frog"},
        "modified_at": "2021-09-03T17:23:37.108177+00:00", "value": {"secure": false,
        "value": "test"}, "parse_test_name": null, "type": "variable"}, {"parse_test_extracted_at":
        null, "description": "Description of the variable", "tags": ["foo:bar", "env:test"],
        "last_error": null, "parse_test_public_id": null, "is_totp": null, "id": "a538f445-4e7c-4964-9a17-d00f3c220d58",
        "parse_test_options": null, "name": "EXAMPLE_VARIABLE", "created_at": "2021-09-03T17:23:36.828269+00:00",
        "creator": {"handle": "frog@datadoghq.com", "email": "frog@datadoghq.com",
        "name": "Frog"}, "modified_at": "2021-09-03T17:23:36.828269+00:00", "value":
        {"secure": false, "value": "variable-value"}, "parse_test_name": null, "type":
        "variable"}, {"parse_test_extracted_at": null, "description": "test", "tags":
        ["check_type:api"], "last_error": null, "parse_test_public_id": null, "is_totp":
        null, "id": "b267c3bf-6c26-4283-b856-c694ec76ac3b", "parse_test_options":
        null, "name": "TEST_VARIABLE", "created_at": "2021-09-03T17:23:36.576080+00:00",
        "creator": {"handle": "frog@datadoghq.com", "email": "frog@datadoghq.com",
        "name": "Frog"}, "modified_at": "2021-09-03T17:23:36.576080+00:00", "value":
        {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_name":
        null, "type": "variable"}]}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11998'
      x-ratelimit-reset:
      - '23'
    status:
      code: 200
      message: OK
- request:
    body: '{"description": "testUpdated", "tags": ["check_type:api"], "name": "TEST_VARIABLE",
      "value": {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"},
      "type": "variable"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/b267c3bf-6c26-4283-b856-c694ec76ac3b
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "testUpdated", "tags": ["check_type:api"], "last_error": null, "is_totp":
        null, "value": {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"},
        "parse_test_public_id": null, "parse_test_name": null, "type": "variable",
        "id": "b267c3bf-6c26-4283-b856-c694ec76ac3b", "name": "TEST_VARIABLE"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11999'
      x-ratelimit-reset:
      - '23'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "testUpdated", "tags": [], "name": "TEST", "value": {"secure":
      false, "value": "test"}, "type": "variable"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/1e5b4dbc-f91a-4da0-8c0c-023c6f5bf1b3
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "testUpdated", "tags": [], "last_error": null, "is_totp": null, "value": {"secure":
        false, "value": "test"}, "parse_test_public_id": null, "parse_test_name":
        null, "type": "variable", "id": "1e5b4dbc-f91a-4da0-8c0c-023c6f5bf1b3", "name":
        "TEST"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '12000'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '11997'
      x-ratelimit-reset:
      - '22'
    status:
      code: 200
      message: OK
version: 1
