interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables
  response:
    body:
      string: '{"variables": [{"parse_test_options": {"field": "alt-svc", "parser":
        {"type": "regex", "value": "h3=\"(.*)\";"}, "type": "http_header"}, "parse_test_extracted_at":
        null, "description": "", "tags": [], "created_at": "2021-07-26T20:37:17.705005+00:00",
        "is_totp": null, "modified_at": "2021-07-26T20:37:17.705005+00:00", "value":
        {"secure": false, "value": ""}, "parse_test_public_id": "in4-tq3-z5g", "parse_test_name":
        "HTTP Test", "created_by": "Frog", "attributes": {"role_uuids": []}, "type":
        "variable", "id": "0b71f4fb-8d66-45da-9dd0-ff0360c6cd5a", "name": "TEST_FROM_HTTP"},
        {"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "test", "tags": ["check_type:api"], "created_at": "2021-07-26T20:37:16.849162+00:00",
        "is_totp": null, "modified_at": "2021-07-26T20:37:16.849162+00:00", "value":
        {"secure": false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "created_by": "Frog", "type": "variable", "id":
        "0e3603b8-8607-4eeb-9[...]
- request:
    body: '{"description": "testUpdated", "tags": ["check_type:api"], "value": {"secure":
      false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "type": "variable",
      "name": "TEST_VARIABLE"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/0e3603b8-8607-4eeb-9bd0-8c5a3bd21e5a
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "testUpdated", "tags": ["check_type:api"], "is_totp": null, "value": {"secure":
        false, "value": "TESTVALUELETSSEEdadsddsadsadadsadsad"}, "parse_test_public_id":
        null, "parse_test_name": null, "type": "variable", "id": "0e3603b8-8607-4eeb-9bd0-8c5a3bd21e5a",
        "name": "TEST_VARIABLE"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '119'
      x-ratelimit-reset:
      - '12'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"description": "testUpdated", "tags": [], "value": {"secure": false, "value":
      "test"}, "type": "variable", "name": "TEST"}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/synthetics/variables/308cb5d7-cbc6-4654-b593-929b267d9dd8
  response:
    body:
      string: '{"parse_test_options": null, "parse_test_extracted_at": null, "description":
        "testUpdated", "tags": [], "is_totp": null, "value": {"secure": false, "value":
        "test"}, "parse_test_public_id": null, "parse_test_name": null, "type": "variable",
        "id": "308cb5d7-cbc6-4654-b593-929b267d9dd8", "name": "TEST"}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '120'
      x-ratelimit-period:
      - '60'
      x-ratelimit-remaining:
      - '117'
      x-ratelimit-reset:
      - '11'
    status:
      code: 200
      message: OK
version: 1
