interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/logs/config/indexes/gcp-index-name
  response:
    body:
      string: '{"name": "gcp-index-name", "filter": {"query": "source:gcp.*"}, "num_retention_days":
        15, "daily_limit": 200000000, "is_rate_limited": false, "daily_limit_reset":
        {"reset_time": "14:00", "reset_utc_offset": "+00:00"}, "daily_limit_warning_threshold_percentage":
        null, "exclusion_filters": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/logs/config/indexes/main
  response:
    body:
      string: '{"name": "main", "filter": {"query": ""}, "num_retention_days": 15,
        "daily_limit": null, "is_rate_limited": false, "daily_limit_reset": null,
        "daily_limit_warning_threshold_percentage": null, "exclusion_filters": [{"name":
        "gcp-filter", "is_enabled": true, "filter": {"query": "source:gcp.*", "sample_rate":
        1.0}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/logs/config/index-order
  response:
    body:
      string: '{"index_names": ["test-index", "gcp-index-name", "main"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/logs/config/indexes
  response:
    body:
      string: '{"indexes": [{"name": "test-index", "filter": {"query": "test:filter"},
        "num_retention_days": 15, "daily_limit": 200000000, "is_rate_limited": false,
        "daily_limit_reset": {"reset_time": "14:00", "reset_utc_offset": "-04:00"},
        "daily_limit_warning_threshold_percentage": null, "exclusion_filters": []},
        {"name": "gcp-index-name", "filter": {"query": "source:gcp.*"}, "num_retention_days":
        15, "daily_limit": 200000000, "is_rate_limited": false, "daily_limit_reset":
        {"reset_time": "14:00", "reset_utc_offset": "+00:00"}, "daily_limit_warning_threshold_percentage":
        null, "exclusion_filters": []}, {"name": "main", "filter": {"query": ""},
        "num_retention_days": 15, "daily_limit": null, "is_rate_limited": false, "daily_limit_reset":
        null, "daily_limit_warning_threshold_percentage": null, "exclusion_filters":
        [{"name": "gcp-filter", "is_enabled": true, "filter": {"query": "source:gcp.*",
        "sample_rate": 1.0}}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"filter": {"query": ""}, "num_retention_days": 15, "daily_limit_reset":
      null, "daily_limit_warning_threshold_percentage": null, "exclusion_filters":
      [{"name": "gcp-filter", "is_enabled": true, "filter": {"query": "source:gcp.*",
      "sample_rate": 1.0}}], "disable_daily_limit": true}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/logs/config/indexes/main
  response:
    body:
      string: '{"name": "main", "filter": {"query": ""}, "num_retention_days": 15,
        "daily_limit": null, "is_rate_limited": false, "daily_limit_reset": null,
        "daily_limit_warning_threshold_percentage": null, "exclusion_filters": [{"name":
        "gcp-filter", "is_enabled": true, "filter": {"query": "source:gcp.*", "sample_rate":
        1.0}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"filter": {"query": "source:gcp.*"}, "num_retention_days": 15, "daily_limit":
      200000000, "daily_limit_reset": {"reset_time": "14:00", "reset_utc_offset":
      "+00:00"}, "daily_limit_warning_threshold_percentage": null, "exclusion_filters":
      []}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/logs/config/indexes/gcp-index-name
  response:
    body:
      string: '{"name": "gcp-index-name", "filter": {"query": "source:gcp.*"}, "num_retention_days":
        15, "daily_limit": 200000000, "is_rate_limited": false, "daily_limit_reset":
        {"reset_time": "14:00", "reset_utc_offset": "+00:00"}, "daily_limit_warning_threshold_percentage":
        null, "exclusion_filters": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"index_names": ["main", "gcp-index-name", "test-index"]}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/logs/config/index-order
  response:
    body:
      string: '{"index_names": ["main", "gcp-index-name", "test-index"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
