interactions:
- request:
    body: '{"type": "metric alert", "name": "Composite monitor - Child 2", "message":
      "Test monitor ----------------", "tags": [], "query": "avg(last_5m):avg:datadog.estimated_usage.hosts{*}
      > 50", "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "include_tags":
      true, "no_data_timeframe": null, "require_full_window": true, "new_host_delay":
      300, "notify_no_data": false, "renotify_interval": 0, "escalation_message":
      "", "thresholds": {"critical": 50.0}, "silenced": {}}, "multi": false, "restricted_roles":
      null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/monitor
  response:
    body:
      string: '{"id": 9380046, "org_id": 1000044987, "type": "metric alert", "name":
        "Composite monitor - Child 2", "message": "Test monitor ----------------",
        "tags": [], "query": "avg(last_5m):avg:datadog.estimated_usage.hosts{*} >
        50", "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "include_tags":
        true, "no_data_timeframe": null, "require_full_window": true, "new_host_delay":
        300, "notify_no_data": false, "renotify_interval": 0, "escalation_message":
        "", "thresholds": {"critical": 50.0}, "silenced": {}}, "multi": false, "created_at":
        1672868079000, "created": "2023-01-04T21:34:39.912029+00:00", "modified":
        "2023-01-04T21:34:39.912029+00:00", "deleted": null, "restricted_roles": null,
        "priority": null, "overall_state_modified": null, "overall_state": "No Data",
        "creator": {"name": "Sherzod Karimov", "handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod.karimov@datadoghq.com", "id": 1000219663}}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "metric alert", "name": "Composite monitor - child 1", "message":
      "Composite monitor - child 1", "tags": [], "query": "avg(last_5m):avg:dd.dialtone.historical.metrics{*}
      > 20", "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "include_tags":
      true, "no_data_timeframe": null, "require_full_window": true, "new_host_delay":
      300, "notify_no_data": false, "renotify_interval": 0, "escalation_message":
      "", "thresholds": {"critical": 20.0, "warning": 10.0}, "silenced": {}}, "multi":
      false, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/monitor
  response:
    body:
      string: '{"id": 9380047, "org_id": 1000044987, "type": "metric alert", "name":
        "Composite monitor - child 1", "message": "Composite monitor - child 1", "tags":
        [], "query": "avg(last_5m):avg:dd.dialtone.historical.metrics{*} > 20", "options":
        {"notify_audit": false, "locked": false, "timeout_h": 0, "include_tags": true,
        "no_data_timeframe": null, "require_full_window": true, "new_host_delay":
        300, "notify_no_data": false, "renotify_interval": 0, "escalation_message":
        "", "thresholds": {"critical": 20.0, "warning": 10.0}, "silenced": {}}, "multi":
        false, "created_at": 1672868080000, "created": "2023-01-04T21:34:40.111245+00:00",
        "modified": "2023-01-04T21:34:40.111245+00:00", "deleted": null, "restricted_roles":
        null, "priority": null, "overall_state_modified": null, "overall_state": "No
        Data", "creator": {"name": "Sherzod Karimov", "handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod.karimov@datadoghq.com", "id": 1000219663}}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "service check", "name": "Host monitor", "message": "Test host
      monitor", "tags": [], "query": "\"datadog.agent.up\".over(\"*\").by(\"host\").last(2).count_by_status()",
      "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "include_tags":
      true, "thresholds": {"warning": 1, "ok": 1, "critical": 1}, "new_host_delay":
      300, "notify_no_data": true, "renotify_interval": 0, "no_data_timeframe": 2,
      "silenced": {}}, "multi": true, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/monitor
  response:
    body:
      string: '{"id": 9380048, "org_id": 1000044987, "type": "service check", "name":
        "Host monitor", "message": "Test host monitor", "tags": [], "query": "\"datadog.agent.up\".over(\"*\").by(\"host\").last(2).count_by_status()",
        "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "include_tags":
        true, "thresholds": {"warning": 1, "ok": 1, "critical": 1}, "new_host_delay":
        300, "notify_no_data": true, "renotify_interval": 0, "no_data_timeframe":
        2, "silenced": {}}, "multi": true, "created_at": 1672868080000, "created":
        "2023-01-04T21:34:40.305059+00:00", "modified": "2023-01-04T21:34:40.305059+00:00",
        "deleted": null, "restricted_roles": null, "priority": null, "overall_state_modified":
        null, "overall_state": "No Data", "creator": {"name": "Sherzod Karimov", "handle":
        "sherzod.karimov@datadoghq.com", "email": "sherzod.karimov@datadoghq.com",
        "id": 1000219663}}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "query alert", "name": "Anomaly monitor", "message": "Anomaly
      monitor", "tags": [], "query": "avg(last_4h):anomalies(avg:dd.dialtone.historical.metrics{*},
      ''basic'', 2, direction=''both'', alert_window=''last_15m'', interval=60, count_default_zero=''true'')
      >= 1", "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "include_tags":
      true, "no_data_timeframe": null, "require_full_window": true, "new_host_delay":
      300, "notify_no_data": false, "renotify_interval": 0, "escalation_message":
      "", "threshold_windows": {"recovery_window": "last_15m", "trigger_window": "last_15m"},
      "thresholds": {"critical": 1.0, "critical_recovery": 0.0}, "silenced": {}},
      "multi": false, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/monitor
  response:
    body:
      string: '{"id": 9380049, "org_id": 1000044987, "type": "query alert", "name":
        "Anomaly monitor", "message": "Anomaly monitor", "tags": [], "query": "avg(last_4h):anomalies(avg:dd.dialtone.historical.metrics{*},
        ''basic'', 2, direction=''both[...]
[...]
- request:
    body: '{"type": "event-v2 alert", "name": "Test event monitor", "message": "Test
      event monitor", "tags": [], "query": "events(\"\").rollup(\"count\").last(\"5m\")
      > 100", "options": {"notify_audit": false, "locked": false, "timeout_h": 0,
      "include_tags": true, "restriction_query": null, "new_host_delay": 300, "notify_no_data":
      false, "renotify_interval": 0, "groupby_simple_monitor": true, "enable_logs_sample":
      false, "escalation_message": "", "thresholds": {"critical": 100.0}, "silenced":
      {}}, "multi": false, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/monitor
  response:
    body:
      string: '{"id": 9380053, "org_id": 1000044987, "type": "event-v2 alert", "name":
        "Test event monitor", "message": "Test event monitor", "tags": [], "query":
        "events(\"\").rollup(\"count\").last(\"5m\") > 100", "options": {"notify_audit":
        false, "locked": false, "timeout_h": 0, "include_tags": true, "restriction_query":
        null, "new_host_delay": 300, "notify_no_data": false, "renotify_interval":
        0, "groupby_simple_monitor": true, "enable_logs_sample": false, "escalation_message":
        "", "thresholds": {"critical": 100.0}, "silenced": {}}, "multi": false, "created_at":
        1672868081000, "created": "2023-01-04T21:34:41.409829+00:00", "modified":
        "2023-01-04T21:34:41.409829+00:00", "deleted": null, "restricted_roles": null,
        "priority": null, "overall_state_modified": null, "overall_state": "No Data",
        "creator": {"name": "Sherzod Karimov", "handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod.karimov@datadoghq.com", "id": 1000219663}}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "composite", "name": "Composite monitor", "message": "test", "tags":
      [], "query": "( 9380047 && 9380046 ) || !9380047", "options": {"notify_audit":
      false, "locked": false, "include_tags": false, "new_host_delay": 300, "notify_no_data":
      false, "renotify_interval": 0, "escalation_message": "", "silenced": {}}, "multi":
      false, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/monitor
  response:
    body:
      string: '{"id": 9380054, "org_id": 1000044987, "type": "composite", "name":
        "Composite monitor", "message": "test", "tags": [], "query": "( 9380047 &&
        9380046 ) || !9380047", "options": {"notify_audit": false, "locked": false,
        "include_tags": false, "new_host_delay": 300, "notify_no_data": false, "renotify_interval":
        0, "escalation_message": "", "silenced": {}}, "multi": false, "created_at":
        1672868081000, "created": "2023-01-04T21:34:41.682698+00:00", "modified":
        "2023-01-04T21:34:41.682698+00:00", "deleted": null, "restricted_roles": null,
        "priority": null, "overall_state_modified": null, "overall_state": "No Data",
        "creator": {"name": "Sherzod Karimov", "handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod.karimov@datadoghq.com", "id": 1000219663}}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
