interactions:
- request:
    body: '{"restricted_roles": null, "tags": [], "deleted": null, "query": "avg(last_5m):avg:datadog.estimated_usage.hosts{*}
      > 50", "message": "Test monitor ----------------", "matching_downtimes": [],
      "id": 36230659, "multi": false, "name": "Composite monitor - Child 2Updated",
      "created": "2021-05-30T08:43:37.940520+00:00", "created_at": 1622364217000,
      "creator": {"id": 2781275, "handle": "sherzod.karimov@datadoghq.com", "name":
      "Sherzod Karimov", "email": "sherzod.karimov@datadoghq.com"}, "org_id": 569509,
      "modified": "2021-06-08T18:14:12.441535+00:00", "priority": null, "overall_state_modified":
      "2021-05-30T08:45:28+00:00", "overall_state": "OK", "type": "metric alert",
      "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "silenced":
      {}, "include_tags": true, "no_data_timeframe": null, "require_full_window":
      true, "new_host_delay": 300, "notify_no_data": false, "renotify_interval": 0,
      "escalation_message": "", "thresholds": {"critical": 50.0}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/monitor/1714192
  response:
    body:
      string: '{"restricted_roles": null, "tags": [], "deleted": null, "query": "avg(last_5m):avg:datadog.estimated_usage.hosts{*}
        > 50", "message": "Test monitor ----------------", "id": 1714192, "multi":
        false, "name": "Composite monitor - Child 2Updated", "created": "2021-07-31T22:18:49.701749+00:00",
        "created_at": 1627769929000, "org_id": 1000044987, "modified": "2021-07-31T22:18:50.568183+00:00",
        "priority": null, "overall_state_modified": null, "overall_state": "No Data",
        "type": "metric alert", "options": {"notify_audit": false, "locked": false,
        "timeout_h": 0, "silenced": {}, "include_tags": true, "no_data_timeframe":
        null, "require_full_window": true, "new_host_delay": 300, "notify_no_data":
        false, "renotify_interval": 0, "escalation_message": "", "thresholds": {"critical":
        50.0}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '10'
    status:
      code: 200
      message: OK
- request:
    body: '{"restricted_roles": null, "tags": [], "deleted": null, "query": "avg(last_5m):avg:dd.dialtone.historical.metrics{*}
      > 20", "message": "Composite monitor - child 1", "matching_downtimes": [], "id":
      36239262, "multi": false, "name": "Composite monitor - child 1Updated", "created":
      "2021-05-30T19:49:11.945913+00:00", "created_at": 1622404151000, "creator":
      {"id": 2781275, "handle": "sherzod.karimov@datadoghq.com", "name": "Sherzod
      Karimov", "email": "sherzod.karimov@datadoghq.com"}, "org_id": 569509, "modified":
      "2021-06-08T18:13:33.317204+00:00", "priority": null, "overall_state_modified":
      "2021-05-30T19:52:07+00:00", "overall_state": "OK", "type": "metric alert",
      "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "silenced":
      {}, "include_tags": true, "no_data_timeframe": null, "require_full_window":
      true, "new_host_delay": 300, "notify_no_data": false, "renotify_interval": 0,
      "escalation_message": "", "thresholds": {"critical": 20.0, "warning": 10.0}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/monitor/1714193
  response:
    body:
      string: '{"restricted_roles": null, "tags": [], "deleted": null, "query": "avg(last_5m):avg:dd.dialtone.historical.metrics{*}
        > 20", "message": "Composite monitor - child 1", "id": 1714193, "multi": false,
        "name": "Composite monitor - child 1Updated", "created": "2021-07-31T22:18:49.836588+00:00",
        "created_at": 1627769929000, "org_id": 1000044987, "modified": "2021-07-31T22:18:50.815746+00:00",
        "priority": null, "overall_state_modified": null, "overall_state": "No Data",
        "type": "metric alert", "options": {"notify_audit": false, "locked": false,
        "timeout_h": 0, "silenced": {}, "include_tags": true, "no_data_timeframe":
        null, "require_full_window": true, "new_host_delay": 300, "notify_no_data":
        false, "renotify_interval": 0, "escalation_message": "", "thresholds": {"critical":
        20.0, "warning": 10.0}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '498'
      x-ratelimit-reset:
      - '10'
    status:
      code: 200
      message: OK
- request:
    body: '{"restricted_roles": null, "tags": [], "deleted": null, "query": "\"datadog.agent.up\".over(\"*\").by(\"host\").last(2).count_by_status()",
      "message": "Test host monitor", "matching_downtimes": [], "id": 37284891, "multi":
      true, "name": "Host monitorUpdated", "created": "2021-06-08T18:17:01.656132+00:00",
      "created_at": 1623176221000, "creator": {"id": 2781275, "handle": "sherzod.karimov@datadoghq.com",
      "name": "Sherzod Karimov", "email": "sherzod.karimov@datadoghq.com"}, "org_id":
      569509, "modified": "2021-06-08T18:30:56.067327+00:00", "priority": null, "overall_state_modified":
      "2021-06-08T18:18:53+00:00", "overall_state": "No Data", "type": "service check",
      "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "silenced":
      {}, "include_tags": true, "thresholds": {"warning": 1, "ok": 1, "critical":
      1}, "new_host_delay": 300, "notify_no_data": true, "renotify_interval": 0, "no_data_timeframe":
      2}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/monitor/1714194
  response:
    body:
      string: '{"restricted_roles": null, "tags": [], "deleted": null, "query": "\"datadog.agent.up\".over(\"*\").by(\"host\").last(2).count_by_status()",
        "message": "Test host monitor", "id": 1714194, "multi": true, "name": "Host
        monitorUpdated", "created": "2021-07-31T22:18:49.985024+00:00", "created_at":
        1627769929000, "org_id": 1000044987, "modified": "2021-07-31T22:18:50.976758+00:00",
        "priority": null, "overall_state_modified": null, "overall_state": "No Data",
        "type": "service check", "options": {"notify_audit": false, "locked": false,
        "timeout_h": 0, "silenced": {}, "include_tags": true, "thresholds": {"warning":
        1, "ok": 1, "critical": 1}, "new_host_delay": 300, "notify_no_data": true,
        "renotify_interval": 0, "no_data_timeframe": 2}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '497'
      x-ratelimit-reset:
      - '10'
    status:
      code: 200
      message: OK
- request:
    body: '{"restricted_roles": null, "tags": [], "deleted": null, "query": "avg(last_4h):anomalies(avg:dd.dialtone.historical.metrics{*},
      ''basic'', 2, direction=''both'', alert_window=''last_15m'', interval=60, count_default_zero=''true'')
      >= 1", "message": "Anomaly monitor", "matching_downtimes": [], "id": 37284965,
      "multi": false, "name": "Anomaly monitorUpdated", "created": "2021-06-08T18:17:53.020925+00:00",
      "created_at": 1623176273000, "creator": {"id": 2781275, "handle": "sherzod.karimov@datadoghq.com",
      "name": "Sherzod Karimov", "email": "sherzod.karimov@datadoghq.com"}, "org_id":
      569509, "modified": "2021-06-08T18:17:53.020925+00:00", "priority": null, "overall_state_modified":
      "2021-06-08T18:19:16+00:00", "overall_state": "OK", "type": "query alert", "options":
      {"notify_audit": false, "locked": false, "timeout_h": 0, "silenced": {}, "include_tags":
      true, "no_data_timeframe": null, "require_full_window": true, "new_host_delay":
      300, "notify_no_data": false, "renotify_interval": 0, "escalation_message":
      "", "threshold_windows": {"recovery_window": "last_15m", "trigger_window": "last_15m"},
      "thresholds": {"critical": 1.0, "critical_recovery": 0.0}}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/monitor/1714195
  response:
    body:
      string: '{"restricted_roles": null, "tags": [], "deleted": null, "query": "avg(last_4h):anomalies(avg:dd.dialtone.historical.metrics{*},
        ''basic'', 2, direction=''both'', alert_window=''last_15m'', interval=60,
        count_default_zero=''true'') >= 1", "message": "Anomaly monitor", "id": 1714195,
        "multi": false, [...]
[...]
