interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "query alert", "name": "Composite monitor - Child 2updated", "message":
      "Test monitor ----------------", "tags": ["test:foo", "test_two:bar", "managed_by:datadog-sync"],
      "query": "avg(last_5m):avg:datadog.estimated_usage.hosts{*} > 50", "options":
      {"thresholds": {"critical": 50.0}, "notify_audit": false, "require_full_window":
      true, "notify_no_data": false, "renotify_interval": 0, "timeout_h": 0, "include_tags":
      true, "no_data_timeframe": null, "escalation_message": "", "new_host_delay":
      300, "silenced": {}}, "multi": false, "restricted_roles": null, "priority":
      null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/monitor/15199433
  response:
    body:
      string: '{"id": 15199433, "org_id": 1000144613, "type": "query alert", "name":
        "Composite monitor - Child 2updated", "message": "Test monitor ----------------",
        "tags": ["test:foo", "test_two:bar", "managed_by:datadog-sync"], "query":
        "avg(last_5m):avg:datadog.estimated_usage.hosts{*} > 50", "options": {"thresholds":
        {"critical": 50.0}, "notify_audit": false, "require_full_window": true, "notify_no_data":
        false, "renotify_interval": 0, "timeout_h": 0, "include_tags": true, "no_data_timeframe":
        null, "escalation_message": "", "new_host_delay": 300, "silenced": {}}, "multi":
        false, "created_at": 1706817279000, "created": "2024-02-01T19:54:39.714280+00:00",
        "modified": "2024-02-01T19:54:42.411926+00:00", "deleted": null, "restricted_roles":
        null, "priority": null, "overall_state_modified": null, "overall_state": "No
        Data"}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "query alert", "name": "Composite monitor - child 1updated", "message":
      "Composite monitor - child 1", "tags": ["test:foo", "managed_by:datadog-sync"],
      "query": "avg(last_5m):avg:dd.dialtone.historical.metrics{*} > 20", "options":
      {"thresholds": {"critical": 20.0, "warning": 10.0}, "notify_audit": false, "require_full_window":
      true, "notify_no_data": false, "renotify_interval": 1440, "timeout_h": 0, "include_tags":
      true, "no_data_timeframe": null, "escalation_message": "", "renotify_statuses":
      ["no data"], "new_host_delay": 300, "silenced": {}}, "multi": false, "restricted_roles":
      null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/monitor/15199434
  response:
    body:
      string: '{"id": 15199434, "org_id": 1000144613, "type": "query alert", "name":
        "Composite monitor - child 1updated", "message": "Composite monitor - child
        1", "tags": ["test:foo", "managed_by:datadog-sync"], "query": "avg(last_5m):avg:dd.dialtone.historical.metrics{*}
        > 20", "options": {"thresholds": {"critical": 20.0, "warning": 10.0}, "notify_audit":
        false, "require_full_window": true, "notify_no_data": false, "renotify_interval":
        1440, "timeout_h": 0, "include_tags": true, "no_data_timeframe": null, "escalation_message":
        "", "renotify_statuses": ["no data"], "new_host_delay": 300, "silenced": {}},
        "multi": false, "created_at": 1706817279000, "created": "2024-02-01T19:54:39.949041+00:00",
        "modified": "2024-02-01T19:54:42.680741+00:00", "deleted": null, "restricted_roles":
        null, "priority": null, "overall_state_modified": null, "overall_state": "No
        Data"}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "composite", "name": "Composite monitorupdated", "message": "test",
      "tags": ["managed_by:datadog-sync"], "query": "( 15199434 && 15199433 ) || !15199434",
      "options": {"notify_audit": false, "locked": false, "include_tags": false, "new_host_delay":
      300, "notify_no_data": false, "renotify_interval": 0, "escalation_message":
      "", "silenced": {}}, "multi": false, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/monitor/15199447
  response:
    body:
      string: '{"id": 15199447, "org_id": 1000144613, "type": "composite", "name":
        "Composite monitorupdated", "message": "test", "tags": ["managed_by:datadog-sync"],
        "query": "( 15199434 && 15199433 ) || !15199434", "options": {"notify_audit":
        false, "locked": false, "include_tags": false, "new_host_delay": 300, "notify_no_data":
        false, "renotify_interval": 0, "escalation_message": "", "silenced": {}},
        "multi": false, "created_at": 1706817281000, "created": "2024-02-01T19:54:41.938159+00:00",
        "modified": "2024-02-01T19:54:42.946725+00:00", "deleted": null, "restricted_roles":
        null, "priority": null, "overall_state_modified": null, "overall_state": "No
        Data"}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "service check", "name": "Host monitorupdated", "message": "Test
      host monitor", "tags": ["service:daimler-health-service", "managed_by:datadog-sync"],
      "query": "\"datadog.agent.up\".over(\"*\").by(\"host\").last(2).count_by_status()",
      "options": {"thresholds": {"critical": 1, "warning": 1, "ok": 1}, "notify_audit":
      false, "notify_no_data": true, "no_data_timeframe": 2, "renotify_interval":
      0, "timeout_h": 0, "include_tags": true, "new_group_delay": 300, "silenced":
      {}}, "multi": true, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/monitor/15199435
  response:
    body:
      string: '{"id": 15199435, "org_id": 1000144613, "type": "service check", "name":
        "Host monitorupdated", "message": "Test host monitor", "tags": ["service:daimler-health-service",
        "managed_by:datadog-sync"], "query": "\"datadog.agent.up\".over(\"*\").by(\"host\").last(2).count_by_status()",
        "options": {"thresholds": {"critical": 1, "warning": 1, "ok": 1}, "notify_audit":
        false, "notify_no_data": true, "no_data_timeframe": 2, "renotify_interval":
        0, "timeout_h": 0, "include_tags": true, "new_group_delay": 300, "silenced":
        {}}, "multi": true, "created_at": 1706817280000, "created": "2024-02-01T19:54:40.239647+00:00",
        "modified": "2024-02-01T19:54:43.215816+00:00", "deleted": null, "restricted_roles":
        null, "priority": null, "overall_state_modified": null, "overall_state": "No
        Data"}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "query alert", "name": "Anomaly monitorupdated", "message": "Anomaly
      monitor", "tags": ["managed_by:datadog-sync"], "query": "avg(last_4h):anomalies(avg:dd.dialtone.historical.metrics{*},
      ''basic'', 2, direction=''both'', alert_window=''last_15m'', interval=60, count_default_zero=''true'')
      >= 1", "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "include_tags":
      true, "no_data_timeframe": null, "require_full_window": true, "new_host_delay":
      300, "notify_no_data": false, "renotify_interval": 0, "escalation_message":
      "", "threshold_windows": {"recovery_window": "last_15m", "trigger_window": "last_15m"},
      "thresholds": {"critical": 1.0, "critical_recovery": 0.0}, "silenced": {}},
      "multi": false, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/monitor/15199436
  response:
    body:
      string: '{"id": 15199436, "org_id": 1000144613, "type": "query alert", "name":
        "Anomaly monitorupdated", "message": "Anomaly monitor", "tags": ["managed_by:datadog-sync"],
        "query": "avg(last_4h):anomalies(avg:dd.dialtone.historical.metrics{*}, ''basic'',
        2, direction=''both'', alert_window=''last_15m'', interval=60, count_default_zero=''true'')
        >= 1", "options": {"notify_audit": false, "locked": false, "timeout_h": 0,
        "include_tags": true, "no_data_timeframe": null, "require_full_window": true,
        "new_host_delay": 300, "notify_no_data": false, "renotify_interval": 0, "escalation_message":
        "", "threshold_windows": {"recovery_window": "last_15m", "trigger_window":
        "last_15m"}, "thresholds": {"critical": 1.0, "critical_recovery": 0.0}, "silenced":
        {}}, "multi": false, "created_at": 1706817280000, "created": "2024-02-01T19:54:40.468888+00:00",
        "modified": "2024-02-01T19:54:43.596084+00:00", "deleted": null, "restricted_roles":
        null, "priority": null, "overall_state_modified": null, "overall_state": "No
        Data"}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "event-v2 alert", "name": "Test event monitorupdated", "message":
      "Test event monitor", "tags": ["managed_by:datadog-sync"], "query": "events(\"\").rollup(\"count\").last(\"5m\")
      > 100", "options": {"notify_audit": false, "locked": false, "timeout_h": 0,
      "include_tags": true, "restriction_query": null, "new_host_delay": 300, "notify_no_data":
      false, "renotify_interval": 0, "groupby_simple_monitor": true, "enable_logs_sample":
      false, "escalation_message": "", "thresholds": {"critical": 100.0}, "silenced":
      {}}, "multi": false, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/monitor/15199442
  response:
    body:
      string: '{"id": 15199442, "org_id": 1000144613, "type": "event-v2 alert", "name":
        "Test event monitorupdated", "message": "Test event monitor", "tags": ["managed_by:datadog-sync"],
        "query": "events(\"\").rollup(\"count\").last(\"5m\") > 100", "options": {"notify_audit":
        false, "locked": false, "timeout_h": 0, "include_tags": true, "restriction_query":
        null, "new_host_delay": 300, "notify_no_data": false, "renotify_interval":
        0, "groupby_simple_monitor": true, "enable_logs_sample": false, "escalation_message":
        "", "thresholds": {"critical": 100.0}, "silenced": {}}, "multi": false, "created_at":
        1706817281000, "created": "2024-02-01T19:54:41.670776+00:00", "modified":
        "2024-02-01T19:54:44.780665+00:00", "deleted": null, "restricted_roles": null,
        "priority": null, "overall_state_modified": null, "overall_state": "No Data"}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
