interactions:
- request:
    body: '{"type": "query alert", "name": "Composite monitor - Child 2updated", "message":
      "Test monitor ----------------", "tags": ["test:foo", "test_two:bar"], "query":
      "avg(last_5m):avg:datadog.estimated_usage.hosts{*} > 50", "options": {"thresholds":
      {"critical": 50.0}, "notify_audit": false, "require_full_window": true, "notify_no_data":
      false, "renotify_interval": 0, "timeout_h": 0, "include_tags": true, "no_data_timeframe":
      null, "escalation_message": "", "new_host_delay": 300, "silenced": {}}, "multi":
      false, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/monitor/12742268
  response:
    body:
      string: '{"id": 12742268, "org_id": 1000044987, "type": "query alert", "name":
        "Composite monitor - Child 2updated", "message": "Test monitor ----------------",
        "tags": ["test:foo", "test_two:bar"], "query": "avg(last_5m):avg:datadog.estimated_usage.hosts{*}
        > 50", "options": {"thresholds": {"critical": 50.0}, "notify_audit": false,
        "require_full_window": true, "notify_no_data": false, "renotify_interval":
        0, "timeout_h": 0, "include_tags": true, "no_data_timeframe": null, "escalation_message":
        "", "new_host_delay": 300, "silenced": {}}, "multi": false, "created_at":
        1692886183000, "created": "2023-08-24T14:09:43.344213+00:00", "modified":
        "2023-08-24T14:09:46.461604+00:00", "deleted": null, "restricted_roles": null,
        "priority": null, "overall_state_modified": null, "overall_state": "No Data"}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "query alert", "name": "Composite monitor - child 1updated", "message":
      "Composite monitor - child 1", "tags": ["test:foo"], "query": "avg(last_5m):avg:dd.dialtone.historical.metrics{*}
      > 20", "options": {"thresholds": {"critical": 20.0, "warning": 10.0}, "notify_audit":
      false, "require_full_window": true, "notify_no_data": false, "renotify_interval":
      1440, "timeout_h": 0, "include_tags": true, "no_data_timeframe": null, "escalation_message":
      "", "renotify_statuses": ["no data"], "new_host_delay": 300, "silenced": {}},
      "multi": false, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/monitor/12742269
  response:
    body:
      string: '{"id": 12742269, "org_id": 1000044987, "type": "query alert", "name":
        "Composite monitor - child 1updated", "message": "Composite monitor - child
        1", "tags": ["test:foo"], "query": "avg(last_5m):avg:dd.dialtone.historical.metrics{*}
        > 20", "options": {"thresholds": {"critical": 20.0, "warning": 10.0}, "notify_audit":
        false, "require_full_window": true, "notify_no_data": false, "renotify_interval":
        1440, "timeout_h": 0, "include_tags": true, "no_data_timeframe": null, "escalation_message":
        "", "renotify_statuses": ["no data"], "new_host_delay": 300, "silenced": {}},
        "multi": false, "created_at": 1692886183000, "created": "2023-08-24T14:09:43.676574+00:00",
        "modified": "2023-08-24T14:09:46.812419+00:00", "deleted": null, "restricted_roles":
        null, "priority": null, "overall_state_modified": null, "overall_state": "No
        Data"}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "service check", "name": "Host monitorupdated", "message": "Test
      host monitor", "tags": ["service:daimler-health-service"], "query": "\"datadog.agent.up\".over(\"*\").by(\"host\").last(2).count_by_status()",
      "options": {"thresholds": {"critical": 1, "warning": 1, "ok": 1}, "notify_audit":
      false, "notify_no_data": true, "no_data_timeframe": 2, "renotify_interval":
      0, "timeout_h": 0, "include_tags": true, "new_group_delay": 300, "silenced":
      {}}, "multi": true, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/monitor/12742270
  response:
    body:
      string: '{"id": 12742270, "org_id": 1000044987, "type": "service check", "name":
        "Host monitorupdated", "message": "Test host monitor", "tags": ["service:daimler-health-service"],
        "query": "\"datadog.agent.up\".over(\"*\").by(\"host\").last(2).count_by_status()",
        "options": {"thresholds": {"critical": 1, "warning": 1, "ok": 1}, "notify_audit":
        false, "notify_no_data": true, "no_data_timeframe": 2, "renotify_interval":
        0, "timeout_h": 0, "include_tags": true, "new_group_delay": 300, "silenced":
        {}}, "multi": true, "created_at": 1692886184000, "created": "2023-08-24T14:09:44.124599+00:00",
        "modified": "2023-08-24T14:09:47.249362+00:00", "deleted": null, "restricted_roles":
        null, "priority": null, "overall_state_modified": null, "overall_state": "No
        Data"}'
    headers: {}
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "query alert", "name": "Anomaly monitorupdated", "message": "Anomaly
      monitor", "tags": [], "query": "avg(last_4h):anomalies(avg:dd.dialtone.historical.metrics{*},
      ''basic'', 2, direction=''both'', alert_window=''last_15m'', interval=60, count_default_zero=''true'')
      >= 1", "options": {"notify_audit": false, "locked": false, "timeout_h": 0, "include_tags":
      true, "no_data_timeframe": null, "require_full_window": true, "new_host_delay":
      300, "notify_no_data": false, "renotify_interval": 0, "escalation_message":
      "", "threshold_windows": {"recovery_window": "last_15m", "trigger_window": "last_15m"},
      "thresholds": {"critical": 1.0, "critical_recovery": 0.0}, "silenced": {}},
      "multi": false, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/monitor/12742271
  response:
    body:
      string: '{"id": 12742271, "org_id": 1000044987, "type": "query alert", "name":
        "Anomaly monitorupdated", "message": "Anomaly monitor", "tags": [], "query":
        "avg(last_4h):anomalies(avg:dd.dialtone.historical.metrics{*}, ''basic'',
        2, direction=''both'', alert_window=''last_15m'', interval=60, count_default_zero=''true'')
        >= 1", "options": {"notify_audit": false, "locked": false, "timeout_h": 0,
        "include_tags": true, "no_data_timeframe": null, "require_full_window": true,
        "new_host_delay": 300, "notify_no_data": false, "renotify_interval": 0, "escalation_message":
        "", "threshold_windows": {"recovery_window": "last_15m", "trigger_window":
        "last_15m"}, "thresholds": {"critical": 1.0, "critical_recovery": 0.0}, "silenced":
        {}}, "multi": false, "created_at": 1692886184000, "created": "2023-08-24T14:09:44.518282+00:00",
        "modified": "2023-08-24T14:09:47.637229+00:00", "deleted": null, "restricted_roles":
        null, "priority": null, "overall_state_modified": null, "overall_state": "No
        Data"}'
    headers: {}
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "event-v2 alert", "name": "Test event monitorupdated", "message":
      "Test event monitor", "tags": [], "query": "events(\"\").rollup(\"count\").last(\"5m\")
      > 100", "options": {"notify_audit": false, "locked": false, "timeout_h": 0,
      "include_tags": true, "restriction_query": null, "new_host_delay": 300, "notify_no_data":
      false, "renotify_interval": 0, "groupby_simple_monitor": true, "enable_logs_sample":
      false, "escalation_message": "", "thresholds": {"critical": 100.0}, "silenced":
      {}}, "multi": false, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://api.datadoghq.eu/api/v1/monitor/12742275
  response:
    body:
      string: '{"id": 12742275, "org_id": 1000044987, "type": "event-v2 alert", "name":
        "Test event monitorupdated", "message": "Test event monitor", "tags": [],
        "query": "events(\"\").rollup(\"count\").last(\"5m\") > 100", "options": {"notify_audit":
        false, "locked": false, "timeout_h": 0, "include_tags": true, "restriction_query":
        null, "new_host_delay": 300, "notify_no_data": false, "renotify_interval":
        0, "groupby_simple_monitor": true, "enable_logs_sample": false, "escalation_message":
        "", "thresholds": {"critical": 100.0}, "silenced": {}}, "multi": false, "created_at":
        1692886185000, "created": "2023-08-24T14:09:45.906448+00:00", "modified":
        "2023-08-24T14:09:49.147474+00:00", "deleted": null, "restricted_roles": null,
        "priority": null, "overall_state_modified": null, "overall_state": "No Data"}'
    headers: {}
    status:
      code: 200
      message: OK
version: 1
