interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data":{"id":"deadbeef-dead-beef-dead-beefdeadbeef","type":"hamr_org_connections","attributes":{"HamrStatus":5,"IsPrimary":false,"ModifiedAt":"2024-06-18 16:30:26.895822","ModifiedBy":"","TargetOrgDatacenter":"us1.prod.dog","TargetOrgName":"Test","TargetOrgUuid":"facefeed-face-feed-face-feedfacefeed"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.com/api/v1/monitor?page=0&page_size=1000
  response:
    body:
      string: '[{"id": 36230659, "org_id": 569509, "type": "query alert", "name":
        "Composite monitor - Child 2", "message": "Test monitor ----------------",
        "tags": ["test:foo", "test_two:bar"], "query": "avg(last_5m):avg:datadog.estimated_usage.hosts{*}
        > 50", "options": {"thresholds": {"critical": 50.0}, "notify_audit": false,
        "require_full_window": true, "notify_no_data": false, "renotify_interval":
        0, "timeout_h": 0, "include_tags": true, "no_data_timeframe": null, "escalation_message":
        "", "new_host_delay": 300, "silenced": {}}, "multi": false, "created_at":
        1622364217000, "created": "2021-05-30T08:43:37.940520+00:00", "modified":
        "2023-08-10T20:39:26.357089+00:00", "deleted": null, "restricted_roles": null,
        "priority": null, "overall_state_modified": "2021-05-30T08:45:28+00:00", "overall_state":
        "OK", "creator": {"name": "Sherzod Karimov", "handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod.karimov@datadoghq.com", "id": 2781275}, "matching_downtimes":
        []}, {"id": 36239262, "org_id": 569509, "type": "query alert", "name": "Composite
        monitor - child 1", "message": "Composite monitor - child 1", "tags": ["test:foo"],
        "query": "avg(last_5m):avg:dd.dialtone.historical.metrics{*} > 20", "options":
        {"thresholds": {"critical": 20.0, "warning": 10.0}, "notify_audit": false,
        "require_full_window": true, "notify_no_data": false, "renotify_interval":
        1440, "timeout_h": 0, "include_tags": true, "no_data_timeframe": null, "escalation_message":
        "", "renotify_statuses": ["no data"], "new_host_delay": 300, "silenced": {}},
        "multi": false, "created_at": 1622404151000, "created": "2021-05-30T19:49:11.945913+00:00",
        "modified": "2023-08-10T20:39:47.053119+00:00", "deleted": null, "restricted_roles":
        null, "priority": null, "overall_state_modified": "2021-05-30T19:52:07+00:00",
        "overall_state": "OK", "creator": {"name": "Sherzod Karimov", "handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod.karimov@datadoghq.com", "id": 2781275}, "matching_downtimes":
        []}, {"id": 36593201, "org_id": 569509, "type": "composite", "name": "Composite
        monitor", "message": "test", "tags": [], "query": "( 36239262 && 36230659
        ) || !36239262", "options": {"notify_audit": false, "locked": false, "include_tags":
        false, "new_host_delay": 300, "notify_no_data": false, "renotify_interval":
        0, "escalation_message": "", "silenced": {}}, "multi": false, "created_at":
        1622746548000, "created": "2021-06-03T18:55:48.515861+00:00", "modified":
        "2021-06-08T18:13:50.284433+00:00", "deleted": null, "restricted_roles": null,
        "priority": null, "overall_state_modified": "2021-06-03T18:56:43+00:00", "overall_state":
        "Alert", "creator": {"name": "Sherzod Karimov", "handle": "sherzod.karimov@datadoghq.com",
        "email": "sherzod.karimov@datadoghq.com", "id": 2781275}, "matching_downtimes":
        []}, {"id": 37284891, "org_id": 569509, "type": "service check", "name": "Host
        monitor", "message": "Test host monitor", "tags": ["service:daimler-health-service"],
        "query": "\"datadog.agent.up\".over(\"*\").by(\"host\").last(2).count_by_status()",
        "options": {"thresholds": {"critical": 1, "warning": 1, "ok": 1}, "notify_audit":
        false, "notify_no_data": true, "no_data_timeframe": 2, "renotify_interval":
        0, "timeout_h": 0, "include_tags": true, "new_group_delay": 300, "silenced":
        {}}, "multi": true, "created_at": 1623176221000, "created": "2021-06-08T18:17:01.656132+00:00",
        "modified": "2023-05-16T22:15:12.393592+00:00", "deleted": null, "restricted_roles":
        null, "priority": null, "overall_state_modified": "2023-05-05T17:14:51+00:00",
        "overall_state": "No Data", "creator": {"name": "Sherzod Karimov", "handle":
        "sherzod.karimov@datadoghq.com", "email": "sherzod.karimov@datadoghq.com",
        "id": 2781275}, "matching_downtimes": []}, {"id": 37284965, "org_id": 569509,
        "type": "query alert", "name": "Anomaly monitor", "message": "Anomaly monitor",
        "tags": [], "query": "avg(last_4h):anomalies(avg:dd.dialtone.historical.metrics{*},
        ''basic'', 2, direction=''both'', alert_window=''last_15m'', interval=60,
        count_default_zero=''true'') >= 1", "options": {"notify_audit": false, "locked":
        false, "timeout_h": 0, "include_tags": true, "no_data_timeframe": null, "require_full_window":
        true, "new_host_delay": 300, "notify_no_data": false, "renotify_interval":
        0, "escalation_message": "", "threshold_windows": {"recovery_window": "last_15m",
        "trigger_window": "last_15m"}, "thresholds": {"critical": 1.0, "critical_recovery":
        0.0}, "silenced": {}}, "multi": false, "created_at": 1623176273000, "created":
        "2021-06-08T18:17:53.020925+00:00", "modified": "2021-06-08T18:17:53.020925+00:00",
        "deleted": null, "restricted_roles": null, "priority": null, "overall_state_modified":
        "2021-06-08T18:19:16+00:00", "overall_state": "OK", "creator": {"name": "Sherzod
        Karimov", "handle": "sherzod.karimov@datadoghq.com", "email": "sherzod.karimov@datadoghq.com",
        "id": 2781275}, "matching[...]
