interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.sync.start", "type": 0, "points": [{"timestamp": 1740001534,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.sync.start", "type": 0, "points": [{"timestamp": 1740001534,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"type": "query alert", "name": "test", "message": "teset", "tags": ["managed_by:datadog-sync"],
      "query": "avg(last_5m):avg:system.load.1{*} > 5", "options": {"thresholds":
      {"critical": 5.0}, "notify_audit": false, "on_missing_data": "default", "include_tags":
      false, "new_host_delay": 300, "silenced": {}}, "multi": false, "priority": null,
      "restricted_roles": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v1/monitor
  response:
    body:
      string: '{"id": 1293291, "org_id": 1300336245, "type": "query alert", "name":
        "test", "message": "teset", "tags": ["managed_by:datadog-sync"], "query":
        "avg(last_5m):avg:system.load.1{*} > 5", "options": {"thresholds": {"critical":
        5.0}, "notify_audit": false, "on_missing_data": "default", "include_tags":
        false, "new_host_delay": 300, "silenced": {}}, "multi": false, "created_at":
        1740001535000, "created": "2025-02-19T21:45:35.106420+00:00", "modified":
        "2025-02-19T21:45:35.106420+00:00", "deleted": null, "priority": null, "restricted_roles":
        null, "restriction_policy": null, "overall_state_modified": null, "overall_state":
        "No Data", "creator": {"name": "Michael Richey", "handle": "michael.richey@datadoghq.com",
        "email": "michael.richey@datadoghq.com", "id": 1615666}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "metric alert", "name": "[Synthetic Private Locations] {{location_id.name}}
      is taking too long to poll", "message": "Private location {{location_id.name}}
      is taking too long to poll.\nVisit this [documentation page](https://docs.datadoghq.com/synthetics/private_locations/?tab=docker#scale-your-private-location)
      to learn how to scale your private location.", "tags": ["managed_by:datadog-sync"],
      "query": "avg(last_30m):avg:synthetics.pl.time_to_poll{*} by {location_id} >
      30", "options": {"thresholds": {"critical": 30.0}, "notify_no_data": false,
      "notify_audit": false, "new_host_delay": 300, "include_tags": true, "silenced":
      {}}, "multi": true, "priority": null, "restricted_roles": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v1/monitor
  response:
    body:
      string: '{"id": 1293292, "org_id": 1300336245, "type": "metric alert", "name":
        "[Synthetic Private Locations] {{location_id.name}} is taking too long to
        poll", "messa[...]
[...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1740001534, "value":
      1}], "tags": ["action_sub_type:create", "id:20125249", "action_type:sync", "status:success",
      "resource_type:monitors", "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
version: 1
