interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.diffs.start", "type": 0, "points": [{"timestamp": 1730818089,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.diffs.start", "type": 0, "points": [{"timestamp": 1730818089,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"type": "query alert", "name": "testupdated", "message": "teset", "tags":
      ["managed_by:datadog-sync"], "query": "avg(last_5m):avg:system.load.1{*} > 5",
      "options": {"thresholds": {"critical": 5.0}, "notify_audit": false, "on_missing_data":
      "default", "include_tags": false, "new_host_delay": 300, "silenced": {}}, "multi":
      false, "priority": null, "restricted_roles": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://us5.datadoghq.com/api/v1/monitor/1159399
  response:
    body:
      string: '{"id": 1159399, "org_id": 1300336245, "type": "query alert", "name":
        "testupdated", "message": "teset", "tags": ["managed_by:datadog-sync"], "query":
        "avg(last_5m):avg:system.load.1{*} > 5", "options": {"thresholds": {"critical":
        5.0}, "notify_audit": false, "on_missing_data": "default", "include_tags":
        false, "new_host_delay": 300, "silenced": {}}, "multi": false, "created_at":
        1730818089000, "created": "2024-11-05T14:48:09.282033+00:00", "modified":
        "2024-11-05T14:48:11.290279+00:00", "deleted": null, "priority": null, "restricted_roles":
        null, "restriction_policy": null, "overall_state_modified": null, "overall_state":
        "No Data"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "metric alert", "name": "[Synthetic Private Locations] {{location_id.name}}
      is taking too long to pollupdated", "message": "Private location {{location_id.name}}
      is taking too long to poll.\nVisit this [documentation page](https://docs.datadoghq.com/synthetics/private_locations/?tab=docker#scale-your-private-location)
      to learn how to scale your private location.", "tags": ["managed_by:datadog-sync"],
      "query": "avg(last_30m):avg:synthetics.pl.time_to_poll{*} by {location_id} >
      30", "options": {"thresholds": {"critical": 30.0}, "notify_no_data": false,
      "notify_audit": false, "new_host_delay": 300, "include_tags": true, "silenced":
      {}}, "multi": true, "priority": null, "restricted_roles": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://us5.datadoghq.com/api/v1/monitor/1159403
  response:
    body:
      string: '{"id": 1159403, "org_id": 1300336245, "type": "metric alert", "name":
        "[Synthetic Private Locations] {{location_id.name}} is taking too long to
        pollup[...]
[...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.diffs.start", "type": 0, "points": [{"timestamp": 1730818089,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
version: 1
