interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v1/monitor?page=0&page_size=1000
  response:
    body:
      string: '[{"id": 20046756, "org_id": 1000315894, "type": "query alert", "name":
        "test", "message": "teset", "tags": [], "query": "avg(last_5m):avg:system.load.1{*}
        > 5", "options": {"thresholds": {"critical": 5.0}, "notify_audit": false,
        "on_missing_data": "default", "include_tags": false, "new_host_delay": 300,
        "silenced": {}}, "multi": false, "created_at": 1729785751000, "created": "2024-10-24T16:02:31.374332+00:00",
        "modified": "2024-10-31T17:25:29.456369+00:00", "deleted": null, "restricted_roles":
        null, "priority": null, "overall_state_modified": "2024-10-31T18:43:37+00:00",
        "overall_state": "OK", "creator": {"name": "Michael Richey", "email": "michael.richey@datadoghq.com",
        "handle": "michael.richey@datadoghq.com", "id": 1002072115}, "matching_downtimes":
        []}, {"id": 20125203, "org_id": 1000315894, "type": "synthetics alert", "name":
        "[Synthetics] Test on www.datadoghq.com", "message": "", "tags": ["probe_dc:aws:af-south-1",
        "probe_dc:aws:ap-east-1", "probe_dc:aws:ap-northeast-1", "probe_dc:aws:ap-northeast-2",
        "probe_dc:aws:ap-northeast-3", "probe_dc:aws:ap-south-1", "probe_dc:aws:ap-southeast-1",
        "probe_dc:aws:ap-southeast-2", "probe_dc:aws:ap-southeast-3", "probe_dc:aws:ca-central-1",
        "probe_dc:aws:eu-central-1", "probe_dc:aws:eu-north-1", "probe_dc:aws:eu-south-1",
        "probe_dc:aws:eu-west-1", "probe_dc:aws:eu-west-2", "probe_dc:aws:eu-west-3",
        "probe_dc:aws:me-south-1", "probe_dc:aws:sa-east-1", "probe_dc:aws:us-east-1",
        "probe_dc:aws:us-east-2", "probe_dc:aws:us-west-1", "probe_dc:aws:us-west-2",
        "probe_dc:azure:eastus", "probe_dc:gcp:asia-northeast1", "probe_dc:gcp:europe-west3",
        "probe_dc:gcp:us-east4", "probe_dc:gcp:us-south1", "probe_dc:gcp:us-west1",
        "probe_dc:gcp:us-west2", "check_type:api", "check_status:live", "ci_execution_rule:blocking"],
        "query": "no_query", "options": {"notification_preset_name": "show_all", "on_missing_data":
        "show_no_data", "notify_audit": false, "new_host_delay": 300, "include_tags":
        true, "silenced": {}}, "multi": false, "created_at": 1730141432000, "created":
        "2024-10-28T18:50:32.908477+00:00", "modified": "2024-10-28T18:50:32.908477+00:00",
        "deleted": null, "restricted_roles": null, "priority": null, "overall_state_modified":
        "2024-11-01T14:40:04+00:00", "overall_state": "Alert", "creator": {"name":
        "Michael Richey", "email": "michael.richey@datadoghq.com", "handle": "michael.richey@datadoghq.com",
        "id": 1002072115}, "matching_downtimes": []}, {"id": 20125249, "org_id": 1000315894,
        "type": "metric alert", "name": "[Synthetic Private Locations] {{location_id.name}}
        stopped reporting", "message": "Private location {{location_id.name}} stopped
        reporting to Datadog.", "tags": [], "query": "min(last_5m):avg:synthetics.pl.worker.running{*}
        by {location_id} < 1", "options": {"notify_no_data": true, "thresholds": {"critical":
        1.0}, "notify_audit": false, "new_host_delay": 300, "include_tags": true,
        "silenced": {}}, "multi": true, "created_at": 1730141732000, "created": "2024-10-28T18:55:32.194411+00:00",
        "modified": "2024-10-28T18:55:32.194411+00:00", "deleted": null, "restricted_roles":
        null, "priority": null, "overall_state_modified": "2024-10-28T18:55:37+00:00",
        "overall_state": "No Data", "creator": {"name": "Michael Richey", "email":
     [...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730472223, "value":
      1}], "tags": ["id:20046756", "action_type:import", "status:success", "resource_type:monitors",
      "client_type:destination"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730472223, "value":
      1}], "tags": ["id:20046756", "action_type:import", "status:success", "resource_type:monitors",
      "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
