interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"type": "query alert", "name": "testupdated", "message": "teset", "tags":
      ["managed_by:datadog-sync"], "query": "avg(last_5m):avg:system.load.1{*} > 5",
      "options": {"thresholds": {"critical": 5.0}, "notify_audit": false, "on_missing_data":
      "default", "include_tags": false, "new_host_delay": 300, "silenced": {}}, "multi":
      false, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://us5.datadoghq.com/api/v1/monitor/1156161
  response:
    body:
      string: '{"id": 1156161, "org_id": 1300336245, "type": "query alert", "name":
        "testupdated", "message": "teset", "tags": ["managed_by:datadog-sync"], "query":
        "avg(last_5m):avg:system.load.1{*} > 5", "options": {"thresholds": {"critical":
        5.0}, "notify_audit": false, "on_missing_data": "default", "include_tags":
        false, "new_host_delay": 300, "silenced": {}}, "multi": false, "created_at":
        1730408743000, "created": "2024-10-31T21:05:43.126307+00:00", "modified":
        "2024-10-31T21:05:44.703722+00:00", "deleted": null, "restricted_roles": null,
        "priority": null, "restriction_policy": null, "overall_state_modified": null,
        "overall_state": "No Data"}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730408743, "value":
      1}], "tags": ["action_sub_type:update", "id:20046756", "action_type:sync", "status:success",
      "resource_type:monitors", "client_type:destination"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"type": "metric alert", "name": "[Synthetic Private Locations] {{location_id.name}}
      uses an outdated image versionupdated", "message": "Private location {{location_id.name}}
      is running an outdated image version. Learn more about the current version in
      use on your [Private locations page](https://app.datadoghq.com/synthetics/settings/private-locations?id={{location_id.name}})
      and upgrade workers to the most recent version of the image by pulling the `gcr.io/datadoghq/synthetics-private-location-worker`
      image with the `latest` tag.", "tags": ["managed_by:datadog-sync"], "query":
      "max(last_15m):sum:synthetics.pl.worker.outdated{*} by {location_id} > 0", "options":
      {"thresholds": {"critical": 0.0}, "notify_no_data": false, "notify_audit": false,
      "new_host_delay": 300, "include_tags": true, "silenced": {}}, "multi": true,
      "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://us5.datadoghq.com/api/v1/monitor/1156163
  response:
    body:
      string: '{"id": 1156163, "org_id": 1300336245, "type": "metric alert", "name":
        "[Synthetic Private Locations] {{location_id.name}} uses an outdated image
        versi[...]
[...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730408743, "value":
      1}], "tags": ["action_sub_type:update", "id:20046756", "action_type:sync", "status:success",
      "resource_type:monitors", "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
version: 1
