interactions:
- request:
    body: '{"restricted_roles": null, "tags": [], "query": "avg(last_5m):avg:datadog.estimated_usage.hosts{*}
      > 50", "message": "Test monitor ----------------", "multi": false, "name": "Composite
      monitor - Child 2", "priority": null, "type": "metric alert", "options": {"notify_audit":
      false, "locked": false, "timeout_h": 0, "silenced": {}, "include_tags": true,
      "no_data_timeframe": null, "require_full_window": true, "new_host_delay": 300,
      "notify_no_data": false, "renotify_interval": 0, "escalation_message": "", "thresholds":
      {"critical": 50.0}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/monitor
  response:
    body:
      string: '{"restricted_roles": null, "tags": [], "deleted": null, "query": "avg(last_5m):avg:datadog.estimated_usage.hosts{*}
        > 50", "message": "Test monitor ----------------", "id": 1699905, "multi":
        false, "name": "Composite monitor - Child 2", "created": "2021-07-30T14:36:32.529150+00:00",
        "created_at": 1627655792000, "creator": {"id": 1000219667, "handle": "frog@datadoghq.com",
        "name": "Frog", "email": "frog@datadoghq.com"}, "org_id": 1000044987, "modified":
        "2021-07-30T14:36:32.529150+00:00", "priority": null, "overall_state_modified":
        null, "overall_state": "No Data", "type": "metric alert", "options": {"notify_audit":
        false, "locked": false, "timeout_h": 0, "silenced": {}, "include_tags": true,
        "no_data_timeframe": null, "require_full_window": true, "new_host_delay":
        300, "notify_no_data": false, "renotify_interval": 0, "escalation_message":
        "", "thresholds": {"critical": 50.0}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '499'
      x-ratelimit-reset:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: '{"restricted_roles": null, "tags": [], "query": "avg(last_5m):avg:dd.dialtone.historical.metrics{*}
      > 20", "message": "Composite monitor - child 1", "multi": false, "name": "Composite
      monitor - child 1", "priority": null, "type": "metric alert", "options": {"notify_audit":
      false, "locked": false, "timeout_h": 0, "silenced": {}, "include_tags": true,
      "no_data_timeframe": null, "require_full_window": true, "new_host_delay": 300,
      "notify_no_data": false, "renotify_interval": 0, "escalation_message": "", "thresholds":
      {"critical": 20.0, "warning": 10.0}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/monitor
  response:
    body:
      string: '{"restricted_roles": null, "tags": [], "deleted": null, "query": "avg(last_5m):avg:dd.dialtone.historical.metrics{*}
        > 20", "message": "Composite monitor - child 1", "id": 1699906, "multi": false,
        "name": "Composite monitor - child 1", "created": "2021-07-30T14:36:33.010191+00:00",
        "created_at": 1627655793000, "creator": {"id": 1000219667, "handle": "frog@datadoghq.com",
        "name": "Frog", "email": "frog@datadoghq.com"}, "org_id": 1000044987, "modified":
        "2021-07-30T14:36:33.010191+00:00", "priority": null, "overall_state_modified":
        null, "overall_state": "No Data", "type": "metric alert", "options": {"notify_audit":
        false, "locked": false, "timeout_h": 0, "silenced": {}, "include_tags": true,
        "no_data_timeframe": null, "require_full_window": true, "new_host_delay":
        300, "notify_no_data": false, "renotify_interval": 0, "escalation_message":
        "", "thresholds": {"critical": 20.0, "warning": 10.0}}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '498'
      x-ratelimit-reset:
      - '8'
    status:
      code: 200
      message: OK
- request:
    body: '{"restricted_roles": null, "tags": [], "query": "\"datadog.agent.up\".over(\"*\").by(\"host\").last(2).count_by_status()",
      "message": "Test host monitor", "multi": true, "name": "Host monitor", "priority":
      null, "type": "service check", "options": {"notify_audit": false, "locked":
      false, "timeout_h": 0, "silenced": {}, "include_tags": true, "thresholds": {"warning":
      1, "ok": 1, "critical": 1}, "new_host_delay": 300, "notify_no_data": true, "renotify_interval":
      0, "no_data_timeframe": 2}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/monitor
  response:
    body:
      string: '{"restricted_roles": null, "tags": [], "deleted": null, "query": "\"datadog.agent.up\".over(\"*\").by(\"host\").last(2).count_by_status()",
        "message": "Test host monitor", "id": 1699907, "multi": true, "name": "Host
        monitor", "created": "2021-07-30T14:36:33.401459+00:00", "created_at": 1627655793000,
        "creator": {"id": 1000219667, "handle": "frog@datadoghq.com", "name": "Frog",
        "email": "frog@datadoghq.com"}, "org_id": 1000044987, "modified": "2021-07-30T14:36:33.401459+00:00",
        "priority": null, "overall_state_modified": null, "overall_state": "No Data",
        "type": "service check", "options": {"notify_audit": false, "locked": false,
        "timeout_h": 0, "silenced": {}, "include_tags": true, "thresholds": {"warning":
        1, "ok": 1, "critical": 1}, "new_host_delay": 300, "notify_no_data": true,
        "renotify_interval": 0, "no_data_timeframe": 2}}'
    headers:
      content-type:
      - application/json
      x-ratelimit-limit:
      - '500'
      x-ratelimit-period:
      - '10'
      x-ratelimit-remaining:
      - '497'
      x-ratelimit-reset:
      - '7'
    status:
      code: 200
      message: OK
- request:
    body: '{"restricted_roles": null, "tags": [], "query": "avg(last_4h):anomalies(avg:dd.dialtone.historical.metrics{*},
      ''basic'', 2, direction=''both'', alert_window=''last_15m'', interval=60, count_default_zero=''true'')
      >= 1", "message": "Anomaly monitor", "multi": false, "name": "Anomaly monitor",
      "priority": null, "type": "query alert", "options": {"notify_audit": false,
      "locked": false, "timeout_h": 0, "silenced": {}, "include_tags": true, "no_data_timeframe":
      null, "require_full_window": true, "new_host_delay": 300, "notify_no_data":
      false, "renotify_interval": 0, "escalation_message": "", "threshold_windows":
      {"recovery_window": "last_15m", "trigger_window": "last_15m"}, "thresholds":
      {"critical": 1.0, "critical_recovery": 0.0}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v1/monitor
  response:
    body:
      string: '{"restricted_roles": null, "tags": [], "deleted": null, "query": "avg(last_4h):anomalies(avg:dd.dialtone.historical.metrics{*},
        ''basic'', 2, direction=''both'', alert_window=''last_15m'', interval=60,
        count_default_zero=''true'') >= 1", "message": "Anomaly monitor", "id": 1699908,
        "multi": false, "name":[...]
[...]
