interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"type": "query alert", "name": "test", "message": "teset", "tags": ["managed_by:datadog-sync"],
      "query": "avg(last_5m):avg:system.load.1{*} > 5", "options": {"thresholds":
      {"critical": 5.0}, "notify_audit": false, "on_missing_data": "default", "include_tags":
      false, "new_host_delay": 300, "silenced": {}}, "multi": false, "restricted_roles":
      null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v1/monitor
  response:
    body:
      string: '{"errors": ["Duplicate of an existing monitor_id:1156189 org_id:1300336245"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"type": "metric alert", "name": "[Synthetic Private Locations] {{location_id.name}}
      is taking too long to poll", "message": "Private location {{location_id.name}}
      is taking too long to poll.\nVisit this [documentation page](https://docs.datadoghq.com/synthetics/private_locations/?tab=docker#scale-your-private-location)
      to learn how to scale your private location.", "tags": ["managed_by:datadog-sync"],
      "query": "avg(last_30m):avg:synthetics.pl.time_to_poll{*} by {location_id} >
      30", "options": {"thresholds": {"critical": 30.0}, "notify_no_data": false,
      "notify_audit": false, "new_host_delay": 300, "include_tags": true, "silenced":
      {}}, "multi": true, "restricted_roles": null, "priority": null}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v1/monitor
  response:
    body:
      string: '{"errors": ["Duplicate of an existing monitor_id:1156188 org_id:1300336245"]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730467380, "value":
      1}], "tags": ["id:20046756", "action_type:sync", "status:failure", "resource_type:monitors",
      "client_type:destination"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730467380, "value":
      1}], "tags": ["id:20046756", "action_type:sync", "status:failure", "resource_type:monitors",
      "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730467380, "value":
      1}], "tags": ["id:20125251", "action_type:sync", "status:failure", "resource_type:monitors",
      "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
version: 1
