interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/sensitive-data-scanner/config
  response:
    body:
      string: '{"data": {"id": "206368e3882e23aa9d1fa07013a9a80cf630f2b2a0722206a539d09b3e1e5b6e",
        "attributes": {}, "type": "sensitive_data_scanner_configuration", "relationships":
        {"groups": {"data": [{"id": "7062f8e6-5695-461e-8e20-9b86888dfeee", "type":
        "sensitive_data_scanner_group"}, {"id": "fd92b2ee-4d18-4cee-800c-7a8d9f7c0bcc",
        "type": "sensitive_data_scanner_group"}, {"id": "532244da-9b48-4b71-8ccd-f31b2f29cb0e",
        "type": "sensitive_data_scanner_group"}, {"id": "491ab5a9-c933-4449-b080-bf7eced978ef",
        "type": "sensitive_data_scanner_group"}, {"id": "86555b72-f078-4530-a5cb-e32dd9f9ecc3",
        "type": "sensitive_data_scanner_group"}]}}}, "meta": {"version": 903, "count_limit":
        100, "group_count_limit": 20, "is_pci_compliant": false, "has_highlight_enabled":
        true, "has_multi_pass_enabled": true, "has_cascading_enabled": false, "is_configuration_superseded":
        false, "is_float_sampling_rate_enabled": false, "min_sampling_rate": 10.0},
        "included": [{"id": "7062f8e6-5695-461e-8e20-9b86888dfeee", "attributes":
        {"name": "watch hello", "is_enabled": false, "filter": {"query": "service:hello"},
        "product_list": ["apm"], "samplings": []}, "type": "sensitive_data_scanner_group",
        "relationships": {"configuration": {"data": {"id": "206368e3882e23aa9d1fa07013a9a80cf630f2b2a0722206a539d09b3e1e5b6e",
        "type": "sensitive_data_scanner_configuration"}}, "rules": {"data": []}}},
        {"id": "fd92b2ee-4d18-4cee-800c-7a8d9f7c0bcc", "attributes": {"name": "watch
        hello", "is_enabled": false, "filter": {"query": "service:hello"}, "product_list":
        ["apm"], "samplings": []}, "type": "sensitive_data_scanner_group", "relationships":
        {"configuration": {"data": {"id": "206368e3882e23aa9d1fa07013a9a80cf630f2b2a0722206a539d09b3e1e5b6e",
        "type": "sensitive_data_scanner_configuration"}}, "rules": {"data": []}}},
        {"id": "532244[...]
