interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/sensitive-data-scanner/config
  response:
    body:
      string: '{"data": {"id": "206368e3882e23aa9d1fa07013a9a80cf630f2b2a0722206a539d09b3e1e5b6e",
        "attributes": {}, "type": "sensitive_data_scanner_configuration", "relationships":
        {"groups": {"data": [{"id": "839b90c6-df3e-46cd-8722-6b125532169b", "type":
        "sensitive_data_scanner_group"}, {"id": "f3d84fae-6754-45b6-bae0-f6c622be9a5e",
        "type": "sensitive_data_scanner_group"}, {"id": "c2c3b5af-c3d2-4a1a-b4ef-be95af12ca95",
        "type": "sensitive_data_scanner_group"}, {"id": "11059add-1c16-47f2-80b3-84a46bedea5e",
        "type": "sensitive_data_scanner_group"}, {"id": "441ca6ab-b54a-49d7-bb67-d2a40239c40f",
        "type": "sensitive_data_scanner_group"}, {"id": "dd57d67f-4ca4-4657-8553-238db1fb5fe1",
        "type": "sensitive_data_scanner_group"}, {"id": "335efcff-4990-4cfe-9f42-72f3d72b8d5c",
        "type": "sensitive_data_scanner_group"}, {"id": "d40d00d8-ba8a-41e3-a16d-fff4cc706a62",
        "type": "sensitive_data_scanner_group"}, {"id": "d6bf54d6-fb31-410b-932a-a3f3d2d9be87",
        "type": "sensitive_data_scanner_group"}, {"id": "0dcff0a6-dae1-4b1c-badc-70ef25d59ef3",
        "type": "sensitive_data_scanner_group"}, {"id": "cbf04bf0-06ea-4f62-9bd9-b126e2839ca0",
        "type": "sensitive_data_scanner_group"}]}}}, "meta": {"version": 187, "count_limit":
        100, "group_count_limit": 20, "is_pci_compliant": false, "has_highlight_enabled":
        true, "has_multi_pass_enabled": true, "has_cascading_enabled": false, "is_configuration_superseded":
        false}, "included": [{"id": "839b90c6-df3e-46cd-8722-6b125532169b", "attributes":
        {"name": "watch hello", "is_enabled": false, "filter": {"query": "service:hello"},
        "product_list": ["apm"], "samplings": []}, "type": "sensitive_data_scanner_group",
        "relationships": {"configuration": {"data": {"id": "206368e3882e23aa9d1fa07013a9a80cf630f2b2a0722206a539d09b3e1e5b6e",
        "type": "sensitive_data_scanner_configuration"}}, "rules": {"data": []}}},
        {"id": "f3d84fae-6754-45b6-bae0-f6c622be9a5e", "attributes": {"name": "watch
        hello", "is_enabled": false, "filter": {"query": "service:hello"}, "product_list":
        ["apm"], "samplings": []}, "type": "sensitive_data_scanner_group", "relationships":
        {"configuration": {"data": {"id": "206368e3882e23aa9d1fa07013a9a80cf630f2b2a0722206a539d09b3e1e5b6e",
        "type": "sensitive_data_scanner_configuration"}}, "rules": {"data": []}}},
        {"id": "c2c3b5[...]
