interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.sync.start", "type": 0, "points": [{"timestamp": 1730818131,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.sync.start", "type": 0, "points": [{"timestamp": 1730818131,
      "value": 1}], "tags": null}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/sensitive-data-scanner/config
  response:
    body:
      string: '{"data": {"id": "27dabeb7aa3925c87b76e66473e086286a0d84fd461fb7861924cd54815fb9c8",
        "attributes": {}, "type": "sensitive_data_scanner_configuration", "relationships":
        {"groups": {"data": [{"id": "731fff24-2e94-4446-b6a1-efb10ad66e91", "type":
        "sensitive_data_scanner_group"}]}}}, "meta": {"version": 10, "count_limit":
        100, "group_count_limit": 20, "is_pci_compliant": false, "has_highlight_enabled":
        true, "has_multi_pass_enabled": true, "has_cascading_enabled": false, "is_configuration_superseded":
        false}, "included": [{"id": "731fff24-2e94-4446-b6a1-efb10ad66e91", "attributes":
        {"name": "watch hello", "is_enabled": false, "filter": {"query": "service:hello"},
        "product_list": ["apm"], "samplings": []}, "type": "sensitive_data_scanner_group",
        "relationships": {"configuration": {"data": {"id": "27dabeb7aa3925c87b76e66473e086286a0d84fd461fb7861924cd54815fb9c8",
        "type": "sensitive_data_scanner_configuration"}}, "rules": {"data": []}}}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"data": {"attributes": {"name": "watch hello", "is_enabled": false, "filter":
      {"query": "service:hello"}, "product_list": ["apm"], "samplings": []}, "type":
      "sensitive_data_scanner_group"}, "meta": {}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/sensitive-data-scanner/config/groups
  response:
    body:
      string: '{"data": {"id": "e11ee35c-2755-47ee-a8e3-235d2cfb9ce3", "attributes":
        {"name": "watch hello", "is_enabled": false, "filter": {"query": "service:hello"},
        "product_list": ["apm"], "samplings": []}, "type": "sensitive_data_scanner_group",
        "relationships": {"configuration": {"data": {"id": "206368e3882e23aa9d1fa07013a9a80cf630f2b2a0722206a539d09b3e1e5b6e",
        "type": "sensitive_data_scanner_configuration"}}, "rules": {"data": []}}},
        "meta": {"version": 205}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/sensitive-data-scanner/config
  response:
    body:
      string: '{"data": {"id": "206368e3882e23aa9d1fa07013a9a80cf630f2b2a0722206a539d09b3e1e5b6e",
        "attributes": {}, "type": "sensitive_data_scanner_configuration", "relationships":
        {"groups": {"data": [{"id": "73860403-d524-40cd-9474-0fe2c13508bf", "type":
        "sensitive_data_scanner_[...]
[...]
