interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/sensitive-data-scanner/config
  response:
    body:
      string: '{"data": {"id": "206368e3882e23aa9d1fa07013a9a80cf630f2b2a0722206a539d09b3e1e5b6e",
        "attributes": {}, "type": "sensitive_data_scanner_configuration", "relationships":
        {"groups": {"data": [{"id": "a0a050ee-fff7-4d48-b1d0-b0585d996d43", "type":
        "sensitive_data_scanner_group"}, {"id": "c10bc7f5-fea6-4488-9254-dd2c0417bc37",
        "type": "sensitive_data_scanner_group"}, {"id": "7a96437f-e7a7-4ff8-a37c-957bf6267fac",
        "type": "sensitive_data_scanner_group"}, {"id": "d3bae0c4-dc98-4d99-b2d8-16bb49f70fb0",
        "type": "sensitive_data_scanner_group"}, {"id": "64841f79-761d-44ef-8460-e6f6deffc2c5",
        "type": "sensitive_data_scanner_group"}, {"id": "3[...]
