interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": false, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "eu1.prod.dog",
        "TargetOrgName": "DDR Internal Testing eu1", "TargetOrgUuid": "30187db5-8582-11ef-969b-8248c7cda362"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/hamr
  response:
    body:
      string: '{"data": {"id": "30187db5-8582-11ef-969b-8248c7cda362", "type": "hamr_org_connections",
        "attributes": {"HamrStatus": 1, "IsPrimary": true, "ModifiedAt": "2024-10-08
        15:06:20.300120", "ModifiedBy": "charlie.zhang", "TargetOrgDatacenter": "us5.prod.dog",
        "TargetOrgName": "DDR Internal Testing US5", "TargetOrgUuid": "b9e754c7-857e-11ef-afbd-c64ba5fcf2d1"}}}'
    headers:
      Content-Type:
      - application/vnd.api+json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.datadoghq.eu/api/v2/sensitive-data-scanner/config
  response:
    body:
      string: '{"data": {"id": "27dabeb7aa3925c87b76e66473e086286a0d84fd461fb7861924cd54815fb9c8",
        "attributes": {}, "type": "sensitive_data_scanner_configuration", "relationships":
        {"groups": {"data": [{"id": "b497c08b-f896-43ac-873d-2a469af16207", "type":
        "sensitive_data_scanner_group"}]}}}, "meta": {"version": 4, "count_limit":
        100, "group_count_limit": 20, "is_pci_compliant": false, "has_highlight_enabled":
        true, "has_multi_pass_enabled": true, "has_cascading_enabled": false, "is_configuration_superseded":
        false}, "included": [{"id": "b497c08b-f896-43ac-873d-2a469af16207", "attributes":
        {"name": "Sample Group: Scan production environment telemetry", "is_enabled":
        true, "filter": {"query": "env:prod"}, "product_list": ["logs", "apm"], "samplings":
        []}, "type": "sensitive_data_scanner_group", "relationships": {"configuration":
        {"data": {"id": "27dabeb7aa3925c87b76e66473e086286a0d84fd461fb7861924cd54815fb9c8",
        "type": "sensitive_data_scanner_configuration"}}, "rules": {"data": [{"id":
        "2e8b1e34-bd6e-427f-8adb-46fd228fe8e5", "type": "sensitive_data_scanner_rule"},
        {"id": "f1025cd0-4c23-4c11-a82a-dcef78ef756b", "type": "sensitive_data_scanner_rule"},
        {"id": "04c35891-7538-493e-a752-3a6336452aa0", "type": "sensitive_data_scanner_rule"},
        {"id": "8da89b2d-680b-46f3-9521-2d0418e12782", "type": "sensitive_data_scanner_rule"},
        {"id": "63fb7ca4-c30f-414f-8085-7062a9fbebbd", "type": "sensitive_data_scanner_rule"},
        {"id": "ea64e13d-2a80-4020-9a54-03f7142bece9", "type": "sensitive_data_scanner_rule"},
        {"id": "70044486-0c94-405e-ae26-7ba256e15e63", "type": "sensitive_data_scanner_rule"},
        {"id": "5f6a5238-46cf-41dd-9ddc-7f91ab5c5ff9", "type": "sensitive_data_scanner_rule"},
        {"id": "965f6efa-f831-4b62-b165-4e26c04f633a", "type": "sensitive_data_scanner_rule"},
        {"id": "2e4e80eb-8eca-4beb-8c4d-21a863bfdbe7", "type": "sensitive_data_scanner_rule"},
        {"id": "ac528ef1-1693-4fb2-9439-bd42be92359f", "type": "sensitive_data_scanner_rule"},
        {"id": "b380b406-f3d8-4848-8c46-e098ea716f4b", "type": "sensitive_data_scanner_rule"},
        {"id": "b5348832-14ca-4bd8-b256-d9fd6e48efe1", "type": "sensitive_data_scanner_rule"}]}}},
        {"id": "2e8b1e34-bd6e-427f-8adb-46fd228fe8e5", "attributes": {"name": "AWS
        Access Key ID Scanner", "namespaces": [], "excluded_namespaces": [], "text_replacement":
        {"type": "none"}, "tags": ["sensitive_data_category:credentials", "sensitive_data:aws_access_key_id"],
        "labels": [], "is_enabled": true}, "type": "sensitive_data_scanner_rule",
        "relationships": {"standard_pattern": {"data": {"id": "OfGqX8R9TRqAcorxenl2fQ",
        "type": "sensitive_data_scanner_standard_pattern"}}, "group": {"data": {"id":
        "b497c08b-f896-43ac-873d-2a469af16207", "type": "sensitive_data_scanner_group"}}}},
        {"id": "f1025cd0-4c23-4c11-a82a-dcef78ef756b", "attributes": {"name": "AWS
        Secret Access Key Scanner", "namespaces": [], "excluded_namespaces": [], "text_replacement":
        {"type": "none"}, "tags": ["sensitive_data_category:credentials", "sensitive_data:aws_secret_access_key"],
        "labels": [], "is_enabled": true}, "type": "sensitive_data_scanner_rule",
        "r[...]
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730389076, "value":
      1}], "tags": ["id:27dabeb7aa3925c87b76e66473e086286a0d84fd461fb7861924cd54815fb9c8",
      "action_type:import", "status:success", "resource_type:sensitive_data_scanner_groups_order",
      "client_type:destination"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://us5.datadoghq.com/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
- request:
    body: '{"series": [{"metadata": {"origin": {"origin_product": 24}}, "metric":
      "datadog.org-sync.action", "type": 0, "points": [{"timestamp": 1730389076, "value":
      1}], "tags": ["id:27dabeb7aa3925c87b76e66473e086286a0d84fd461fb7861924cd54815fb9c8",
      "action_type:import", "status:success", "resource_type:sensitive_data_scanner_groups_order",
      "client_type:source"]}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.datadoghq.eu/api/v2/series
  response:
    body:
      string: '{"errors": []}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://us5.datadoghq.com/api/v2/sensitive-data-scanner/config
  response:
    body:
      string: '{"data": {"id": "206368e3882e23aa9d1fa07013a9a80cf630f2b2a0722206a539d09b3e1e5b6e",
        "attributes": {}, "type": "sensitive_data_scanner_configuration", "relationships":
        {"groups": {"data": [{"id": "c10bc7f5-fea6-4488-9254-dd2c0417bc37", "type":
        "sensitive_data_scanner_[...]
